<template>
  <v-dialog
    v-model="showCreateForm"
    max-width="820px"
  >
    <template v-slot:activator="{ on }">
      <CoreButton
        class="m-0"
        color="success"
        depressed
        v-on="on"
      >
        <v-icon>mdi-plus</v-icon>
        Add
      </CoreButton>
    </template>
    <v-card>
      <v-container>
        <v-card-title>
          <span class="headline">Create Organisation</span>
        </v-card-title>

        <OrganisationForm
          :fields="createFormFields"
          @onsubmit="handleOnSubmit"
        >
          <template slot="footer">
            <v-card-actions>
              <v-spacer />
              <CoreButton
                :loading="formIsLoading"
                :disabled="!formIsDirty || !formIsValid"
                class="mr-3"
                color="info"
                type="submit"
              >
                Create
              </CoreButton>
              <CoreButton
                color="neutral"
                rounded
                @click="closeCreateForm"
              >
                Cancel
              </CoreButton>
            </v-card-actions>
          </template>
        </OrganisationForm>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<script>
import OrganisationForm from './OrganisationForm';
import {delay} from '@/utils';
import {organisationDetails} from '../stores/organisationDetails';
import {organisationTableList} from '../stores/organisationTableList';

export default {
  name: 'CreateOrganisationForm',
  components: {OrganisationForm},
  data() {
    return {
      showCreateForm: false,
    }
  },
  computed: {
    createFormFields() {
      return organisationDetails.createOrganisationForm.getFields()
    },
    formIsLoading() {
      return organisationDetails.createOrganisationForm.isLoading.get()
    },
    formIsValid() {
      return organisationDetails.createOrganisationForm.isValid()
    },
    formIsDirty() {
      return organisationDetails.createOrganisationForm.isDirty()
    },
  },
  methods: {
    closeCreateForm() {
      this.showCreateForm = false;
    },
    async handleOnSubmit() {
      try {
        await organisationDetails.createOrganisationForm.submit();
        await delay(300);
        this.showCreateForm = false;
        organisationDetails.createOrganisationForm.resetForm();

        // fetch new list
        await organisationTableList.fetchData();
      } catch (e) {}
    }
  }
};
</script>
