<template>
  <div>
    <TableList
      :list="organisationList"
      :columns="columns"
      :selected-columns="selectedColumns"
      :selected-rows="selectedRows"
      :table-prop="tableProp"
      :loading="isLoading"
      :action-column="{
        text: 'Actions',
        value: 'actions',
        align: 'center',
        width: '80px'
      }"
      :elevation="0"
      border
      item-key="uuid"
      hide-default-footer
      single-expand
      selectable-rows
      @change-sort="changeSort"
      @row-selected="handleRowSelection"
      @expanded="onExpand"
    >
      <!-- Expand -->
      <template
        slot="expand"
        slot-scope="prop"
      >
        <div>
          <v-card flat>
            <v-card-text>
              <OrganisationForm
                :fields="updateFormFields"
                @onsubmit="handleOnSubmit(prop)"
              >
                <template slot="footer">
                  <v-row>
                    <v-spacer />
                    <CoreButton
                      :loading="formIsLoading"
                      :disabled="!formIsValid"
                      class="mr-3"
                      color="info"
                      type="submit"
                    >
                      Update
                    </CoreButton>
                    <CoreButton
                      color="neutral"
                      @click="resetForm"
                    >
                      Reset
                    </CoreButton>
                  </v-row>
                </template>
              </OrganisationForm>
            </v-card-text>
          </v-card>
        </div>
      </template>

      <!-- actions -->
      <template
        slot="actions"
        slot-scope="props"
      >
        <CoreButton
          :loading="deleteIsLoading"
          color="error"
          x-small
          fab
          dark
          @click.stop="onDeleteOrganisation(props.item)"
        >
          <v-icon>mdi-delete</v-icon>
        </CoreButton>
      </template>
    </TableList>

    <v-row>
      <QueryPagination
        v-if="organisationList.length > 0"
        :query="query"
        :total="pagination.total"
        @input="changePage"
      />
    </v-row>
  </div>
</template>

<script>
import {delay} from '@/utils';
import {apiErrorNotification} from '@/utils/request';
import {organisationTableList} from '../stores/organisationTableList';
import {organisationDelete} from '../stores/organisationDelete';
import {organisationDetails} from '../stores/organisationDetails';
import OrganisationForm from './OrganisationForm';

export default {
  name: 'OrganisationListTable',
  components: {OrganisationForm},
  computed: {
    organisationList() {
      return organisationTableList.filteredList()
    },
    query() {
      return organisationTableList.query.get()
    },
    pagination() {
      return organisationTableList.pagination()
    },
    isLoading() {
      return organisationTableList.isLoading.get()
    },
    selectedColumns() {
      return organisationTableList.selectedColumns.get() || []
    },
    selectedRows() {
      return organisationTableList.selectedRows.get() || {}
    },
    columns() {
      const columns = organisationTableList.tableColumnsObject();

      // filter selected columns
      return this.selectedColumns.map((columnName) => {
        return columns[columnName]
      })
    },
    tableProp() {
      return organisationTableList.tableProp()
    },
    deleteIsLoading() {
      // TODO: now all buttons turn into loading state, lol
      return organisationDelete.isLoading.get()
    },
    updateFormFields() {
      return organisationDetails.updateOrganisationForm.getFields()
    },
    formIsLoading() {
      return organisationDetails.updateOrganisationForm.isLoading.get()
    },
    formIsValid() {
      return organisationDetails.updateOrganisationForm.isValid()
    },
  },
  methods: {
    hasColumn: organisationTableList.hasColumn,
    async onExpand(expanded, prop) {
      if (!expanded) {
        return
      }

      try {
        await organisationDetails.fetchData({
          uuid: prop.item.uuid,
        });

        // update update form
        organisationDetails.updateOrganisationForm.updateInitials(organisationDetails.data.get());
      } catch (error) {
        console.log(error);
        apiErrorNotification(error);
      }
    },
    changeSort(header, query) {
      organisationTableList.query.update(query);
      organisationTableList.fetchData()
    },
    async onDeleteOrganisation(organisation) {
      const isConfirm = await this.$confirmOnce(`Are you sure you want to delete "${organisation.name}".`, {
        buttonTrueColor: 'error',
        buttonFalseColor: 'info',
      });

      if (isConfirm) {
        // noinspection JSIgnoredPromiseFromCall,ES6MissingAwait
        organisationDelete.deleteOrganisation(organisation, async () => {
          await delay(300);
          organisationTableList.fetchData()
        })
      }
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        organisationTableList.query.update({
          page,
          limit,
        });

        organisationTableList.fetchData()
      }
    },
    handleRowSelection(newSelectedRows) {
      organisationTableList.selectedRows.assign(newSelectedRows)
    },
    resetForm() {
      organisationDetails.updateOrganisationForm.resetForm();
    },
    async handleOnSubmit(prop) {
      try {
        await organisationDetails.updateOrganisationForm.submit({
          uuid: prop.item.uuid
        });
        await delay(300);

        // fetch new list
        await organisationTableList.fetchData();
      } catch (e) {}
    }
  }
}
</script>
