
<template>
  <v-form
    ref="form"
    @submit.prevent="onSubmit"
  >
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="8"
        >
          <TextField
            :field="fields.name"
            autofocus
          />
        </v-col>
      </v-row>
      <slot name="footer" />
    </v-container>
  </v-form>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'OrganisationForm',
  props: {
    fields: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {}
  },
  methods: {
    onSubmit(e) {
      this.$emit('onsubmit', e)
    },
  }
}
</script>
