<template>
  <v-container
    pt-3
    px-3
  >
    <div class="project-details-summary-wrapper">
      <!-- Project Details -->
      <div class="summary-mini-grid-container">
        <v-row>
          <v-col cols="12">
            <SummaryMiniGrid
              :value="project.contract_sum"
              label="Contract Sum"
              is-currency
              value-text-large
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6">
            <SummaryMiniGrid
              :value="project.variation_order"
              label="Variation Order"
              is-currency
            />
          </v-col>
          <v-col cols="6">
            <SummaryMiniGrid
              :value="project.retention"
              label="Retention Value"
              is-currency
            />
          </v-col>
        </v-row>
      </div>

      <v-divider />

      <div class="summary-mini-grid-container">
        <v-row>
          <v-col cols="12">
            <SummaryMiniGrid
              :value="project.cashflow_nett"
              label="Nett Cash Flow"
              is-currency
              :value-color="nettCashFlowColor"
              value-text-large
            />
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="6">
            <SummaryMiniGrid
              :value="project.total_received"
              label="Received"
              is-currency
              value-color="success"
            />
          </v-col>
          <v-col cols="6">
            <SummaryMiniGrid
              :value="project.total_paid"
              label="Paid"
              is-currency
              value-color="error"
            />
          </v-col>
        </v-row>
      </div>

      <v-divider />

      <div class="summary-projection-container">
        <SummaryCashFlowProjection
          :cash-flow30="project.cashflow_30"
          :cash-flow60="project.cashflow_60"
          :cash-flow90="project.cashflow_90"
        />
      </div>

      <v-divider />

      <div class="d-flex flex-column flex-grow-1 summary-percentage-container">
        <SummaryPercentageBar
          :value="project.progress_diff"
          label="Duration Variance"
        />
        <SummaryPercentageBar
          :value="project.profit_margin"
          label="Profit Margin"
        />
        <SummaryPercentageBar
          :value="project.current_margin"
          label="Current Margin"
        />
        <SummaryPercentageBar
          :value="project.projected_margin"
          label="Projected Margin"
        />
        <SummaryPercentageBar
          :value="project.work_certified_margin"
          label="Work Certified Margin"
        />
        <SummaryPercentageBar
          :value="project.cashflow_margin"
          label="Cash Flow Margin"
        />
      </div>
    </div>
  </v-container>
</template>

<style lang="scss" scoped>
  @import "~bootstrap/scss/functions";
  @import "~bootstrap/scss/variables";
  @import "~bootstrap/scss/mixins";

  $wrapper-height: 241px;
  $wrapper-md-height: 300px;

  .progressContainer {
    height: $wrapper-height;

    @include media-breakpoint-down(lg) {
      height: $wrapper-md-height;
    }
  }

  .project-details-summary-wrapper {
    min-height: $wrapper-height;

    @include media-breakpoint-down(lg) {
      min-height: $wrapper-md-height;
    }
  }
  .summary-mini-grid-container {
    margin: 15px 0;
  }
  .summary-grid {
    display: flex;
    flex-flow: column;
    width: 100%;
    min-width: 160px;
  }
  .summary-projection-container {
    margin: 15px 0;
    min-width: 360px;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  .summary-percentage-container {
    margin:15px 0;
    min-width: 300px;
  }
</style>
<script>
import {projectDetails} from '../../stores/projectDetails'
import {appStore} from '@/stores/appStore';
import SummaryMiniGrid from './SummaryMiniGrid';
import SummaryPercentageBar from './SummaryPercentageBar';
import SummaryCashFlowProjection from './SummaryCashFlowProjection';

export default {
  name: 'ProjectDetailsSummary',
  components: {
    SummaryCashFlowProjection,
    SummaryPercentageBar,
    SummaryMiniGrid,

  },
  props: {
    loading: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    project() {
      return projectDetails.data.get()
    },
    projectIsLoading() {
      return projectDetails.isLoading.get()
    },
    sideNavIsOpen() {
      return appStore.sideNavIsOpen.get()
    },
    nettCashFlowColor() {
      if (this.project.cashflow_nett < 0) {
        return 'error'
      } else {
        return 'info'
      }
    }
  },
}
</script>
