<template>
  <v-card
    class="headerMenu"
    elevation="3"
  >
    <v-row class="menuRow" v-show="showButtons">

        <router-link class="routerlink" :to="invoicesPath()">
          <div
            class="menuButton"
          >
            <v-btn
              class="menuIcon1"
              outlined
              fab
            >
              <v-icon medium>
                mdi-file-chart
              </v-icon>
            </v-btn>
            <v-card-text class="menutext">
              Invoices
            </v-card-text>
          </div>
        </router-link>

        <router-link class="routerlink" :to="contractorsPath()">
          <div
            class="menuButton"
          >
            <v-btn
              class="menuIcon2"
              outlined
              fab
            >
              <v-icon medium>
                mdi-account-multiple
              </v-icon>
            </v-btn>
            <v-card-text class="menutext">
              Contractors
            </v-card-text>
          </div>
        </router-link>


        <router-link class="routerlink" :to="expensesPath()">
          <div class="menuButton">
            <v-btn
              class="menuIcon3"
              outlined
              fab
            >
              <v-icon medium>
                mdi-chart-line
              </v-icon>
            </v-btn>
            <v-card-text class="menutext">
              Expenses
            </v-card-text>
          </div>
        </router-link>

    </v-row>
  </v-card>
</template>

// asyncTitle: 'projectDetails/name',
<style lang="scss" scoped>

.headerMenu {
  height: 120px;
  top:10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  position: relative;
  justify-content: center;
  display: flex;
  padding-top: 10px;

}

.menuRow {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

:global(.v-icon) {
  text-shadow: 1px 1px 1px #CFD8DC;
}
.routerlink{
  text-decoration: none;
}

.menuButton {
  width: 110px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.menuIcon1 {
  width: 50px;
  height: 50px;
  color: #ff4081;
  border: 3px solid #ff4081;
}

.menuIcon2 {
  width: 50px;
  height: 50px;
  color: #FBC02D;
  border: 3px solid #FBC02D;
}

.menuIcon3 {
  width: 50px;
  height: 50px;
  color: #00838F;
  border: 3px solid #00838F;
}

.menutext {
  font-size: 14px;
  font-weight: 500;
  color: grey;
  text-align: center;
  text-shadow: 1px 1px 1px #CFD8DC;
}
</style>

<script>
import {projectDetails} from '../../stores/projectDetails'
export default {
  name: 'ProjectDetailsSelection',
  data() {
    return {
    }
  },
  computed: {
    showButtons: function() {
      if (projectDetails.projectuuid() && projectDetails.projectuuid().length > 0) {
        return true
      }
      return false
    }
  },
  methods: {
    invoicesPath() {
      return `/projects/${projectDetails.projectuuid()}/mobileinvoices`
    },
    contractorsPath() {
      return `/projects/${projectDetails.projectuuid()}/mobilecontractors`
    },
    expensesPath() {
      return `/projects/${projectDetails.projectuuid()}/mobileexpenses`
    },
  }
};
</script>
