<template>
  <div class="summary-mini-grid">
    <div class="summary-mini-title">
      <span>{{ label }}</span>
    </div>
    <div :class="`summary-mini-value ${valueColor}--text ${valueTextLarge ? 'summary-mini-value--text-large' : '' }`">
      <div v-if="isCurrency">
        {{ value | toCurrencyValue }}
      </div>
      <div v-else>
        {{ value }}
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
  .summary-mini-grid {
    display: flex;
    flex-flow: column;
    width: 100%;
    min-width: 160px;
  }
  .summary-mini-title {
    font-size: 15px;
    font-weight: 500;
    color: #455A64;
  }
  .summary-mini-value {
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .summary-mini-value--text-large {
    font-size: 24px !important;
  }

</style>
<script>
export default {
  name: 'SummaryMiniGrid',
  props: {
    value: {
      type: [String, Number],
      default: 0,
    },
    label: {
      type: String,
      required: true,
    },
    isCurrency: {
      type: Boolean,
      default: false
    },
    valueColor: {
      type: String,
      default: '',
    },
    valueTextLarge: {
      type: Boolean,
      default: false,
    }
  },
  computed: {
  }
};
</script>
