<template>
  <div class="d-flex flex-row summary-percentage-wrapper">
    <span class="summary-percentage-label grey--text text--darken-2">{{ label }}</span>
    <v-progress-linear
      class="summary-percentage-bar"
      color="blue darken-3"
      height="12"
      background-color="grey lighten-2"
      :value="value"
    />
    <span class="summary-percentage-value grey--text text--darken-2">{{ value | toPercent }}</span>
  </div>
</template>
<style lang="scss" scoped>
  .summary-percentage-wrapper {
    margin: 2px 5px;
    padding: 2px 5px;
    display: flex;
    align-items: center;
  }
  .summary-percentage-label {
    font-weight: 600;
    font-size: 13px;
    min-width: 140px;
  }
  .summary-percentage-bar {
    margin: 9px 0;
    border-radius: 10px;
    :global(.v-progress-linear__bar) {
      :global(.v-progress-linear__bar__determinate) {
        border-radius: 10px;
      }
    }
  }
  .summary-percentage-value {
    font-weight: 600;
    font-size: 12px;
    min-width: 50px;
    text-align: right;
  }
</style>
<script>
export default {
  name: 'SummaryPercentageBar',
  props: {
    value: {
      type: [String, Number],
      default: 0,
    },
    label: {
      type: String,
      required: true,
    }
  },
  computed: {
  }
};
</script>
