<template>
  <ColumnSelect
    :items="items"
    :selected-columns="selectedColumns"
    @change="updateSelectedColumnList"
  >
  </ColumnSelect>
</template>

<script>
import {isEqual} from 'lodash'
import {projectInvoicesTable} from '../../../stores/projectInvoices'
import {invoiceTableHeaders} from '../../../resources/projectInvoices'
import {setSelectedColumns, PROJECT_DETAILS_INVOICE_COLUMNS} from '@/consts/selectedColumns';

export default {
  components: {},
  data() {
    return {
      items: invoiceTableHeaders,
    }
  },
  computed: {
    selectedColumns() {
      return projectInvoicesTable.selectedColumns.get()
    },
  },
  methods: {
    selectColumnsModeClass(columnKeys) {
      return {
        'primary white--text': isEqual(columnKeys, [...this.selectedColumns])
      }
    },
    async updateSelectedColumnList(columnKeys) {
      await projectInvoicesTable.selectedColumns.assign(columnKeys);
      // update localStorage
      setSelectedColumns(PROJECT_DETAILS_INVOICE_COLUMNS, JSON.stringify(columnKeys));
    },
  }
}
</script>
