<template>
  <v-container
    fluid
    sticky-container
  >
    <div
      v-sticky
      sticky-side="both"
      class="project-invoices-toolbar pb-2"
    >
      <v-row
        class="align-center"
      >
        <v-col
          class="flex-grow-1"
          lg="auto"
        >
          <SearchToolbar
            placeholder="Invoice No., Cert No."
            @search-input="searchInvoices"
          />
        </v-col>
        <v-col
          cols="12"
          lg="auto"
          class="d-flex justify-end"
        >
          <InvoiceAndExpensesListFilter :fetch-data="fetchData" />
          <v-dialog
            v-model="showCreateForm"
            max-width="820px"
          >
            <template v-slot:activator="{ on }">
              <CoreButton
                v-permission="['project.invoice.add']"
                color="success"
                class="mx-3 my-0"
                depressed
                v-on="on"
                @click="onAddClick"
              >
                <v-icon>mdi-plus</v-icon>
                Add
              </CoreButton>
            </template>
            <v-card>
              <v-container>
                <v-card-title
                  class="headline"
                  primary-title
                >
                  Create Invoice
                </v-card-title>
                <ProjectDetailsInvoiceForm
                  :form-fields="createFormFields"
                  :form-is-valid="createFormIsValid"
                  :loading="createFormIsLoading"
                  submit-text="Create"
                  @form-submit="onSubmit"
                  @form-cancel="resetCreateForm"
                />
              </v-container>
            </v-card>
          </v-dialog>
          <TableExportDropdown
            :list="invoicesList"
            :excel-name="excelName()"
            :get-excel-data="getExcelData"
            :get-csv-data="getCSVData"
          />
          <ProjectDetailsInvoiceColumnSelect />
        </v-col>
      </v-row>
    </div>
    <ProjectDetailsInvoiceTable />
  </v-container>
</template>

<style lang="scss" scoped>
  .project-details-invoices-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .project-invoices-toolbar {
    background-color: white;
  }
  .project-invoices-toolbar.top-sticky {
    box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.2)
  }

</style>

<script>
import {datetimeShort} from '@nixel/base/filters/datetime';
import {clients} from '@/modules/Clients/stores/clients'
import {log} from '@/utils';
import {saveAs} from 'file-saver';
import {apiErrorNotification} from '@/utils/request'
import {createInvoicesForm, projectInvoices, projectInvoicesTable} from '../../../stores/projectInvoices'
import ProjectDetailsInvoiceForm from './ProjectDetailsInvoiceForm';
import ProjectDetailsInvoiceTable from './ProjectDetailsInvoicesTable';
import TableExportDropdown from '@/components/TableExportDropdown';
import {projectDetails} from '@/modules/Projects/stores/projectDetails';
import {getPrevCertifiedApi} from '@/modules/Projects/apis';
import {fetchProjectInvoicesMYOBApi} from '../../../apis.js';
import {accountCodeList} from '@/stores/accountCodeList';
import {organisationList} from '@/stores/organisationList';
import {accountCodeDefaultQuery} from '@/modules/Projects/resources/projectInvoices'
import ProjectDetailsInvoiceColumnSelect from './ProjectDetailsInvoiceColumnSelect';
import InvoiceAndExpensesListFilter from '../InvoiceAndExpensesListFilter';

export default {
  components: {
    InvoiceAndExpensesListFilter,
    ProjectDetailsInvoiceColumnSelect,
    ProjectDetailsInvoiceForm,
    ProjectDetailsInvoiceTable,
    TableExportDropdown,
  },
  computed: {
    showCreateForm: {
      get() {
        // noinspection JSUnresolvedFunction
        return projectInvoices.showCreateForm.get()
      },
      set() {
        // noinspection JSUnresolvedFunction
        projectInvoices.showCreateForm.toggle()
      }
    },
    isPending() {
      return this.$route.query.isPending === '1'
    },
    organisationFilter() {

      if (this.$route.query.organisation) {
        return (this.$route.query.organisation).split(',');
      }

      return this.organisationList.map(org => org.id);
    },
    createFormFields() {
      return createInvoicesForm.fields.get()
    },
    createFormIsValid() {
      return createInvoicesForm.isValid()
    },
    createFormIsLoading() {
      return createInvoicesForm.isLoading.get()
    },
    organisationList() {
      return organisationList.data.get() || []
    },
    invoicesList() {
      return projectInvoicesTable.data.get() || []
    },
  },
  watch: {
    showCreateForm(value) {
      // on dialog close, reset form
      if (!value) {
        createInvoicesForm.resetForm(true);
      }
    }
  },
  async created() {
    await organisationList.fetchData();

    this.fetchData();

    try {
      await accountCodeList.fetchData(accountCodeDefaultQuery);

      if (clients.data.get().length === 0) {
        await clients.fetchData();
      }

      if (projectDetails.isRequested.get()) {
        const details = projectDetails.data.get();
        // use project's client id as default client in create invoice form
        createInvoicesForm.updateInitials({
          client_id: details.client_uuid,
        });
      }
    } catch (error) {
      apiErrorNotification(error)
    }
  },
  methods: {
    excelName(extension = 'xlsx') {
      return `${projectDetails.name()}_invoices_${datetimeShort(new Date())}.${extension}`;
    },
    organisationFilterWithUuid(idList) {
      return (idList || this.organisationFilter).map(id => (this.organisationList.find(org => org.id === id) || {}).uuid);
    },
    async fetchData(queryFrom) {
      try {
        projectInvoicesTable.query.update({
          uuid: this.$route.params.uuid,
          status: queryFrom && queryFrom.isPending ? 'pending' : undefined,
          organisation_id: this.organisationFilterWithUuid(queryFrom ? queryFrom.organisation : undefined),
        });
        await projectInvoicesTable.fetchData()
      } catch (error) {
        apiErrorNotification(error)
      }
    },
    searchInvoices(searchText) {
      projectInvoicesTable.query.update({
        filter: searchText
      });
      this.fetchData()
    },
    async onAddClick() {
      if (this.invoicesList.length > 0) {
        try {
          const response = await getPrevCertifiedApi(this.$route.params.uuid);

          // Previous certified = sum of all `nett_certified` from existing invoices
          const previousCertified = response.data.data.prev_certified;
          this.createFormFields.prev_certified.setValue(previousCertified);
        } catch (e) {
          log(e);
        }

      }
      this.createFormFields.client_id.setValue(projectDetails.client())
    },
    async onSubmit() {
      try {
        await createInvoicesForm.submit({
          project_id: this.$route.params.uuid
        });
        projectDetails.fetchData();
        this.fetchData();
        // noinspection JSUnresolvedFunction
        projectInvoices.showCreateForm.toggle();
      } catch (error) {
        console.warn(error)
      }
    },
    resetCreateForm() {
      // noinspection JSUnresolvedFunction
      projectInvoices.showCreateForm.toggle();
      createInvoicesForm.resetForm()
    },
    getExcelData() {
      return projectInvoicesTable.listMappedWithColumnLabel()
    },
    async getCSVData() {
      const filteredList = projectInvoicesTable.filteredRows();
      const invoiceIDs = filteredList.map(invoice => invoice.uuid);
      const projectID = this.$route.params.uuid;
      const response = await fetchProjectInvoicesMYOBApi(projectID, {uuid: invoiceIDs});
      const fileBlob = new Blob([response.data], {type: 'text/plain;charset=utf-8'});
      saveAs(fileBlob, this.excelName('txt'))
    },
  }
}
</script>
