<template>
  <v-form @submit.prevent="$emit('form-submit')">
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="6"
        >
          <DatePicker
            no-icon
            :field="formFields.invoice_date"
            @change="handleOnInvoiceDateChange"
          />
        </v-col>
        <v-col
          cols="12"
          md="6"
        >
          <TextField
            :field="formFields.invoice_no"
            autofocus
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col
          cols="12"
          md="6"
        >
          <TextField :field="formFields.cert_no" />
        </v-col>
        <v-col
          cols="12"
          md="2"
        >
          <TextField
            :field="formFields.term"
            suffix="days"
            @change="onTermChange"
          />
        </v-col>
        <v-col
          cols="12"
          md="4"
        >
          <DatePicker
            no-icon
            :field="formFields.due_date"
            @change="onDueDateChange"
          />
        </v-col>
      </v-row>

      <v-row
        class="read-only-panel pa-2 ma-2"
        justify="center"
      >
        <v-col
          class="text-center"
          md="6"
        >
          <span>Nett Certified:</span>
          <span :class="`${formFields.nett_certified.value >= 0 ? 'color-success' : 'color-danger'}`">
            <strong> {{ formFields.nett_certified.value | toCurrencyValue }}</strong>
          </span>
        </v-col>
      </v-row>

      <v-row v-if="formFields.nett_certified.errorMessages" justify="center">
        <span class="error--text">{{ formFields.nett_certified.errorMessages[0] }}</span>
      </v-row>

      <v-row>
        <v-col
          cols="12"
          md="6"
        >
          <!--suppress JSUnresolvedVariable -->
          <MoneyInput
            :field="formFields.work_done_certified"
            @change="calculateNettCertified($event, 'work_done_certified')"
            @input="calculateNettCertified($event, 'work_done_certified')"
          />
        </v-col>
        <v-col
          cols="12"
          md="6"
        >
          <!--suppress JSUnresolvedVariable -->
          <MoneyInput
            :field="formFields.vo"
            @change="calculateNettCertified($event, 'vo')"
            @input="calculateNettCertified($event, 'vo')"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col
          cols="12"
          md="6"
        >
          <!--suppress JSUnresolvedVariable -->
          <MoneyInput
            :field="formFields.retention_released"
            @change="calculateNettCertified($event, 'retention_released')"
            @input="calculateNettCertified($event, 'retention_released')"
          />
        </v-col>
        <v-col
          cols="12"
          md="6"
        >
          <!--suppress JSUnresolvedVariable -->
          <MoneyInput
            :field="formFields.retention"
            @change="calculateNettCertified($event, 'retention')"
            @input="calculateNettCertified($event, 'retention')"
          />
          <v-btn-toggle>
            <!--eslint-disable vue/attribute-hyphenation-->
            <CoreButton
              v-for="percent in retentionPercentages"
              :key="percent.text"
              tabIndex="-1"
              small
              rounded

              @click="handleOnChangeRetentionPercent(percent.value)"
            >
              {{ percent.text }}
            </CoreButton>
          </v-btn-toggle>
        </v-col>
      </v-row>

      <v-row>
        <v-col
          cols="12"
          md="6"
        >
          <!--suppress JSUnresolvedVariable -->
          <MoneyInput
            :field="formFields.debit_note"
            @change="calculateNettCertified($event, 'debit_note')"
            @input="calculateNettCertified($event, 'debit_note')"
          />
        </v-col>
        <v-col
          cols="12"
          md="6"
        >
          <!--suppress JSUnresolvedVariable -->
          <MoneyInput
            :field="formFields.prev_certified"
            @change="calculateNettCertified($event, 'prev_certified')"
            @input="calculateNettCertified($event, 'prev_certified')"
          />
        </v-col>
      </v-row>
      <v-row class="align-center">
        <v-col md="6">
          <AccountCodeCombobox
            :value="formFields.acc_code_id.value"
            :label="formFields.acc_code_id.label"
            :default-api-query="accountCodeDefaultQuery"
            :error-messages="formFields.acc_code_id.errorMessages"
            @change="handleUpdateAccountCode"
          />
        </v-col>
        <v-col md="6">
          <Combobox
            item-text="name"
            item-value="uuid"
            :items="clients"
            :field="formFields.client_id"
          />
        </v-col>
      </v-row>
      <v-row
        align="center"
      >
        <v-col class="d-flex align-center">
          <v-checkbox
            v-model="excludeTaxCheckboxValue"
            label="Include Tax"
            class="project-invoice-tax-checkbox mr-3"
            hide-details
          />
          <Selects
            class="mr-2"
            :field="formFields.tax_type"
            :items="taxList"
            item-text="text"
            item-value="value"
            disabled
          />
        </v-col>
        <v-col
          class="py-0"
        >
          <MoneyInput
            class="ml-2"
            :field="formFields.tax_amt"
            :disabled="!excludeTaxCheckboxValue"
            hint="Nett Certified * TAX RATE"
            persistent-hint
          />
        </v-col>
      </v-row>

      <v-row class="align-center">
        <v-col md="6">
          <OrganisationCombobox
            :value="formFields.organisation_id.value"
            :label="formFields.organisation_id.label"
            :error-messages="formFields.organisation_id.errorMessages"
            @change="handleUpdateOrganisation"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col md="12">
          <TextField :field="formFields.description" />
        </v-col>
      </v-row>

      <v-row class="justify-end">
        <CoreButton
          :loading="loading"
          :disabled="!formIsValid"
          class="mr-3"
          color="info"
          type="submit"
        >
          {{ submitText }}
        </CoreButton>
        <CoreButton
          color="neutral"
          inner-color="dark"
          @click="$emit('form-cancel')"
        >
          Cancel
        </CoreButton>
      </v-row>
    </v-container>
  </v-form>
</template>

<style lang="scss" scoped>
  .project-invoice-tax-checkbox {
    margin-top: 0;
    padding-top: 0;

    :global(.v-input__slot) {
      display: flex;
      flex-direction: row-reverse;

      :global(.v-label) {
        font-size: 14px;
        font-weight: 400;
      }
      :global(.v-input--selection-controls__input) {
        margin: 0 0 0 5px;
      }
    }
  }
  .read-only-panel {
    border-radius: 5px;
    background-color: var(--inverted-solo-color);
  }

</style>

<script>
import {clients} from '@/modules/Clients/stores/clients'
import {date} from '@nixel/base/filters/datetime';
import {addDays, differenceInCalendarDays} from 'date-fns'
import {getTaxTypeByDate, SST_DATE, taxRates, taxTypes} from '@/consts/tax'
import {accountCodeDefaultQuery} from '@/modules/Projects/resources/projectInvoices'
import AccountCodeCombobox from '@/components/AccountCodeCombobox';
import OrganisationCombobox from '@/components/OrganisationCombobox';

export default {
  name: 'ProjectDetailsInvoiceForm',
  components: {AccountCodeCombobox, OrganisationCombobox},
  props: {
    formFields: {
      type: Object,
      required: true
    },
    loading: {
      type: Boolean,
      default: false
    },
    formIsValid: {
      type: Boolean,
      default: true
    },
    submitText: {
      type: String,
      default: 'Submit'
    },
  },
  data() {
    return {
      accountCodeDefaultQuery,
      taxList: taxTypes,
      sstDate: SST_DATE,
      retentionPercentages: [
        {
          text: '5%',
          value: 0.05
        },
        {
          text: '10%',
          value: 0.10
        },
      ],
    }
  },
  computed: {
    clients() {
      return clients.data.get()
    },
    taxType() {
      return this.formFields.tax_type.value;
    },
    excludeTaxCheckboxValue: {
      get: function() {
        return !this.formFields.exclude_tax.value;
      },
      set: function(newVal) {
        const excludeTax = !newVal;
        this.formFields.exclude_tax.setValue(excludeTax);
        if (!excludeTax) {
          const taxAmount = this.formFields.nett_certified.value * taxRates[this.taxType];
          this.formFields.tax_amt.setValue(taxAmount)
        } else {
          this.formFields.tax_amt.setValue(0)
        }
      }
    }
  },
  methods: {
    handleOnInvoiceDateChange(value) {
      const newTaxType = getTaxTypeByDate(value);
      this.formFields.tax_type.setValue(newTaxType);
      const fields = {
        invoice_date: value,
        term: this.formFields.term.value,
      };
      this.calculateNettCertified();
      this.updateDueDate(fields);
    },
    onTermChange(value) {
      const fields = {
        term: value,
        invoice_date: this.formFields.invoice_date.value,
      };
      this.updateDueDate(fields)
    },
    onDueDateChange(value) {
      const fields = {
        due_date: value,
        invoice_date: this.formFields.invoice_date.value,
      };
      this.updateTerm(fields)
    },
    updateDueDate(fields) {
      const adjustedDueDate = addDays(new Date(fields.invoice_date), fields.term);
      this.formFields.due_date.setValue(date(adjustedDueDate))
    },
    updateTerm(fields) {
      const term = differenceInCalendarDays(new Date(fields.due_date), new Date(fields.invoice_date));
      this.formFields.term.setValue(term)
    },
    calculateNettCertified(value, fieldName) {
      const newValues = {
        ...this.formFields
      };

      // if equal value, don't update
      if (fieldName && newValues[fieldName].value === value) {
        return false;
      }

      if (fieldName) {
        newValues[fieldName].value = value;
      }

      // due there's possibility where taxType will be updated on next frame, a delay is required.
      this.$nextTick(() => {
        // calculate nettCertified
        const nettCertified = newValues.work_done_certified.value +
          newValues.vo.value +
          newValues.retention_released.value -
          newValues.retention.value -
          newValues.prev_certified.value -
          newValues.debit_note.value;

        // calculate tax amount
        const taxAmount = nettCertified * taxRates[this.taxType];

        // update nett certified
        this.formFields.nett_certified.setValue(nettCertified);

        // update tax
        if (this.excludeTaxCheckboxValue) {
          this.formFields.tax_amt.setValue(taxAmount);
        }
      });
    },
    handleOnChangeRetentionPercent(retentionPercent) {
      const retentionAmount = this.formFields.work_done_certified.value * retentionPercent || 0;
      this.formFields.retention.setValue(retentionAmount);
      this.calculateNettCertified(retentionAmount, 'retention')
    },
    handleUpdateAccountCode(value) {
      this.formFields.acc_code_id.setValue(value);
    },
    handleUpdateOrganisation(value) {
      this.formFields.organisation_id.setValue(value);
    }
  }
}
</script>

