<template>
  <StoreInjector :store="stores">
    <ProjectDetailsExpenses/>
  </StoreInjector>
</template>

<script>
import ProjectDetailsExpenses from './ProjectDetailsExpenses'
import {projectExpenses, projectExpensesTable, createExpensesForm, updateExpensesForm} from '../../../stores/projectExpenses'
import {projectContractors, projectContractorsDetails} from '../../../stores/projectContractors'
import {expensesPaymentForm} from '../../../stores/projectExpensesPaymentForm'
import {projectExpensesDelete} from '../../../stores/projectExpensesDelete'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ProjectDetailsExpensesStoreInjector',
  components: {
    ProjectDetailsExpenses
  },
  data() {
    return {
      stores: [
        projectExpenses,
        projectExpensesTable,
        createExpensesForm,
        updateExpensesForm,
        expensesPaymentForm,
        projectContractors,
        projectContractorsDetails,
        projectExpensesDelete
      ]
    }
  }
}
</script>
