<template>
  <v-dialog
    v-model="showPaymentForm"
    max-width="820"
  >
    <v-card>
      <v-card-title
        class="headline"
        primary-title
      >
        Payment
      </v-card-title>
      <v-container>
        <PaymentFields />
        <CoreButton
          v-permission="['project.expense.edit']"
          color="info"
          rounded
          outlined
          @click="addPayment"
        >
          <v-icon>mdi-plus</v-icon>
          Add Payment
        </CoreButton>
        <v-row
          class="justify-end"
          no-gutters
        >
          <CoreButton
            v-permission="['project.expense.edit']"
            color="info"
            class="mr-3"
            @click.stop="submitPayments"
          >
            Update
          </CoreButton>
          <CoreButton
            color="neutral"
            inner-color="dark"
            @click="showPaymentForm = false"
          >
            Cancel
          </CoreButton>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import {projectExpenses, projectExpensesTable} from '../../../stores/projectExpenses'
import {expensesPaymentForm} from '../../../stores/projectExpensesPaymentForm';
import {projectDetails} from '@/modules/Projects/stores/projectDetails';
import {defaultExpensesPaymentPayload} from '../../../resources/projectExpenses'
import PaymentFields from './ExpensesPaymentFields';

export default {
  components: {
    PaymentFields,
  },
  computed: {
    showPaymentForm: {
      get() {
        return projectExpenses.showPaymentForm.get()
      },
      set() {
        projectExpenses.showPaymentForm.toggle()
      }
    },
    expenses() {
      return expensesPaymentForm.expenses.get()
    },
  },
  methods: {
    addPayment() {
      const newPayment = {...defaultExpensesPaymentPayload};
      newPayment.expenses_id = this.expenses.uuid;
      newPayment.project_id = this.$route.params.uuid;
      expensesPaymentForm.addPayment(newPayment)
    },
    async submitPayments() {
      await expensesPaymentForm.submit();
      projectDetails.fetchData()
      projectExpensesTable.fetchData();
      projectExpenses.showPaymentForm.toggle()
    },
  },
}
</script>

<style scoped>

</style>

