<template>
  <v-dialog
    v-model="showUpdateForm"
    max-width="820px"
    :persistent="formIsDirty"
  >
    <v-card>
      <v-container>
        <v-card-title
          class="headline"
          primary-title
        >
          Update Expenses
        </v-card-title>
        <ProjectDetailsExpensesForm
          :form-fields="updateFormFields"
          :form-is-valid="formIsValid"
          :loading="formIsLoading"
          submit-text="Update"
          @form-submit="onSubmit"
          @form-cancel="cancelForm"
        />
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import {projectExpenses, projectExpensesTable, updateExpensesForm} from '../../../stores/projectExpenses'
import {projectDetails} from '@/modules/Projects/stores/projectDetails';
import ProjectDetailsExpensesForm from './ProjectDetailsExpensesForm'
import {apiErrorNotification} from '@/utils/request';

export default {
  components: {
    ProjectDetailsExpensesForm,
  },
  computed: {
    showUpdateForm: {
      get() {
        return projectExpenses.showUpdateForm.get()
      },
      set() {
        projectExpenses.showUpdateForm.toggle()
      }
    },
    formIsDirty() {
      return updateExpensesForm.isDirty()
    },
    updateFormFields() {
      return updateExpensesForm.fields.get()
    },
    formIsValid() {
      return updateExpensesForm.isValid()
    },
    formIsLoading() {
      return updateExpensesForm.isLoading.get()
    },
  },
  methods: {
    async onSubmit() {
      try {
        await updateExpensesForm.submit({
          uuid: updateExpensesForm.expenseID.get(),
          project_id: this.$route.params.uuid
        });
        projectDetails.fetchData()
        projectExpensesTable.fetchData();
        projectExpenses.showUpdateForm.toggle();
        updateExpensesForm.resetForm();
      } catch (e) {
        apiErrorNotification(e);
      }
    },
    cancelForm() {
      if (updateExpensesForm.isDirty()) {
        this.handleDirtyForm()
      } else {
        projectExpenses.showUpdateForm.toggle();
        updateExpensesForm.resetForm();
      }
    },
    async handleDirtyForm() {
      const isConfirm = await this.$confirmOnce('You have pending changes. Are you sure you want to exit from the form?');
      if (isConfirm) {
        projectExpenses.showUpdateForm.toggle();
        updateExpensesForm.resetForm()
      }
    },
  },
}
</script>

<style scoped>

</style>

