<template>
  <v-container
    fluid
    pt-0
  >
    <RoundedCard>
      <transition
        name="fade-transform"
        mode="out-in"
      >
        <v-alert
          v-if="bulkEditFormIsDirty"
          :value="true"
          class="mt-2"
          icon="mdi-alert"
          color="warning grey--text text--darken-3"
          elevation="0"
        >
          Warning: You have made some updates, please save your changes.
        </v-alert>
      </transition>
      <v-row class="pt-4 pb-2 px-4">
        <v-row
          class="mr-3 mb-2"
          no-gutters
        >
          <SearchToolbar
            :placeholder="searchString"
            @search-input="handleOnSearch"
          />
        </v-row>
        <CoreButton
          class="my-0 mr-3"
          color="info"
          :disabled="!bulkEditFormIsDirty"
          depressed
          @click="handleBulkSave"
        >
          Save Changes
        </CoreButton>
        <CreateUserForm />
      </v-row>
      <UserListTable />
    </RoundedCard>
  </v-container>
</template>

<style lang="scss" scoped>
  .v-alert {
    border-width: 0;
  }
</style>
<script>
import {debounce} from 'lodash';
import CreateUserForm from './components/CreateUserForm';
import {projectPermissions, userTableList} from './stores/userTableList';
import {apiErrorNotification} from '../../utils/request';
import UserListTable from './components/UserListTable';
import {roleList} from './stores/roleList';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'UserList',
  components: {
    CreateUserForm,
    UserListTable,
  },
  data() {
    return {
      searchString: 'Search for Users',
    }
  },
  computed: {
    bulkEditFormIsDirty() {
      return userTableList.batchUpdateForm.isDirty()
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    handleBulkSave() {
      userTableList.batchUpdateForm.submit()
    },
    async fetchData() {
      try {
        // fetch for roles and permissions selection
        projectPermissions.fetchData();
        roleList.fetchData();

        await userTableList.fetchData();
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    handleOnSearch: debounce(function(value) {
      userTableList.query.update({
        filter: value,
        page: 1,
      });

      this.fetchData();
    }, 300)
  },
};
</script>
