<template>
  <v-container class="wipContainer">
    <div>
      <div class="wipIconContainer">
        <v-img class="wipIcon" src="@/assets/openmoji/1F468-200D-1F527.svg" />
        <v-img class="wipIcon" src="@/assets/openmoji/1F469-200D-1F4BB.svg" />
      </div>
      <div class="wipContent">
        <div class="wipTitle">
          Work in Progress
        </div>
        <div class="wipSubtitle">
          This page is under construction.
        </div>
      </div>
    </div>
  </v-container>
</template>

<style lang="scss" scoped>
  .wipContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(40vh - 100px);
  }

  .wipIconContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: -10px;
  }

  .wipIcon {
    max-width: 132px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .wipTitle {
    font-size: 22px;
    font-weight: 600;
    color: #454545;
  }

  .wipSubtitle {
    font-size: 14px;
    font-weight: 400;
    color: #454545;
  }
</style>

<script>
export default {
  name: 'PageWIP',
}
</script>

<style lang="scss" scoped>
</style>
