<template>
  <v-container fill-height>
    <v-form
      class="forgotPasswordForm"
      @submit.prevent="onSubmit"
    >
      <div class="mb-5 splashTitle">
        Reset Your Password
      </div>

      <TextField
        :field="fields.email"
        autofocus
      />

      <p>
        Enter your email address below here. If we found your email address in our database,
        we will email you a link to reset your password.
      </p>

      <v-row
        class="align-center justify-space-between"
        no-gutters
      >
        <router-link :to="`/login?${query}`">
          <span>Back to Login?</span>
        </router-link>
        <CoreButton
          color="info"
          type="submit"
          :loading="isLoading"
        >
          Submit
        </CoreButton>
      </v-row>
    </v-form>
  </v-container>
</template>

<style lang="scss" scoped>
  .forgotPasswordForm {
    max-width: 460px;
    margin: auto;
    width: 80%;
  }
  .splashTitle {
    font-size: 24px;
    font-weight: 600;
  }
</style>

<script>
import {forgotPasswordStore} from '../stores/forgotPasswordStore'
import {stringify} from 'query-string';

export default {
  name: 'ForgotPasswordForm',
  computed: {
    query() {
      return stringify(this.$store.state.route.query)
    },
    fields() {
      return forgotPasswordStore.fields.get()
    },
    isLoading() {
      return forgotPasswordStore.isLoading.get()
    }
  },
  methods: {
    onSubmit() {
      forgotPasswordStore.submit()
    }
  }
}
</script>
