<template>
  <v-container fill-height>
    <v-form
      class="resetPasswordForm"
      @submit.prevent="onSubmit"
    >
      <h1 class="mb-3">
        Password Reset
      </h1>

      <TextField
        :field="fields.password"
        autofocus
      />

      <TextField
        :field="fields.password_confirmation"
      />

      <v-row class="align-center justify-space-between">
        <router-link to="/login">
          <span><b>Back to Login?</b></span>
        </router-link>
        <CoreButton
          color="info"
          type="submit"
          :loading="isLoading"
        >
          Submit
        </CoreButton>
      </v-row>
    </v-form>
  </v-container>
</template>

<style lang="scss" scoped>
  .resetPasswordForm {
    max-width: 460px;
    margin: auto;
    width: 80%;
  }
</style>

<script>
import {resetPasswordStore} from '../stores/resetPasswordStore';

export default {
  name: 'ResetPasswordForm',
  computed: {
    isLoading() {
      return resetPasswordStore.isLoading.get()
    },
    fields() {
      return resetPasswordStore.fields.get()
    }
  },
  created() {
    resetPasswordStore.fields.set('email.value', this.$route.params.email);
    resetPasswordStore.fields.set('token.value', this.$route.params.token);
  },
  methods: {
    async onSubmit() {
      try {
        await resetPasswordStore.submit();

        this.$toast('Password has been updated.', {
          color: 'success',
          closeBtn: true,
        });

        this.$router.replace('/login')
      } catch (e) {}
    },
  },
};
</script>
