<template>
  <v-card class="dialogCard">
    <v-card-title class="dialogHeader">
      <div>
        <span class="headline">{{ title }}</span>
        <span class="ml-3">{{ daysDifference ? `(${daysDifference})` : '' }}</span>
      </div>
      <CoreButton
        icon
        rounded
        color="text--grey"
        class="ml-auto"
        @click="$emit('close')"
      >
        <v-icon>mdi-close</v-icon>
      </CoreButton>
    </v-card-title>
    <v-card-text class="dialogContent">
      <template v-if="$slots.header">
        <slot name="header" />
      </template>

      <TableList
        :loading="loading"
        :columns="tableColumns"
        :list="list"
        :table-prop="tableProp"
        :row-attrs="rowAttrs"
        hide-default-footer
        elevation="0"
        border

        v-on="$listeners"
      >
        <template
          slot="project_name-content"
          slot-scope="prop"
        >
          <div
            v-if="isWriteOff(prop.item)"
            class="mt-2 mb-2 text-left"
          >
            <p class="mb-1">
              {{ prop.item.project_name }}
            </p>
            <v-chip
              card
              small
              disabled
              color="red"
              class="tinyChip ml-0"
            >
              <span class="white--text">
                Written Off
              </span>
            </v-chip>
          </div>
          <span v-else>{{ prop.item.project_name }}</span>
        </template>

        <template
          slot="total_receivable_in_period-content"
          slot-scope="prop"
        >
          <WriteOffTooltip
            v-if="isWriteOff(prop.item)"
            :item="prop.item"
            column-value="total_receivable_in_period"
          />
          <span v-else>{{ prop.item.total_receivable_in_period | toCurrencyValue }}</span>
        </template>

        <template
          slot="total_payable_in_period-content"
          slot-scope="prop"
        >
          <WriteOffTooltip
            v-if="isWriteOff(prop.item)"
            :item="prop.item"
            column-value="total_payable_in_period"
          />
          <span v-else>{{ prop.item.total_payable_in_period | toCurrencyValue }}</span>
        </template>
      </TableList>
    </v-card-text>
  </v-card>
</template>

<style lang="scss" scoped>
  .dialogCard {
    width: 600px;
    min-height: 600px;
    border-radius: 15px;
    padding: 40px;
  }

  .dialogHeader {
    flex: 0 1 !important;
  }

  .dialogContent {
    padding-top: 0;
    flex: 1 !important;
  }

  .tinyChip:global(.v-chip--small) {
    height: 20px !important;

    :global(.v-chip__content) {
      padding: 0 8px;
    }
  }
</style>

<script>
import WriteOffTooltip from './WriteOffTooltip';

export default {
  name: 'DashboardSummaryDialogContent',
  components: {
    WriteOffTooltip
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    list: {
      type: Array,
      default() {
        return []
      }
    },
    tableColumns: {
      type: Array,
      default() {
        return []
      }
    },
    rowAttrs: {
      type: Function,
      default() {
        return {}
      }
    },
    tableProp: {
      type: Object,
      default() {
        return {}
      }
    },
    loading: {
      type: Boolean,
      default: false
    },
    daysDifference: {
      type: String,
      default: undefined,
    },
  },
  methods: {
    isWriteOff(item) {
      const writeOffAmt = item.write_off_amt
      if (writeOffAmt) {
        return parseFloat(writeOffAmt) > 0
      }
      return false
    },
  },
}
</script>
