<template>
  <ColumnSelect
    :items="items"
    :selected-columns="selectedColumns"
    @change="updateSelectedColumnList"
  >
    <template slot="header">
      <v-subheader>Presets</v-subheader>
      <v-list-item
        v-for="(mode, label) in selectColumnsMode"
        :key="label"
        :class="selectColumnsModeClass(mode)"
        @click="updateSelectedColumnList(mode)"
      >
        <v-list-item-content>
          <v-list-item-title>
            {{ label }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <!--divider-->
      <v-divider />
    </template>
  </ColumnSelect>
</template>

<script>
import {isEqual} from 'lodash'
import {dashboardProjectList} from '../stores/dashboardProjectList'
import {
  dashboardProjectListColumns,
  dashboardProjectAllColumns,
  dashboardProjectCashflowColumns,
  dashboardProjectDurationColumns,
} from '../resources/dashboardProjectList'
import {setDashboardProjectListSelectedColumns} from '@/consts/projectList';

export default {
  components: {},
  data() {
    return {
      items: dashboardProjectListColumns,
      selectColumnsMode: {
        'All columns': dashboardProjectAllColumns,
        'Project Duration': dashboardProjectDurationColumns,
        'Project Cashflow': dashboardProjectCashflowColumns,
      }
    }
  },
  computed: {
    selectedColumns() {
      return dashboardProjectList.selectedColumns.get()
    },
  },
  methods: {
    selectColumnsModeClass(columnKeys) {
      return {
        'primary white--text': isEqual(columnKeys, [...this.selectedColumns])
      }
    },
    updateSelectedColumnList(columnKeys) {
      dashboardProjectList.selectedColumns.assign(columnKeys);

      // update localStorage
      setDashboardProjectListSelectedColumns(JSON.stringify(columnKeys));
    },
  }
}
</script>
