<template>
  <v-container class="ml-0 p-0 py-0 pr-md-4 pr-xl-0">
    <v-card color="grey lighten-4">
      <v-card-text>
        <v-row>
          <h4>Invoices Summary for {{ project.name }}</h4>
          <span class="ml-2 mt-3">({{ filterDate | monthAndDay }} till {{ defaultDate | monthAndDay }})</span>
        </v-row>

        <v-row>
          <v-col>
            <h5>Total Invoiced:</h5>
            <p>{{ totalInvoiced | toCurrencyValue }}</p>
          </v-col>
          <v-col class="text-right">
            <h5>Total Received:</h5>
            <p>{{ totalReceived | toCurrencyValue }}</p>
          </v-col>
        </v-row>

        <div class="mt-2 mb-2">
          <TableList
            class="projectNestedTable"
            :table-prop="invoiceListTableProp"
            :loading="invoiceListLoading"
            :columns="invoiceListTableColumns"
            :list="invoiceListTableList"
            :row-attrs="getInvoicesRowAttrs"
            hide-default-footer
            compact

            @change-sort="handleSortInvoiceList"
          >
            <template
              slot="total_received_in_period"
              slot-scope="prop"
            >
              <div
                v-if="!parseFloat(prop.item.total_received_in_period)"
                class="text-center"
              >
                -
              </div>
              <div
                v-else
                class="text-right"
              >
                <p class="mb-1">
                  {{ prop.item.total_received_in_period | toCurrencyValue }}
                </p>

                <div
                  v-for="details in prop.item.payment_details"
                  :key="details.uuid"
                >
                  <v-tooltip
                    left
                    light
                  >
                    <template v-slot:activator="{ on }">
                      <v-chip
                        card
                        small
                        color="info lighten-4"
                        class="tinyChip"
                        v-on="on"
                      >
                        <span class="info--text text--darken-4">
                          {{ details.payment_date | date }}
                        </span>
                      </v-chip>
                    </template>
                    <span class="white--text">
                      {{ details. payment_amt | toCurrencyValue }}
                    </span>
                  </v-tooltip>
                </div>
              </div>
            </template>

            <!-- Summaries -->
            <template
              v-if="invoiceListTableList.length > 0"
              slot="footer"
            >
              <td
                v-for="(column, index) in invoiceListTableColumns"
                :key="column.value"
                class="p-1"
              >
                <template v-if="index === 0">
                  Summary:
                </template>
                <template v-else-if="column.type === 'currency'">
                  <strong class="text-truncate d-block text-right">
                    {{ aggregator(invoiceListTableList, column.value) | toCurrencyValue }}
                  </strong>
                </template>
              </td>
            </template>
          </TableList>
        </div>
        <hr>

        <v-row>
          <v-col>
            <h5>Total Expenses:</h5>
            <p>{{ totalExpenses | toCurrencyValue }}</p>
          </v-col>
          <v-col class="text-right">
            <h5>Total Paid:</h5>
            <p>{{ totalPaid | toCurrencyValue }}</p>
          </v-col>
        </v-row>
        <div class="mb-3">
          <TableList
            class="projectNestedTable"
            :table-prop="expensesListTableProp"
            :loading="expensesListLoading"
            :columns="expensesListTableColumns"
            :list="expensesListTableList"
            hide-default-footer
            compact
          >
            <template
              slot="total_paid_in_period"
              slot-scope="prop"
            >
              <div
                v-if="!parseFloat(prop.item.total_paid_in_period)"
                class="text-center"
              >
                -
              </div>
              <div
                v-else
                class="text-right"
              >
                <p class="mb-1">
                  {{ prop.item.total_paid_in_period | toCurrencyValue }}
                </p>

                <div
                  v-for="details in prop.item.payment_details"
                  :key="details.uuid"
                >
                  <v-tooltip
                    left
                    light
                  >
                    <template v-slot:activator="{ on }">
                      <v-chip
                        card
                        small
                        color="red lighten-4"
                        class="tinyChip"
                        v-on="on"
                      >
                        <span class="red--text text--darken-4">
                          {{ details.payment_date | date }}
                        </span>
                      </v-chip>
                    </template>
                    <span class="white--text">
                      {{ details.payment_amt | toCurrencyValue }}
                    </span>
                  </v-tooltip>
                </div>
              </div>
            </template>

            <!-- Summaries -->
            <template
              v-if="expensesListTableList.length > 0"
              slot="footer"
            >
              <td
                v-for="(column, index) in expensesListTableColumns"
                :key="column.value"
                class="p-1"
              >
                <template v-if="index === 0">
                  Summary:
                </template>
                <template v-else-if="column.type === 'currency'">
                  <strong class="text-truncate d-block text-right">
                    {{ aggregator(expensesListTableList, column.value) | toCurrencyValue }}
                  </strong>
                </template>
              </td>
            </template>
          </TableList>
        </div>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<style lang="scss" scoped>
  .projectNestedTable {
    :global(.v-table) {
      background: transparent;

      :global(thead tr):hover,
      :global(tbody tr):hover {
        background: transparent;
      }
    }
  }

  .tinyChip:global(.v-chip--small) {
    height: 20px !important;

    :global(.v-chip__content) {
      padding: 0 8px;
    }
  }
</style>

<script>
import {aggregator} from '@/utils/math';
import {dashboardProjectDetails} from '../stores/dashboardProjectDetails';
import {dashboardFilter, defaultDate} from '../stores/dashboardFilter';

export default {
  name: 'DashboardProjectDetails',
  props: {
    project: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      defaultDate,
    }
  },
  computed: {
    filterDate() {
      return dashboardFilter.dateFilter.get();
    },
    invoiceListLoading() {
      return dashboardProjectDetails.invoiceList.isLoading.get();
    },
    invoiceListTableProp() {
      return dashboardProjectDetails.invoiceList.tableProp();
    },
    invoiceListTableColumns() {
      return dashboardProjectDetails.invoiceList.tableColumns.get();
    },
    invoiceListTableList() {
      return dashboardProjectDetails.invoiceList.data.get();
    },
    totalInvoiced() {
      return aggregator(this.invoiceListTableList, 'total_invoiced');
    },
    totalReceived() {
      return aggregator(this.invoiceListTableList, 'total_received');
    },

    expensesListLoading() {
      return dashboardProjectDetails.expensesList.isLoading.get();
    },
    expensesListTableProp() {
      return dashboardProjectDetails.expensesList.tableProp();
    },
    expensesListTableColumns() {
      return dashboardProjectDetails.expensesList.tableColumns.get();
    },
    expensesListTableList() {
      return dashboardProjectDetails.expensesList.data.get();
    },
    totalExpenses() {
      return aggregator(this.expensesListTableList, 'total_expenses');
    },
    totalPaid() {
      return aggregator(this.expensesListTableList, 'total_paid_in_period');
    },
  },
  methods: {
    aggregator,
    getInvoicesRowAttrs() {

    },
    handleSortInvoiceList(header, newQuery) {
      dashboardProjectDetails.invoiceList.query.update({
        sort: newQuery.sort,
        order: newQuery.order,
      });

      dashboardProjectDetails.invoiceList.fetchData()
    },
  }
}
</script>
