<template>
  <div>
    <CoreButton
      rounded
      small
      color="info"
      @click="handleViewExpenses"
    >
      Details
    </CoreButton>
    <v-dialog
      v-model="showExpenses"
      content-class="expensesDialog elevation-0"
      scrollable
    >
      <DashboardSummaryDialogContent
        :list="nextMonthExpensesList"
        :table-columns="nextMonthExpensesTableColumns"
        :table-prop="nextMonthExpensesTableProp"
        :loading="expensesListLoading"
        :days-difference="daysDifference"
        title="Next Month's Expenses Overview"
        @close="showExpenses = false"
        @change-sort="handleOnExpensesListSortChange"
      >
        <template slot="header">
          <v-row
            class="pb-3 align-items-end"
          >
            <v-row>
              <v-col
                align-self-center
                shrink
              >
                Total Records: {{ nextMonthExpensesList.length }}
              </v-col>
              <v-col
                ml-3
                shrink
              >
                <TableExportExcelButton
                  :get-excel-data="getExcelData"
                  :filename="excelName"
                />
              </v-col>
              <v-col>
                <CoreButton
                  :disabled="!enableReset"
                  rounded
                  color="info"
                  @click="onReset"
                >
                  Reset
                </CoreButton>
              </v-col>
              <v-spacer/>
            </v-row>
            <TotalExpensesDrillDown
              subtract-label="Pay Out"
              :total-expenses="totalExpenses"
              :total-write-off="totalWriteOff"
              :total-paid="totalPaid"
              :total-payable="totalPayable"
              :total-overpaid="totalOverpaid"
              @click="onDrillDownClick"
            />
          </v-row>
        </template>
      </DashboardSummaryDialogContent>
    </v-dialog>
  </div>
</template>
<script>
import {isEmpty} from 'lodash';
import {apiErrorNotification} from '@/utils/request';
import DashboardSummaryDialogContent from './DashboardSummaryDialogContent'
import TotalExpensesDrillDown from './TotalExpensesDrillDown'
import {projectManagerList} from '../stores/projectManagerList';
import {dashboardSummary} from '../stores/dashboardSummary';
import {dashboardFilter} from '../stores/dashboardFilter';
import {datetimeShort} from '@nixel/base/filters/datetime';

export default {
  name: 'NextMonthExpensesListModal',
  components: {DashboardSummaryDialogContent, TotalExpensesDrillDown},
  props: {
    daysDifference: {
      type: String,
    },
  },
  data() {
    return {
      showExpenses: false,
    }
  },
  computed: {
    projectManager() {
      const selectedProjectManager = dashboardFilter.projectManager.get();

      return projectManagerList.data.get().find(item => item.id === selectedProjectManager);
    },
    excelName() {
      const projectManagerTemplate = isEmpty(this.projectManager) ? '' : `_${this.projectManager.name}`;

      return `expenses${projectManagerTemplate}_${dashboardFilter.dateFilter.get()}_to_${dashboardFilter.nextMonth.get().lastDayOfMonth}_${datetimeShort(new Date())}.xlsx`;
    },
    enableReset() {
      const query = dashboardSummary.expensesList.query.get();
      return query.status
    },

    // expenses list
    expensesListLoading() {
      return dashboardSummary.expensesList.isLoading.get()
    },
    nextMonthExpensesList() {
      return dashboardSummary.expensesList.data.get()
    },
    nextMonthExpensesTableColumns() {
      return dashboardSummary.expensesList.tableColumns.get()
    },
    nextMonthExpensesTableProp() {
      return dashboardSummary.expensesList.tableProp()
    },

    // computed amounts from expenses list
    totalExpenses() {
      return dashboardSummary.expensesList.totalExpenses()
    },
    totalPaid() {
      return dashboardSummary.expensesList.totalPaid()
    },
    totalPayable() {
      return dashboardSummary.expensesList.totalPayable()
    },
    totalWriteOff() {
      return dashboardSummary.expensesList.totalWriteOff()
    },
    totalOverpaid() {
      return dashboardSummary.expensesList.totalOverpaid()
    },
  },
  watch: {
    showExpenses(isOpen) {
      if (!isOpen) {
        this.handleClose()
      }
    }
  },
  methods: {
    fetchExpensesList(customParams = {}) {
      try {
        dashboardSummary.expensesList.fetchData({
          ...dashboardFilter.nextMonthQuery(),
          ...customParams,
        });
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    handleViewExpenses() {
      this.fetchExpensesList();
      this.showExpenses = true;
    },
    handleClose() {
      dashboardSummary.expensesList.data.reset();
    },
    getExcelData() {
      return dashboardSummary.expensesList.listMappedWithColumnLabel();
    },
    handleOnExpensesListSortChange(header, newQuery) {
      dashboardSummary.expensesList.query.update({
        sort: newQuery.sort,
        order: newQuery.order,
      });

      this.fetchExpensesList({
        ...dashboardSummary.expensesList.query.get(),
        sort: newQuery.sort,
        order: newQuery.order,
      });
    },
    onReset() {
      this.fetchExpensesList()
    },
    onDrillDownClick(filterParam) {
      const params = {
        ...dashboardSummary.expensesList.query.get(),
        ...filterParam,
      };
      this.fetchExpensesList(params)
    },
  }
}
</script>
