<template>
  <div>
    <CoreButton
      rounded
      small
      color="info"
      @click="handleViewInvoices"
    >
      Details
    </CoreButton>
    <v-dialog
      v-model="showInvoices"
      content-class="invoicesDialog elevation-0"
      scrollable
    >
      <DashboardSummaryDialogContent
        :list="nextMonthInvoiceList"
        :table-columns="nextMonthInvoiceTableColumns"
        :table-prop="nextMonthInvoiceTableProp"
        :row-attrs="getInvoicesRowAttrs"
        :loading="invoiceListLoading"
        :days-difference="daysDifference"
        title="Next Month's Invoices Overview"
        @close="showInvoices = false"
        @change-sort="handleOnInvoiceListSortChange"
      >
        <template slot="header">
          <v-row class="pb-3 align-items-end" no-gutters>
            <v-row no-gutters>
              <div
                class="align-self-center shrink"
              >
                Total Records: {{ nextMonthInvoiceList.length }}
              </div>
              <div class="mx-3 shrink">
                <TableExportExcelButton
                  :get-excel-data="getExcelData"
                  :filename="excelName"
                />
              </div>
              <div>
                <CoreButton
                  :disabled="!enableReset"
                  rounded
                  color="info"
                  @click="onReset"
                >
                  Reset
                </CoreButton>
              </div>
              <v-spacer />
            </v-row>
            <TotalInvoicedDrillDown
              subtract-label="Total Received"
              :total-receivable="totalReceivable"
              :total-write-off="totalWriteOff"
              :total-received="totalReceived"
              :total-invoiced="totalInvoiced"
              @click="onDrillDownClick"
            />
          </v-row>
        </template>
      </DashboardSummaryDialogContent>
    </v-dialog>
  </div>
</template>

<style lang="scss" scoped>
  .invoicesDialog {
    max-width: 900px;
    min-height: 600px;
  }
</style>

<script>
import {isEmpty} from 'lodash'
import DashboardSummaryDialogContent from './DashboardSummaryDialogContent'
import TotalInvoicedDrillDown from './TotalInvoicedDrillDown'
import {dashboardSummary} from '../stores/dashboardSummary';
import {apiErrorNotification} from '@/utils/request';
import {dashboardFilter} from '../stores/dashboardFilter';
import {projectManagerList} from '../stores/projectManagerList';
import {datetimeShort} from '@nixel/base/filters/datetime';

export default {
  name: 'NextMonthInvoiceListModal',
  components: {
    DashboardSummaryDialogContent,
    TotalInvoicedDrillDown,
  },
  props: {
    daysDifference: {
      type: String,
      default: undefined,
    },
  },
  data() {
    return {
      showInvoices: false,
    }
  },
  computed: {
    projectManager() {
      const selectedProjectManager = dashboardFilter.projectManager.get();

      return projectManagerList.data.get().find(item => item.id === selectedProjectManager);
    },
    excelName() {
      const projectManagerTemplate = isEmpty(this.projectManager) ? '' : `_${this.projectManager.name}`;

      return `invoices${projectManagerTemplate}_${dashboardFilter.dateFilter.get()}_to_${dashboardFilter.nextMonth.get().lastDayOfMonth}_${datetimeShort(new Date())}.xlsx`;
    },
    enableReset() {
      const query = dashboardSummary.invoiceList.query.get();
      return query.status
    },

    // invoice list
    invoiceListLoading() {
      return dashboardSummary.invoiceList.isLoading.get()
    },
    nextMonthInvoiceTableColumns() {
      return dashboardSummary.invoiceList.tableColumns.get()
    },
    nextMonthInvoiceTableProp() {
      return dashboardSummary.invoiceList.tableProp()
    },
    nextMonthInvoiceList() {
      return dashboardSummary.invoiceList.data.get()
    },

    // computed amounts from invoice list
    totalInvoiced() {
      return dashboardSummary.invoiceList.totalInvoiced()
    },
    totalWriteOff() {
      return dashboardSummary.invoiceList.totalWriteOff()
    },
    totalReceived() {
      return dashboardSummary.invoiceList.totalReceived()
    },
    totalReceivable() {
      return dashboardSummary.invoiceList.totalReceivable()
    },
  },
  watch: {
    showInvoices(isOpen) {
      if (!isOpen) {
        this.handleClose()
      }
    }
  },
  methods: {
    getInvoicesRowAttrs(props) {
      const totalInvoiced = parseFloat(props.item.total_invoiced);
      const totalReceived = parseFloat(props.item.total_received);
      let backgroundColor = '#f4ffe9';

      if (totalReceived === 0) {
        backgroundColor = '#fdd9d9';
      } else if (totalReceived < totalInvoiced) {
        backgroundColor = '#fdf9cc';
      }

      return {
        style: {
          backgroundColor
        }
      }
    },
    fetchInvoiceList(customParams = {}) {
      try {
        dashboardSummary.invoiceList.fetchData({
          ...dashboardFilter.nextMonthQuery(),
          ...customParams,
        });
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    handleViewInvoices() {
      this.fetchInvoiceList();
      this.showInvoices = true;
    },
    handleClose() {
      dashboardSummary.invoiceList.data.reset();
    },
    handleOnInvoiceListSortChange(header, newQuery) {
      dashboardSummary.invoiceList.query.update({
        sort: newQuery.sort,
        order: newQuery.order,
      });

      this.fetchInvoiceList({
        ...dashboardSummary.invoiceList.query.get(),
        sort: newQuery.sort,
        order: newQuery.order,
      });
    },
    getExcelData() {
      return dashboardSummary.invoiceList.listMappedWithColumnLabel();
    },
    onReset() {
      this.fetchInvoiceList()
    },
    onDrillDownClick(filterParam) {
      const params = {
        ...dashboardSummary.invoiceList.query.get(),
        ...filterParam,
      };
      this.fetchInvoiceList(params)
    },
  }
}
</script>
