<template>
  <div>
    <SummaryCard
      title="Next Month's Projection"
      :days-difference="daysDifference"
      :loading="loading"

      :total-received="totalReceivedInPeriod"
      :total-invoiced="totalInvoiced"
      :total-receivable="totalReceivable"
      :total-advanced-received="totalAdvancedReceived"

      :total-paid="totalPaid"
      :total-expenses="totalExpenses"
      :total-payable="totalPayable"
      :total-overpaid="totalOverpaid"

      :net-cashflow="totalNetCashflow"
      :projected-cashflow="projectedCashflow"

      payment-list-filter="nextMonthPayments"

      :sticky-add-offset="33"
    >
      <template slot="invoices-drillDown">
        <NextMonthInvoiceListModal
          :days-difference="daysDifference"
        />
      </template>
      <template slot="expenses-drillDown">
        <NextMonthExpensesListModal
          :days-difference="daysDifference"
        />
      </template>
    </SummaryCard>
  </div>
</template>
<script>
import SummaryCard from './SummaryCard'
import {dashboardSummary} from '../stores/dashboardSummary';
import NextMonthExpensesListModal from './NextMonthExpensesListModal';
import NextMonthInvoiceListModal from './NextMonthInvoiceListModal';
import {dashboardFilter} from '../stores/dashboardFilter';

export default {
  name: 'NextMonthOverview',
  components: {SummaryCard, NextMonthExpensesListModal, NextMonthInvoiceListModal},
  data() {
    return {
      showPayments: false,
      showInvoices: false,
      showExpenses: false,
    }
  },
  computed: {
    summary() {
      return dashboardSummary.nextMonthDashboardSummary.data.get()
    },
    dateFilter() {
      return dashboardFilter.dateFilter.get();
    },
    projectManager() {
      return dashboardFilter.projectManager.get();
    },
    daysDifference() {
      return `${dashboardFilter.dateFilter.get()} till ${dashboardFilter.nextMonth.get().lastDayOfMonth}`
    },
    loading() {
      return dashboardSummary.nextMonthDashboardSummary.isLoading.get()
    },

    // Invoiced
    totalInvoiced() {
      return this.summary.invoice.total_invoiced;
    },
    totalReceivedInPeriod() {
      return this.summary.invoice.total_received_in_period;
    },
    totalReceivable() {
      return this.summary.invoice.total_receivable;
    },
    totalAdvancedReceived() {
      return this.summary.invoice.total_advance_received_in_period
    },

    // Expenses
    totalPaid() {
      return this.summary.expense.total_paid_in_period;
    },
    totalExpenses() {
      return this.summary.expense.total_expenses;
    },
    totalPayable() {
      return this.summary.expense.total_payable;
    },
    totalOverpaid() {
      return this.summary.expense.total_overpay_in_period;
    },

    // Cashflow
    totalNetCashflow() {
      return this.summary.payment.cashflow_nett;
    },
    projectedCashflow() {
      return this.summary.payment.projected_cashflow_nett;
    },
  },
  methods: {
    handleShowInvoices() {
      this.showInvoices = true
    },
    handleShowExpenses() {
      this.showExpenses = true
    },
  }
}
</script>
