<template>
  <OverflowHeaderCard :header-bg-color="headerBgColor">
    <template slot="title">
      <h4 class="m-0 font-weight-medium py-2">
        {{ title }}
      </h4>
    </template>
    <template slot="sub-title">
      <h2 class="m-0 font-weight-medium text-no-wrap">
        {{ totalOverdueValue | toCurrencyValue }}
      </h2>
    </template>
    <template slot="header-actions">
      <v-col class="text-right">
        <ShowAllButton
          :active="isShowAll"
          @click="!isShowAll && $emit('show-all', listType)"
        />
      </v-col>
    </template>
    <CardFilterList
      :list-type="listType"
      :filter-list="filterList"
      :overdue-values="overdueValues"
      @click="$emit('click', listType, $event)"
    />
    <slot />
  </OverflowHeaderCard>
</template>
<script>
import CardFilterList from './CardFilterList'
import OverflowHeaderCard from './OverflowHeaderCard'
import ShowAllButton from './ShowAllButton'

export default {
  name: 'OverdueCard',
  components: {
    CardFilterList,
    OverflowHeaderCard,
    ShowAllButton,
  },
  props: {
    listType: {
      type: String,
      required: true,
    },
    headerBgColor: {
      type: [String, Array],
      default() {
        return ['#de6b67', '#eba370']
      },
    },
    isLoading: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: '',
    },
    isShowAll: {
      type: Boolean,
      default: false
    },
    totalOverdueValue: {
      type: [String, Number],
      default: 0
    },
    filterList: {
      type: Object,
      default() {
        return {}
      }
    },
    overdueValues: {
      type: Object,
      default() {
        return {}
      }
    }
  }
}
</script>
