<template>
  <div
    v-bind="$attrs"
    class="overdueInvoiceTable"
  >
    <v-row align="center">
      <v-col>
        <h3 class="my-0">
          Overdue {{ listType | capitalize }}
          <small
            v-if="filterIsInRange"
            class="ml-1"
          >from {{ dateDisplay }} ({{ dateRangeDisplay }})</small>
          <small
            v-if="filterIsAbove60"
            class="ml-1"
          >{{ dateDisplay }} ({{ dateRangeDisplay }})</small>
        </h3>
      </v-col>
      <v-col class="text-right">
        <TableExportExcelButton
          :disabled="list.length === 0"
          :get-excel-data="getExcelData"
          :filename="excelName"
        />
      </v-col>
    </v-row>
    <TableList
      :columns="tableColumns"
      :loading="loading"
      :list="list"
      :table-prop="tableProp"
      :elevation="0"

      border
      hide-default-footer
      item-key="uuid"

      @change-sort="handleOnSortChange"
    >
      <template
        slot="name"
        slot-scope="prop"
      >
        <router-link
          :to="`/projects/${prop.item.uuid}`"
          class="text-truncate text-underline grey--text text--darken-3 d-block"
          style="max-width: 100px;"
        >
          {{ prop.item.name }}
        </router-link>
      </template>
      <template
        slot="overdue"
        slot-scope="prop"
      >
        <span>
          {{ prop.item.overdue }}
          <v-icon
            small
            color="error"
          >mdi-thumb-down</v-icon>
        </span>
      </template>
      <template
        v-if="list.length > 0"
        slot="footer"
      >
        <template v-for="(column, index) in tableColumns">
          <td
            v-if="index === 0"
            :key="column.value"
            class="py-1"
            colspan="2"
          >
            Total:
          </td>
          <template v-else-if="index === 1" />
          <td
            v-else-if="column.type === 'currency'"
            :key="column.value"
            class="py-1"
          >
            <template>
              <strong class="text-truncate d-block text-right">
                {{ aggregator(list, column.value) | toCurrencyValue }}
              </strong>
            </template>
          </td>
          <td
            v-else
            :key="column.value"
          />
        </template>
      </template>
    </TableList>
    <QueryPagination
      v-if="list.length > 0"
      :query="query"
      :total="pagination.total"
      @input="changePage"
    />
  </div>
</template>

<script>
import {dashboardOverdue} from '../stores/dashboardOverdue';
import {dashboardFilter} from '../stores/dashboardFilter';
import {datetimeShort} from '@nixel/base/filters/datetime';
import {aggregator} from '@nixel/base/utils/math';

export default {
  name: 'OverdueInvoiceTable',
  components: {},
  computed: {
    tableStore() {
      return dashboardOverdue.selectedTableStore();
    },
    query() {
      return this.tableStore.query.get()
    },
    pagination() {
      return this.tableStore.pagination()
    },
    listType() {
      return dashboardOverdue.overduePayload.get().listType;
    },
    filterList() {
      return dashboardOverdue.filterList.get();
    },
    overdueType() {
      return dashboardOverdue.overduePayload.get().overdueType;
    },
    filterIsInRange() {
      return ['overdue_amt_30', 'overdue_amt_60'].includes(this.overdueType);
    },
    filterIsAbove60() {
      return this.overdueType === 'overdue_amt_above';
    },
    dateDisplay() {
      if (this.filterList[this.overdueType]) {
        return this.filterList[this.overdueType].date;
      }

      return undefined
    },
    dateRangeDisplay() {
      if (this.filterList[this.overdueType]) {
        return this.filterList[this.overdueType].label;
      }

      return undefined
    },
    tableProp() {
      return this.tableStore.tableProp()
    },
    list() {
      return this.tableStore.data.get();
    },
    tableColumns() {
      return this.tableStore.tableColumns.get();
    },
    loading() {
      return this.tableStore.isLoading.get();
    },
    excelName() {
      const projectManager = dashboardFilter.selectedProjectManager();
      return `overdue_${this.listType}${projectManager ? `_${projectManager.name}` : ''}_${datetimeShort(new Date())}.xlsx`;
    },
  },
  methods: {
    aggregator,
    getExcelData() {
      return this.tableStore.listMappedWithColumnLabel()
    },
    handleOnSortChange(header, newQuery) {

      this.tableStore.query.update({
        sort: newQuery.sort,
        order: newQuery.order,
      });

      this.tableStore.fetchData()
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        this.tableStore.query.update({
          page,
          limit,
        });

        this.tableStore.fetchData()
      }
    },
  }
};
</script>
