<template>
  <RoundedCard class="projectManagerModalCard">
    <v-card-title
      class="headline pb-3 projectManagerModalTitle"
      primary-title
    >
      <span class="headline">
        Performance Report for {{ projectManager }} during {{ month }} {{ year }}
      </span>
      <v-spacer/>
      <TableExportExcelButton
        :disabled="projectManagerProjectsList.length === 0"
        :get-excel-data="getExcelData"
        :filename="excelName"
        class="mr-3"
      />
      <CoreButton
        icon
        rounded
        color="text--grey"
        class="ml-auto"
        @click="$emit('close')"
      >
        <v-icon>mdi-close</v-icon>
      </CoreButton>
    </v-card-title>
    <v-card-text class="projectManagerModalContent">
      <TableList
        :columns="projectListColumns"
        :loading="isLoading"
        :table-prop="{sortBy: ''}"
        :list="projectManagerProjectsList"
        :elevation="0"

        border
        disable-sort
        hide-default-footer
        item-key="uuid"
        @change-sort="handleOnSortChange"
      >
        <template
          v-if="projectManagerProjectsList.length > 0"
          slot="footer"
        >
          <td
            v-for="(column, index) in projectListColumns"
            :key="column.value"
            class="py-1"
          >
            <template v-if="index === 0">
              Total:
            </template>
            <template v-else-if="column.type === 'currency'">
              <strong class="text-truncate d-block text-right">
                {{ aggregator(projectManagerProjectsList, column.value) | toCurrencyValue }}
              </strong>
            </template>
          </td>
        </template>
      </TableList>
    </v-card-text>
  </RoundedCard>
</template>

<style lang="scss" scoped>
  .projectManagerModal {
    max-width: 920px;
    min-height: 600px;
  }
  .projectManagerModalCard {
    padding: 40px;
  }
  .projectManagerModalTitle {
    flex: 0 1 !important;
  }
  .projectManagerModalContent {
    flex: 1 !important;
  }
</style>

<script>
import {projectManagerProjectsDrillDown} from '../stores/dashboardPerformance';
import {projectListColumns} from '../resources/projectManagerPerformance'
import {aggregator} from '@/utils/math';
import {apiErrorNotification} from '@/utils/request';

export default {
  props: {
    projectManager: {
      type: String,
      required: true,
    },
    month: {
      type: String,
      required: true,
    },
    year: {
      type: [String, Number],
      required: true,
    },
  },
  data() {
    return {
      projectListColumns,
    };
  },
  computed: {
    isLoading() {
      return projectManagerProjectsDrillDown.isLoading.get()
    },
    projectManagerProjectsList() {
      return projectManagerProjectsDrillDown.data.get();
    },
    excelName() {
      return `${this.projectManager}_${this.month}_${this.year}.xlsx`;
    },
  },
  methods: {
    aggregator,
    async handleOnSortChange(header, newQuery, sortedList) {
      try {
        projectManagerProjectsDrillDown.query.update({
          sort: newQuery.sort,
          order: newQuery.order,
        })
        await projectManagerProjectsDrillDown.fetchData()
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    getExcelData() {
      return projectManagerProjectsDrillDown.listMappedWithColumnLabel();
    },
  },
}
</script>

