<template>
  <div class="px-3">
    <v-chart
      class="projectManagerChart"
      :options="projectManagerChart"
      autoresize=""
      @click="chartClick"
    />
    <v-layout class="mb-3" justify-end>
      <TableExportExcelButton
        :disabled="listData.length === 0"
        :get-excel-data="getExcelData"
        :filename="excelName"
      />
    </v-layout>
    <TableList
      :columns="chartColumns"
      :loading="false"
      :list="chartData"
      :elevation="0"
      :table-prop="tableProp"
      class="min-w-100"
      sortable

      border
      hide-default-footer
      disable-sort
      item-key="name"
      @change-sort="handleOnSortChange"
    >
      <template
        v-for="(column, index) in chartColumns"
        v-if="index > 1"
        :slot="`${column.value}-content`"
        slot-scope="props"
      >
        <span
          class="projectManagerCashflowAmount"
          @click="showDrillDown(props.item.name, props.item.months[index-2])"
        >
          {{ props.item.data[index-2] | toCurrencyValue }}
        </span>
      </template>
    </TableList>
    <v-dialog
      v-model="showProjectManagerModal"
      content-class="projectManagerModal elevation-0"
      scrollable
    >
      <ProjectManagerReport
        :project-manager="currentProjectManager"
        :month="currentSelectedMonth"
        :year="currentSelectedYear"
        @close="showProjectManagerModal = false"
      />
    </v-dialog>
  </div>
</template>

<style lang="scss" scoped>
  .projectManagerChart {
    width: 80%;
    height: 600px;
    padding-top: 50px;
    margin: 0 auto 50px
  }
  .projectManagerCashflowAmount:hover {
    cursor: pointer;
  }
</style>

<script>
import ECharts from 'vue-echarts'
import {
  map,
  concat,
  sortBy,
  reverse,
  find,
} from 'lodash';
import 'echarts/lib/chart/line'
import 'echarts/lib/component/polar'
import {projectManagerSummary, projectManagerProjectsDrillDown} from '../stores/dashboardPerformance';
import {monthDefinitions} from '@nixel/base/consts/date'
import {projectListColumns} from '../resources/projectManagerPerformance'
import {aggregator} from '@/utils/math';
import {datetimeShort} from '@nixel/base/filters/datetime';
import ProjectManagerReport from './ProjectManagerReport';

export default {
  name: 'ProjectManagerChart',
  components: {
    'v-chart': ECharts,
    ProjectManagerReport,
  },
  data() {
    return {
      chartData: [],
      tableProp: {
        rowsPerPage: 2,
        descending: false,
        sortBy: '',
      },
      projectListColumns,
      showProjectManagerModal: false,
      modalIsLoading: false,
      currentProjectManager: '',
      currentSelectedMonth: '',
      currentSelectedYear: '',
      projectManagerChart: {
        tooltip: {
          trigger: 'item'
        },
        legend: {
          data: []
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        toolbox: {
          feature: {
            saveAsImage: {}
          }
        },
        xAxis: {
          boundaryGap: true,
          data: []
        },
        yAxis: {
          type: 'value',
          name: 'Nett Cash Flow'
        },
        series: []
      }
    }
  },
  computed: {
    listData() {
      return projectManagerSummary.data.get()
    },
    excelName() {
      return `project_manager_performance_${datetimeShort(new Date())}.xlsx`;
    },
    chartColumns() {
      const summary = this.listData;
      if (summary.length > 0 && summary[0].chart_data) {
        const firstColumn = [{
          text: 'Project Manager',
          value: 'name',
          width: '100',
          maxWidth: '200px',
          minWidth: '150px',
        }];
        const secondColumn = [{
          text: 'Overall',
          value: 'overall_nett',
          type: 'currency',
          align: 'right',
          sortable: true,
        }];
        const months = map(summary[0].chart_data, (o, index) => {
          const monthCapitalized = o.month.charAt(0).toUpperCase() + o.month.slice(1);
          return {
            label: monthCapitalized,
            text: monthCapitalized,
            value: `data[${index}]`,
            type: 'currency',
            align: 'right',
            sortable: true,
          }
        });
        return concat(firstColumn, secondColumn, months)
      }
      return [
        {
          label: 'No Data',
          value: 'No Value',
        },
      ]
    },
    chartXAxis() {
      const summary = this.listData;
      if (summary.length > 0 && summary[0].chart_data) {
        return map(summary[0].chart_data, (o) => {
          return o.month[0].toUpperCase() + o.month.slice(1, o.month.length)
        })
      }
      return []
    },
    projectManagerProjectsDrillDown() {
      return projectManagerProjectsDrillDown.data.get();
    },
  },
  watch: {
    chartData() {
      this.projectManagerChart = {
        ...this.projectManagerChart,
        series: this.chartData,
        legend: {
          data: map(this.chartData, (o) => { return o.name }),
        }
      }
    },
    chartColumns() {
      projectManagerSummary.tableColumns.assign(this.chartColumns);
      projectManagerSummary.updateSelectedColumns();
    },
    chartXAxis() {
      this.projectManagerChart.xAxis.data = this.chartXAxis
    },
    showProjectManagerModal(show) {
      if (!show) this.currentProjectManager = ''
    },
    listData() {
      const newList = this.listData;
      const chartType = 'line';
      this.chartData = map(newList, (o) => {
        let months = []
        const chartData = map(o.chart_data, (p) => {
          months.push(p.month[0].toUpperCase() + p.month.slice(1, p.month.length));
          return p.nett
        });
        return {
          name: o.name,
          overall_nett: o.overall_nett,
          months: months,
          type: chartType,
          data: chartData,
          id: o.id
        }
      })
    }
  },
  mounted() {

  },
  methods: {
    aggregator,
    getExcelData() {
      return projectManagerSummary.listMappedWithColumnLabel(this.chartData);
    },
    handleOnSortChange(header, newQuery, sortedList) {
      const numberPattern = /\d+/g;
      const newSort = this.tableProp.sortBy !== newQuery.sort;
      if (!newQuery.sort.match(numberPattern)) {
        this.chartData = sortedList
      } else {
        const sortIndex = newQuery.sort.match(numberPattern)[0];
        // Sorts by ascending order only
        this.chartData = sortBy(sortedList, [function(o) { return parseFloat(o.data[sortIndex]); }]);
        this.tableProp.sortBy = newQuery.sort;

        if (newSort) {
          this.tableProp.descending = false
        } else {
          this.tableProp.descending = !this.tableProp.descending;
        }

        if (this.tableProp.descending) {
          this.chartData = reverse(this.chartData)
        }
      }
    },
    chartClick(element) {
      console.log(element)
      if (element.hasOwnProperty('data') && element.hasOwnProperty('seriesName') && element.hasOwnProperty('name')) {
        this.showDrillDown(element.seriesName, element.name);
      }
    },
    showDrillDown(projectManager, month) {
      let monthNumber = this.getMonthNumber(month);
      this.currentSelectedMonth = this.getMonthFullName(monthNumber);
      const projectManagerId = this.getProjectManagerId(projectManager);
      const yearNumber = this.getYear(monthNumber);
      this.currentSelectedYear = yearNumber;
      const daysInMonth = this.daysInMonth(monthNumber, yearNumber);
      monthNumber = this.padZeroes(monthNumber, 2);
      const startDate = `${yearNumber}-${monthNumber}-01`;
      const endDate = `${yearNumber}-${monthNumber}-${daysInMonth}`;

      this.modalIsLoading = true;
      this.currentProjectManager = projectManager;
      this.fetchProjectManagerProjectsDrillDown(projectManagerId, startDate, endDate);
      this.showProjectManagerModal = true;
    },
    async fetchProjectManagerProjectsDrillDown(projectManagerId, start_date, end_date) {
      try {
        projectManagerProjectsDrillDown.query.set('project_manager', projectManagerId);
        projectManagerProjectsDrillDown.query.set('payment_date[start]', start_date);
        projectManagerProjectsDrillDown.query.set('payment_date[end]', end_date);
        await projectManagerProjectsDrillDown.fetchData();
        this.modalIsLoading = false;
      } catch (e) {
        console.error(e);
        this.modalIsLoading = false;
      }
    },
    getMonthNumber(monthName) {
      return find(monthDefinitions, (o) => {
        return o.name === monthName;
      }).value
    },
    getMonthFullName(monthNumber) {
      return find(monthDefinitions, (o) => {
        return o.value === monthNumber;
      }).fullName
    },
    getProjectManagerId(projectManagerName) {
      return find(this.projectManagerChart.series, (o) => {
        return o.name === projectManagerName;
      }).id
    },
    getYear(monthNumber) {
      const today = new Date();
      const thisMonth = today.getMonth() + 1;
      let year = today.getFullYear();
      // assuming that the graph is capped at 12 months(columns),
      // a month number greater than the current month means it is last year
      if (monthNumber >= thisMonth) {
        year -= 1
      }
      return year
    },
    daysInMonth(month, year) {
      return new Date(year, month, 0).getDate();
    },
    padZeroes(number, length) {
      const n = JSON.stringify(number);
      if (n.length < length) {
        return '0' * (length - n.length) + n
      }
      return n
    }
  }
}
</script>
