<template>
  <RoundedCard class="my-2 px-0 py-4 summaryCardContainer">
    <div
      class="summaryCardRow"
      v-bind="$attrs"
    >
      <v-row
        class="py-3 text-center"
      >
        <v-col>
          <h4 class="m-0">
            {{ mainTitle }}
          </h4>

          <CurrencyDisplay
            :value="mainValue"
            :class="`${currencyClass}`"
            class="mt-2"
            tag="h2"
          />
        </v-col>
      </v-row>

      <v-divider />

      <div class="drillDownColumn">
        <template v-for="(value, title) in drillDownValues">
          <v-col
            :key="title"
            class="summaryDrillDownItem my-4"
            text-center
          >
            <h5 class="my-0 text-center">
              {{ title }}:
            </h5>

            <CurrencyDisplay
              :value="value"
              :class="`${drillDownCurrencyClass} ${currencyClass}`"
              class=""
              tag="h4"
            />
          </v-col>
        </template>
      </div>
      <v-col class="">
        <slot>
          <CoreButton
            v-if="hasDrillDown"
            rounded
            small
            color="info"
            class=""
            @click="$emit('click')"
          >
            Details
          </CoreButton>
        </slot>
      </v-col>
    </div>
    <v-row>
      <OverviewPaymentList
        :show-payments="showPayments"
        :payment-list="paymentListFilter"
        @toggle="onExpandPaymentList"
      />
    </v-row>
  </RoundedCard>
</template>

<style lang="scss" scoped>
  .summaryCardContainer {
    width: 100%;
  }
</style>

<script>
import {apiErrorNotification} from '@/utils/request';
import {dashboardPayments} from '../stores/dashboardPayments';
import {dashboardFilter, thisYearOverviewQuery} from '../stores/dashboardFilter';

import OverviewPaymentList from './OverviewPaymentList';

export default {
  name: 'SummaryCardRow',
  components: {
    OverviewPaymentList,
  },
  props: {
    mainTitle: {
      type: String,
      required: true,
    },
    mainValue: {
      type: [Number, String],
      required: true,
    },
    drillDownValues: {
      type: Object,
      required: true,
    },
    hasDrillDown: {
      type: Boolean,
      default: false
    },
    currencyClass: {
      type: String,
      default: ''
    },
    drillDownCurrencyClass: {
      type: String,
      default: ''
    },
    paymentListFilter: {
      type: String,
      default: null,
      required: true
    },
  },
  data() {
    return {
      showPayments: false,
    }
  },
  methods: {
    async onExpandPaymentList(bool) {
      switch (this.paymentListFilter) {
        case 'thisYearPayments':
          this.fetchThisYearPaymentList(bool);
          break;
        case 'thisMonthPayments':
          this.fetchThisMonthPaymentList(bool);
          break;
        case 'nextMonthPayments':
          this.fetchNextMonthPaymentList(bool);
          break
      }
    },
    async fetchThisYearPaymentList(bool) {
      const isRequested = dashboardPayments.thisYearPayments.isRequested.get();
      this.showPayments = bool;
      if (bool && !isRequested) {
        try {
          dashboardPayments.thisYearPayments.query.update(thisYearOverviewQuery);

          await dashboardPayments.thisYearPayments.fetchData();
        } catch (e) {
          apiErrorNotification(e);
        }
      }
    },
    async fetchNextMonthPaymentList(bool) {
      const query = dashboardFilter.nextMonthQuery();
      dashboardPayments.nextMonthPayments.query.update(query);
      this.showPayments = bool;
      try {
        await dashboardPayments.nextMonthPayments.fetchData();
      } catch (e) {
        apiErrorNotification(e);
      }
    },
    async fetchThisMonthPaymentList(bool) {
      const query = dashboardFilter.thisMonthQuery();
      dashboardPayments.thisMonthPayments.query.update(query);
      this.showPayments = bool;
      try {
        await dashboardPayments.thisMonthPayments.fetchData();
      } catch (e) {
        apiErrorNotification(e);
      }
    },
  }
}
</script>
