<template>
  <RoundedCard class="my-2 py-3 summaryCardContainer">
    <div
      class="summaryCardRow"
      v-bind="$attrs"
    >
      <div
        class="mainColumn text-center py-3"
      >
        <v-flex justify-content-center>
          <h4 class="m-0">
            {{ mainTitle }}
          </h4>

          <CurrencyDisplay
            :value="mainValue"
            :class="`${currencyClass}`"
            tag="h2"
          >
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <span v-on="on">
                  <v-icon class="mt-3 ml-2">mdi-eye</v-icon>
                </span>
              </template>
              <span>{{ toolTipTitle ? `${toolTipTitle}: ` : '' }}{{ toolTipValue | toCurrencyValue }}</span>
            </v-tooltip>
          </CurrencyDisplay>
        </v-flex>
      </div>

      <v-divider class="mt-0" />

      <v-row
        class="drillDownColumn my-4"
        no-gutters
      >
        <template v-for="(value, title) in drillDownValues">
          <v-col
            :key="title"
            cols="6"
            class="summaryDrillDownItem text-center"
          >
            <h5 class="m-0 mr-2">
              {{ title }}:
            </h5>

            <CurrencyDisplay
              :value="value"
              :class="`${drillDownCurrencyClass} ${currencyClass}`"
              tag="h4"
            />
          </v-col>
        </template>
      </v-row>
      <div class="m-0 text-center">
        <slot>
          <CoreButton
            v-if="hasDrillDown"
            rounded
            small
            color="info"
            @click="$emit('click')"
          >
            Details
          </CoreButton>
        </slot>
      </div>
    </div>
  </RoundedCard>
</template>

<style lang="scss" scoped>
  .summaryCardContainer {
    width: 100%;
  }
  .summaryCardRow {
    /* border: 1px solid black; */
  }

  .mainColumn {
    /* border: 1px solid black; */
  }

  .mainCurrency {
  }

  .drillDownColumn {
    /* border: 1px solid black; */
  }

  .summaryDrillDownItem {
    /* border: 1px solid black; */

    &:last-child {
      border-left: 1px solid rgba(0,0,0,0.12);
    }
  }
</style>

<script>
export default {
  name: 'SummaryCardBlock',
  props: {
    mainTitle: {
      type: String,
      required: true,
    },
    mainValue: {
      type: [Number, String],
      required: true,
    },
    toolTipTitle: {
      type: String,
      default: undefined,
    },
    toolTipValue: {
      type: [Number, String],
      default: undefined
    },
    drillDownValues: {
      type: Object,
      required: true,
    },
    hasDrillDown: {
      type: Boolean,
      default: false
    },
    currencyClass: {
      type: String,
      default: ''
    },
    drillDownCurrencyClass: {
      type: String,
      default: ''
    }
  }
}
</script>
