<template>
  <ContentLoader
    v-if="true"
    :width="width"
    :height="height"
    :opacity="0.5"
    preserve-aspect-ratio="none"
    primary-color="#dedede"
    secondary-color="#cbcbcb"
    :secondary-opacity="1"
  >
    <rect
      x="0"
      y="0"
      rx="3"
      ry="3"
      :width="width"
      :height="height"
    />
  </ContentLoader>
  <AnyTag
    v-else
    :tag="tag"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <slot />
  </AnyTag>
</template>

<script>
import {ContentLoader} from 'vue-content-loader'
export default {
  name: 'TextLoading',
  components: {
    ContentLoader
  },
  props: {
    isLoading: {
      type: Boolean,
      default: false,
    },
    tag: {
      type: String,
      default: 'p',
    },
    width: {
      type: Number,
      default: 250,
    },
    height: {
      type: Number,
      default: 10,
    },
    opacity: {
      type: Number,
      default: 1,
    }
  }
}
</script>
