<template>
  <div sticky-container>
    <SummaryCard
      title="This Year's Overview"
      :loading="isLoading"
      :days-difference="firstDayOfTheYearTillToday"

      :total-received="summary.invoice.total_received_in_period"
      :total-invoiced="summary.invoice.total_invoiced"
      :total-receivable="summary.invoice.total_receivable_in_period"
      :total-advanced-received="summary.invoice.total_advance_received_in_period"

      :total-paid="summary.expense.total_paid_in_period"
      :total-expenses="summary.expense.total_expenses"
      :total-payable="summary.expense.total_payable_in_period"
      :total-overpaid="summary.expense.total_overpay_in_period"

      :net-cashflow="summary.payment.cashflow_nett"
      :projected-cashflow="summary.payment.projected_cashflow_nett"

      payment-list-filter="thisYearPayments"

      :sticky-add-offset="-18"
    >
      <template slot="invoices-drillDown">
        <ThisYearInvoiceListModal
          :days-difference="firstDayOfTheYearTillToday"
        />
      </template>
      <template slot="expenses-drillDown">
        <ThisYearExpensesListModal
          :days-difference="firstDayOfTheYearTillToday"
        />
      </template>
    </SummaryCard>
  </div>
</template>

<style lang="scss" scoped>
  .invoicesDialog,
  .expensesDialog {
    max-width: 900px;
    min-height: 600px;
  }

  .dialogCard {
    min-height: 600px;
  }
</style>

<script>
import {apiErrorNotification} from '@/utils/request';
import ThisYearInvoiceListModal from './ThisYearInvoiceListModal';
import ThisYearExpensesListModal from './ThisYearExpensesListModal';
import {dashboardSummaryApi} from '../stores/dashboardSummary';
import {firstDayOfThisYear, thisYearOverviewQuery, today} from '../stores/dashboardFilter';
import SummaryCard from './SummaryCard';

export default {
  name: 'ThisYearOverview',
  components: {
    ThisYearExpensesListModal,
    ThisYearInvoiceListModal,
    SummaryCard,
  },
  data() {
    return {
      firstDayOfTheYearTillToday: `${firstDayOfThisYear} till ${today}`,
      showPayments: false,
      isLoading: false,
      summary: {
        invoice: {
          total_received: 0,
          total_received_in_period: 0,
          total_invoiced: 0,
          total_receivable: 0,
          total_receivable_in_period: 0,
          total_advance_received_in_period: 0,
        },
        expense: {
          total_paid: 0,
          total_paid_in_period: 0,
          total_expenses: 0,
          total_payable: 0,
          total_payable_in_period: 0,
          total_overpay_in_period: 0,
        },
        payment: {
          cashflow_nett: 0,
          projected_cashflow_nett: 0,
        }
      },
      payments: [],
    }
  },
  async created() {
    try {
      this.isLoading = true;

      const response = await dashboardSummaryApi(thisYearOverviewQuery);

      this.summary = response.data.data;

      this.isLoading = false;
    } catch (e) {
      apiErrorNotification(e)
    }
  },
  methods: {
  },

};
</script>
