<template>
  <div>
    <CoreButton
      rounded
      small
      color="info"
      @click="handleViewExpenses"
    >
      Details
    </CoreButton>
    <v-dialog
      v-model="showExpenses"
      content-class="expensesDialog elevation-0"
      scrollable
    >
      <DashboardSummaryDialogContent
        :list="thisYearExpensesList"
        :table-columns="thisYearExpensesTableColumns"
        :table-prop="thisYearExpensesTableProp"
        :loading="expensesListLoading"
        :days-difference="daysDifference"
        title="This Year's Expenses Overview"
        @close="showExpenses = false"
        @change-sort="handleOnExpensesListSortChange"
      >
        <template slot="header">
          <v-row class="pb-3 align-items-end" no-gutters>
            <v-row no-gutters>
              <div
                class="align-self-center shrink"
              >
                Total Records: {{ thisYearExpensesList.length }}
              </div>
              <div class="mx-3 shrink">
                <TableExportExcelButton
                  :get-excel-data="getExcelData"
                  :filename="excelName"
                />
              </div>
              <div>
                <CoreButton
                  :disabled="!enableReset"
                  rounded
                  color="info"
                  @click="onReset"
                >
                  Reset
                </CoreButton>
              </div>
              <v-spacer />
            </v-row>
            <TotalExpensesDrillDown
              :total-expenses="totalExpenses"
              :total-paid="totalPaid"
              :total-write-off="totalWriteOff"
              :total-payable="totalPayable"
              :total-overpaid="totalOverpaid"
              @click="onDrillDownClick"
            />
          </v-row>
        </template>
      </DashboardSummaryDialogContent>
    </v-dialog>
  </div>
</template>
<script>
import {getYear} from 'date-fns';
import {apiErrorNotification} from '@/utils/request';
import DashboardSummaryDialogContent from './DashboardSummaryDialogContent'
import TotalExpensesDrillDown from './TotalExpensesDrillDown'
import {dashboardSummary} from '../stores/dashboardSummary';
import {thisYearOverviewQuery} from '../stores/dashboardFilter';
import {datetimeShort} from '@nixel/base/filters/datetime';

export default {
  name: 'ThisYearExpensesListModal',
  components: {DashboardSummaryDialogContent, TotalExpensesDrillDown},
  props: {
    daysDifference: {
      type: String,
    },
  },
  data() {
    return {
      showExpenses: false,
      thisYearOverviewQuery,
    }
  },
  computed: {
    excelName() {
      return `expenses_${getYear(new Date())}_${datetimeShort(new Date())}.xlsx`;
    },
    // expenses list
    expensesListLoading() {
      return dashboardSummary.expensesList.isLoading.get()
    },
    thisYearExpensesList() {
      return dashboardSummary.expensesList.data.get()
    },
    thisYearExpensesTableColumns() {
      return dashboardSummary.expensesList.tableColumns.get()
    },
    thisYearExpensesTableProp() {
      return dashboardSummary.expensesList.tableProp()
    },
    enableReset() {
      const query = dashboardSummary.expensesList.query.get();
      return query.status
    },

    // computed amounts from expenses list
    totalExpenses() {
      return dashboardSummary.expensesList.totalExpenses()
    },
    totalPaid() {
      return dashboardSummary.expensesList.totalPaid()
    },
    totalPayable() {
      return dashboardSummary.expensesList.totalPayable()
    },
    totalWriteOff() {
      return dashboardSummary.expensesList.totalWriteOff()
    },
    totalOverpaid() {
      return dashboardSummary.expensesList.totalOverpaid()
    },
  },
  watch: {
    showExpenses(isOpen) {
      if (!isOpen) {
        this.handleClose()
      }
    }
  },
  methods: {
    fetchExpensesList(customParams = {}) {
      try {
        dashboardSummary.expensesList.fetchData({
          ...this.thisYearOverviewQuery,
          ...customParams,
        });
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    handleViewExpenses() {
      this.fetchExpensesList();
      this.showExpenses = true;
    },
    handleClose() {
      dashboardSummary.expensesList.data.reset();
    },
    getExcelData() {
      return dashboardSummary.expensesList.listMappedWithColumnLabel();
    },
    handleOnExpensesListSortChange(header, newQuery) {
      dashboardSummary.expensesList.query.update({
        sort: newQuery.sort,
        order: newQuery.order,
      });

      this.fetchExpensesList({
        ...dashboardSummary.expensesList.query.get(),
        sort: newQuery.sort,
        order: newQuery.order,
      });
    },
    onReset() {
      this.fetchExpensesList()
    },
    onDrillDownClick(filterParam) {
      const params = {
        ...dashboardSummary.expensesList.query.get(),
        ...filterParam,
      };
      this.fetchExpensesList(params)
    },
  }
}
</script>
