<template>
  <TotalCalculation
    v-bind="$attrs"
    total-label="Total Invoiced"
    :subtract-label="subtractLabel"
    write-off-label="Total Receivable Write Off"
    result-label="Total Receivable"
    exceed-label="Total Advance Received"
    :total-number="totalInvoiced"
    :subtract-number="totalReceived"
    :write-off-number="totalWriteOff"
    :result-number="totalReceivable"
    :exceed-number="totalAdvanceReceived"
    @click="onClick"
  />
</template>

<script>
import TotalCalculation from './TotalCalculation';

export default {
  name: 'TotalInvoicedDrillDown',
  components: {TotalCalculation},
  props: {
    totalInvoiced: {
      type: Number,
      default: 0,
    },
    totalReceived: {
      type: Number,
      default: 0,
    },
    totalWriteOff: {
      type: Number,
      default: 0,
    },
    totalReceivable: {
      type: Number,
      default: 0,
    },
    totalAdvanceReceived: {
      type: Number,
      default: 0,
    },
    subtractLabel: {
      type: String,
      default: 'Collected',
    }
  },
  data() {
    return {
      filterParams: {
        subtract: { status: 'received' },
        write_off: { status: 'writeOff' },
        result: { status: 'pending' },
        exceed: { status: 'advance' },
      },
    }
  },
  methods: {
    onClick(key) {
      this.$emit('click', this.filterParams[key])
    }
  }
}
</script>
