<template>
  <div
    v-bind="$attrs"
    class="totalCalculation"
  >
    <v-row>
      <v-col class="py-0">{{ totalLabel }}:</v-col>
      <v-col class="text-right py-0">
        <h5 class="m-0">
          {{ totalNumber | toCurrencyValue }}
        </h5>
      </v-col>
    </v-row>

    <v-row>
      <v-col
        class="clickableFilter py-0"
        @click="$emit('click','subtract')"
      >
        {{ subtractLabel }}:
      </v-col>
      <v-col
        class="text-right py-0"
      >
        <h5 class="m-0">
          {{ subtractNumber | toCurrencyValue }}
        </h5>
      </v-col>
    </v-row>

    <v-row>
      <v-col
        class="clickableFilter py-0"
        @click="$emit('click','write_off')"
      >
        {{ writeOffLabel }}:
      </v-col>
      <v-col class="text-right py-0">
        <h5 class="m-0">
          {{ writeOffNumber | toCurrencyValue }}
        </h5>
      </v-col>
    </v-row>

    <hr class="mx-0">
    <v-row>
      <v-col
        class="clickableFilter py-0"
        @click="$emit('click', 'result')"
      >
        {{ resultLabel }}:
      </v-col>
      <v-col
        class="text-right py-0"
      >
        <h5 class="m-0">
          {{ resultNumber | toCurrencyValue }}
        </h5>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        class="clickableFilter py-0"
        @click="$emit('click', 'exceed')"
      >
        {{ exceedLabel }}:
      </v-col>
      <v-col
        class="text-right py-0"
      >
        <h5 class="m-0">
          {{ exceedNumber | toCurrencyValue }}
        </h5>
      </v-col>
    </v-row>
  </div>
</template>

<style lang="scss">
  .totalCalculation {
    width: 360px;
    color: rgba(black, 0.54);
  }

  /* The clickable filter elements would look like a routelink */
  .clickableFilter {
    display: block;
    color: var(--link-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &:global(.ellipsis) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
</style>

<script>

export default {
  name: 'TotalCalculation',
  props: {
    totalLabel: {
      type: String,
      default: '',
    },
    subtractLabel: {
      type: String,
      default: '',
    },
    writeOffLabel: {
      type: String,
      default: '',
    },
    resultLabel: {
      type: String,
      default: '',
    },
    exceedLabel: {
      type: String,
      default: '',
    },
    totalNumber: {
      type: Number,
      default: 0,
    },
    subtractNumber: {
      type: Number,
      default: 0,
    },
    writeOffNumber: {
      type: Number,
      default: 0,
    },
    resultNumber: {
      type: Number,
      default: 0,
    },
    exceedNumber: {
      type: Number,
      default: 0,
    },
  },
}
</script>
