<template>
  <TotalCalculation
    v-bind="$attrs"
    total-label="Total Expenses"
    :subtract-label="subtractLabel"
    write-off-label="Total Payable Write Off"
    result-label="Total Payable"
    exceed-label="Total Overpaid"
    :total-number="totalExpenses"
    :subtract-number="totalPaid"
    :write-off-number="totalWriteOff"
    :result-number="totalPayable"
    :exceed-number="totalOverpaid"
    @click="onClick"
  />
</template>

<script>
import TotalCalculation from './TotalCalculation';

export default {
  name: 'TotalExpensesDrillDown',
  components: {TotalCalculation},
  props: {
    totalExpenses: {
      type: Number,
      default: 0,
    },
    totalPaid: {
      type: Number,
      default: 0,
    },
    totalWriteOff: {
      type: Number,
      default: 0,
    },
    totalPayable: {
      type: Number,
      default: 0,
    },
    totalOverpaid: {
      type: Number,
      default: 0,
    },
    subtractLabel: {
      type: String,
      default: 'Paid',
    }
  },
  data() {
    return {
      filterParams: {
        subtract: { status: 'paid' },
        write_off: { status: 'writeOff' },
        result: { status: 'pending' },
        exceed: { status: 'overpaid' },
      },
    }
  },
  methods: {
    onClick(key) {
      this.$emit('click', this.filterParams[key])
    }
  }
}
</script>
