<template>
  <div class="wrapper">
    <div class="equation-line">
      <span>Total Received</span>
      <span class="green--text">{{ rowProps.item.total_received_in_period | toCurrencyValue }}</span>
    </div>
    <div class="equation-line">
      <span>Total Paid</span>
      <span class="red--text">{{ rowProps.item.total_paid_in_period | toCurrencyValue }}</span>
    </div>
    <div class="divider"/>
    <div class="equation-line mt-1">
      <span>Net Cash Flow</span>
      <span :class="`${ positiveCashflow ? 'blue--text' : 'red--text' }`">{{ rowProps.item.cashflow_nett_in_period | toCurrencyValue }}</span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .divider {
    height: 2px;
    background-color: lightgrey;
  }
  .equation-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;

    :first-child {
      color: grey;
      font-size: 10px;
      margin-right: 50px;
    }
    :last-child {
      font-size: 18px;
    }
  }
</style>

<script>
export default {
  name: 'NettCashFlowTooltip',
  props: {
    rowProps: {
      type: Object,
      required: true
    }
  },
  computed: {
    positiveCashflow() {
      return this.rowProps.item.cashflow_nett_in_period >= 0
    }
  }
};
</script>
