<template>
  <div class="wrapper">
    <div>
      <!--(Invoiced Amount / (Contract Sum + Variation Order - Retention)) * 100-->
      <div class="equation-line">
        <div class="equation-block">
          <span/>
          <span>[</span>
        </div>
        <div class="equation-block">
          <span>Invoiced Amount</span>
          <span class="grey--text text--darken-1">{{ rowProps.item.overall_invoiced | toCurrencyValue }}</span>
        </div>
        <div class="equation-block">
          <span/>
          <span> / (</span>
        </div>
        <div class="equation-block">
          <span>Contract Sum</span>
          <span class="grey--text text--darken-1">{{ rowProps.item.contract_sum | toCurrencyValue }}</span>
        </div>
        <div class="equation-block">
          <span/>
          <span>+</span>
        </div>
        <div class="equation-block">
          <span>Variation Order</span>
          <span class="grey--text text--darken-1">{{ rowProps.item.variation_order | toCurrencyValue }}</span>
        </div>
        <div class="equation-block">
          <span/>
          <span>-</span>
        </div>
        <div class="equation-block">
          <span>Retention</span>
          <span class="grey--text text--darken-1">{{ rowProps.item.retention | toCurrencyValue }}</span>
        </div>
        <div class="equation-block">
          <span/>
          <span>) ] x 100 = </span>
        </div>
        <div class="equation-result">
          <span>Current Duration (%)</span>
          <span class="blue--text">{{ rowProps.item.current_duration | toPercent }}</span>
        </div>
      </div>
      <!--100 - ((Project End Date - Project Start Date) - (Today - Project Start Date) / (Project End Date - Project Start Date) * 100)-->
      <div class="equation-line">
        <div class="equation-block">
          <span/>
          <span>100 - [ (</span>
        </div>
        <div class="equation-block">
          <span>Project End Date</span>
          <span class="grey--text text--darken-1">{{ rowProps.item.end_date }}</span>
        </div>
        <div class="equation-block">
          <span/>
          <span>-</span>
        </div>
        <div class="equation-block">
          <span>Project Start Date</span>
          <span class="grey--text text--darken-1">{{ rowProps.item.start_date }}</span>
        </div>
        <div class="equation-block">
          <span/>
          <span>) - (</span>
        </div>
        <div class="equation-block">
          <span>Today</span>
          <span class="grey--text text--darken-1">{{ new Date() | date }}</span>
        </div>
        <div class="equation-block">
          <span/>
          <span>-</span>
        </div>
        <div class="equation-block">
          <span>Project Start Date</span>
          <span class="grey--text text--darken-1">{{ rowProps.item.start_date }}</span>
        </div>
        <div class="equation-block">
          <span/>
          <span>) / (</span>
        </div>
        <div class="equation-block">
          <span>Project End Date</span>
          <span class="grey--text text--darken-1">{{ rowProps.item.end_date }}</span>
        </div>
        <div class="equation-block">
          <span/>
          <span>-</span>
        </div>
        <div class="equation-block">
          <span>Project Start Date</span>
          <span class="grey--text text--darken-1">{{ rowProps.item.start_date }}</span>
        </div>
        <div class="equation-block">
          <span/>
          <span>) x 100 ] = </span>
        </div>
        <div class="equation-result">
          <span>Duration by LA (%)</span>
          <span class="orange--text">{{ rowProps.item.duration_la | toPercent }}</span>
        </div>
      </div>
    </div>
    <div class="divider"/>
    <div class="equation-result alt mt-2">
      <span>Duration Variance (%)</span>
      <span :class="`${ rowProps.item.progress_diff >= 0 ? 'green--text' : 'red--text' }`">{{ rowProps.item.progress_diff | toPercent }}</span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .divider {
    height: 2px;
    background-color: lightgrey;
  }
  .bottom-section {
    flex-shrink: 1;
    align-self: flex-end;
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 240px;
  }
  .equation-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 12px;
  }
  .equation-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

    :first-child {
      color: grey;
      font-size: 10px;
      margin-left: -2px;
      margin-right: -2px;
    }
    :last-child {
      font-size: 15px;
      padding: 0 2px;
      font-weight: 400;
    }
  }
  .equation-result {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    min-width: 100px;

    :first-child {
      color: grey;
      font-size: 10px;
      margin-bottom: -5px;
    }
    :last-child {
      font-size: 18px;
    }
  }
  .equation-result.alt {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    :first-child {
      position: absolute;
      right: 122px;
      font-size: 16px;
    }
  }
  .minus-sign {
    position: absolute;
    right: 240px;
    font-size: 30px;
    line-height: 0;
    padding-top: 13px;
    font-weight: 300;
  }

</style>

<script>
export default {
  name: 'ProgressDiffTooltip',
  props: {
    rowProps: {
      type: Object,
      required: true
    }
  },
  computed: {}
};
</script>
