<template>
  <div class="wrapper">
    <div class="division-wrapper">
      <!-- Dividend -->
      <div class="equation-line">
        <div class="equation-block">
          <span>Total Invoiced</span>
          <span class="green--text">{{ rowProps.item.overall_invoiced | toCurrencyValue }}</span>
        </div>
      </div>
      <v-divider/>
      <!-- Divisor -->
      <div class="divisor-equation-line">
        <div class="equation-block">
          <span>Contract Sum</span>
          <span class="grey--text text--darken-1">{{ rowProps.item.contract_sum | toCurrencyValue }}</span>
        </div>
        <div class="equation-block">
          <span/>
          <span>+</span>
        </div>
        <div class="equation-block">
          <span>Variation Order</span>
          <span class="grey--text text--darken-1">{{ rowProps.item.variation_order | toCurrencyValue }}</span>
        </div>
      </div>
    </div>
    <div class="multiplier">X</div>
    <div class="multiplier-value">100</div>
    <div class="equals">=</div>
    <div class="equation-result">
      <span>Work Certified Margin (%)</span>
      <span :class="`${ rowProps.item.work_certified_margin > 0 ? 'green--text' : 'red--text' }`">
        {{ rowProps.item.work_certified_margin | toPercent }}
      </span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
  }
  .division-wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .divider {
    height: 2px;
    background-color: lightgrey;
  }
  .equation-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .equation-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

    :first-child {
      color: grey;
      font-size: 10px;
      margin-left: -2px;
      margin-right: -2px;
    }
    :last-child {
      font-size: 15px;
      padding: 0 2px;
      font-weight: 400;
    }
  }
  .divisor-equation-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .multiplier {
    padding-left: 20px;
  }
  .multiplier-value {
    padding-left: 20px;
    padding-right: 10px;
  }
  .equals {
    padding-left: 20px;
  }
  .equation-result {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    min-width: 100px;

    :first-child {
      color: grey;
      font-size: 10px;
      margin-bottom: -5px;
    }
    :last-child {
      font-size: 18px;
    }
  }
</style>

<script>
export default {
  name: 'WorkCertifiedMarginTooltip',
  props: {
    rowProps: {
      type: Object,
      required: true
    }
  },
  computed: {
  }
};
</script>
