<template>
  <!-- to prevent event bubbling, have to add `@click.native.stop` ref: https://github.com/vuetifyjs/vuetify/issues/3333 -->
  <v-menu offset-y nudge-top="-10" close-on-content-click v-bind="$attrs" @click.native.stop>
    <template v-slot:activator="{ on }">
      <!--suppress JSUnresolvedVariable -->
      <v-btn color="primary" text icon v-on="on">
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </template>
    <v-list>
      <!--suppress JSUnresolvedVariable -->
      <v-list-item
        v-for="(item, index) in navigation"
        :key="index"
        :to="item.to"
        :disabled="item.disabled"
        @click.stop="!item.disabled && item.click && item.click()"
      >
        <slot name="item" v-bind="item">
          <v-list-item-title :class="`${item.color}--text`">
            {{ item.title }}
          </v-list-item-title>
        </slot>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ActionMenu',
  props: {
    navigation: {
      type: Array, // refer to type `ActionMenuNavigationItem`
      default() {
        return [];
      }
    }
  },
  computed: {}
};
</script>
