<template>
  <v-toolbar
    class="searchToolbar"
    color="grey lighten-3"
    height="50px"
  >
    <slot name="prepend" />
    <v-text-field
      v-bind="$attrs"
      :value="searchString"
      solo
      flat
      small
      hide-details
      background-color="transparent"
      append-icon="mdi-magnify"
      @input="handleOnSearch"
    />

    <v-divider
      v-if="$slots.default"
      class="my-0 mr-2"
      vertical
    />
    <slot />
  </v-toolbar>
</template>

<style lang="scss" scoped>
  .searchToolbar {
    border-radius: 9px;
    margin-left: 15px;
    margin-right: 15px;

    :global(.v-input__control) {
      min-height: auto !important;
    }

    :global(.v-text-field__slot) {
      font-size: 14px;
    }

    :global(.v-input__prepend-outer) {
      margin-top: 4px !important;
    }

    :global(.v-label) {
      font-size: 14px;
      font-weight: 400;
    }

  }
</style>
<script>
import {debounce} from 'lodash';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'AppSearchToolbar',
  /*props: {
    invertedSolo: {
      type: Boolean,
      default: false,
      required: false
    },
    border: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    rounded: {
      type: Boolean,
      default: false
    }
  },*/
  data() {
    return {
      searchString: ''
    };
  },
  methods: {
    handleOnSearch: debounce(function(value) {
      this.$emit('search-input', value);
    }, 300)
  }
};
</script>

<style scoped></style>
