<template>
  <v-dialog
    v-model="dialog"
    width="400"
  >
    <template #activator="{ on }">
      <v-btn
        class="selectionButton"
        color="blue darken-3"
        dark
        outlined
        rounded
        v-on="on"
      >
        <v-icon>mdi-filter-outline</v-icon>
      </v-btn>
    </template>

    <v-card
      class="mx-auto"
      width="400"
      tile
    >
      <v-list rounded>
        <v-subheader><h3>Filter</h3></v-subheader>
        <v-list-item-group color="primary">
          <template v-for="(column, index) in items">
            <v-list-item
              v-if="index>0"
              :key="index"
              @click="handleSelectButton(column), dialog = false"
            >
              <v-list-item-content>
                <v-list-item-title v-text="column.text" />
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list-item-group>
      </v-list>

      <v-card-actions>
        <v-spacer />
        <v-btn
          color="primary"
          text
          @click="dialog = false"
        >
          Back
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
// noinspection JSUnusedGlobalSymbols

export default {
  name: 'ColumnButtonSelection',
  props: {
    items: {
      type: Array,
      default() {
        return [];
      }
    },
    selectedColumns: {
      type: String,
      default() {
        return '';
      }
    }
  },
  data() {
    return {
      dialog: false,
    }
  },
  methods: {
    handleSelectButton(column) {
      this.$emit('change', column.value);
    }
  },
};
</script>

<style lang="scss" scoped>
.selectionButton{
  border: 2px #90CAF9 solid;
}
</style>
