<template>
  <v-menu
    :close-on-content-click="false"
    bottom
    offset-y
    v-bind="$attrs"
    v-on="$listeners"
  >
    <template v-slot:activator="{ on }">
      <CoreButton color="neutral" inner-color="dark" v-on="on">
        <v-icon>mdi-table-column</v-icon>
        Columns
      </CoreButton>
    </template>

    <template>
      <v-layout class="columnSelect white">
        <v-flex>
          <!-- Custom modes-->
          <v-list>
            <slot name="header" />
            <!-- Columns -->
            <template v-for="column in items">
              <v-list-item
                v-if="column.value"
                :key="column.value"
                :disabled="column.required"
                 ripple
                @click="handleSelectColumn(column)"
              >
                <v-list-item-action>
                  <v-checkbox @click="dialog = false" v-model="selectedColumns" :value="column.value" readonly />
                </v-list-item-action>

                <v-list-item-content>
                  <v-list-item-title>
                    {{ column.text }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
            <slot name="footer" />
          </v-list>
        </v-flex>
      </v-layout>
    </template>
  </v-menu>
</template>

<script>
import {pull} from 'lodash';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ColumnSelect',
  props: {
    items: {
      type: Array,
      default() {
        return '';
      }
    },
    selectedColumns: {
      type: Array,
      default() {
        return '';
      }
    }
  },
  methods: {
    handleSelectColumn(column) {
      let returnList = [];
      const selectedColumns = this.selectedColumns;

      if (selectedColumns.includes(column.value)) {
        returnList = pull(selectedColumns, column.value);
      } else {
        selectedColumns.push(column.value);

        returnList = selectedColumns;
      }

      this.$emit('change', returnList);
    }
  }
};
</script>

<style lang="scss" scoped>
.columnSelect {
  :global(.v-subheader) {
    height: 24px;
    font-size: 12px;
  }

  :global(.v-divider) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  :global(.v-list-item) {
    height: 24px;
    min-height: 24px;
  }

  :global(.v-list-item__title) {
    height: 16px;
    line-height: 14px;
    font-size: 14px;
  }

  :global(.v-list-item__action) {
    margin-right: 0 !important;
    min-width: 40px;
  }
}
</style>
