<template>
  <v-combobox
    :value="field.value"
    :error="field.error"
    :success="field.valid"
    :messages="messages"
    :label="field.label"
    v-bind="$attrs"
    v-on="{...field.$listeners(), ...$listeners}"
  >
    <!--suppress JSUnusedLocalSymbols -->
    <template
      v-for="(_, slot) of $scopedSlots"
      v-slot:[slot]="scope"
    >
      <slot
        :name="slot"
        v-bind="scope"
      />
    </template>
  </v-combobox>
</template>

<script>
// TODO: not working properly if value is an object
export default {
  name: 'Combobox',
  props: {
    field: {
      type: Object,
      required: true
    }
  },
  computed: {
    messages() {
      if (this.field.error) {
        return this.field.errorMessages;
      } else if (this.field.valid) {
        return this.field.successMessages;
      }

      return [];
    }
  }
};
</script>
