<template>
  <v-tooltip
    open-delay="300"
    close-delay="0"
    transition="scroll-y-transition"
    v-bind="$attrs"
  >
    <template v-slot:activator="{ on }">
      <div v-on="on">
        <slot/>
      </div>
    </template>
    <slot name="content"/>
  </v-tooltip>
</template>

<style lang="scss" scoped>
  .v-tooltip__content {
    padding: 10px 15px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 12px -5px rgba(0,0,0,0.6);
    opacity: 1 !important;

    font-size: 14px;
    font-weight: 500;
    color: black;
  }
</style>

<script>
export default {
  name: 'CoreTooltip',
  props: {},
  computed: {},
};
</script>
