<template>
  <v-btn
    v-bind="$attrs"
    class="v-core-button"
    :class="`${innerColor}`"
    rounded
    v-on="$listeners"
  >
    <slot />
  </v-btn>
</template>
<style lang="scss" scoped>
.v-core-button {
  box-shadow: none !important;
}
.v-btn--small {
  :global(.v-icon) {
    transform: scale(0.8) !important;
  }
}
.v-btn.light {
  :global(.v-icon),
  :global(.v-btn__content) {
    color: white;
  }
}
.v-btn.dark {
  :global(.v-icon),
  :global(.v-btn__content) {
    color: black;
  }
}
</style>
<script>
export default {
  name: 'CoreButton',
  props: {
    innerColor: {
      type: String,
      default: undefined,
    }
  },
  computed: {}
};
</script>
