<template>
  <v-layout justify-content-center align-items-center>
    <AnyTag
      v-bind="$attrs"
      :class="[$attrs.class, isNegative ? 'negativeValue' : '']"
      :tag="tag"
      class="text-nowrap"
    >
      {{ value | toCurrencyValue }}
    </AnyTag>
    <slot />
  </v-layout>
</template>

<style lang="scss" scoped>
.negativeValue {
  color: var(--danger-color);
}
</style>

<script>
import AnyTag from './AnyTag';

export default {
  name: 'CurrencyDisplay',
  components: {AnyTag},
  props: {
    tag: {
      type: String,
      default: 'p'
    },
    value: {
      type: [String, Number],
      default() {
        return 0;
      }
    }
  },
  computed: {
    isNegative() {
      if (typeof this.value === 'number') {
        return this.value < 0;
      } else {
        return parseFloat(this.value) < 0;
      }
    }
  }
};
</script>
