<template>
  <v-menu
    ref="menu"
    v-model="menu"
    :close-on-content-click="false"
    :nudge-right="40"
    :return-value.sync="date"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template v-slot:activator="{on}">
      <TextField
        v-bind="$attrs"
        :value="$attrs.value || field.value || date"
        :field="field"
        :prepend-icon="noIcon ? '' : prependIcon"
        v-on="on"
        v-mask="'####-##-##'"
        @change="onChange"
      />
    </template>
    <v-date-picker
      v-model="date"
      no-title
      scrollable
      v-bind="pickerProps"
      v-on="{...field.$listeners(), ...$listeners}"
    >
      <v-spacer />
      <CoreButton
        rounded
        color="primary"
        @click="menu = false"
      >
        Cancel
      </CoreButton>
      <CoreButton
        rounded
        color="primary"
        @click="$refs.menu.save(date)"
      >
        OK
      </CoreButton>
    </v-date-picker>
  </v-menu>
</template>

<script>
import {dateFormatValid} from '@nixel/base/filters/datetime'
import format from 'date-fns/format';
import TextField from './TextField.vue';
import CoreButton from './CoreButton.vue';

export default {
  name: 'DatePicker',
  components: {
    TextField,
    CoreButton
  },
  props: {
    field: {
      type: Object,
      default() {
        // noinspection JSUnusedGlobalSymbols
        return {
          $listeners() {
            return {};
          }
        };
      }
    },
    prependIcon: {
      type: String,
      default: 'mdi-calendar'
    },
    pickerProps: {
      type: Object,
      default() {
        return {};
      }
    },
    noIcon: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data() {
    return {
      menu: false,
      date: undefined,
    };
  },
  computed: {
    computedDateFormattedDatefns() {
      return this.date ? format(this.date, 'dddd, MMMM Do YYYY') : '';
    }
  },
  watch: {
    'field.value': function(value) {
      if (dateFormatValid(value)) {
        this.date = value;
      }
    }
  },
  mounted() {
  },
  methods: {
    onChange(value) {
      if (dateFormatValid(value)) {
        this.$emit('change', value);
      }
    },
  },
};
</script>
