<template>
  <v-menu
    ref="menu"
    v-model="menuIsOpen"
    :close-on-content-click="false"
    :return-value.sync="localCustomDate"
    :nudge-left="nudgeLeft"
    :nudge-bottom="nudgeBottom"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template v-slot:activator="{on}">
      <v-text-field
        v-bind="$attrs"
        :class="`dateRangePickerInput ${inputClass} ${invertedSolo ? 'inverted-solo' : ''}`"
        :value="customDateText"
        :prepend-icon="noIcon ? '' : 'mdi-calendar'"
        readonly
        clearable
        v-on="on"
        @click:clear.stop="resetPicker"
      />
    </template>
    <v-date-picker
      class="dateRangePicker"
      multiple
      no-title
      dark
      prev-icon="mdi mdi-chevron-left"
      next-icon="mdi mdi-chevron-right"
      :value="localCustomDate"
      :events="dateHighlight"
      event-color="primary lighten-2"
      @input="handleOnCustomDateChange"
    >
      <v-spacer />
      <v-btn text color="primary" @click="resetPicker">
        Cancel
      </v-btn>
      <v-btn text color="primary" @click="handleOnConformDates">
        OK
      </v-btn>
    </v-date-picker>
  </v-menu>
</template>

<style scoped lang="scss">
.dateRangeMenu {
  min-width: 290px;
}

.dateRangePickerInput {
  :global(.v-input__slot) {
    padding: 0 !important;
  }
}

.dateRangePicker {
  :global(table) {
    overflow: hidden;
  }

  :global(.v-btn--outline) {
    border: none;
  }

  :global(.v-date-picker-table__events) {
    background-color: #525866;
    height: 80%;
    bottom: 3px;
    width: 65px;
    left: -17px;
    z-index: -1;

    :global(.lighten-2) {
      display: none;
    }
  }
}

.inverted-solo {
  :global(.v-input__slot) {
    background-color: var(--global-background-color) !important;
  }
}
</style>

<script>
import {times, sortBy, zipObject} from 'lodash';
import {addDays, closestIndexTo, differenceInDays, isAfter} from 'date-fns';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'DateRangePicker',
  props: {
    inputClass: {
      type: String,
      default: ''
    },
    allowSingleDate: {
      type: Boolean,
      default: false
    },
    setDateOnSelect: {
      type: Boolean,
      default: false
    },
    noIcon: {
      type: Boolean,
      default: false
    },
    nudgeLeft: {
      type: [Number, String],
      default: 52
    },
    nudgeBottom: {
      type: [Number, String],
      default: 8
    },
    invertedSolo: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data() {
    return {
      menuIsOpen: false,
      localCustomDate: [],
      customDateRangeIsOpen: false,
      dateFormat: 'DD-MM-YYYY'
    };
  },
  computed: {
    customDateText() {
      if (this.localCustomDate.length === 1 && this.allowSingleDate) {
        return this.localCustomDate[0];
      } else if (this.localCustomDate.length === 2) {
        const start = this.localCustomDate[0];
        const end = this.localCustomDate[1];
        return `${start} to ${end}`;
      }
      return '';
    },
    dateHighlight() {
      if (this.localCustomDate.length === 2) {
        const offset = -1;
        const range = differenceInDays(this.localCustomDate[1], this.localCustomDate[0]) + offset;
        return times(range, dayIncrement =>
          addDays(this.localCustomDate[0], dayIncrement + 2)
            .toISOString()
            .substr(0, 10)
        );
      }
      return [];
    }
  },
  methods: {
    resetPicker() {
      this.localCustomDate = [];
      this.menuIsOpen = false;
      this.$emit('date-cleared');
    },
    emitDatePicked() {

      // set value if `allowSingleDate` props is true
      if (this.localCustomDate.length === 1 && this.allowSingleDate) {
        const dateFilterObj = zipObject(['start', 'end'], this.localCustomDate);
        this.$emit('date-picked', dateFilterObj);

      } else if (this.localCustomDate.length === 2) {
        const dateFilterObj = zipObject(['start', 'end'], this.localCustomDate);
        this.$emit('date-picked', dateFilterObj);
      }
      // update menu's originalValue, to have the value persist in the input activator
      // noinspection JSPrimitiveTypeWrapperUsage
      this.$refs.menu.originalValue = this.localCustomDate
    },
    // handle date range selection
    handleOnCustomDateChange(selectedDates) {
      if (selectedDates.length <= 2) {
        this.localCustomDate = sortBy(selectedDates);

        // on select third date, replace the date which is closer to newly selected date.
      } else if (selectedDates.length === 3) {
        const fromDate = this.localCustomDate[0];
        const toDate = this.localCustomDate[1];
        const newDate = selectedDates[2];
        const isAfterFromDate = isAfter(newDate, fromDate);
        const isAfterToDate = isAfter(newDate, toDate);

        if (isAfterFromDate && isAfterToDate) {
          this.localCustomDate = [fromDate, newDate];
        } else {
          const closestDateIndex = closestIndexTo(newDate, this.localCustomDate);
          const newRange = [...this.localCustomDate];
          newRange[closestDateIndex] = newDate;

          this.localCustomDate = newRange;
        }
      }

      if (this.setDateOnSelect) {
        this.emitDatePicked()
      }
    },
    handleOnConformDates() {
      this.menuIsOpen = false;

      // if setDateOnSelect is true, don't emit `date-picked` to avoid emitting twice the same value
      if (!this.setDateOnSelect) {
        this.emitDatePicked();
      }
    },
  }
};
</script>
