<template>
  <!--suppress HtmlUnknownAttribute -->
  <div
    v-bind="$attrs"
    v-on="$listeners"
    @click="$emit('change', !active)"
  >
    <!--suppress HtmlUnknownAttribute -->
    <div
      v-ripple="{center: true}"
      class="v-input--selection-controls__ripple"
    />
    <v-icon
      v-if="active"
      class="accent--text"
    >
      mdi-checkbox-marked
    </v-icon>
    <v-icon v-else>
      mdi-checkbox-blank-outline
    </v-icon>
  </div>
</template>
<script>
export default {
  name: 'FakeCheckbox',
  props: {
    active: {
      type: Boolean,
      default: false
    }
  }
};
</script>
