<template>
  <v-dialog
    width="400"
    v-model="dialog"
  >
    <template #activator="{ on }">
      <v-btn
        class="selectionButton"
        color="blue darken-1"
        dark
        outlined
        rounded
        v-on="on"
      >
        <span v-if="customDateText==''"><v-icon>mdi-calendar-month</v-icon> Date</span>
        {{ customDateText }}
      </v-btn>
    </template>
    <v-card
        class="mx-auto"
        height="500px"
      >
      <v-date-picker
          class="dateRangePicker"
          multiple
          no-title
          light
          full-width
          prev-icon="mdi mdi-chevron-left"
          next-icon="mdi mdi-chevron-right"
          :value="localCustomDate"
          :events="dateHighlight"
          event-color="primary lighten-2"
          @input="handleOnCustomDateChange"
      >
        <v-spacer />
        <v-btn text color="primary" @click="resetPicker">
          Cancel
        </v-btn>
        <v-btn text color="primary" @click="handleOnConformDates">
          OK
        </v-btn>
      </v-date-picker>
    </v-card>
  </v-dialog>
</template>

<style scoped lang="scss">
.selectionButton{
  border: 2px #90CAF9 solid;
}
  .dateRangePicker {
    height:500px;

    :global(table) {
      overflow: auto;
    }

    :global(.v-btn--outline) {
      border: none;
    }

    :global(.v-btn){
      width:45px;
      height: 45px;
      border-radius: 2rem;
      margin-bottom: 5px;
      font-size: 15px;
    }

    :global(.v-date-picker-table__events) {
      background-color: #E1F5FE;
      height: 80%;
      bottom: 3px;
      width: 100px;
      left: -25px;
      z-index: -1;      

      :global(.lighten-2) {
        display: none;
      }
    }
  }
</style>

<script>
import {times, sortBy, zipObject} from 'lodash';
import {addDays, closestIndexTo, differenceInDays, isAfter, format} from 'date-fns';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'InvoiceDateFilter',
  props: {
    allowSingleDate: {
      type: Boolean,
      default: false
    },
    setDateOnSelect: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {
      dialog: false,
      localCustomDate: [],
    };
  },
  computed: {
    customDateText() {
      if (this.localCustomDate.length === 1 && this.allowSingleDate) {
        return format(this.localCustomDate[0], 'DD-MMM-YYYY')
      } else if (this.localCustomDate.length === 2) {
        const start = this.localCustomDate[0];
        const end = this.localCustomDate[1];
        return format(start, 'DD-MMM-YYYY')+' TO '+format(end, 'DD-MMM-YYYY')
      }
      return '';
    },
    dateHighlight() {
      if (this.localCustomDate.length === 2) {
        const offset = -1;
        const range = differenceInDays(this.localCustomDate[1], this.localCustomDate[0]) + offset;
        return times(range, dayIncrement =>
          addDays(this.localCustomDate[0], dayIncrement + 2)
            .toISOString()
            .substr(0, 10)
        );
      }
      return [];
    }
  },
  methods: {
    resetPicker() {
      this.localCustomDate = [];
      this.dialog = false;
      this.$emit('date-cleared');
    },
    emitDatePicked() {

      // set value if `allowSingleDate` props is true
      if (this.localCustomDate.length === 1 && this.allowSingleDate) {
        const dateFilterObj = zipObject(['start', 'end'], this.localCustomDate);
        this.$emit('date-picked', dateFilterObj);

      } else if (this.localCustomDate.length === 2) {
        const dateFilterObj = zipObject(['start', 'end'], this.localCustomDate);
        this.$emit('date-picked', dateFilterObj);
      }
    },
    // handle date range selection
    handleOnCustomDateChange(selectedDates) {
      if (selectedDates.length <= 2) {
        this.localCustomDate = sortBy(selectedDates);

        // on select third date, replace the date which is closer to newly selected date.
      } else if (selectedDates.length === 3) {
        const fromDate = this.localCustomDate[0];
        const toDate = this.localCustomDate[1];
        const newDate = selectedDates[2];
        const isAfterFromDate = isAfter(newDate, fromDate);
        const isAfterToDate = isAfter(newDate, toDate);

        if (isAfterFromDate && isAfterToDate) {
          this.localCustomDate = [fromDate, newDate];
        } else {
          const closestDateIndex = closestIndexTo(newDate, this.localCustomDate);
          const newRange = [...this.localCustomDate];
          newRange[closestDateIndex] = newDate;

          this.localCustomDate = newRange;
        }
      }

      if (this.setDateOnSelect) {
        this.emitDatePicked()
      }
    },
    handleOnConformDates() {
      this.dialog = false;

      // if setDateOnSelect is true, don't emit `date-picked` to avoid emitting twice the same value
      if (!this.setDateOnSelect) {
        this.emitDatePicked();
      }
    },
  }
};
</script>
