<template lang="html">
  <v-input
    class="v-text-field money-text-field v-text-field--is-booted"
    :class="isFocus ? 'v-input--is-focused' : ''"
    v-bind="{...$props, ...$attrs}"
    :label="undefined"
  >
    <label
      v-if="label"
      class="v-label pointer-events-none"
      :class="labelIsActive ? 'v-label--active' : ''"
      style="left: 0; right: auto; position: absolute;"
    >
      {{ label }}
    </label>
    <!--suppress HtmlUnknownAttribute, HtmlFormInputWithoutLabel -->
    <input
      ref="input"
      v-currency="{precision, decimal, thousands}"
      :class="classes"
      :style="labelIsActive ? 'opacity: 1;' : 'opacity: 0;'"
      :value="formattedValue || 0"
      v-bind="{...$props, ...$attrs}"
      type="tel"
      @change="change"
      @focusin="focusIn"
      @focusout="focusOut"
      @keypress.enter.stop="$emit('change', value)"
    >
  </v-input>
</template>

<style lang="scss" scoped>
.padding-prefix input {
  padding-left: 8px !important;
}
.money-text-field {
  :global(.v-label) {
    color: #aaaaaa;
    font-weight: 400;
  }
  :global(.v-input__slot) {
    color: #82b1ff;
  }
}
</style>

<script>
import {VMoney} from 'v-money'
import {debounce} from 'lodash';
import {format, unformat, DEFAULT_CURRENCY_OPTIONS} from '../utils/currencyFields';

// noinspection JSUnusedLocalSymbols,JSUnusedGlobalSymbols
export default {
  name: 'Money',
  directives: {
    currency: VMoney
  },
  props: {
    value: {
      required: true,
      type: [Number, String],
      default: 0
    },
    masked: {
      type: Boolean,
      default: false
    },
    precision: {
      type: Number,
      default: () => DEFAULT_CURRENCY_OPTIONS.precision
    },
    decimal: {
      type: String,
      default: () => DEFAULT_CURRENCY_OPTIONS.decimal
    },
    thousands: {
      type: String,
      default: () => DEFAULT_CURRENCY_OPTIONS.thousands
    },
    prefix: {
      type: String,
      default: () => DEFAULT_CURRENCY_OPTIONS.prefix
    },
    suffix: {
      type: String,
      default: () => DEFAULT_CURRENCY_OPTIONS.suffix
    },
    appendOuterIcon: {
      type: String,
      default: undefined,
    },
    appendOuterIconCb: {
      type: Function,
      default: undefined,
    },
    autofocus: {
      type: Boolean,
      default: undefined,
    },
    box: {
      type: Boolean,
      default: undefined,
    },
    browserAutocomplete: {
      type: String,
      default: undefined,
    },
    clearable: {
      type: Boolean,
      default: undefined,
    },
    clearIcon: {
      type: String,
      default: '$vuetify.icons.clear'
    },
    clearIconCb: {
      type: Function,
      default() {},
    },
    color: {
      type: String,
      default: 'primary'
    },
    counter: {
      type: [Boolean, Number, String],
      default: undefined,
    },
    flat: {
      type: Boolean,
      default: undefined,
    },
    fullWidth: {
      type: Boolean,
      default: undefined,
    },
    label: {
      type: String,
      default: undefined,
    },
    outline: {
      type: Boolean,
      default: undefined,
    },
    placeholder: {
      type: String,
      default: undefined,
    },
    prependInnerIcon: {
      type: String,
      default: undefined,
    },
    prependInnerIconCb: {
      type: Function,
      default: undefined,
    },
    reverse: {
      type: Boolean,
      default: undefined,
    },
    singleLine: {
      type: Boolean,
      default: undefined,
    },
    solo: {
      type: Boolean,
      default: undefined,
    },
    soloInverted: {
      type: Boolean,
      default: undefined,
    },
    dark: {
      type: Boolean,
      default: undefined,
    },
    disabled: {
      type: Boolean,
      default: undefined,
    },
    readonly: {
      type: Boolean,
      default: undefined,
    },
    light: {
      type: Boolean,
      default: undefined,
    },
    height: {
      type: String,
      default: undefined,
    },
    backgroundColor: {
      type: String,
      default: undefined,
    },
    hint: {
      type: String,
      default: undefined,
    },
    persistentHint: {
      type: String,
      default: undefined,
    },
    error: {
      type: Boolean,
      default: undefined,
    },
    errorCount: {
      type: [Number, String],
      default: 1
    },
    errorMessages: {
      type: [String, Array],
      default: () => []
    },
    messages: {
      type: [String, Array],
      default: () => []
    },
    rules: {
      type: Array,
      default: () => []
    },
    success: {
      type: Boolean,
      default: false,
    },
    successMessages: {
      type: [String, Array],
      default: () => []
    },
    validateOnBlur: {
      type: Boolean,
      default: false,
    },
    tabindex: {
      type: String,
      default: '',
    }
  },

  data() {
    return {
      isFocus: false,
      formattedValue: '',
      isInputting: false
    };
  },
  computed: {
    classes() {
      const classes = {
        'padding-prefix': this.prefix
      };

      let classString = '';
      for (const key in classes) {
        if (classes[key]) {
          classString += `${key} `;
        }
      }
      return classString;
    },
    labelIsActive() {
      return this.isFocus || this.value || !this.label;
    }
  },
  watch: {
    value: {
      immediate: true,
      handler(newValue, oldValue) {
        const formatted = format(newValue, this.$props);
        if (formatted !== this.formattedValue) {
          this.formattedValue = formatted;
          if (this.$refs.input) {
            this.$refs.input.value = this.formattedValue;
          }
        }
      }
    }
  },

  methods: {
    focusIn() {
      this.isFocus = true;
    },
    focusOut() {
      this.isFocus = false;
    },
    change(event) {
      const newValue = event.target.value;

      if (this.formattedValue !== newValue) {
        this.formattedValue = newValue;

        if (this.disabled || this.readonly) {
          this.debouncedInput(newValue);
        } else {
          this.$emit('input', this.masked ? newValue : unformat(newValue, this.precision));
        }
      }
    },
    debouncedInput: debounce(function(newValue) {
      this.$emit('input', this.masked ? newValue : unformat(newValue, this.precision));
    }, 500)
  }
};
</script>
