<template>
  <Money
    :value="value || field.value"
    :error="field.error"
    :success="field.valid"
    :messages="messages"
    :label="field.label || $attrs.label"
    maxlength="22"
    v-bind="$attrs"
    @input="handleOnInput"
  />
</template>

<script>
import {get} from 'lodash';
import Money from './Money';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'MoneyInput',
  components: {Money},
  props: {
    field: {
      type: Object,
      default() {
        return {
          $listeners() {
            return {};
          }
        };
      }
    },
    value: {
      type: [Number, String],
      default: 0
    }
  },
  computed: {
    messages() {
      if (this.field.error) {
        return this.field.errorMessages;
      } else if (this.field.valid) {
        return this.field.successMessages;
      }

      return [];
    },
    fieldListener() {
      return this.field.$listeners();
    }
  },
  methods: {
    handleOnInput(e) {
      const inputFn = this.fieldListener.input;
      const changeFn = this.fieldListener.change;
      const localInputFn = get(this.$listeners, 'input');
      const localChangeFn = get(this.$listeners, 'change');

      inputFn && inputFn(e);
      localInputFn && localInputFn(e);

      changeFn && changeFn(e);
      localChangeFn && localChangeFn(e);
    }
  }
};
</script>
