<template>
  <div class="pagination-container">
    <v-select
      v-model="limit"
      :items="pageLimits"
      item-text="text"
      item-value="value"
      @input="$emit('page-limit-change', limit)"
    />
    <v-pagination
      v-model="page"
      v-bind="$attrs"
      :length="totalPages"
      :value="value"
      @input="$emit('input', page)"
    />
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      required: true
    },
    pageLimits: {
      type: Array,
      required: true
    },
    totalPages: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      page: 1,
      limit: 10
    };
  },
  created() {
    this.limit = this.pageLimits[0].value;
  }
};
</script>

<style scoped>
.pagination-container {
  display: flex;
  width: 400px;
  margin: auto;
}
</style>
