<template>
  <v-flex layout class="pt-3">
    <div class="pagination-container">
      <!--TODO: give pageLimit list-->
      <v-select
        :value="query.limit"
        :items="pageLimits"
        class="page-limit-selector"
        item-text="text"
        item-value="value"
        hide-details
        @input="handleOnPageLimitChange"
      />
      <v-pagination
        class="v-pagination-selector"
        :value="query.page"
        :length="paginationLength"
        :total-visible="7"
        v-bind="$attrs"
        @input="handleOnPageChange"
      />
    </div>
  </v-flex>
</template>

<style lang="scss" scoped>
.pagination-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: flex-end;
}

.v-pagination-selector {
  align-self: center;
  position: absolute;
  left: calc(50% - 200px);
  display: flex;
  width: 400px;
  justify-content: center;
}

.page-limit-selector {
  align-self: flex-start;
  max-width: 200px;
  padding: 0;
  margin: 0;
}
</style>

<script>
import {pageLimits} from '../consts/apiRequest';
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'QueryPagination',
  props: {
    query: {
      type: Object,
      default() {
        return {};
      }
    },
    total: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      pageLimits,
    };
  },
  computed: {
    paginationLength() {
      if (!this.total || !this.query.limit) {
        return 1;
      }

      return Math.ceil(this.total / this.query.limit);
    }
  },
  methods: {
    handleOnPageLimitChange(limit) {
      let page = this.query.page;
      const lastPage = Math.ceil(this.total / limit);

      // if current page is more than the new possible last page
      // set page to the lastPage
      if (page > lastPage) {
        page = lastPage;
      }

      this.$emit('input', {limit, page});
    },
    handleOnPageChange(page) {
      this.$emit('input', {page, limit: this.query.limit});
    }
  }
};
</script>
