<template>
  <v-card v-bind="$attrs" :class="`v-rounded-card ${darkBg ? 'dark-bg' : ''}`" flat v-on="$listeners">
    <slot />
  </v-card>
</template>
<style lang="scss" scoped>
.v-rounded-card {
  border-radius: 15px;
}
.dark-bg {
  background-color: var(--inverted-solo-color) !important;
}
 </style>
<script>
export default {
  name: 'RoundedCard',
  props: {
    darkBg: {
      type: Boolean,
      default: false,
    }
  }
};
</script>
