<template>
  <router-link :to="to" class="link" :class="ellipsis ? 'ellipsis' : ''" v-bind="$attrs">
    <AnyTag :tag="tag">
      <slot />
    </AnyTag>
  </router-link>
</template>

<script>
import AnyTag from './AnyTag';

export default {
  name: 'RouteLink',
  components: {AnyTag},
  props: {
    to: {
      type: String,
      require: true
    },
    tag: {
      type: String,
      default: 'span'
    },
    ellipsis: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
.link {
  display: block;
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:global(.ellipsis) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
</style>
