<template>
  <v-text-field
    v-model="searchText"
    :label="label"
    :value="value"
    @input="$emit('input', searchText)"
    @keyup.enter="$emit('keyup')"
  >
    <!--suppress HtmlUnknownBooleanAttribute -->
    <template v-slot:append-outer>
      <v-btn
        color="info"
        @click="$emit('search-button-clicked')"
      >
        <v-icon>mdi-magnify</v-icon>
        Search
      </v-btn>
    </template>
  </v-text-field>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      searchText: ''
    };
  }
};
</script>
