<template>
  <v-select
    :value="$attrs.value || field.value"
    :error="field.error"
    :success="field.valid"
    :messages="messages"
    :label="field.label"
    v-bind="$attrs"
    v-on="{...field.$listeners(), ...$listeners}"
  />
</template>

<script>
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'Selects',
  props: {
    field: {
      type: Object,
      required: true
    }
  },
  computed: {
    messages() {
      if (this.field.error) {
        return this.field.errorMessages;
      } else if (this.field.valid) {
        return this.field.successMessages;
      }

      return [];
    }
  }
};
</script>
