<template>
  <v-snackbar
    :value="show"
    :color="color"
    :bottom="y === 'bottom'"
    :left="x === 'left'"
    :multi-line="mode === 'multi-line'"
    :right="x === 'right'"
    :timeout="timeout"
    :top="y === 'top'"
    :vertical="mode === 'vertical'"
    @input="change"
  >
    {{ message }}

    <CoreButton v-if="closeBtn" text @click="show = false">
      Close
    </CoreButton>
  </v-snackbar>
</template>

<script>
import {delay} from '../utils';

export default {
  name: 'SnackBar',
  props: {
    y: {
      type: String,
      default: 'top'
    },
    x: {
      type: String,
      default: 'right'
    },
    timeout: {
      type: Number,
      default: 3000
    },
    mode: {
      type: String,
      default: ''
    },
    color: {
      type: String,
      default: ''
    },
    message: {
      type: String,
      default: ''
    },
    closeBtn: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      show: false
    };
  },
  mounted() {
    this.show = true;
  },
  methods: {
    async change() {
      await delay(1200);
      // this.$destroy()
    }
  }
};
</script>
