<template>
  <!-- Header with tooltip -->
  <v-tooltip
    v-if="column.tooltip"
    :top="!column.tooltip.bottom"
    v-bind="tooltipProps"
  >
    <template v-slot:activator="{on}">
      <slot
        :name="`${column.value}-header`"
        :class="headerCSSClasses"
        @mouseover="onMouseOver"
        @mouseleave="hovered = false"
        v-bind="column"
        v-on="on"
      >
        <span class="tableHeader">
          <template v-if="sortableRightAlignedColumn(column)">
            <v-icon
              v-if="!sortDesc"
              small
            >
              mdi-arrow-up
            </v-icon>
            <v-icon
              v-else
              small
            >
              mdi-arrow-down
            </v-icon>
          </template>
          {{ column.text }}
          <template v-if="sortableLeftAlignedColumn(column)">
            <v-icon
              v-if="!sortDesc"
              small
            >
              mdi-arrow-up
            </v-icon>
            <v-icon
              v-else
              small
            >
              mdi-arrow-down
            </v-icon>
          </template>
        </span>
      </slot>
    </template>
    <span v-if="column.tooltip.message">
      {{ column.tooltip.message }}
    </span>
  </v-tooltip>

  <!-- Header Default -->
  <span
    v-else
    class="tableHeader"
    :class="headerCSSClasses"
    @mouseover="onMouseOver"
    @mouseleave="hovered = false"
  >
    <slot
      :name="`${column.value}-header`"
      v-bind="column"
    >
      <v-icon
        v-if="sortableRightAlignedColumn(column)"
        class="sortIcon"
        :class="sortDesc ? 'isDesc' : ''"
        small
      >
        mdi-arrow-up
      </v-icon>
      {{ column.text }}
      <v-icon
        v-if="sortableLeftAlignedColumn(column)"
        class="sortIcon"
        :class="sortDesc ? 'isDesc' : ''"
        small
      >
        mdi-arrow-up
      </v-icon>
    </slot>
  </span>
</template>

<style lang="scss" scoped>
  .tableHeader {
    white-space: nowrap;

    &:hover :global(.sortIcon) {
      opacity: 1;
    }
  }

  .clickableTableHeader:hover {
    cursor: pointer;
  }

  .tableHeaderActive {
    color: rgba(0,0,0, 0.87);

    :global(.sortIcon) {
      opacity: 1;
    }
  }

  .sortIcon {
    opacity: 0;
    transition: opacity 0.5s ease;
    will-change: transform, opacity;

    &:global(.isDesc) {
      transform: rotate(180deg);
    }
  }
</style>

<script>
import {omit} from 'lodash';

export default {
  name: 'TableHeader',
  props: {
    column: {
      type: Object,
      required: true,
      validator: function(column) {
        if (['index', 'expand'].indexOf(column.type) > -1) {
          return true;
        }

        // must have column.value
        return !!column.value;
      }
    },
    sortBy: {
      type: String,
      default: '',
    },
    sortDesc: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      hovered: false,
    };
  },
  computed: {
    tooltipProps() {
      const props = omit(this.column.tooltip, ['message']);

      if (!props.color) {
        props.color = 'grey lighten-4 black--text';
      }

      if (!props.closeDelay) {
        props.closeDelay = 500;
      }

      return props;
    },
    headerActive() {
      return this.column.value === this.sortBy
    },
    headerCSSClasses() {
      return {
        'clickableTableHeader': this.column.sortable,
        'tableHeaderActive': this.headerActive,
      }
    },
  },
  methods: {
    onMouseOver() {
      if (this.column.sortable) {
        this.hovered = true
      }
    },
    sortableRightAlignedColumn(column) {
      return column.sortable && column.align === 'right'
    },
    sortableLeftAlignedColumn(column) {
      return column.sortable && column.align !== 'right'
    },
  },
};
</script>
