<template>
  <AnyTag v-bind="$attrs" :loading="isLoading" color="neutral" inner-color="dark" depressed @click="downloadExcel" :tag="tag">
    <slot>
      <v-icon>mdi-download</v-icon>
      Export
    </slot>
  </AnyTag>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'TableExportExcelButton',
  props: {
    tag: {
      type: String,
      default: 'CoreButton',
    },
    getExcelData: {
      type: Function,
      required: true
    },
    filename: {
      type: String,
      default: 'excel.xlsx'
    }
  },
  data() {
    return {
      isLoading: false,
    }
  },
  methods: {
    async downloadExcel() {
      this.isLoading = true
      const list = await this.getExcelData();
      const {exportJSONToExcel} = await import('../utils/exportExcel');

      await exportJSONToExcel({
        data: list,
        filename: this.filename,
        autoWidth: true
      });
      this.isLoading = false
    }
  }
};
</script>
