<template>
  <v-data-table
    ref="dataTable"
    v-resize="handleOnTableResize"
    class="tableList"
    :headers="headerList"
    :items="list"
    :server-items-length="tableProp.total || list.length"
    :loading="loading"
    :class="computedTableClass"
    :options="tableProp"
    :sort-by="sortBy"
    :sort-desc="descending"
    :expanded="localExpanded"
    v-bind="$attrs"
    hide-default-header
    hide-default-footer
    v-on="$listeners"
  >
    <!-- Headers -->
    <template v-slot:header="{ props, on }">
      <thead>
        <tr>
          <th
            v-if="selectableRows"
            :style="{
              maxWidth: '32px',
              width: '32px',
              paddingRight: 0,
            }"
          >
            <v-checkbox
              :input-value="toggleAllSelect"
              :indeterminate="indeterminateSelection"
              class="my-0"
              primary
              hide-details
              @click.stop="selectAllRows(on)"
            />
          </th>
          <template v-for="header in headerList">
            <th
              v-if="shouldDisplayColumn(header)"
              :key="header.value"
              :class="getHeaderClass(header)"
              class="column"
              :style="{
                width: header.width,
                minWidth: header.minWidth
              }"
              @click="changeSort(header)"
            >
              <!-- Pass all extra slots to `TableHeader` -->
              <!--suppress JSUnusedLocalSymbols -->
              <TableHeader
                :column="header"
                :sort-by="sortBy"
                :sort-desc="descending"
              >
                <template
                  v-for="(_, slot) of $scopedSlots"
                  v-slot:[slot]="scope"
                >
                  <slot :name="slot" v-bind="scope" />
                </template>
              </TableHeader>
            </th>
          </template>
        </tr>
      </thead>
    </template>

    <!-- Progress Bar -->
    <v-progress-linear slot="progress" color="blue" indeterminate height="3"/>

    <!-- No Data -->
    <template slot="no-data">
      <slot v-if="loading" name="loading">
        <div class="text-center">
          Loading...
        </div>
      </slot>
      <slot v-else name="no-data">
        <div class="text-center">
          No Data.
        </div>
      </slot>
    </template>

    <!-- Data Items -->
    <template slot="item" slot-scope="props">
      <tr
        :active="props.isSelected"
        v-bind="getTrAttrs(props)"
        @dblclick="onRowDoubleClick($event, props)"
        @click="onRowClick($event, props)"
      >
        <td
          v-if="selectableRows"
          :style="{
            maxWidth: '32px',
            width: '32px',
            paddingRight: 0,
          }"
        >
          <!-- suppress JSUnresolvedVariable -->
          <v-checkbox
            :input-value="props.isSelected"
            class="my-0"
            primary
            hide-details
            @click.native.stop="onRowSelection($event, props)"
          />
        </td>
        <template v-for="(column, index) in columns">
          <!-- suppress JSUnresolvedVariable -->
          <td
            v-if="shouldDisplayColumn(column)"
            :key="`${column.value}-${index}`"
            :class="getColumnClass(column)"
            :align="column.align"
            @click="onColumnClick($event, props, column)"
          >
            <slot :name="column.value" v-bind="props">
              <TableColumn
                :column="column"
                :props="props"
                :column-width="getColumnWidth(column.width)"
                :table-prop="tableProp"
              >
                <!-- Pass all extra slots to `TableColumn` -->
                <!-- suppress JSUnusedLocalSymbols -->
                <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
                  <slot :name="slot" v-bind="scope" />
                </template>
              </TableColumn>
            </slot>
          </td>
        </template>
        <td
          v-if="$scopedSlots.actions"
          :class="getColumnClass(actionColumn)"
          :align="actionColumn.align"
        >
          <slot name="actions" v-bind="props" />
        </td>
      </tr>
    </template>

    <!-- Expand -->
    <template slot="expanded-item" slot-scope="props">
      <tr class="v-data-table__expand-content">
        <td :colspan="headerList.length" class="px-0">
          <slot name="expand" v-bind="props"/>
        </td>
      </tr>
    </template>

    <!-- Footer -->
    <template v-if="$scopedSlots.footer" slot="body.append">
      <v-expand-transition>
        <tr>
          <td v-if="selectableRows" />
          <slot name="footer" />
          <td v-if="$scopedSlots.actions" />
        </tr>
      </v-expand-transition>
    </template>

    <!-- Pass all extra slots to `v-data-table` -->
    <!--suppress JSUnusedLocalSymbols -->
    <template
      v-for="(_, slot) of $scopedSlots"
      v-slot:[slot]="scope"
    >
      <slot v-if="slot !== 'footer'" :name="slot" v-bind="scope" />
    </template>
  </v-data-table>
</template>

<style lang="scss" scoped>
  .v-data-table td{
    padding: 0 10px;
  }
.tableList {
  &:not(.loading) {
    :global(.v-datatable__progress) {
      display: none;
    }
  }
}

.compactTable {
  :global(.v-table) {
    :global(thead th),
    :global(tbody td) {
      height: auto;
    }

    :global(thead tr) {
      height: 40px;
    }
  }
}
.compact-table-header {
  padding: 10px !important;
}
</style>

<script>
import {debounce} from 'lodash';
import TableColumn from './TableColumn';
import TableHeader from './TableHeader';
import {hasValue} from '../utils/array';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'TableList',
  components: {TableHeader, TableColumn},
  props: {
    // Vue 3.0 will include class and style in $attrs, ref: https://github.com/vuejs/vue/issues/6144
    tableClass: {
      type: String,
      default: ''
    },
    list: {
      type: Array,
      default() {
        return [];
      }
    },
    columns: {
      type: Array,
      default() {
        return [];
      }
    },
    elevation: {
      type: [String, Number],
      default: 2
    },
    rowAttrs: {
      type: [Object, Function],
      default() {
        return {};
      }
    },
    // Static columns will be excluded from being filter out by `selectedColumns`
    staticColumns: {
      type: Array,
      default() {
        return ['actions'];
      }
    },
    actionColumn: {
      type: Object,
      default() {
        return {
          text: 'Actions',
          value: 'actions',
          align: 'center',
          width: '80px'
        };
      }
    },
    loading: {
      type: Boolean,
      default: false
    },
    tableProp: {
      type: Object,
      default() {
        return {
          limit: -1,
          sortBy: '',
          descending: false,
          total: undefined
        };
      }
    },
    // enable this to enable selected columns
    hasFilterColumns: {
      type: Boolean,
      default: false
    },
    selectedColumns: {
      type: Array,
      default() {
        return [];
      }
    },
    selectableRows: {
      type: Boolean,
      default: false
    },
    selectedRows: {
      type: Object,
      default() {
        return {};
      }
    },

    headerClass: {
      default: ''
    },

    columnClass: {
      default: ''
    },
    compact: {
      type: Boolean,
      default: false
    },
    border: {
      type: Boolean,
      default: false
    },
    expandAllByDefault: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {
      sortBy: undefined,
      descending: undefined,

      localExpanded: [],

      tableWidth: 0,
      toggleAllSelect: false,

      sortTypeComparators: {
        currency: isDesc => {
          if (isDesc) {
            return (a, b) => parseFloat(b) - parseFloat(a);
          } else {
            return (a, b) => parseFloat(a) - parseFloat(b);
          }
        },
        float: isDesc => {
          if (isDesc) {
            return (a, b) => parseFloat(b) - parseFloat(a);
          } else {
            return (a, b) => parseFloat(a) - parseFloat(b);
          }
        },
        date: isDesc => (a, b) => {
          const dateA = new Date(a);
          const dateB = new Date(b);
          if (dateA < dateB) {
            return !isDesc ? -1 : 1;
          }
          if (dateA > dateB) {
            return !isDesc ? 1 : -1;
          }
          return 0;
        },
        default: isDesc => (a, b) => {
          if (a < b) {
            return !isDesc ? -1 : 1;
          }
          if (a > b) {
            return !isDesc ? 1 : -1;
          }
          return 0;
        }
      }
    };
  },
  computed: {
    // after enable this, need to add column of type `expand`
    expandableHandle() {
      return hasValue(this.columns, 'type', 'expand');
    },
    computedTableClass() {
      return {
        [this.tableClass]: !!this.tableClass,
        [`elevation-${this.elevation}`]: !!this.elevation,
        compactTable: this.compact,
        border: this.border,
        loading: this.loading
      };
    },
    getColumnWidth() {
      const windowWidth = this.tableWidth;
      return function(width) {
        // is percent
        if (typeof width === 'string' && width.indexOf('%') > -1) {
          const percent = parseInt(width);

          return `${(windowWidth / 100) * percent}px`;
        }

        return width;
      };
    },
    headerList() {
      if (this.$scopedSlots.actions) {
        return [...this.columns, this.actionColumn];
      }

      return this.columns;
    },
    indeterminateSelection() {
      let indeterminate = false;
      for (const key in this.selectedRows) {
        // noinspection JSUnfilteredForInLoop
        const value = this.selectedRows[key];
        if (value) {
          indeterminate = true;
          break
        }
      }
      return indeterminate && !this.toggleAllSelect
    },
  },
  watch: {
    list() {
      // this.expandAllRows();

      // update table resize
      this.handleOnTableResize();
    },
    expanded(newList) {
      this.localExpanded = newList;
    },
    tableProp(newProps) {
      if (Array.isArray(newProps.sortBy)) {
        this.sortBy = newProps.sortBy[0]
        this.descending = newProps.sortDesc[0]
      } else {
        this.sortBy = newProps.sortBy
        this.descending = newProps.sortDesc
      }
    }
  },
  mounted() {
    // this.expandAllRows();

    // on init, update tableWidth
    const table = this.$refs.dataTable.$el;
    this.tableWidth = table.clientWidth;
  },
  methods: {
    headerSlotName(header) {
      return `header.${header.value}`
    },
    handleOnTableResize: debounce(function() {
      try {
        const table = this.$refs.dataTable.$el;

        this.tableWidth = table.clientWidth;
      } catch (e) {
        console.warn(e);
      }
    }, 100),
    /*expandAllRows() {
      if (!this.expandAllByDefault) {
        return false;
      }
      const expanded = []
      each(this.list, item => {
        expanded.push(item)
      });
      this.expandedRows = expanded
    },*/
    getTrAttrs(props) {
      if (typeof this.rowAttrs === 'function') {
        return this.rowAttrs(props);
      } else if (typeof this.rowAttrs === 'object') {
        return this.rowAttrs;
      }
    },
    onRowClick(event, props) {
      if (!this.expandableHandle && this.$scopedSlots.expand) {
        props.isExpanded = !props.isExpanded;
        props.expand(props.isExpanded);

        this.$emit('expanded', props.isExpanded, props);
      }

      this.$emit('row-click', props, event);
    },
    onRowDoubleClick(event, props) {
      this.$emit('row-double-click', props, event);
    },
    onColumnClick(event, props, column) {
      if (this.expandableHandle && column.type === 'expand') {
        props.isExpanded = !props.isExpanded;
        props.expand(props.isExpanded);

        this.$emit('expanded', props.isExpanded, props);
      }

      this.$emit('column-click', column, props, event);
    },
    getHeaderClass(column) {
      const headerClass = this.headerClass;
      const columnHeaderClass = column.headerClass;

      const customClasses = typeof headerClass === 'function' ? headerClass(column) : '';
      const columnCustomClasses =
        typeof columnHeaderClass === 'function' ? columnHeaderClass(column) : '';

      return {
        [`text-${column.align}`]: column.align,
        'compact-table-header': this.compact,
        sortable: column.sortable,

        // custom class
        [headerClass]: typeof headerClass === 'string',
        [customClasses]: customClasses,
        ...(typeof headerClass === 'object' && !Array.isArray(headerClass) ? headerClass : {}),

        // custom column headerClass
        [columnHeaderClass]: typeof columnHeaderClass === 'string',
        [columnCustomClasses]: columnCustomClasses,
        ...(typeof columnHeaderClass === 'object' && !Array.isArray(columnHeaderClass)
          ? columnHeaderClass
          : {})
      };
    },
    getColumnClass(column) {
      const columnClass = this.columnClass;
      const customClasses = typeof columnClass === 'function' ? columnClass(column) : '';

      return {
        [`text-${column.align}`]: column.align,
        [column.class]: column.class,
        'p-2': this.compact,

        // custom class
        [columnClass]: typeof columnClass === 'string',
        [customClasses]: customClasses,
        ...(typeof columnClass === 'object' && !Array.isArray(columnClass) ? columnClass : {})
      };
    },
    shouldDisplayColumn(header) {
      // types of header that won't be filtered
      if (['expand', 'actions', 'index'].includes(header.type)) {
        return true;
      }

      /**
       * staticColumns will always be displayed, cannot be filtered out
       */
      if (!this.hasFilterColumns || this.staticColumns.indexOf(header.value) > -1) {
        return true;
      }

      return this.selectedColumns.indexOf(header.value) > -1;
    },
    changeSort(header) {
      if (!header.sortable) {
        return false
      }
      this.descending = (this.descending !== undefined) ? !this.descending : false;
      let sortOrder = this.descending ? 'DESC' : 'ASC';
      // New column to be sorted by
      if (header.value !== this.sortBy) {
        this.descending = false;
        sortOrder = 'ASC'
      }
      this.sortBy = header.value;
      const newQuery = {
        sort: this.sortBy,
        order: sortOrder,
      };

      // Server side pagination enabled
      if (this.tableProp.rowsPerPage === -1) {
        this.$emit('change-sort', {}, newQuery);
      } else {
        // Front end sorting
        const sortedList = [...this.list];
        const isDesc = newQuery.order === 'DESC';
        sortedList.sort((a, b) => {
          const valueA = a[header.value];
          const valueB = b[header.value];
          let comparatorKey = header.type ? header.type : 'default';
          if (!this.sortTypeComparators[comparatorKey]) {
            comparatorKey = 'default'
          }
          if (header.customSort) {
            return header.customSort(isDesc)(valueA, valueB);
          }
          return this.sortTypeComparators[comparatorKey](isDesc)(valueA, valueB);
        });
        this.$emit('change-sort', header, newQuery, sortedList);
      }
    },
    onRowSelection(event, props) {
      if (!this.$attrs['item-key']) {
        throw new Error('`selectable-rows` requires `item-key` to work.');
      }
      this.toggleAllSelect = false;
      const itemKey = this.$attrs['item-key'];
      const selected = {...this.selectedRows};
      const key = props.item[itemKey];
      if (selected.hasOwnProperty(key)) {
        selected[key] = !selected[key];
      } else {
        selected[key] = true;
      }
      this.$emit('row-selected', selected);
    },
    selectAllRows(onProp) {
      if (!this.$attrs['item-key']) {
        throw new Error('`selectable-rows` requires `item-key` to work.');
      }
      const itemKey = this.$attrs['item-key'];

      this.toggleAllSelect = !this.toggleAllSelect;
      const selected = {};
      for (let i = 0; i < this.list.length; i++) {
        const item = this.list[i];
        const key = item[itemKey];
        selected[key] = this.toggleAllSelect;
      }
      this.$emit('row-selected', selected);
      onProp['toggle-select-all'](this.toggleAllSelect)
    }
  }
};
</script>
