<template>
  <div>
    <v-icon v-if="expanded">
      mdi-chevron-down
    </v-icon>
    <v-icon v-else>
      mdi-chevron-right
    </v-icon>
  </div>
</template>
<script>
export default {
  name: 'TableExpandColumn',
  props: {
    expanded: {
      type: Boolean,
      default: false
    }
  }
};
</script>
