<template>
  <AnyTag
    :tag="column.tag || defaultTag[column.type] || 'span'"
    :title="getValue"
    :class="getColumnClass"
    :style="getColumnStyle"
    class="position-relative"
  >
    <!--With tooltip-->
    <v-tooltip v-if="column.columnTooltip" :top="!column.tooltip.bottom" v-bind="tooltipProps">
      <template slot="activator">
        <slot :name="`${column.value || column.type}-content`" v-bind="props">
          <!-- column display, if just change in value display, just add in `displayValue` -->
          <template v-if="column.type === 'expand'">
            <TableExpandColumn :expanded="props.isExpanded" />
          </template>
          <template v-else>
            {{ displayValue }}
          </template>
        </slot>
      </template>
      <span v-if="typeof column.columnTooltip.message === 'function'">
        {{ column.columnTooltip.message(props) }}
      </span>
      <span v-if="typeof column.columnTooltip.message === 'string'">
        {{ column.columnTooltip.message }}
      </span>
    </v-tooltip>

    <!--Without tooltip-->
    <template v-else>
      <slot :name="`${column.value || column.type}-content`" v-bind="props">
        <!-- column display, if just change in value display, just add in `displayValue` -->
        <template v-if="column.type === 'expand'">
          <TableExpandColumn :expanded="props.isExpanded" />
        </template>
        <template v-else>
          {{ displayValue }}
        </template>
      </slot>
    </template>
  </AnyTag>
</template>
<script>
import {get, omit} from 'lodash';
import AnyTag from './AnyTag';
import TableExpandColumn from './TableExpandColumn';
import {date} from '../filters/datetime';
import {toCurrencyValue} from '../filters/numbers';
import {isCurrency} from '../utils/numbers';

export default {
  name: 'TableColumn',
  components: {TableExpandColumn, AnyTag},
  props: {
    column: {
      type: Object,
      required: true,
      validator: function(column) {
        if (['index', 'expand'].indexOf(column.type) > -1) {
          return true;
        }

        // must have column.value
        return !!column.value;
      }
    },
    columnWidth: {
      type: String,
      default: undefined
    },
    props: {
      type: Object,
      default() {
        return {};
      }
    },
    tableProp: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  data() {
    return {
      defaultTag: {
        date: 'span',
        currency: 'h5',
        singleLine: 'span'
      }
    };
  },
  computed: {
    getColumnClass() {
      return {
        [`${this.column.value}-column`]: this.column.value,
        [this.column.class]: this.column.class,
        'text-nowrap': this.column.type === 'date',
        'm-0 text-nowrap': this.column.type === 'currency',
        'color-danger': this.column.type === 'currency' && this.getValue < 0,
        'd-block text-truncate': this.column.type === 'singleLine'
      };
    },
    getColumnStyle() {
      const computedStyle = this.column.computedStyle
      return {
        ...(computedStyle) ? computedStyle(this.props.item) : {},
        width: this.columnWidth,
        minWidth: this.column.minWidth,
        maxWidth: this.column.maxWidth
      };
    },
    getValue() {
      if (typeof this.column.formatter === 'function') {
        return this.column.formatter(this.props.item);
      }

      return get(this.props.item, this.column.value);
    },
    displayValue() {
      switch (this.column.type) {
        case 'index':
          return this.props.index + (this.tableProp.from || 1);
        case 'date':
          return date(this.getValue) || '-';
        case 'currency':
          const value = this.getValue;
          return isCurrency(value) ? toCurrencyValue(value) : value;
        default:
          return this.getValue;
      }
    },
    tooltipProps() {
      const props = omit(this.column.columnTooltip, ['message']);

      if (!props.color) {
        props.color = 'grey lighten-4 black--text';
      }

      if (!props.closeDelay) {
        props.closeDelay = 500;
      }

      return props;
    }
  }
};
</script>
