<template>
  <span
    :class="textClass"
    class="text"
  >
    <span class="blurEffect">
      <slot />
    </span>
    <span>
      <slot />
    </span>
  </span>
</template>

<style lang="scss" scoped>
  .text {
    position: relative;

    &:global(.alwaysHover .blurEffect) {
      opacity: 0.5;
    }

    &:hover:global(.hoverGlow .blurEffect) {
      opacity: 0.5;
    }
  }

  .blurEffect {
    position: absolute;
    filter: saturate(1.1) blur(3px);
    transition: opacity ease 300ms;
    opacity: 0;
  }
</style>

<script>
export default {
  name: 'TextGlow',
  props: {
    onlyHover: {
      type: Boolean,
      default: false
    },
    noWrap: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    textClass() {
      return {
        hoverGlow: this.onlyHover,
        alwaysHover: !this.onlyHover,
        'text-nowrap': this.noWrap,
      }
    }
  },
};
</script>
