<template>
  <v-textarea
    v-if="isTextArea"
    :value="$attrs.value || field.value"
    :error-messages="errorMessages"
    :success-messages="field.successMessages || $attrs['success-messages']"
    :placeholder="field.placeholder"
    :label="$attrs.label || field.label"
    type="text"
    :is-dirty="field.dirty"
    v-bind="$attrs"
    v-on="{...field.$listeners(), ...$listeners}"
  />
  <v-text-field
    v-else
    :value="$attrs.value || field.value"
    :error-messages="errorMessages"
    :success-messages="field.successMessages || $attrs['success-messages']"
    :placeholder="field.placeholder"
    :label="$attrs.label || field.label"
    :type="field.type"
    :is-dirty="field.dirty"
    v-bind="$attrs"
    v-on="{...field.$listeners(), ...$listeners}"
  />
</template>
<script>
export default {
  name: 'TextField',
  props: {
    field: {
      type: Object,
      default() {
        return {
          $listeners() {
            return {};
          }
        };
      }
    }
  },
  computed: {
    isTextArea() {
      return this.field.type === 'textarea';
    },
    errorMessages() {
      if (this.$attrs['error-messages']) {
        return this.$attrs['error-messages'];
      } else if (!Array.isArray(this.field.errorMessages)) {
        return []
      }

      return this.field.errorMessages;
    }
  }
};
</script>
