@import "./variables";

//$mdi-css-prefix: "mdi";
//$mdi-font-path: "../../node_modules/@mdi/font/fonts";

//@import "../../node_modules/vuetify/src/styles/main";
//@import "../../node_modules/@mdi/font/scss/materialdesignicons.scss";

// Copy from https://github.com/creativetimofficial/vuetify-material-dashboard
@import "material-dashboard/mixins";
//@import "material-dashboard/variables";
//@import "material-dashboard/typography";
//@import "material-dashboard/inputs";

@import "./bootstrap";
@import "./transition";
@import "./btn";
@import "./fonts";
@import "./colors";
@import "./animation";


// app global background color
.theme--light.v-application {
  background-color: var(--global-background-color) !important;
}

.mobileApp .v-snack--top {
  bottom: 72px !important;
  top: auto !important;
}


body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  font-size: 14px !important;
  box-sizing: border-box;
}

#app {
  //height: 100%;
}

.padding-content {
  padding: 4px 0;
}

.pointer {
  cursor: pointer;
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.mx--3 {
  margin-left: -1em;
  margin-right: -1em;
}

.mx--2 {
  margin-left: -0.5em;
  margin-right: -0.5em;
}

.mx--1 {
  margin-left: -0.25em;
  margin-right: -0.25em;
}

.pointer-events-none {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-no-drop {
  cursor: no-drop;
}

.min-w-100 {
  min-width: 100% !important;
}

.min-h-100 {
  min-height: 100% !important;
}
