<template>
  <v-container
    fluid
    pt-0
  >
    <RoundedCard>
      <v-row
        class="pa-4 align-center"
        no-gutters
      >
        <v-row
          class="mr-3"
          no-gutters
        >
          <SearchToolbar
            placeholder="Cert no, Invoice no, Project's name"
            @search-input="handleOnSearch"
          />
        </v-row>
        <TableExportExcelButton
          :get-excel-data="getExcelData"
          :filename="excelName"
        />
      </v-row>
      <InvoiceReportListTable />
    </RoundedCard>
  </v-container>
</template>

<style lang="scss" scoped>
  .filterBySelect {
    flex: 0 0 220px;
  }
</style>

<script>
import {debounce, transform} from 'lodash';
import InvoiceReportListTable from './components/InvoiceReportListTable';
import {invoiceReports} from './stores/invoiceReports';
import {apiErrorNotification} from '../../utils/request';
import {datetimeShort} from '@nixel/base/filters/datetime';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'InvoiceReportList',
  components: {
    InvoiceReportListTable,
  },
  data() {
    return {
      filterBy: 'filter',
      filterByList: [
        {
          text: 'Filter by Client',
          value: 'filter',
          placeholder: '',
        },
        {
          text: 'Filter by Invoices',
          value: 'invoice_filter',
          placeholder: 'Cert no, Invoice no, Project\'s name',
        },
      ],
      searchString: '',
    }
  },
  computed: {
    selectedFilterBy() {
      return this.filterByList.find(filter => filter.value === this.filterBy)
    },
    excelName() {
      return `invoice_reports_${datetimeShort(new Date())}.xlsx`;
    },
    filters() {
      return transform(this.filterByList, (list, filter) => {
        if (this.filterBy === filter.value) {
          list[filter.value] = this.searchString;
        } else {
          list[filter.value] = ''
        }
      }, {})
    }
  },
  mounted() {
    this.fetchData();
  },
  beforeRouteLeave(to, from, next) {
    const currentQuery = invoiceReports.query.get()
    invoiceReports.query.assign({
      ...currentQuery,
      filter: undefined,
    })
    next()
  },
  methods: {
    getExcelData() {
      return invoiceReports.listMappedWithColumnLabel();
    },
    async fetchData() {
      try {
        await invoiceReports.fetchData();
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    handleOnChangeFilterBy() {
      this.handleOnSearch(this.searchString)
    },
    handleOnSearch: debounce(function(searchQuery) {
      this.searchString = searchQuery;
      invoiceReports.query.update({
        ...this.filters,
        page: 1,
      });

      this.fetchData();
    }, 300)
  },
};
</script>
