<template>
  <StoreInjector :store="stores">
    <router-view />
  </StoreInjector>
</template>

<script>
import {invoiceReports} from './stores/invoiceReports';
import {expenseReports} from './stores/expenseReports';
import {purchaseOrderReports} from './stores/purchaseOrderReports';
import {paymentReports} from './stores/paymentReports';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'Reports',
  data() {
    return {
      stores: [
        invoiceReports,
        expenseReports,
        purchaseOrderReports,
        paymentReports,
      ],
    }
  },
}
</script>
