<template>
  <div>
    <StoreInjector :store="stores">
      <ProjectDetails />
    </StoreInjector>
  </div>
</template>

<script>
import ProjectDetails from './ProjectDetails'
import {projectDetails, updateProjectForm} from './stores/projectDetails'
import {accountCodeList} from '@/stores/accountCodeList';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ProjectDetailsStoreInjector',
  components: {
    ProjectDetails,
  },
  data() {
    return {
      stores: [
        projectDetails,
        updateProjectForm,
        accountCodeList,
      ]
    }
  },
}
</script>
