<template>
  <StoreInjector :store="store">
    <router-view />
  </StoreInjector>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
import {clients} from '@/modules/Clients/stores/clients';
import {projectDelete} from './stores/projectDelete';

export default {
  name: 'Projects',
  data() {
    return {
      store: [
        clients,
        projectDelete,
      ]
    }
  }
}
</script>
