<template>
  <StoreInjector :store="stores">
    <ProjectDetailsContractors />
  </StoreInjector>
</template>

<script>
import {
  projectContractors,
  projectContractorsDelete,
  projectContractorsDetails,
  projectContractorsPO,
  projectContractorsVO,
} from './stores/projectContractors'
import {projectContractorForm} from './stores/projectContractorForm';
import {projectContractorPOForm} from './stores/projectPOForm';
import {projectContractorVOForm} from './stores/projectVOForm';
import {createContractor, updateContractor} from './stores/projectContractorForm';
import {autoCompleteContractorList} from './stores/projectContractors';
import ProjectDetailsContractors from './components/projectDetails/contractors/ProjectDetailsContractors'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ProjectDetailsContractorsStoreInjector',
  components: {
    ProjectDetailsContractors
  },
  data() {
    return {
      stores: [
        projectContractors,
        autoCompleteContractorList,
        projectContractorsDetails,
        projectContractorsDelete,
        projectContractorForm,
        projectContractorsPO,
        projectContractorsVO,
        projectContractorPOForm,
        projectContractorVOForm,
        createContractor,
        updateContractor,
      ]
    }
  }
}
</script>

        }