<template>
  <v-container
    pt-0
  >
    <ProjectListSearchBar />
    <RoundedCard>
      <ProjectListSelection />
      <ProjectListDateFilter />
      <v-row
        class="align-center pt-4 pb-2 px-4"
        no-gutters
      />
      <v-btn
        class="addBtn"
        absolute
        dark
        fab
        bottom
        right
        @click="handleAddButton"
      >
        <v-icon large>mdi-plus</v-icon>
      </v-btn>

      <ProjectListTable />
      <TryButton />

      <v-dialog
        v-model="showCreateForm"
        fullscreen hide-overlay
        transition="dialog-bottom-transition"
      >
        <v-card>
          <v-toolbar dark color="indigo lighten-1">
            <v-btn
              icon dark
              @click="showCreateForm = false"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-card-title
              class="headline"
              primary-title
            >
              Create Project
            </v-card-title>
          </v-toolbar>
          <ProjectForm
            :form-fields="createFormFields"
            :form-is-valid="formIsValid"
            :loading="formIsLoading"
            submit-text="Create"
            cancel-text="Clear"
            @form-submit="onSubmit"
            @form-cancel="cancelCreateForm"
          />
        </v-card>
      </v-dialog>

      <ProjectSalesModal />
      <ProjectPurchasesModal />
      <ProjectCashflowModal />
    </RoundedCard>
  </v-container>
</template>

<style scoped lang="scss">
  .container {
    padding:0;
  }
  .addBtn {
    margin-bottom: 110px;
    position: fixed;
    margin-right: 12px;
    max-width: 85px;
    max-height: 85px;
    box-shadow: 2px 2px 5px grey;
    background: linear-gradient(to top right, #ff6699 0%, #ff0066 30%);
  }
</style>

<script>
import {apiErrorNotification} from '@/utils/request'
import {projectList, createProjectForm} from './stores/projectList'
import {PROJECT_CREATE_PATH, PROJECT_LIST_PATH} from './routes';
import ProjectListDateFilter from './components/projectList/ProjectListDateFilter'
import ProjectListTable from './components/ProjectListTable'
import ProjectForm from './components/ProjectForm'
import ProjectSalesModal from './components/projectList/ProjectSalesModal'
import ProjectPurchasesModal from './components/projectList/ProjectPurchasesModal'
import ProjectCashflowModal from './components/projectList/ProjectCashflowModal'
import ProjectListSelection from './components/projectList/ProjectListSelection'
import ProjectListSearchBar from './components/projectList/ProjectListSearchBar'
import TryButton from './components/projectList/TryButton'
import {PROJECT_LIST_COLUMN} from '@/consts/projectList'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ProjectList',
  components: {
    ProjectListTable,
    ProjectForm,
    ProjectSalesModal,
    ProjectCashflowModal,
    ProjectPurchasesModal,
    ProjectListSelection,
    ProjectListDateFilter,
    ProjectListSearchBar,
    TryButton,

  },
  data() {
    return {

    }
  },
  computed: {
    query() {
      return projectList.query.get()
    },
    pagination() {
      return projectList.pagination()
    },
    showCreateForm: {
      get() {
        return this.$route.path === PROJECT_CREATE_PATH
      },
      set() {
        // close dialog
        this.$router.push(PROJECT_LIST_PATH);

        // reset form
        createProjectForm.resetForm();
      }
    },
    createFormFields() {
      return createProjectForm.fields.get()
    },
    formIsValid() {
      return createProjectForm.isValid()
    },
    formIsLoading() {
      return createProjectForm.isLoading.get()
    },
    projects() {
      return projectList.data.get()
    },
  },
  created() {
    let savedColumn = localStorage.getItem(PROJECT_LIST_COLUMN);
    if (!savedColumn || savedColumn === '') {
      savedColumn = 'cashflow_nett';
    }
    projectList.selectedColumn.assign(savedColumn)
  },
  mounted() {
    projectList.fetchData();
    createProjectForm.resetForm();
  },
  methods: {
    handleAddButton() {
      this.$router.push(PROJECT_CREATE_PATH);
    },
    changePage(query) {
      projectList.query.update(query);
      projectList.fetchData();
    },
    async onSubmit() {
      try {
        await createProjectForm.submit();
        projectList.fetchData();
        createProjectForm.resetForm();

        // redirect user to project list page
        this.$router.push(PROJECT_LIST_PATH);
      } catch (error) {
        console.error(error);
        apiErrorNotification(error)
      }
    },
    cancelCreateForm() {
      createProjectForm.resetForm();
    }
  }
}
</script>
