<template>
  <StoreInjector :store="stores">
    <ProjectDetailsInvoices />
  </StoreInjector>
</template>

<script>
import ProjectDetailsInvoices from './components/projectDetails/invoices/ProjectDetailsInvoices'
import {projectInvoices,
  createInvoicesForm,
  updateInvoiceForm,
  projectInvoicesTable,
  projectInvoiceDelete,
} from './stores/projectInvoices'
import {invoicePaymentForm} from './stores/projectInvoicePaymentForm'
import {projectDetails} from './stores/projectDetails'
import {accountCodeList} from '@/stores/accountCodeList';
import {projectDelete} from './stores/projectDelete';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ProjectDetailsInvoicesStoreInjector',
  components: {
    ProjectDetailsInvoices
  },
  data() {
    return {
      stores: [
        projectInvoices,
        projectInvoicesTable,
        createInvoicesForm,
        updateInvoiceForm,
        invoicePaymentForm,
        projectInvoiceDelete,
        projectDetails,
        accountCodeList,
      ]
    }
  }
}
</script>
