<template>
  <v-container
    pt-0
  >
    <v-card
      class="headerNameCard"
    >
      <v-row
        class="justify-space-between align-center px-3"
        no-gutters
      >
        <h3 class="px-2 ma-0 project-name">
          {{ projectName }}
        </h3>
      </v-row>

      <v-row
        class="justify-space-between align-center px-3"
        no-gutters
      >
        <h4 class="px-2 ma-0 project-client">
          {{ projectClient }}
        </h4>
      </v-row>

      <v-row
        class="justify-space-between align-center px-3"
        no-gutters
      >
        <h4
          class="px-2 ma-0 project-managers"
        >
          {{ projectManagers }}
        </h4>
        <!-- EDIT PROJECTS BUTTON -->
        <v-menu
          offset-y
          :close-on-content-click="false"
          :value="close"
        >
          <template #activator="{ on: menu}">
            <v-btn
              class="EditProjectsButton"
              color="#78909C"
              dark
              outlined
              rounded
              v-on="menu"
              @click="close = true"
            >
              <span><v-icon>mdi-file-document-edit-outline</v-icon> Actions</span>
            </v-btn>
          </template>

          <v-list class="listItems">
            <v-list-item>
              <v-dialog
                v-model="dialog"
                fullscreen
                transition="dialog-bottom-transition"
              >
                <template #activator="{on: edit}">
                  <v-list-item-title v-on="edit">Edit Project</v-list-item-title>
                </template>
                <v-card>
                  <v-toolbar dark color="indigo lighten-1">
                    <v-btn
                      icon dark
                      @click="controlMenu"
                    >
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-card-title
                      class="headline"
                      primary-title
                    >
                      Edit Project
                    </v-card-title>
                  </v-toolbar>
                  <ProjectUpdateForm
                    @change="closeDialog"
                  />
                </v-card>
              </v-dialog>
            </v-list-item>
            <v-list-item>
              <v-list-item-title @click="deleteProject" class="red--text">Delete Project</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-row>
      <ProjectDetailsSelection />
    </v-card>

    <v-expand-transition>
      <RoundedCard
        class="project-details-summary-card mt-3"
      >
        <ProjectDetailsSummary />
      </RoundedCard>
    </v-expand-transition>
  </v-container>
</template>

<style lang="scss" scoped>
  .container {
    padding: 0;
  }
  .project-name {
    font-weight: bold;
  }
  .headerNameCard {
    height: 210px;
    padding-top: 15px;
    z-index: 1;
    position: relative;
    margin-bottom: 45px;
    // make it softer
    box-shadow: 0px 4px 17px 5px rgba(0, 0, 0, 0.13);
  }
  .EditProjectsButton {
    margin-top: 5px;
    display: absolute;
    border: 2px solid #78909C;
    margin-right: 7px;
    font-weight: 600;
  }
</style>

<script>
import {projectDetails, updateProjectForm} from './stores/projectDetails'
import ProjectDetailsSummary from './components/projectDetails/ProjectDetailsSummary'
import {projectDetailsPaths} from './resources/projectDetails';
import {isArray} from 'lodash'
import ProjectDetailsSelection from './components/projectDetails/ProjectDetailsSelection'
import {projectDelete} from './stores/projectDelete';
import {projectList} from './stores/projectList';
import {delay} from '@/utils';
import {apiErrorNotification} from '@/utils/request';
import {PROJECT_LIST_PATH} from './routes';
import ProjectUpdateForm from './components/ProjectUpdateForm';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ProjectDetails',
  components: {
    ProjectUpdateForm,
    ProjectDetailsSummary,
    ProjectDetailsSelection,

  },
  data() {
    return {
      projectDetails,
      showSummary: false,
      tabNames: projectDetailsPaths,
      dialog: false,
      close: false,
    }
  },
  computed: {
    projectName() {
      return projectDetails.name()
    },
    projectClient() {
      return projectDetails.clientname()
    },
    projectManagers() {
      if (isArray(projectDetails.projectmanager())) {
        return projectDetails.projectmanager().map(pm => pm.name).join(', ')
      }
      return undefined
    },
    showUpdateForm: {
      get() {
        // noinspection JSUnresolvedFunction
        return projectDetails.showUpdateForm.get()
      },
      set(value) {
        // noinspection JSUnresolvedFunction
        projectDetails.showUpdateForm.assign(value)
      }
    },
    showEditDetailsForm: {
      get() {
        return this.$route.path === projectDetailsPaths
      },
      set() {
        // close dialog
        const uuid = this.params.uuid;
        this.$router.push(projectDetailsPaths.projectDetails.path(uuid));
      }
    },
  },
  watch: {
    showSummary(newVal) {
      sessionStorage.setItem('showSummary', newVal)
    }
  },
  async mounted() {
    this.fetchData();
    if (sessionStorage.getItem('showSummary')) {
      this.showSummary = JSON.parse(sessionStorage.getItem('showSummary'))
    }
  },
  methods: {
    async fetchData() {
      try {
        const uuid = this.$route.params.uuid;
        projectDetails.query.set('uuid', uuid);
        await projectDetails.fetchData();

        const data = projectDetails.data.get();
        // noinspection JSUnresolvedFunction
        updateProjectForm.updateInitials(data)
      } catch (e) {
        console.error(e);
      }
    },
    toggleShowSummary() {
      this.showSummary = !this.showSummary
    },
    controlMenu() {
      this.dialog = false;
      this.close = false;
    },
    closeDialog(closeKey) {
      this.dialog = closeKey;
      this.close = closeKey;
    },
    async deleteProject() {
      const context = this;
      const uuid = projectDetails.data.get('uuid');
      const name = projectDetails.data.get('name');

      const isConfirm = await context.$confirmOnce(`Are you sure you want to delete \n"${name}".`, {
        buttonTrueColor: 'error',
        buttonFalseColor: 'info',
      });

      if (isConfirm) {
        try {
          await projectDelete.fetchData(uuid);

          context.$toast(`Successfully deleted "${name}"`, {
            color: 'success',
            closeBtn: true,
          });
          await delay(300);

          projectList.fetchData();

          this.$router.push(PROJECT_LIST_PATH)

        } catch (e) {
          apiErrorNotification(e);
        }
      }
    },
  }
}
</script>
