<template>
  <div>
    <TableList
      :list="invoiceList"
      :columns="columns"
      :selected-columns="selectedColumns"
      :table-prop="tableProp"
      :loading="isLoading"
      :elevation="0"
      border
      item-key="uuid"
      hide-default-footer
      @change-sort="changeSort"
    />

    <v-row>
      <QueryPagination
        v-if="invoiceList.length > 0"
        :query="query"
        :total="pagination.total"
        @input="changePage"
      />
    </v-row>
  </div>
</template>

<style lang="scss" scoped>
  .invoicesTable {
    :global(.v-table) {
      background: transparent;

      :global(thead tr):hover,
      :global(tbody tr):hover {
        background: transparent;
      }
    }
  }
</style>

<script>
import {invoiceReports} from '../stores/invoiceReports';

export default {
  name: 'ReportInvoiceListTable',
  computed: {
    invoiceList() {
      return invoiceReports.filteredList()
    },
    query() {
      return invoiceReports.query.get()
    },
    pagination() {
      return invoiceReports.pagination()
    },
    isLoading() {
      return invoiceReports.isLoading.get()
    },
    selectedColumns() {
      return invoiceReports.selectedColumns.get() || []
    },
    columns() {
      const columns = invoiceReports.tableColumnsObject();

      // filter selected columns
      return this.selectedColumns.map((columnName) => {
        return columns[columnName]
      })
    },
    tableProp() {
      return invoiceReports.tableProp()
    },
  },
  methods: {
    hasColumn: invoiceReports.hasColumn,
    handleExportInvoices(list) {
      console.log(list)
    },
    changeSort(header, query) {
      invoiceReports.query.update(query);
      invoiceReports.fetchData()
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        invoiceReports.query.update({
          page,
          limit,
        });

        invoiceReports.fetchData()
      }
    },
  }
}
</script>
