<template>
  <v-dialog
    v-model="showFormModal"
    max-width="820px"
  >
    <v-card>
      <v-container>
        <v-card-title
          class="headline"
          primary-title
        >
          <transition name="slide-x-transition">
            <CoreButton
              v-if="formType === 'update'"
              icon
              rounded
              color="grey"
              @click="$router.push(createContractorPath)"
            >
              <v-icon color="grey">
                mdi-arrow-left
              </v-icon>
            </CoreButton>
          </transition>
          <span v-if="formType === 'update'">
            Update
          </span>
          <span v-else>
            Create
          </span>
          <span class="mx-1">
            Contractor
          </span>
        </v-card-title>
        <ProjectDetailsContractorForm />
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import {apiErrorNotification} from '@/utils/request';
import {projectContractorsDetails} from '@/modules/Projects/stores/projectContractors';
import {createContractor, projectContractorForm, updateContractor} from '../../../stores/projectContractorForm';
import {projectContractorsPO, projectContractorsVO} from '../../../stores/projectContractors';
import {projectContractorPOForm} from '../../../stores/projectPOForm';
import {projectContractorVOForm} from '../../../stores/projectVOForm';
import ProjectDetailsContractorForm from './ProjectDetailsContractorForm';

export default {
  name: 'ProjectDetailsContractorFormModal',
  components: {ProjectDetailsContractorForm},
  data() {
    return {}
  },
  computed: {
    formType() {
      return projectContractorForm.formType.get();
    },
    loading() {
      if (this.isUpdateForm) {
        return updateContractor.isLoading.get();
      }

      return createContractor.isLoading.get();
    },
    showFormModal: {
      get() {
        // noinspection JSUnresolvedFunction
        return projectContractorForm.showFormModal.get();
      },
      set(bool) {
        // noinspection JSUnresolvedFunction
        projectContractorForm.showFormModal.toggle(bool);
      },
    },
    projectPurchaseOrderListPath() {
      return `/projects/${this.$route.params.uuid}/purchase-orders`
    },
    createContractorPath() {
      return `${this.projectPurchaseOrderListPath}/create`
    },
    projectContractorDetailsPath(uuid) {
      return `/projects/${this.$route.params.uuid}/purchase-orders/${uuid}`
    },
    contractorPOs() {
      return projectContractorsPO.poListCache.get();
    },
    poIsLoading() {
      return projectContractorsPO.poListIsLoading.get();
    },
    contractorVOs() {
      return projectContractorsVO.voListCache.get();
    },
    voIsLoading() {
      return projectContractorsVO.voListIsLoading.get();
    },
  },
  watch: {
    showFormModal(bool) {
      // on formModal close
      if (!bool) {
        this.$router.push(this.projectPurchaseOrderListPath);
        projectContractorForm.resetAll();
        this.resetPOVOs();
      }
    },
    $route(route) {
      this.toggleModalByRouterPath(route);
    },
  },
  created() {
    this.toggleModalByRouterPath();
  },
  methods: {
    async toggleModalByRouterPath(route = this.$route) {
      // if is create page
      if (route.path === this.createContractorPath) {
        // reset form
        projectContractorForm.resetForm();
        projectContractorForm.formType.reset();
        this.resetPOVOs();

        // noinspection JSUnresolvedFunction
        projectContractorForm.showFormModal.toggle(true);
      } else {
        // reset po vo list
        this.resetPOVOs();

        // if is update page
        // noinspection JSUnresolvedVariable
        if (route.params.contractorUuid) {
          // noinspection JSUnresolvedFunction
          projectContractorForm.showFormModal.toggle(true);
          projectContractorForm.formType.assign('update');

          try {
            // noinspection JSUnresolvedVariable
            await projectContractorsDetails.fetchData({
              uuid: route.params.contractorUuid,
            });

            const details = projectContractorsDetails.data.get();
            this.fetchPOVOList();

            // noinspection JSUnresolvedVariable
            projectContractorForm.updateValues({
              uuid: route.params.contractorUuid,
              name: details.name,
              term: details.term,
            });
          } catch (e) {
            apiErrorNotification(e);
          }
        }
      }
    },
    async fetchPOVOList() {
      try {
        const contractor = projectContractorsDetails.data.get();
        const params = {
          project_id: this.$route.params.uuid,
          contractor_id: contractor.uuid,
        };

        await Promise.all([projectContractorsPO.fetchLatestPOList(params), projectContractorsVO.fetchLatestVOList(params)]);
        const pos = this.contractorPOs[contractor.uuid];
        const vos = this.contractorVOs[contractor.uuid];
        this.populatePOVOs(pos, vos);
      } catch (error) {
        console.log(error);
        apiErrorNotification(error);
      }
    },
    populatePOVOs(pos, vos) {
      pos.forEach((po) => {
        projectContractorPOForm.addPO(po)
      });
      vos.forEach((vo) => {
        projectContractorVOForm.addVO(vo)
      })
    },
    resetPOVOs() {
      projectContractorPOForm.resetAll();
      projectContractorVOForm.resetAll();
    },
  }
}
</script>

<style scoped>

</style>

