<template>
  <div>
    <TableList
      :list="contractorList"
      :columns="columns"
      :selected-rows="selectedRows"
      :selected-columns="selectedColumns"
      :table-prop="tableProp"
      :is-loading="isLoading"
      :action-column="{
        text: 'Actions',
        value: 'actions',
        align: 'center',
        width: '160px',
        class: 'text-nowrap',
      }"
      :elevation="0"
      border
      item-key="uuid"
      hide-default-footer
      expand
      selectable-rows
      @change-sort="changeSort"
      @expanded="onExpand"
      @row-selected="handleRowSelection"
      @row-double-click="handleRowDoubleClick"
    >
      <!-- Expand -->
      <template
        slot="expand"
        slot-scope="prop"
      >
        <v-row
          px-4
          py-1
          class="project-contractor__expand-content"
        >
          <v-col p-2>
            <v-card class="contractor-expand-card elevation-0">
              <v-progress-circular
                v-if="poIsLoading[prop.item.uuid]"
                class="povo-progress ma-3"
                indeterminate
              />
              <template v-else>
                <TableList
                  :columns="POTableHeaders"
                  :list="contractorPOs[prop.item.uuid]"
                  hide-default-footer
                  :elevation="0"
                  border
                >
                  <template
                    slot="total_expenses"
                    slot-scope="column"
                  >
                    <div class="totalExpensesWrapper">
                      <v-tooltip
                        v-if="expensesGtPOVOValue(column.item)"
                        bottom
                      >
                        <template v-slot:activator="{ on }">
                          <v-icon
                            small
                            color="error"
                            v-on="on"
                          >
                            mdi-alert-circle
                          </v-icon>
                        </template>
                        <span>Total Expenses is more than Total Value</span>
                      </v-tooltip>
                      <h5 class="position-relative text-nowrap m-0">
                        {{ column.item.total_expenses | toCurrencyValue }}
                      </h5>
                    </div>
                  </template>
                </TableList>
                <TableExportExcelButton
                  :disabled="contractorPOs[prop.item.uuid].length === 0"
                  :get-excel-data="getPOExcelData(contractorPOs[prop.item.uuid])"
                  :filename="poExcelName(prop.item.name)"
                  class="povo-excel-button"
                />
              </template>
            </v-card>
          </v-col>
          <v-col p-2>
            <v-card class="contractor-expand-card elevation-0">
              <v-progress-circular
                v-if="voIsLoading[prop.item.uuid]"
                class="povo-progress ma-3"
                indeterminate
              />
              <template v-else>
                <TableList
                  :columns="VOTableHeaders"
                  :list="contractorVOs[prop.item.uuid]"
                  hide-default-footer
                  :elevation="0"
                  border
                >
                  <template
                    slot="total_expenses"
                    slot-scope="column"
                  >
                    <div class="totalExpensesWrapper">
                      <v-tooltip
                        v-if="expensesGtPOVOValue(column.item)"
                        bottom
                      >
                        <template v-slot:activator="{ on }">
                          <v-icon
                            small
                            color="error"
                            v-on="on"
                          >
                            mdi-alert-circle
                          </v-icon>
                        </template>
                        <span>Total Expenses is more than Total Value</span>
                      </v-tooltip>
                      <h5 class="position-relative text-nowrap m-0">
                        {{ column.item.total_expenses | toCurrencyValue }}
                      </h5>
                    </div>
                  </template>
                </TableList>
                <TableExportExcelButton
                  :disabled="contractorVOs[prop.item.uuid].length === 0"
                  :get-excel-data="getVOExcelData(contractorVOs[prop.item.uuid])"
                  :filename="voExcelName(prop.item.name)"
                  class="povo-excel-button"
                />
              </template>
            </v-card>
          </v-col>
        </v-row>
      </template>

      <!-- actions -->
      <template
        slot="actions"
        slot-scope="props"
      >
        <CoreButton
          v-permission="['project.po.edit']"
          color="info"
          class="mx-1"
          x-small
          fab
          dark
          @click.stop="onUpdateProjectContractors(props.item)"
        >
          <v-icon>mdi-pencil</v-icon>
        </CoreButton>
        <CoreButton
          v-permission="['project.po.delete']"
          :loading="deleteIsLoading"
          color="error"
          class="mx-1"
          x-small
          fab
          dark
          @click.stop="onDeleteProjectContractors(props.item)"
        >
          <v-icon>mdi-delete</v-icon>
        </CoreButton>
      </template>

      <template
        v-if="contractorList.length > 0"
        slot="footer"
      >
        <td
          v-for="(column, index) in columns"
          :key="column.value"
          class="py-1"
        >
          <template v-if="index === 1">
            Total:
          </template>
          <template v-else-if="column.type === 'currency'">
            <strong class="text-truncate d-block text-right">
              {{ aggregator(contractorList, column.value) | toCurrencyValue }}
            </strong>
          </template>
        </td>
      </template>
    </TableList>

    <v-row>
      <QueryPagination
        v-if="contractorList.length > 0"
        :query="query"
        :total="pagination.total"
        @input="changePage"
      />
    </v-row>
  </div>
</template>

<style lang="scss" scoped>
  .project-contractor__expand-content {
    width: calc(100% + 150px);
    background-color: var(--inverted-solo-color--light);
  }

  .v-datatable__expand-row {
  }

  .contractor-expand-card {
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }

  .totalExpensesWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .v-icon {
      margin-right: 5px;
    }
  }

  .povo-progress {
    align-self: center;
  }

  .povo-excel-button {
    margin-top: 16px;
    align-self: flex-end;
  }
</style>

<script>
import {delay} from '@/utils';
import {apiErrorNotification} from '@/utils/request'
import {date, datetimeShort} from '@nixel/base/filters/datetime';
import {toCurrencyValue} from '@/filters/numbers';
import {
  projectContractors,
  projectContractorsDelete,
  projectContractorsDetails,
  projectContractorsPO,
  projectContractorsVO,
} from '../../../stores/projectContractors';
import {projectContractorsPOTableHeaders, projectContractorsVOTableHeaders} from '../../../resources/projectContractors';
import {aggregator} from '@/utils/math';

export default {
  name: 'ProjectDetailsContractorsTable',
  components: {},
  data() {
    return {
      POTableHeaders: projectContractorsPOTableHeaders,
      VOTableHeaders: projectContractorsVOTableHeaders,
      contractor_id: '',
    }
  },
  computed: {
    contractorList() {
      return projectContractors.data.get() || [];
    },
    contractorDetails() {
      return projectContractorsDetails.data.get()
    },
    contractorPOs() {
      return projectContractorsPO.poListCache.get()
    },
    poIsLoading() {
      return projectContractorsPO.poListIsLoading.get()
    },
    contractorVOs() {
      return projectContractorsVO.voListCache.get()
    },
    voIsLoading() {
      return projectContractorsVO.voListIsLoading.get()
    },
    query() {
      return projectContractors.query.get()
    },
    pagination() {
      return projectContractors.pagination()
    },
    isLoading() {
      return projectContractors.isLoading.get()
    },
    selectedRows() {
      return projectContractors.selectedRows.get() || {}
    },
    selectedColumns() {
      return projectContractors.selectedColumns.get()
    },
    columns() {
      const columns = projectContractors.tableColumnsObject();

      // filter selected columns
      return this.selectedColumns.map((columnName) => {
        return columns[columnName]
      })
    },
    tableProp() {
      return projectContractors.tableProp()
    },
    deleteIsLoading() {
      return projectContractors.isLoading.get()
    },
  },
  methods: {
    aggregator,
    hasColumn: projectContractors.hasColumn,
    expensesGtPOVOValue(item) {
      return parseFloat(item.total_expenses) > parseFloat(item.total_value)
    },
    voExcelName(name) {
      return `${name}_vos_${datetimeShort(new Date())}.xlsx`;
    },
    poExcelName(name) {
      return `${name}_pos_${datetimeShort(new Date())}.xlsx`;
    },
    projectContractorDetailsPath(uuid) {
      return `/projects/${this.$route.params.uuid}/purchase-orders/${uuid}`
    },
    changeSort(header, query) {
      projectContractors.query.update(query);
      projectContractors.fetchData()
    },
    async onDeleteProjectContractors(contractor) {
      const isConfirm = await this.$confirmOnce(`Are you sure you want to delete "${contractor.name}".`);

      if (isConfirm) {
        // noinspection JSIgnoredPromiseFromCall
        const contractorToDelete = {
          ...contractor,
          project_id: this.$route.params.uuid
        };
        // noinspection JSIgnoredPromiseFromCall
        projectContractorsDelete.deleteProjectContractors(contractorToDelete, async () => {
          await delay(300);
          projectContractors.fetchData()
        })
      }
    },
    async onUpdateProjectContractors(contractor) {
      this.$router.push(this.projectContractorDetailsPath(contractor.uuid));
    },
    async onExpand(expanded, prop) {
      if (!expanded) {
        return
      }
      try {
        const params = {
          project_id: this.$route.params.uuid,
          contractor_id: prop.item.uuid,
          summary: 1,
        };
        await Promise.all([projectContractorsPO.fetchLatestPOList(params), projectContractorsVO.fetchLatestVOList(params)])
      } catch (error) {
        console.log(error);
        apiErrorNotification(error);
      }
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        projectContractors.query.update({
          page,
          limit,
        });

        projectContractors.fetchData()
      }
    },
    tableValueFilter(value, type) {
      if (type === 'currency') {
        return toCurrencyValue(value)
      }
      if (type === 'date') {
        return date(value)
      }
      return value
    },
    handleRowSelection(newSelectedRows) {
      projectContractors.selectedRows.assign(newSelectedRows)
    },
    handleRowDoubleClick(prop) {
      this.onUpdateProjectContractors(prop.item);
    },
    getPOExcelData(list) {
      return function() {
        return projectContractorsPO.listMappedWithColumnLabel(list)
      }
    },
    getVOExcelData(list) {
      return function() {
        return projectContractorsVO.listMappedWithColumnLabel(list)
      }
    },
  }
}
</script>
