<template>
  <ColumnSelect
    :items="items"
    :selected-columns="selectedColumns"
    @change="updateSelectedColumnList"
  >
  </ColumnSelect>
</template>

<script>
import _, {isEqual} from 'lodash'
import {projectContractors} from '../../../stores/projectContractors'
import {projectContractorsTableHeaders} from '../../../resources/projectContractors'
import {setSelectedColumns, PROJECT_DETAILS_CONTRACTOR_COLUMNS} from '@/consts/selectedColumns';

export default {
  components: {},
  data() {
    return {
      items: projectContractorsTableHeaders,
    }
  },
  computed: {
    selectedColumns() {
      return projectContractors.selectedColumns.get()
    },
  },
  methods: {
    selectColumnsModeClass(columnKeys) {
      return {
        'primary white--text': isEqual(columnKeys, [...this.selectedColumns])
      }
    },
    async updateSelectedColumnList(columnKeys) {
      const newColumnKeys = _.filter(columnKeys, (o) => {
        if (o) {
          return o
        }
      });
      await projectContractors.selectedColumns.assign(newColumnKeys);
      // update localStorage
      setSelectedColumns(PROJECT_DETAILS_CONTRACTOR_COLUMNS, JSON.stringify(newColumnKeys));
    },
  }
}
</script>
