<template>
  <div>
    <p
      v-if="responseError"
      class="error--text mb-4"
    >
      {{ responseError }}
    </p>
    <div
      v-for="(vo, index) in VOList"
      :key="index"
    >
      <v-row align="center">
        <TextField
          ref="voNo"
          :value="vo.vo_no"
          class="ml-3"
          label="VO No."
          @input="handleUpdate($event, 'vo_no', index)"
        />
        <DatePicker
          :value="vo.issued_date"
          class="pl-3"
          label="Issued Date"
          @input="handleUpdate($event, 'issued_date', index)"
        />
        <MoneyInput
          :value="vo.total_value"
          label="Total Value"
          class="ml-3"
          @change="handleUpdate($event, 'total_value', index)"
        />
        <v-col class="d-flex justify-end">
          <CoreButton
            color="error"
            fab
            x-small
            @click.stop="removeVO(vo, index)"
          >
            <v-icon>mdi-delete</v-icon>
          </CoreButton>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import {head} from 'lodash';
import {projectContractorVOForm} from '../../../stores/projectVOForm';

export default {
  components: {},
  computed: {
    VOList() {
      return projectContractorVOForm.fields.get().vos.value
    },
    responseError() {
      const errors = projectContractorVOForm.responseError.get();
      const firstKeyContent = typeof errors === 'object' ? errors[Object.keys(errors)[0]] : [];

      return head(firstKeyContent)
    },
  },
  methods: {
    handleUpdate(payload, key, index) {
      projectContractorVOForm.updateVO(index, key, payload)
    },
    removeVO(vo, index) {
      projectContractorVOForm.removeVO(vo, index)
    },
  }
}
</script>

<style scoped>

</style>

