<template>
  <div>
    <TableList
      :list="paymentHistoryList"
      :columns="columns"
      :table-prop="tableProp"
      :loading="isLoading"
      :action-column="{
        text: 'Actions',
        value: 'actions',
        align: 'center',
        width: '160px',
        class: 'text-nowrap',
      }"
      :elevation="0"
      border
      item-key="uuid"
      hide-default-footer
      expand
      @change-sort="changeSort"
    >
      <!-- Expand -->
      <template
        slot="expand"
        slot-scope="props"
      >
        <PaymentHistorySummary :payment-record="props.item" />
      </template>

      <!-- Actions -->
      <template
        slot="actions"
        slot-scope="props"
      >
        <CoreButton
          :loading="deleteIsLoading"
          color="error"
          x-small
          fab
          dark
          @click.stop="onDeletePaymentRecord(props.item)"
        >
          <v-icon>mdi-delete</v-icon>
        </CoreButton>
      </template>
    </TableList>

    <v-row>
      <QueryPagination
        v-if="paymentHistoryList.length > 0"
        :query="query"
        :total="pagination.total"
        @input="changePage"
      />
    </v-row>
  </div>
</template>

<script>
import {apiErrorNotification} from '@/utils/request';
import {paymentHistory, deleteBulkPaymentApi} from '../stores/paymentHistory';
import PaymentHistorySummary from './PaymentHistorySummary';

export default {
  name: 'PaymentHistoryTable',
  components: {
    PaymentHistorySummary,
  },
  data() {
    return {
      deleteIsLoading: false
    };
  },
  computed: {
    paymentHistoryList() {
      return paymentHistory.filteredList()
    },
    query() {
      return paymentHistory.query.get()
    },
    pagination() {
      return paymentHistory.pagination()
    },
    isLoading() {
      return paymentHistory.isLoading.get()
    },
    columns() {
      return paymentHistory.tableColumns.get()
    },
    tableProp() {
      return paymentHistory.tableProp()
    },
  },
  methods: {
    hasColumn: paymentHistory.hasColumn,
    changeSort(header, query) {
      paymentHistory.query.update(query);
      paymentHistory.fetchData()
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        paymentHistory.query.update({
          page,
          limit,
        });

        paymentHistory.fetchData()
      }
    },
    async fetchData() {
      try {
        await paymentHistory.fetchData();
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    async onDeletePaymentRecord(paymentRecord) {
      const isConfirm = await this.$confirmOnce('This will permanently delete all payments in this payment record. Continue?', {
        buttonTrueColor: 'error',
        buttonFalseColor: 'info',
      });

      if (isConfirm) {
        this.deleteIsLoading = true;
        await deleteBulkPaymentApi({uuid: paymentRecord.uuid});
        this.deleteIsLoading = false;
        this.fetchData()
      }
    },
  }
}
</script>
