<template>
  <v-container class="paymentHistorySummary">
    <v-card class="elevation-3">
      <v-card-text>
        <v-row
          class="align-center justify-space-between"
          no-gutters
        >
          <div class="payment-record-details">
            <span>
              <strong>Disbursement Bank: </strong> {{ paymentRecord.bank }}
            </span>
            <p class="remark-text">
              <strong>Remark: </strong> {{ paymentRecord.remark }}
            </p>
          </div>
          <TableExportExcelButton
            :disabled="paymentRecord.payments.length === 0"
            :get-excel-data="getExcelData"
            :filename="excelName"
          />
        </v-row>
        <TableList
          :columns="paymentListTableColumns"
          :list="paymentRecord.payments"
          :row-attrs="getRowAttrs"
          elevation="0"
          hide-default-footer
        >
          <template
            slot="project_name-content"
            slot-scope="row"
          >
            {{ row.item.project_name }}
            <v-chip
              v-if="row.item.deleted_at"
              color="red lighten-1"
              small
            >
              deleted
            </v-chip>
          </template>
          <template slot="footer">
            <td
              :colspan="paymentListTableColumns.length - 1"
              class="font-weight-bold title"
            >
              Total Paid:
            </td>
            <td class="text-center font-weight-bold title text-nowrap">
              {{ paymentRecord.total_paid | toCurrencyValue }}
            </td>
          </template>
        </TableList>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<style scoped lang="scss">
  .payment-record-details {
    width: 50%;
  }

  .remark-text {
    white-space: normal;
    word-break: break-word;
  }

  .paymentHistorySummary {
    // class from TableList's TableColumn generated
    :global(.deletedRow .payment_amt-column) {
      text-decoration: line-through;
    }
  }

</style>

<script>
import {paymentHistory} from '../stores/paymentHistory';
import {datetimeShort} from '@nixel/base/filters/datetime';

export default {
  props: {
    paymentRecord: {
      type: Object,
      required: true
    }
  },
  computed: {
    paymentListTableColumns() {
      return paymentHistory.summary.tableColumns.get()
    },
    excelName() {
      return `payment_history_${datetimeShort(new Date())}.xlsx`;
    },
  },
  methods: {
    getExcelData() {
      return paymentHistory.summary.listMappedWithColumnLabel(this.paymentRecord.payments)
    },
    getRowAttrs(row) {
      return {
        class: {
          'deletedRow red lighten-5 grey--text': !!row.item.deleted_at,
        }
      };
    },

  },
}
</script>

