<template>
  <v-row
    align="center"
    justify="end"
    nowrap
  >
    <span class="pending-expenses-total-payment-text mx-3">
      Total Payment: <strong>{{ totalPayment | toCurrencyValue }}</strong>
    </span>
    <CoreButton
      :disabled="!pendingExpensesFormIsDirty || list === 0"
      class="ml-2 ma-0"
      color="info"
      @click="handleShowModal"
    >
      Submit
    </CoreButton>
    <v-dialog
      v-model="showModal"
      width="1000px"
    >
      <v-card>
        <v-card-title class="headline">
          Payment Confirmation
        </v-card-title>

        <v-alert
          :value="hasInvalidPaymentAmount"
          class="alert-message"
          type="error"
        >
          Error: There are invalid payment amounts.
        </v-alert>
        <v-alert
          :value="hasOverpaidPaymentAmount"
          class="alert-message"
          type="warning"
        >
          Warning: There are overpaid payment amounts.
        </v-alert>

        <v-card-text>
          <v-row>
            <TextField :field="formFields.bank" />
          </v-row>

          <v-row mb-2>
            <TextField :field="formFields.remark" />
          </v-row>

          <TableList
            :columns="expenseListTableColumns"
            :list="list"
            elevation="0"
            class="pb-1"
            border
            hide-default-footer
          >
            <template v-slot:payment_amt-content="props">
              <span
                v-if="overPaid(props.item)"
                class="yellow--text text--darken-3"
              >
                {{ props.item.payment_amt | toCurrencyValue }}
              </span>
              <span
                v-else-if="validPaymentAmt(props.item)"
              >
                {{ props.item.payment_amt | toCurrencyValue }}
              </span>
              <span
                v-else
                class="red--text"
              >
                {{ props.item.payment_amt | toCurrencyValue }}
              </span>
            </template>
          </TableList>
          <!--suppress HtmlDeprecatedAttribute -->
          <v-row
            align="center"
            justify="end"
            mt-3
          >
            <v-col class="ma-3 text-right">
                <span class="pending-expenses-total-payment-text">
                  Total Payment: <strong>{{ totalPayment | toCurrencyValue }}</strong>
                </span>
            </v-col>
            <CoreButton
              color="info"
              :disabled="hasInvalidPaymentAmount"
              :loading="pendingExpensesFormIsLoading"
              @click="handleSubmit"
            >
              Submit
            </CoreButton>
            <CoreButton
              color="neutral"
              inner-color="dark"
              @click="handleCloseModal"
            >
              Cancel
            </CoreButton>
          </v-row>
        </v-card-text>

      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped lang="scss">
  .alert-message {
    padding: 10px;
  }
  .pending-expenses-total-payment-text {
    font-size: 16px;
  }
</style>

<script>
import {each, values} from 'lodash';
import {apiErrorNotification} from '@/utils/request';
import {auth} from '@/stores/auth'
import {pendingExpenses} from '../stores/pendingExpenses';
import {pendingExpensesForm, createPaymentRecordApi} from '../stores/pendingExpensesForm';

export default {
  name: 'PendingExpensesSummaryModal',
  components: {},
  data() {
    return {
      showModal: false,
      pendingExpensesFormIsLoading: false,

      expenseListTableColumns: [
        {
          text: 'Project',
          value: 'project_name',
          align: 'left',
        },
        {
          text: 'Due Date',
          value: 'due_date',
          type: 'date',
          align: 'left',
        },
        {
          text: 'Contractor',
          value: 'contractor',
          width: '110px',
          type: 'singleLine',
          align: 'left',
        },
        {
          text: 'Ref No.',
          value: 'ref_no',
          align: 'left',
        },
        {
          text: 'Payment Amt',
          value: 'payment_amt',
          minWidth: '175px',
          type: 'currency',
          align: 'right',
        },
        {
          text: 'Payment Date',
          value: 'payment_date',
          type: 'date',
          align: 'right',
        },
        {
          text: 'Cheque No.',
          value: 'cheque_no',
          align: 'right',
        },
      ]
    }
  },
  computed: {
    payerName() {
      return auth.userDetails.getUserName()
    },
    pendingExpensesFormIsDirty() {
      return pendingExpensesForm.isDirty();
    },
    formFields() {
      return pendingExpensesForm.fields.get()
    },
    list() {
      return values(pendingExpensesForm.formData().payments).filter(
        payment => payment !== undefined
      );
    },
    totalPayment() {
      return pendingExpensesForm.totalPayments()
    },
    hasInvalidPaymentAmount() {
      for (const expense of this.list) {
        if (!this.validPaymentAmt(expense)) {
          return true
        }
      }
      return false
    },
    hasOverpaidPaymentAmount() {
      for (const expense of this.list) {
        if (this.overPaid(expense)) {
          return true
        }
      }
      return false
    },
  },
  methods: {
    handleShowModal() {
      this.showModal = true;
    },
    handleCloseModal() {
      this.showModal = false;
    },
    validPaymentAmt(expense) {
      return expense.payment_amt > 0
    },
    overPaid(expense) {
      return expense.payment_amt > expense.balance
    },
    async handleSubmit() {
      try {
        this.pendingExpensesFormIsLoading = true;

        const formIsValid = await pendingExpensesForm.validateForm();
        if (!formIsValid) {
          // noinspection ExceptionCaughtLocallyJS
          throw Error('Form is not valid')
        }

        const list = [];
        each(this.list, item => {
          list.push({
            cash_flow: item.cash_flow,
            payment_amt: item.payment_amt,
            cheque_no: item.cheque_no,
            project_id: item.project_id,
            expenses_id: item.expenses_id,
            payment_date: item.payment_date,
          })
        });

        const payload = {
          payer_name: this.payerName,
          bank: this.formFields.bank.value,
          remark: this.formFields.remark.value,
          payments: list
        };
        await createPaymentRecordApi(payload);

        // close modal
        this.showModal = false;

        this.$toast('Payments created successfully.', {
          color: 'success',
          closeBtn: true,
        });

        // reset form
        pendingExpensesForm.resetForm();
        pendingExpensesForm.fields.get().payments.setValue({});

        // fetch new pending expense list
        pendingExpenses.fetchData();
      } catch (e) {
        apiErrorNotification(e);
      }
      this.pendingExpensesFormIsLoading = false
    },
  }
}
</script>
