<template>
  <div>
    <TableList
      :list="pendingExpensesList"
      :columns="columns"
      :selected-rows="selectedRows"
      :table-prop="tableProp"
      :loading="isLoading"
      :item-key="itemKey"
      :elevation="0"
      border
      selectable-rows
      hide-default-footer
      @change-sort="changeSort"
      @row-selected="handleRowSelection"
    >
      <template
        slot="overdue"
        slot-scope="prop"
      >
        <span>
          {{ prop.item.overdue }}
          <v-icon
            v-if="prop.item.overdue > 0"
            small
            color="error"
          >mdi-thumb-down</v-icon>
          <v-icon
            v-else
            small
            color="success"
          >mdi-thumb-up</v-icon>
        </span>
      </template>
      <template
        slot="payment_amt-header"
        slot-scope="header"
      >
        <v-row class="align-center">
          <v-checkbox
            class="tableCheckbox"
            :value="allSelected"
            :label="header.text"
            hide-details
            @click.native.stop="toggleAllPayments"
          />
        </v-row>
      </template>
      <template
        slot="payment_amt"
        slot-scope="prop"
      >
        <v-row
          class="py-2 text-right align-center flex-nowrap"
          @click="checkHasSelected(prop.item)"
        >
          <!--suppress JSUnresolvedVariable -->
          <FakeCheckbox
            :active="hasSelected(prop.item.uuid)"
            class="mr-2"
            @click.native.stop
            @change="togglePayment($event, prop.item)"
          />
          <!--suppress JSUnresolvedVariable -->
          <Money
            :ref="`${prop.item.uuid}_money_field`"
            class="paymentInput"
            :disabled="!hasSelected(prop.item.uuid)"
            :value="expensesFieldValue(prop.item.uuid).payment_amt"
            solo
            small
            hide-details
            @input="updatePayment($event, 'payment_amt', prop.item)"
          />
        </v-row>
      </template>

      <!--Payment date-->
      <template
        slot="payment_date"
        slot-scope="prop"
      >
        <!--suppress JSUnresolvedVariable -->
        <DatePicker
          :disabled="!hasSelected(prop.item.uuid)"
          :value="expensesFieldValue(prop.item.uuid).payment_date || todaysDate"
          no-title
          solo
          prepend-icon=""
          hide-details
          @input="updatePayment($event, 'payment_date', prop.item)"
        />
      </template>

      <!--Cheque No-->
      <template
        slot="cheque_no"
        slot-scope="prop"
      >
        <!--suppress JSUnresolvedVariable -->
        <v-text-field
          :disabled="!hasSelected(prop.item.uuid)"
          :value="expensesFieldValue(prop.item.uuid).cheque_no"
          solo
          small
          hide-details
          @change="updatePayment($event, 'cheque_no', prop.item)"
        />
      </template>

      <!--Write Off-->
      <template
        slot="write_off"
        slot-scope="prop"
      >
        <v-btn
          x-small
          fab
          dark
          color="error"
          @click="handleWriteOff(prop.item)"
        >
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
      </template>
    </TableList>

    <v-row>
      <QueryPagination
        v-if="pendingExpensesList.length > 0"
        :query="query"
        :total="pagination.total"
        @input="changePage"
      />
    </v-row>

    <WriteOffModal />
  </div>
</template>

<style lang="scss" scoped>
  .tableCheckbox {
    :global(label) {
      font-size: 12px;
      font-weight: 500;
    }
  }

  .paymentInput {
    :global(input) {
      min-width: 105px;
      text-align: right;
    }
  }
</style>

<script>
import {pendingExpenses} from '../stores/pendingExpenses';
import {defaultExpensesPaymentPayload} from '@/modules/Projects/resources/projectExpenses'
import {pendingExpensesForm} from '../stores/pendingExpensesForm'
import WriteOffModal from './WriteOffModal';

export default {
  name: 'PendingExpensesTable',
  components: {
    WriteOffModal,
  },
  data() {
    return {
      todaysDate: new Date().toISOString().substr(0, 10),
      allSelected: false,
    }
  },
  computed: {
    pendingExpensesList() {
      return pendingExpenses.data.get()
    },
    query() {
      return pendingExpenses.query.get()
    },
    pagination() {
      return pendingExpenses.pagination()
    },
    isLoading() {
      const isLoading = pendingExpenses.isLoading.get();
      if (isLoading && this.allSelected) {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.allSelected = false
      }
      return isLoading
    },
    columns() {
      return pendingExpenses.tableColumns.get()
    },
    tableProp() {
      return pendingExpenses.tableProp()
    },
    itemKey() {
      return pendingExpenses.itemKey.get()
    },
    selectedRows() {
      return pendingExpenses.selectedRows.get() || {}
    },
    formFields() {
      return pendingExpensesForm.fields.get()
    },
    selectedPayments() {
      const payments = this.formFields.payments.value;
      return Object.keys(payments).filter(uuid => payments[uuid] !== undefined)
    },
    expensesFieldValue() {
      const payments = this.formFields.payments.value;
      return function(uuid) {
        return payments[uuid] || {}
      }
    },
  },
  methods: {
    hasColumn: pendingExpenses.hasColumn,
    changeSort(header, query) {
      pendingExpenses.query.update(query);
      pendingExpenses.fetchData()
    },
    handleWriteOff(expense) {
      pendingExpenses.expenseToWriteOff.assign(expense)
      this.$router.push(`${this.$route.path}/${expense.uuid}/write-off`);
    },
    hasSelected(uuid) {
      return this.selectedPayments.includes(uuid)
    },
    checkHasSelected(item) {
      const uuid = item.uuid;
      if (!this.hasSelected(uuid)) {
        this.togglePayment(true, item);
        const inputField = this.$refs[`${uuid}_money_field`];
        this.$nextTick(() => inputField.$refs.input.focus())
      }
    },
    togglePayment(active, item) {
      const uuid = item.uuid;
      const paymentsToBeMade = {...this.formFields.payments.value}
      if (active) {
        paymentsToBeMade[uuid] = {
          ...defaultExpensesPaymentPayload,
          project_id: item.project_id,
          expenses_id: uuid,
          payment_amt: parseFloat(item.balance),
          project_name: item.project_name,
          due_date: item.due_date,
          contractor: item.contractor_name,
          ref_no: item.ref_no,
          balance: parseFloat(item.balance),
        }
      } else {
        paymentsToBeMade[uuid] = undefined
      }
      this.formFields.payments.setValue(paymentsToBeMade)
    },
    toggleAllPayments() {
      let paymentsToBeMade = {...this.formFields.payments.value}

      this.allSelected = !this.allSelected;
      if (this.allSelected) {
        this.pendingExpensesList.forEach(expense => {
          const uuid = expense.uuid;
          if (paymentsToBeMade[uuid] === undefined) {
            paymentsToBeMade[uuid] = {
              ...defaultExpensesPaymentPayload,
              project_id: expense.project_id,
              expenses_id: uuid,
              payment_amt: parseFloat(expense.balance),
              project_name: expense.project_name,
              due_date: expense.due_date,
              contractor: expense.contractor_name,
              ref_no: expense.ref_no,
              balance: parseFloat(expense.balance),
            }
          }
          return uuid
        })
      } else {
        paymentsToBeMade = {}
      }
      this.formFields.payments.setValue(paymentsToBeMade)
    },
    updatePayment(value, key, item) {
      const uuid = item.uuid;
      const paymentsToBeMade = {...this.formFields.payments.value}
      if (paymentsToBeMade[uuid]) {
        paymentsToBeMade[uuid][key] = value
      } else {
        paymentsToBeMade[uuid] = {
          ...defaultExpensesPaymentPayload,
          project_id: item.project_id,
          expenses_id: uuid,
          [key]: value,
          project_name: item.project_name,
          due_date: item.due_date,
          contractor: item.contractor_name,
          ref_no: item.ref_no,
          balance: parseFloat(item.balance),
        }
      }
      this.formFields.payments.setValue(paymentsToBeMade)
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        pendingExpenses.query.update({
          page,
          limit,
        });

        pendingExpenses.fetchData()
      }
    },
    handleRowSelection(newSelectedRows) {
      pendingExpenses.selectedRows.assign(newSelectedRows)
    }
  }
}
</script>
