<template>
  <v-container fill-height>
    <v-form
      class="loginForm"
      @submit.prevent="onSubmit"
    >
      <div style="position: absolute; left: -10000px; opacity: 0;">
        <!--suppress HtmlFormInputWithoutLabel -->
        <input type="email">
        <!--suppress HtmlFormInputWithoutLabel -->
        <input type="password">
      </div>

      <h1 class="mb-3">
        Login
      </h1>

      <TextField
        ref="emailField"
        :field="fields.username"
        autofocus
      />

      <TextField
        :field="fields.password"
      />

      <v-row
        class="align-center justify-space-between"
        no-gutters
      >
        <router-link :to="`/forgot?${query}`">
          <span><b>Forgot Password?</b></span>
        </router-link>
        <CoreButton
          color="info"
          type="submit"
          :loading="isLoading"
        >
          Login
        </CoreButton>
      </v-row>
    </v-form>
  </v-container>
</template>

<style scoped>
  .loginForm {
    max-width: 460px;
    margin: auto;
    width: 80%;
  }
</style>

<script>
import {get} from 'lodash';
import {log, delay} from '@/utils';
import {loginStore} from '../stores/loginStore';
import {setToken} from '@/utils/auth';
import {stringify} from 'query-string';

export default {
  name: 'Login',
  computed: {
    query() {
      return stringify(this.$store.state.route.query)
    },
    fields() {
      return loginStore.getFields()
    },
    isLoading() {
      return loginStore.isLoading.get()
    },
  },

  async mounted() {
    await delay(500);

    this.$nextTick(() => {
      // noinspection JSUnresolvedVariable
      if (this.$refs.emailField) {
        // noinspection JSUnresolvedVariable
        this.$refs.emailField.$el.focus();
      }
    });

  },

  methods: {
    async onSubmit() {
      try {
        const response = await loginStore.submit();

        // noinspection JSUnresolvedVariable
        /**
         * Save tokens in localStorage
         */
        setToken(response.data.access_token, response.data.refresh_token);

        this.$toast('Successfully login.', {
          color: 'success',
          closeBtn: true,
        });

        /**
         * redirect to redirect path or home page
         */
        const redirectPath = this.$router.history.current.query.redirect;

        if (redirectPath) {
          this.$router.push(redirectPath)
        } else {
          this.$router.push('/')
        }
      } catch (error) {
        log(error);
        const loginError = get(error, 'response.data.message');

        // show error message underneath email field
        loginStore.updateFields({
          username: {
            errorMessages: [loginError],
          },
        });

        this.$refs.emailField.$el.focus();
      }
    },
  },
};
</script>
