<template>
  <StoreInjector :store="stores">
    <CashflowOverview/>
  </StoreInjector>
</template>

<script>
import {dashboardProjectList} from './stores/dashboardProjectList'
import {dashboardProjectDetails} from './stores/dashboardProjectDetails';
import CashflowOverview from './CashflowOverview';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'DashboardStoreInjector',
  components: {CashflowOverview},
  data() {
    return {
      stores: [
        dashboardProjectList,
        dashboardProjectDetails,
      ]
    }
  }
}
</script>
