<template>
  <div>
    <v-container pt-0>
      <ThisYearOverview />
      <br>
      <br>
      <DashboardFilter />
      <ThisMonthOverview />
      <br>
      <NextMonthOverview />
      <br>
      <DashboardProjectActions />
    </v-container>
    <div class="mx-3">
      <DashboardProjectListTable />
    </div>
  </div>

</template>
<script>
import DashboardFilter from './components/DashboardFilter'
import DashboardProjectActions from './components/DashboardProjectActions'
import DashboardProjectListTable from './components/DashboardProjectListTable'
import NextMonthOverview from './components/NextMonthOverview'
import ThisMonthOverview from './components/ThisMonthOverview'
import ThisYearOverview from './components/ThisYearOverview'

import {dashboardFilter} from './stores/dashboardFilter'

export default {
  name: 'CashflowOverview',
  components: {
    DashboardFilter,
    DashboardProjectActions,
    DashboardProjectListTable,
    NextMonthOverview,
    ThisMonthOverview,
    ThisYearOverview
  },
  created() {
    // set default date first
    dashboardFilter.setDate();

    // fetch data on landed on dashboard page
    dashboardFilter.fetchProjectList();
    dashboardFilter.fetchProjectedSummaryData();
  }
}
</script>
