<template>
  <StoreInjector :store="stores">
    <div>
      <v-toolbar
        class="dashboardToolbar"
        flat
        dense
      >
        <v-tabs
          class="ml-0"
          optional
        >
          <v-tab
            v-for="(route, index) in dashboardRoutes"
            :key="index"
            :to="route.path"
            class="mx-0"
            active-class=""
            exact-active-class="blue lighten-5 blue--text"
          >
            {{ route.name }}
          </v-tab>
        </v-tabs>
      </v-toolbar>
      <router-view />
    </div>
  </StoreInjector>
</template>

<style scoped lang="scss">
  @import "~bootstrap/scss/functions";
  @import "~bootstrap/scss/variables";
  @import "~bootstrap/scss/mixins";

  .dashboardToolbar {
    margin-top: -15px !important;

    :global(.v-tab) {
      @include media-breakpoint-up("lg") {
        min-width: 300px;
      }
    }

    :global(.v-tabs-slider-wrapper) {
      z-index: 1;
    }
  }
</style>

<script>
// noinspection JSUnusedGlobalSymbols
import {projectManagerList} from './stores/projectManagerList';
import {dashboardFilter} from './stores/dashboardFilter';
import {dashboardPayments} from './stores/dashboardPayments';
import {dashboardSummary} from './stores/dashboardSummary';
import {dashboardProjectList} from './stores/dashboardProjectList';
import {dashboardRoutes} from './routes';

export default {
  name: 'Dashboard',
  data() {
    return {
      stores: [
        dashboardSummary,
        dashboardPayments,
        projectManagerList,
        dashboardFilter,
        dashboardProjectList,
      ],
      dashboardRoutes: dashboardRoutes[0].children
    }
  }
}
</script>

