<template>
  <div>
    <v-container>
      <DashboardFilter :with-date-filter="false"/>
      <v-row class="pt-3">
        <v-col>
          <OverdueCard
            title="Total Overdue Invoices"
            list-type="invoices"
            :total-overdue-value="invoiceOverdueList.overdue_amt"
            :filter-list="filterList"
            :overdue-values="invoiceOverdueValues"
            :is-loading="dashboardOverdueIsLoading"
            :is-show-all="showAllOverdueInvoices"
            @show-all="handleOnFilterChange($event, 'all')"
            @click="handleOnFilterChange"
          >
            <div
              v-if="userIsElevated"
              class="text-center pt-3"
            >
              <v-btn
                to="/pending-invoices/write-off-invoices"
                color="grey lighten-2"
                class="px-4"
                depressed
                rounded
              >
                Show written off invoices
              </v-btn>
            </div>
          </OverdueCard>
        </v-col>
        <v-col>
          <OverdueCard
            title="Total Overdue Expenses"
            list-type="expenses"
            :header-bg-color="['#9170eb', '#70b1eb']"
            :total-overdue-value="expensesOverdueList.overdue_amt"
            :filter-list="filterList"
            :is-loading="dashboardOverdueIsLoading"
            :overdue-values="expenseOverdueValues"
            :is-show-all="showAllOverdueExpenses"
            @show-all="handleOnFilterChange($event, 'all')"
            @click="handleOnFilterChange"
          >
            <div
              v-if="userIsElevated"
              class="text-center pt-3"
            >
              <v-btn
                to="/bulk-payment/write-off-expenses"
                color="grey lighten-2"
                class="px-4"
                depressed
                rounded
              >
                Show written off expenses
              </v-btn>
            </div>
          </OverdueCard>
        </v-col>
      </v-row>
    </v-container>
    <div class="mx-3">
      <OverdueInvoiceTable />
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .showAll:global(.theme--dark.v-btn) {
    background-color: rgba(0, 0, 0, 0.25);
  }
</style>

<script>
// noinspection JSUnusedGlobalSymbols
import {filter} from 'lodash';
import {auth} from '@/stores/auth';
import {mapValues} from 'lodash';
import DashboardFilter from './components/DashboardFilter';
import OverdueCard from './components/OverdueCard';
import OverdueInvoiceTable from './components/OverdueInvoiceTable';
import {dashboardFilter} from './stores/dashboardFilter';
import {dashboardOverdue} from './stores/dashboardOverdue';

export default {
  name: 'OverdueInvoices',
  components: {
    OverdueCard,
    DashboardFilter,
    OverdueInvoiceTable
  },
  data() {
    return {};
  },
  computed: {
    selectedList() {
      return dashboardOverdue.selectedTableStore();
    },
    dashboardOverdueIsLoading() {
      return dashboardOverdue.isLoading.get();
    },
    showAllOverdueInvoices() {
      const payload = dashboardOverdue.overduePayload.get();

      return payload.listType === 'invoices' && !payload.overdueType;
    },
    showAllOverdueExpenses() {
      const payload = dashboardOverdue.overduePayload.get();

      return payload.listType === 'expenses' && !payload.overdueType;
    },
    filterList() {
      return dashboardOverdue.filterList.get()
    },
    invoiceOverdueList() {
      return dashboardOverdue.data.get().invoice
    },
    expensesOverdueList() {
      return dashboardOverdue.data.get().expense
    },
    invoiceOverdueValues() {
      return mapValues(this.filterList, (label, filterKey) => {
        return this.invoiceOverdueList[filterKey]
      });
    },
    expenseOverdueValues() {
      return mapValues(this.filterList, (label, filterKey) => {
        return this.expensesOverdueList[filterKey]
      });
    },
    roles() {
      return auth.userDetails.getCurrentRoles();
    },
    userIsElevated() {
      return filter(this.roles, (o) => {
        return o.id === 1 || o.id === 2 || o.id === 3
      }).length > 0;
    }
  },
  created() {
    const payload = dashboardOverdue.overduePayload.get();

    dashboardOverdue.fetchData({
      project_manager: dashboardFilter.projectManager.get(),
      ...payload,
    });
    this.selectedList.fetchData({
      status: 'overdue',
      ...this.selectedList.query.get(),
      ...payload
    });
  },
  methods: {
    handleOnFilterChange(listType, filter) {
      if (filter === 'all') {
        dashboardOverdue.overduePayload.update({
          listType,
          overdueType: undefined,
        });
      } else {
        dashboardOverdue.overduePayload.update({
          listType,
          overdueType: filter,
        });
      }

      const payload = dashboardOverdue.overduePayload.get();
      const overdueType = this.filterList[payload.overdueType];
      const selectedOverdueRange = overdueType ? overdueType.value : {};

      this.selectedList.query.update({
        status: 'overdue',
        project_manager: dashboardFilter.projectManager.get(),
        ...this.selectedList.query.get(),
        ...selectedOverdueRange
      });

      this.selectedList.fetchData();
    }
  }
}
</script>
