<template>
  <StoreInjector :store="stores">
    <OverdueInvoices/>
  </StoreInjector>
</template>

<script>
import OverdueInvoices from './OverdueInvoices';
import {dashboardOverdue} from './stores/dashboardOverdue';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'DashboardStoreInjector',
  components: {OverdueInvoices},
  data() {
    return {
      stores: [
        dashboardOverdue,
      ]
    }
  }
}
</script>
