<template>
  <v-container>
    <v-row
      class="cashFlowSection"
      my-3
      no-gutters
    >
      <v-col>
        <CashFlowCard :header-bg-color="['#9170eb', '#70b1eb']">
          <template slot="title">
            <h5 class="m-0 font-weight-medium py-2">
              Nett Cash Flow {{ thisYearRange }}
            </h5>
          </template>
          <template slot="sub-title">
            <h3 class="m-0 font-weight-medium text-no-wrap">
              {{ thisYear.summary.payment.cashflow_nett | toCurrencyValue }}
            </h3>
          </template>
        </CashFlowCard>
      </v-col>
      <v-col>
        <CashFlowCard :header-bg-color="['#61CACC', '#61CC78']">
          <template slot="title">
            <h5 class="m-0 font-weight-medium py-2">
              Nett Cash Flow {{ thisMonthRange }}
            </h5>
          </template>
          <template slot="sub-title">
            <h3 class="m-0 font-weight-medium text-no-wrap">
              {{ thisMonthSummary.payment.cashflow_nett | toCurrencyValue }}
            </h3>
          </template>
        </CashFlowCard>
      </v-col>
      <v-col>
        <CashFlowCard :header-bg-color="['#EA7093', '#EAAF70']">
          <template slot="title">
            <h5 class="m-0 font-weight-medium py-2">
              Nett Cash Flow {{ nextMonthRange }}
            </h5>
          </template>
          <template slot="sub-title">
            <h3 class="m-0 font-weight-medium text-no-wrap">
              {{ nextMonthSummary.payment.cashflow_nett | toCurrencyValue }}
            </h3>
          </template>
        </CashFlowCard>
      </v-col>
    </v-row>
    <v-row
      class="titleFilterBar py-3"
      no-gutters
    >
      <h3 class="my-0 mt-2 justify-self-center">
        Project Performance Overview
      </h3>
      <v-select
        v-if="userIsElevated"
        :value="selectedProjectManager"
        flat
        solo
        small
        clearable
        hide-details
        class="projectManagerSelect"
        item-text="name"
        item-value="id"
        placeholder="All project managers"
        :items="projectManagerList"
        @change="handleOnProjectManagerChange"
      />
    </v-row>
    <RoundedCard>
      <v-row
        class="pa-3"
        justify="center"
        align="center"
        no-gutters
      >
        <MagicQuadrant :data="allProjects" />
      </v-row>
    </RoundedCard>
    <v-row
      class="titleFilterBar py-3"
      no-gutters
    >
      <h3 class="mt-3 mb-2 justify-self-center">
        Project Manager Performance Overview
      </h3>
    </v-row>
    <RoundedCard>
      <ProjectManagerChart/>
    </RoundedCard>
  </v-container>
</template>
<style lang="scss" scoped>
  .cashFlowSection {
    display: flex;
    flex-direction: row;

    & > * {
      width: 100%;
    }

    & > :not(:last-child) {
      padding-right: 15px;
    }
  }

  .projectManagerSelect {
    max-width: 300px;
  }
  .titleFilterBar {
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
</style>
<script>
import {filter} from 'lodash';
import {auth} from '@/stores/auth';
import {apiErrorNotification} from '@/utils/request';
import {appStore} from '@/stores/appStore';
import MagicQuadrant from './components/MagicQuadrant';
import CashFlowCard from './components/CashFlowCard';
import {dashboardProjectList} from './stores/dashboardProjectList';
import {projectManagerList} from './stores/projectManagerList';
import {dashboardFilter} from './stores/dashboardFilter';
import ProjectManagerChart from './components/ProjectManagerChart';
import {dashboardSummaryApi} from './stores/dashboardSummary';
import {thisYearOverviewQuery} from './stores/dashboardFilter';
import {dashboardSummary} from './stores/dashboardSummary';
import {projectManagerSummary} from './stores/dashboardPerformance';
import _ from 'lodash';
import {monthName, monthAndDay} from '@nixel/base/filters/datetime';
import {startOfYear, startOfMonth, endOfMonth, subMonths, addMonths} from 'date-fns';

export default {
  name: 'Performance',
  components: {
    ProjectManagerChart,
    MagicQuadrant,
    CashFlowCard,
  },
  data() {
    return {
      thisYear: {
        summary: {
          invoice: {
            total_received: 0,
            total_received_in_period: 0,
            total_invoiced: 0,
            total_receivable: 0,
            total_receivable_in_period: 0,
            total_advance_received_in_period: 0,
          },
          expense: {
            total_paid: 0,
            total_paid_in_period: 0,
            total_expenses: 0,
            total_payable: 0,
            total_payable_in_period: 0,
            total_overpay_in_period: 0,
          },
          payment: {
            cashflow_nett: 0,
            projected_cashflow_nett: 0,
          }
        },
      },
    }
  },
  computed: {
    allProjects() {
      return _.map(this.projectList, (project) => {
        return {
          name: project.name,
          value: [
            project.cashflow_margin,
            project.progress_diff,
          ],
          uuid: project.uuid,
        }
      })
    },
    thisYearRange() {
      const today = new Date();
      const start = startOfYear(today);
      const end = startOfMonth(subMonths(today, 1));
      return  `(${monthAndDay(start)} till ${monthAndDay(end)})`;
    },
    thisMonthRange() {
      const today = new Date();
      const start = startOfMonth(subMonths(today, 1));
      const end = endOfMonth(today)
      return  `(${monthAndDay(start)} till ${monthAndDay(end)})`;
    },
    nextMonthRange() {
      const today = new Date();
      const start = startOfMonth(subMonths(today, 1));
      const end = endOfMonth(addMonths(today, 1));
      return  `(${monthAndDay(start)} till ${monthAndDay(end)})`;
    },
    sideNavIsOpen() {
      return appStore.sideNavIsOpen.get()
    },
    projectList() {
      return dashboardProjectList.data.get()
    },
    projectListIsLoading() {
      return dashboardProjectList.isLoading.get()
    },
    projectManagerList() {
      return projectManagerList.data.get()
    },
    selectedProjectManager() {
      return dashboardFilter.projectManager.get()
    },
    thisMonthSummary() {
      return dashboardSummary.thisMonthDashboardSummary.data.get()
    },
    nextMonthSummary() {
      return dashboardSummary.nextMonthDashboardSummary.data.get()
    },
    roles() {
      return auth.userDetails.getCurrentRoles();
    },
    userIsElevated() {
      return filter(this.roles, (o) => {
        return o.id === 1 || o.id === 2 || o.id === 3
      }).length > 0;
    }
  },
  mounted() {
    projectManagerList.fetchData()
  },
  async created() {
    try {
      this.isLoading = true;
      dashboardProjectList.fetchData();
      this.handleOnProjectManagerChange(undefined); // quick fix for graph error, remove this when graph is fixed

      const thisYearResponse = await dashboardSummaryApi(thisYearOverviewQuery);
      this.thisYear.summary = thisYearResponse.data.data;

      // set default date first
      dashboardFilter.setDate();
      dashboardFilter.fetchProjectedSummaryData();

      projectManagerSummary.query.set('no_of_months', 6)
      await projectManagerSummary.fetchData();

      this.isLoading = false;

    } catch (e) {
      apiErrorNotification(e)
    }
  },
  methods: {
    handleOnProjectManagerChange(newValue) {
      const filter = {
        project_manager: newValue
      };
      dashboardFilter.projectManager.assign(newValue);
      dashboardProjectList.fetchData(filter);

      const summaryQuery = {
        ...projectManagerSummary.query.get(),
        project_manager: newValue
      };
      projectManagerSummary.fetchData(summaryQuery);
    },
  }
}
</script>
