<template>
  <StoreInjector :store="stores">
    <Performance/>
  </StoreInjector>
</template>

<script>
import Performance from '@/modules/Dashboard/Performance';
import {projectDetails} from '../Projects/stores/projectDetails'
import {projectManagerSummary, projectManagerProjectsDrillDown} from './stores/dashboardPerformance';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'DashboardStoreInjector',
  components: {Performance},
  data() {
    return {
      stores: [
        projectDetails,
        projectManagerSummary,
        projectManagerProjectsDrillDown
      ]
    }
  }
}
</script>
