<template>
  <v-container
    fluid
    pt-0
  >
    <RoundedCard class="pb-4">
      <RoleListTable />
    </RoundedCard>
  </v-container>
</template>

<script>
import {debounce} from 'lodash';
import {roleTableList} from './stores/roleList';
import {apiErrorNotification} from '../../utils/request';
import RoleListTable from './components/RoleListTable';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'RoleList',
  components: {
    RoleListTable,
  },
  data() {
    return {
      searchString: '',
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      try {
        await roleTableList.fetchData();
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    handleOnSearch: debounce(function(value) {
      roleTableList.query.update({
        filter: value,
        page: 1,
      });

      this.fetchData();
    }, 300)
  },
};
</script>
