<template>
  <StoreInjector :store="stores">
    <router-view />
  </StoreInjector>
</template>

<script>
import {projectPermissions, userTableList} from './stores/userTableList';
import {userDetails} from './stores/userDetails';
import {userDelete} from './stores/userDelete';
import {roleDetails} from './stores/roleDetails';
import {roleList, roleTableList} from './stores/roleList';
import {userImpersonation} from './stores/userImpersonation';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'Users',
  data() {
    return {
      stores: [
        userTableList,
        userDetails,
        userDelete,
        roleTableList,
        roleDetails,

        projectPermissions,
        roleList,

        userImpersonation,
      ],
    }
  },
}
</script>
