<template>
  <div class="mx-3">
    <v-row
      class="justify-space-between align-center px-3"
      no-gutters
    >
      <h3 class="px-2 ma-0 project-name">
        {{ projectName }}
      </h3>
      <CoreButton
        outlined
        color="info"
        @click="toggleShowSummary"
      >
        {{ buttonText }}
      </CoreButton>
    </v-row>
    <v-expand-transition>
      <RoundedCard
        v-if="showSummary"
        class="project-details-summary-card mt-3"
      >
        <ProjectDetailsSummary />
      </RoundedCard>
    </v-expand-transition>
    <RoundedCard class="project-details-card mt-4">
      <v-row
        class="px-3"
        no-gutters
      >
        <v-tabs>
          <v-tab
            v-for="(tabDetails, tabName) in tabNames"
            :key="tabName"
            :to="tabDetails.path($router.currentRoute.params.uuid)"
            class="project-summary-tab ml-0"
            active-class="grey--text text--darken-1"
            ripple
          >
            {{ tabDetails.label }}
          </v-tab>
        </v-tabs>
      </v-row>
      <!-- router view-->
      <transition
        name="fade-transform"
        mode="out-in"
      >
        <router-view />
      </transition>
    </RoundedCard>
  </div>
</template>

<style lang="scss" scoped>
  .project-name {
    font-weight: bold;
  }
  .project-details-summary-card {
  }
  .project-summary-tab {
  }
  .project-details-card {
  }
</style>

<script>
import {projectList} from './stores/projectList'
import {projectDetails, updateProjectForm} from './stores/projectDetails'
import ProjectDetailsSummary from './components/projectDetails/ProjectDetailsSummary'
import {projectDetailsPaths} from './resources/projectDetails';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ProjectDetails',
  components: {
    ProjectDetailsSummary,
  },
  data() {
    return {
      projectList,
      projectDetails,
      showSummary: false,
      tabNames: projectDetailsPaths,
    }
  },
  computed: {
    projectName() {
      return projectDetails.name()
    },
    buttonText() {
      return this.showSummary ? 'Hide Summary' : 'Show Summary'
    },
    showUpdateForm: {
      get() {
        // noinspection JSUnresolvedFunction
        return projectDetails.showUpdateForm.get()
      },
      set(value) {
        // noinspection JSUnresolvedFunction
        projectDetails.showUpdateForm.assign(value)
      }
    },
  },
  watch: {
    showSummary(newVal) {
      sessionStorage.setItem('showSummary', newVal)
    }
  },
  async mounted() {
    this.fetchData();
    if (sessionStorage.getItem('showSummary')) {
      this.showSummary = JSON.parse(sessionStorage.getItem('showSummary'))
    }
  },
  methods: {
    async fetchData() {
      try {
        const uuid = this.$route.params.uuid;
        projectDetails.query.set('uuid', uuid);
        await projectDetails.fetchData();

        const data = projectDetails.data.get();
        // noinspection JSUnresolvedFunction
        updateProjectForm.updateInitials(data)
      } catch (e) {
        console.error(e);
      }
    },
    toggleShowSummary() {
      this.showSummary = !this.showSummary
    }
  },
}
</script>
