<template>
  <v-container
    fluid
    pt-0
  >
    <RoundedCard>
      <v-row
        class="align-center pt-4 pb-2 px-4"
        no-gutters
      >
        <v-col>
          <ProjectListFilters />
        </v-col>
        <v-col
          class="py-3"
          cols="12"
          lg="auto"
        >
          <div class="d-flex flex-nowrap justify-content-end">
            <CoreButton
              class="mx-3"
              color="success"
              @click="handleAddButton"
            >
              <v-icon>mdi-plus</v-icon>
              Add
            </CoreButton>
            <ProjectListActionButtons />
          </div>
        </v-col>
      </v-row>

      <ProjectListTable />

      <v-dialog
        v-model="showCreateForm"
        width="850"
      >
        <v-card>
          <v-card-title
            class="headline"
            primary-title
          >
            Create Project
          </v-card-title>
          <ProjectForm
            :form-fields="createFormFields"
            :form-is-valid="formIsValid"
            :loading="formIsLoading"
            submit-text="Create"
            cancel-text="Clear"
            @form-submit="onSubmit"
            @form-cancel="cancelCreateForm"
          />
        </v-card>
      </v-dialog>

      <ProjectSalesModal />
      <ProjectPurchasesModal />
      <ProjectCashflowModal />
    </RoundedCard>
  </v-container>
</template>

<style scoped lang="scss">
  .project-listing-search-bar {
    min-width: 700px;
    flex-grow: 100;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .project-listing-action-buttons--outer {
    margin-left: -12px;
  }

</style>

<script>
import {apiErrorNotification} from '@/utils/request'
import {projectList, createProjectForm} from './stores/projectList'
import ProjectListTable from './components/ProjectListTable'
import ProjectForm from './components/ProjectForm'
import ProjectListActionButtons from './components/projectList/ProjectListActionButtons'
import ProjectListFilters from './components/projectList/ProjectListFilters'
import ProjectSalesModal from './components/projectList/ProjectSalesModal'
import ProjectPurchasesModal from './components/projectList/ProjectPurchasesModal'
import ProjectCashflowModal from './components/projectList/ProjectCashflowModal'
import {PROJECT_CREATE_PATH, PROJECT_LIST_PATH} from './routes';
import {inProgressProjectStatus} from '@/modules/Projects/resources/projectStatuses';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ProjectList',
  components: {
    ProjectListTable,
    ProjectListActionButtons,
    ProjectForm,
    ProjectListFilters,
    ProjectSalesModal,
    ProjectPurchasesModal,
    ProjectCashflowModal,
  },
  data() {
    return {};
  },
  computed: {
    query() {
      return projectList.query.get()
    },
    pagination() {
      return projectList.pagination()
    },
    showCreateForm: {
      get() {
        return this.$route.path === PROJECT_CREATE_PATH
      },
      set() {
        // close dialog
        this.$router.push(PROJECT_LIST_PATH);

        // reset form
        createProjectForm.resetForm();
      }
    },
    createFormFields() {
      return createProjectForm.fields.get()
    },
    formIsValid() {
      return createProjectForm.isValid()
    },
    formIsLoading() {
      return createProjectForm.isLoading.get()
    },
    projects() {
      return projectList.data.get()
    },
    includeCompleted() {
      return this.$route.query.includeCompleted === '1'
    },
  },
  mounted() {
    projectList.fetchData({
      status: this.includeCompleted ? '' : inProgressProjectStatus,
    });
    createProjectForm.resetForm();
  },
  methods: {
    handleAddButton() {
      this.$router.push(PROJECT_CREATE_PATH);
    },
    changePage(query) {
      projectList.query.update(query);
      projectList.fetchData();
    },
    async onSubmit() {
      try {
        await createProjectForm.submit();
        projectList.fetchData();
        createProjectForm.resetForm();

        // redirect user to project list page
        this.$router.push(PROJECT_LIST_PATH);
      } catch (error) {
        console.error(error);
        apiErrorNotification(error)
      }
    },
    cancelCreateForm() {
      createProjectForm.resetForm();
    }
  }
}
</script>
