<template>
  <div>
    <StoreInjector :store="stores">
      <ProjectList />
    </StoreInjector>
  </div>
</template>

<script>
import ProjectList from './ProjectList'
import {
  projectList,
  createProjectForm,
  projectSales,
  projectPurchases,
  projectCashflow
} from './stores/projectList'
import {projectDelete} from './stores/projectDelete';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ProjectListStoreInjector',
  components: {
    ProjectList,
  },
  data() {
    return {
      stores: [
        projectList,
        projectDelete,
        createProjectForm,
        projectSales,
        projectPurchases,
        projectCashflow,
      ]
    }
  },
}
</script>
