<template>
  <StoreInjector :store="stores">
    <ProjectDetailsInvoices />
  </StoreInjector>
</template>

<script>
import ProjectDetailsInvoices from './components/projectDetails/invoices/ProjectDetailsInvoices'
import {projectInvoices,
  createInvoicesForm,
  updateInvoiceForm,
  projectInvoicesTable,
  projectInvoiceDelete
} from './stores/projectInvoices'
import {invoicePaymentForm} from './stores/projectInvoicePaymentForm'
import {organisationList} from '@/stores/organisationList';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ProjectDetailsInvoicesStoreInjector',
  components: {
    ProjectDetailsInvoices
  },
  data() {
    return {
      stores: [
        organisationList,
        projectInvoices,
        projectInvoicesTable,
        createInvoicesForm,
        updateInvoiceForm,
        invoicePaymentForm,
        projectInvoiceDelete,
      ]
    }
  }
}
</script>
