
.color-danger {
  color: var(--danger-color);
}
.color-warning {
  color: var(--warning-color);
}
.color-success {
  color: var(--success-color);
}
.color-info {
  color: var(--info-color);
}
.color-link {
  color: var(--link-color);
}
