$padding-small: 10px;
$padding-general: 15px;
$margin-general:$padding-general;
$margin-small: $padding-small;

// Font size
$font-size-general: 14px;
//$font-family-sans-serif:"Roboto", "Helvetica", "Arial", sans-serif;
//$font-family-serif: "Roboto Slab", "Times New Roman", serif;
$font-size-mini:9px;
$font-size-small: 12px;
$font-size-default: 14px;
$font-size-h1: 3.3125rem;
$font-size-h2: 2.25rem;
$font-size-h3: 1.5625rem;
$font-size-h4: 1.125rem;
$font-size-h5: 1rem;
$font-size-h6: 0.75rem;
$font-paragraph:$font-size-default;

// Font Weight
$font-weight-lighter: 300;
$font-weight-base: 400;
$font-weight-bolder: 500;

// Line Height
$line-height: 30px;
$line-height-base: 1.5em;
$line-height-footer-items: 1.8;
$line-height-higher:22px;
$line-height-high: 56px;

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-family: $font-family-sans-serif !important;
  line-height: $line-height-base !important;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin-top: $margin-general + 5;
  margin-bottom: $margin-small;
  font-weight: $font-weight-bolder;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  margin-top: $margin-small;
  margin-bottom: $margin-small;
  font-weight: $font-weight-bolder;
}

h1,
.h1 {
  font-size: $font-size-h1 !important;
  line-height: 1.15em !important;
}
h2,
.h2 {
  font-size: $font-size-h2 !important;
  line-height: $line-height-base !important;
}
h3,
.h3 {
  font-size: $font-size-h3 !important;
  line-height: 1.4em !important;
}
h4,
.h4 {
  font-size: $font-size-h4 !important;
  line-height: $line-height-base !important;
}
h5,
.h5 {
  font-size: $font-size-h5 !important;
  line-height: 1.55em !important;
  margin-bottom: $margin-general;
}
h6,
.h6 {
  font-size: $font-size-h6 !important;
  //text-transform: uppercase;
  //font-weight: $font-weight-bolder;
}

p {
  font-size: $font-paragraph !important;
  margin: 0 0 $margin-small;
}

h2.title {
  margin-bottom: $margin-general * 2;
}


.font-sm {
  font-size: 12px;
}

.font-xs {
  font-size: 10px;
}

.text-underline {
  text-decoration: underline;
}

