//@import "../../node_modules/bootstrap/scss/functions.scss";
//@import "../../node_modules/bootstrap/scss/variables.scss";
@import "./material-dashboard/_colors.scss";

:root {
  --global-background-color: #f2f2f2;
  --danger-color: #c04d32;
  --warning-color: #fec171;
  --success-color: #30b08f;
  --info-color: #3a71a8;
  --border-color: #949197;
  --link-color: #1a0dab;
  --inverted-solo-color: #f2f2f2;
  --inverted-solo-color--light: #f9f9f9;
  --inverted-solo-color--dark: #ebebeb;
  --text-grey-color: #6c6c6c;

  // component specific
  --component-name-variable-name: "color/value";
}
