<template>
  <div>
    <CoreButton
      icon="arrow-left"
      @click="back"
    >
      Back
    </CoreButton>
    <v-container>
      <v-row>
        <v-col cols="12">
          <h1 class="text-jumbo text-ginormous">
            Oops!
          </h1>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>

export default {
  name: 'Page401',
  data() {
    return {}
  },
  methods: {
    back() {
      if (this.$route.query.noGoBack) {
        this.$router.push({path: '/dashboard'})
      } else {
        this.$router.go(-1)
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
</style>
