<template>
  <div class="http404-container">
    <div class="http404">
      <div class="bullshit">
        <div class="bullshit__oops">
          OOPS!
        </div>
        <div class="bullshit__headline">
          Error 404: Page not found.
        </div>
        <div class="bullshit__info" />
        <router-link
          to="/"
          class="bullshit__return-home"
        >
          Back to home page
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Page404',
}
</script>

<style lang="scss" scoped>
</style>
