<template>
  <v-container
    fluid
    grid-list-xl
    fill-height
  >
    <v-row
      justify-center
      align-center
    >
      <v-col cols="12">
        <MaterialCard
          color="green"
        >
          <div slot="header">
            <div class="title font-weight-light mb-2">
              Notifications
            </div>
            <div class="category">
              Handcrafted by us with
              <v-icon
                size="17"
              >
                mdi-heart
              </v-icon>
            </div>
          </div>

          <v-card-text>
            <v-row
              row
              wrap
            >
              <v-col
                md="6"
                sm="2"
              >
                <h2 class="title font-weight-light mb-3">
                  Notifications Style
                </h2>

                <MaterialNotification
                  class="mb-3"
                  color="info"
                >
                  This is a plain notification
                </MaterialNotification>
                <MaterialNotification
                  class="mb-3"
                  color="info"
                  dismissible
                >
                  This is a notification with close button.
                </MaterialNotification>
                <MaterialNotification
                  class="mb-3"
                  color="info"
                  dismissible
                  icon="mdi-bell-plus"
                >
                  This is a notification with close button and icon.
                </MaterialNotification>
                <MaterialNotification
                  class="mb-3"
                  color="info"
                  dismissible
                  icon="mdi-bell-plus"
                >
                  This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to worry about the style.
                </MaterialNotification>
              </v-col>

              <v-col
                md="6"
                sm="2"
              >
                <h2 class="title font-weight-light">
                  Notifcation States
                </h2>

                <MaterialNotification
                  class="mb-3"
                  color="info"
                  dismissible
                >
                  <strong>INFO</strong> - This is a regular notification made with `color="info"`
                </MaterialNotification>

                <MaterialNotification
                  class="mb-3"
                  color="success"
                  dismissible
                >
                  <strong>SUCCESS</strong> - This is a regular notification made with `color="success"`
                </MaterialNotification>

                <MaterialNotification
                  class="mb-3"
                  color="warning"
                  dismissible
                >
                  <strong>WARNING</strong> - This is a regular notification made with `color="warning"`
                </MaterialNotification>

                <MaterialNotification
                  class="mb-3"
                  color="error"
                  dismissible
                >
                  <strong>DANGER</strong> - This is a regular notification made with `color="error"`
                </MaterialNotification>

                <MaterialNotification
                  class="mb-3"
                  color="purple"
                  dismissible
                >
                  <strong>PRIMARY</strong> - This is a regular notification made with `color="purple"`
                </MaterialNotification>
              </v-col>
            </v-row>
            <div class="text-xs-center">
              <h2 class="title font-weight-light mb-2">
                Notification Places
              </h2>
              <span class=" subheading font-weight-light grey--text">Click to view notifications</span>
            </div>

            <v-container grid-list-lg>
              <v-row
                justify-center
                row
                wrap
              >
                <v-col
                  cols="12"
                  sm="4"
                >
                  <CoreButton
                    block
                    color="success"
                    @click="snack('top', 'left')"
                  >
                    Top Left
                  </CoreButton>
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                >
                  <CoreButton
                    block
                    color="success"
                    @click="snack('top')"
                  >
                    Top Center
                  </CoreButton>
                </v-col>
              </v-row>
              <v-row
                justify-center
                row
                wrap
              >
                <v-col
                  cols="12"
                  sm="4"
                >
                  <CoreButton
                    block
                    color="success"
                    @click="snack('top', 'right')"
                  >
                    Top Right
                  </CoreButton>
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                >
                  <CoreButton
                    block
                    color="success"
                    @click="snack('bottom', 'left')"
                  >
                    Bottom Left
                  </CoreButton>
                </v-col>
              </v-row>
              <v-row
                justify-center
                row
                wrap
              >
                <v-col
                  cols="12"
                  sm="4"
                >
                  <CoreButton
                    block
                    color="success"
                    @click="snack('bottom')"
                  >
                    Bottom Center
                  </CoreButton>
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                >
                  <CoreButton
                    block
                    color="success"
                    @click="snack('bottom', 'right')"
                  >
                    Bottom Right
                  </CoreButton>
                </v-col>
              </v-row>
            </v-container>

            <v-snackbar
              v-model="snackbar"
              :color="color"
              :bottom="bottom"
              :top="top"
              :left="left"
              :right="right"
              dark
            >
              <v-icon
                color="white"
                class="mr-3"
              >
                mdi-bell-plus
              </v-icon>
              <div>Welcome to <b>Vue Material Dashboard</b> - a beautiful freebie for every web developer.</div>
              <v-icon
                size="16"
                @click="snackbar = false"
              >
                mdi-close-circle
              </v-icon>
            </v-snackbar>
          </v-card-text>
        </MaterialCard>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
export default {
  data: () => ({
    color: null,
    colors: [
      'purple',
      'info',
      'success',
      'warning',
      'error'
    ],
    top: true,
    bottom: false,
    left: false,
    right: false,
    snackbar: false
  }),

  methods: {
    snack(...args) {
      this.top = false;
      this.bottom = false;
      this.left = false;
      this.right = false;

      for (const loc of args) {
        this[loc] = true
      }

      this.color = this.colors[Math.floor(Math.random() * this.colors.length)];

      this.snackbar = true
    }
  }
}
</script>
