<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-row
      class="justify-center"
      no-gutters
    >
      <v-row md="12">
        <MaterialCard
          color="green"
          title="Table List"
          text="Here is a subtitle for this table"
        >
          <TableList
            :columns="columns"
            :list="items"
            :table-prop="tableProp"
            hide-default-footer
            expandable-handle
            item-key="name"
            @change-sort="changeSort"
            @expanded="onExpand"
          >
            <!-- Expand slot, checkout `expandable-handle` -->
            <template
              slot="expand"
              slot-scope="prop"
            >
              <div>
                {{ prop.item }}
              </div>
            </template>

            <!-- Custom header, just put the column's value (key) with `-header` into the slot name -->
            <!-- well the scope is not standardised, should I? -->
            <template
              slot="country-header"
              slot-scope="header"
            >
              <v-row
                align="center"
              >
                <!-- To prevent propagate click event to affect header's sorting, add `@click.native.stop` -->
                <v-checkbox
                  v-model="customCheck"
                  style="width: 10px;"
                  hide-details
                  @click.native.stop="toggleCheck"
                />
                <h5 class="red--text">
                  {{ header.text }}
                </h5>
                <v-icon
                  v-if="header.sortable"
                  small
                >
                  mdi-arrow-up
                </v-icon>
              </v-row>
            </template>

            <!-- Custom column, just put the column's value (key) into the slot name -->
            <template
              slot="name"
              slot-scope="props"
            >
              <h2>{{ props.item.name }}</h2>
            </template>

            <!-- add row actions -->
            <template
              slot="actions"
              slot-scope="props"
            >
              <ActionMenu
                :navigation="tableActions(props)"
              />
            </template>
          </TableList>
        </MaterialCard>
      </v-row>
    </v-row>
  </v-container>
</template>

<!--suppress JSUnusedGlobalSymbols -->
<script>
export default {
  data: () => ({
    customCheck: true,
    columns: [
      {
        type: 'expand',
      },
      {
        type: 'index',
      },
      {
        sortable: true,
        text: 'Name',
        value: 'name',
        align: 'left',
        // check out tooltip's props
        // ref: https://vuetifyjs.com/en/components/tooltips#tooltip
        tooltip: {
          message: 'This is the column name.',
          color: 'grey',
        },
        columnTooltip: {
          message: 'This is the column name.',
          color: 'grey',
        },
      },
      {
        sortable: true,
        text: 'Country',
        value: 'country',
        columnTooltip: {
          message(prop) {
            return `This is ${prop.item.name}.`
          },
          color: 'grey',
        },
      },
      {
        sortable: true,
        text: 'City',
        value: 'city'
      },
      {
        sortable: false,
        text: 'Salary',
        value: 'salary',
        align: 'right'
      }
    ],
    items: [
      {
        name: 'Dakota Rice',
        country: 'Niger',
        city: 'Oud-Tunrhout',
        salary: '$35,738'
      },
      {
        name: 'Minerva Hooper',
        country: 'Curaçao',
        city: 'Sinaai-Waas',
        salary: '$23,738'
      }, {
        name: 'Sage Rodriguez',
        country: 'Netherlands',
        city: 'Overland Park',
        salary: '$56,142'
      }, {
        name: 'Philip Chanley',
        country: 'Korea, South',
        city: 'Gloucester',
        salary: '$38,735'
      }, {
        name: 'Doris Greene',
        country: 'Malawi',
        city: 'Feldkirchen in Kārnten',
        salary: '$63,542'
      }, {
        name: 'Mason Porter',
        country: 'Chile',
        city: 'Gloucester',
        salary: '$78,615'
      }
    ],
    tableProp: {
      sortBy: 'country',
      descending: 'DESC',
      totalItems: 100,
      page: 1,
      rowsPerPage: 50,
      from: 1,
      to: 50,
    }
  }),
  methods: {
    toggleCheck() {
      this.customCheck = !this.customCheck;
    },
    tableActions(props) {
      // eslint-disable-next-line
      const context = this;

      return [
        {
          title: 'Action 1',
          click(e) {
            console.log(e, props, context)
          }
        },
        {
          title: 'Action 2',
          click(e) {
            console.log(e, props, context)
          }
        },
      ];
    },
    async onExpand(expanded, prop) {
      if (!expanded) {
        return
      }

      console.log('expanded!!!!', prop.item)
    },
    changeSort(header, query) {
      console.log('on sort', header, query)
    },
  }
}
</script>
