<template>
  <StoreInjector :store="stores">
    <router-view />
  </StoreInjector>
</template>

<script>
import {clientTableList} from './stores/clients';
import {clientDetails} from './stores/clientDetails';
import {clientDelete} from './stores/clientDelete';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'Clients',
  data() {
    return {
      stores: [
        clientTableList,
        clientDetails,
        clientDelete,
      ],
    }
  },
}
</script>
