<template>
  <v-form
    ref="projectForm"
    v-model="valid"
    @submit.prevent="$emit('form-submit')"
  >
    <v-container py-5>
      <v-row>
        <v-col md="6">
          <TextField :field="formFields.name" />
        </v-col>
      </v-row>
      <v-row>
        <v-col md="6">
          <Combobox
            :items="clientNames"
            :field="formFields.client"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col md="6">
          <Combobox
            :items="endCustomers"
            :field="formFields.end_customer"
            class="end-customers"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col md="6">
          <v-combobox
            :items="projectManagers"
            item-text="name"
            item-value="id"
            :placeholder="formFields.project_managers.placeholder"
            :label="formFields.project_managers.label"
            :value="formFields.project_managers.value"
            :success="formFields.project_managers.valid"
            :error="formFields.project_managers.error"
            :messages="formFields.project_managers.errorMessages || []"
            multiple
            chips
            clearable
            hide-selected
            hide-no-data
            deletable-chips
            @change="handleUpdateProjectManagers"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col md="6">
          <DatePicker
            :field="formFields.start_date"
            :no-icon="true"
            readonly
          />
        </v-col>
        <v-col md="6">
          <DatePicker
            :field="formFields.end_date"
            :no-icon="true"
            readonly
          />
        </v-col>
      </v-row>

      <v-row
        class="read-only-panel"
        pa-2
        my-3
        mx-1
        justify-content-center
      >
        <v-col
          md="4"
          text-center
        >
          <span class="read-only-label">Adjusted C/S: </span>
          <span :class="`${adjustedCS >= 0 ? 'color-success' : 'color-danger'}`">
            <strong> {{ adjustedCS | toCurrencyValue }}</strong>
          </span>
        </v-col>
        <v-col
          md="4"
          text-center
        >
          <span class="read-only-label">Current Margin: </span>
          <span :class="`${currentMargin >= 0 ? 'color-success' : 'color-danger'}`">
            <strong> {{ currentMargin }}%</strong>
          </span>
        </v-col>
        <v-col
          md="4"
          text-center
        >
          <span class="read-only-label">Projected Margin: </span>
          <span :class="`${projectedMargin >= 0 ? 'color-success' : 'color-danger'}`">
            <strong> {{ projectedMargin }}%</strong>
          </span>
        </v-col>
      </v-row>

      <v-row>
        <v-col md="6">
          <MoneyInput :field="formFields.contract_sum" />
        </v-col>
      </v-row>
      <v-row>
        <v-col md="6">
          <MoneyInput :field="formFields.variation_order" />
        </v-col>
      </v-row>
      <v-row>
        <v-col md="6">
          <TextField
            :field="formFields.retention_percent"
            maxlength="6"
            suffix="%"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col md="6">
          <MoneyInput :field="formFields.budget" />
        </v-col>
      </v-row>

      <v-row>
        <v-col md="6">
          <MoneyInput :field="formFields.contingency_amt" />
        </v-col>
      </v-row>
      <v-row>
        <v-col md="6">
          <MoneyInput :field="formFields.omission_value" />
        </v-col>
      </v-row>

      <v-row>
        <v-col md="6">
          <TextField :field="formFields.schedule" />
        </v-col>
      </v-row>

      <v-row justify="end"
      >
        <CoreButton
          color="indigo lighten-3"
          type="submit"
          dark
          class="mr-3"
          :disabled="!formIsValid"
          :loading="loading"
        >
          {{ submitText }}
        </CoreButton>
        <CoreButton
          color="neutral"
          @click="$emit('form-cancel')"
          class="cancelBtn"
        >
          {{ cancelText }}
        </CoreButton>
      </v-row>
    </v-container>
  </v-form>
</template>

<style lang="scss" scoped>
  .project-date-range-picker {
    position: absolute;
  }
  .end-customers {
    :global(.v-input__slot) {
      height: 42px !important;
    }

    :global(.v-select__slot) {
      height: 42px !important;
    }
  }
  .read-only-panel {
    text-align: center;
    border-radius: 5px;
    background-color: var(--inverted-solo-color);
  }

  .read-only-label {
    color: grey;
  }
  .cancelBtn{
    margin-right: 10px;

  }
</style>

<script>
import {debounce, filter} from 'lodash'
import {clients} from '@/modules/Clients/stores/clients'
import {getEndCustomers, getProjectManagers} from '../apis.js'
import {responseFormatter} from '@/utils'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ProjectForm',
  components: {},
  props: {
    formFields: {
      type: Object,
      required: true
    },
    submitText: {
      type: String,
      default: 'Submit'
    },
    cancelText: {
      type: String,
      default: 'Cancel'
    },
    formIsValid: {
      type: Boolean,
      default: true
    },
    loading: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {
      clientNames: [],
      endCustomers: [],
      projectManagers: [],
      selectedProjectManagers: [],
      valid: true,
    }
  },
  computed: {
    retentionAmount() {
      return this.formFields.contract_sum.value * (this.formFields.retention_percent.value / 100) || 0
    },
    totalCS() {
      return this.formFields.contract_sum.value + this.formFields.variation_order.value || 0
    },
    adjustedCS() {
      return this.formFields.contract_sum.value + this.formFields.variation_order.value - this.retentionAmount || 0
    },
    currentMargin() {
      if (this.adjustedCS) {
        // formula: cs + vo - ret - budget /(cs + vo - ret) * 100
        return (
          (this.formFields.contract_sum.value +
          this.formFields.variation_order.value -
          this.retentionAmount -
          this.formFields.budget.value) /
          (this.formFields.contract_sum.value +
          this.formFields.variation_order.value -
          this.retentionAmount) * 100).toFixed(2)
      }
      return 0
    },
    projectedMargin() {
      if (this.totalCS) {
        return ((this.totalCS - this.formFields.budget.value) / (this.totalCS) * 100).toFixed(2)
      }
      return 0
    },
  },
  watch: {
    retentionAmount: debounce(function(newRetention) {
      this.formFields.retention.set('value', newRetention)
    }, 300),
  },
  async mounted() {
    await clients.fetchData();

    try {
      const responses = await Promise.all([getEndCustomers(), getProjectManagers()]);
      const clientsData = clients.data.get();
      this.clientNames = clientsData.map(client => client.name);
      this.endCustomers = responseFormatter(responses[0]).map(endCustomer => endCustomer.end_customer);
      this.projectManagers = responseFormatter(responses[1]).map(manager => ({
        id: manager.id.toString(),
        name: manager.name,
      }));
    } catch (e) {
      console.error(e);
    }
  },
  methods: {
    handleUpdateProjectManagers(values) {
      const filteredValues = filter(values, value => typeof value !== 'string');
      this.formFields.project_managers.setValue(filteredValues)
    },
  },
}
</script>
