<template>
  <PageWIP />
</template>
<script>
// import DashboardFilter from './components/DashboardFilter'
// import DashboardProjectActions from './components/DashboardProjectActions'
// import DashboardProjectListTable from './components/DashboardProjectListTable'
// import NextMonthOverview from './components/NextMonthOverview'
// import ThisMonthOverview from './components/ThisMonthOverview'
// import ThisYearOverview from './components/ThisYearOverview'

import {dashboardFilter} from './stores/dashboardFilter'
import PageWIP from '../../views/errorPage/WIP';

export default {
  name: 'CashflowOverview',
  components: {
    PageWIP,
    // DashboardFilter,
    // DashboardProjectActions,
    // DashboardProjectListTable,
    // NextMonthOverview,
    // ThisMonthOverview,
    // ThisYearOverview
  },
  created() {
    // set default date first
    dashboardFilter.setDate();

    // fetch data on landed on dashboard page
    dashboardFilter.fetchProjectList();
    dashboardFilter.fetchProjectedSummaryData();
  }
}
</script>
