<template>
  <StoreInjector :store="stores">
    <v-container>
      <HomeTitle>
        At a Glance
      </HomeTitle>
      <HomeCard
        show-icon
        to="/performance"
        :bg-color="gradients.neonPurple"
      >
        <template slot="icon">
          mdi-finance
        </template>
        <template slot="title">
          Performance Overview
        </template>
        <template slot="sub-title">
          Track and compare your projects' performance
        </template>
      </HomeCard>
      <HomeCard
        show-icon
        to="/cashflow"
        :bg-color="gradients.greenishCyan"
      >
        <template slot="icon">
          mdi-cash-multiple
        </template>
        <template slot="title">
          Cashflow Overview
        </template>
        <template slot="sub-title">
          A bird's eye view of your projects' cashflows
        </template>
      </HomeCard>
      <HomeCard
        show-icon
        to="/overdue-invoices"
        :bg-color="gradients.sunsetOrange"
      >
        <template slot="icon">
          mdi-clock-alert
        </template>
        <template slot="title">
          Overdue Transactions
        </template>
        <template slot="sub-title">
          Manage overdue incoming and outgoing transactions
        </template>
      </HomeCard>
      <HomeTitle>
        In Detail
      </HomeTitle>
      <HomeCard
        show-icon
        to="/projects/list"
        :bg-color="gradients.laserBlue"
      >
        <template slot="icon">
          mdi-format-list-checkbox
        </template>
        <template slot="title">
          Project List
        </template>
        <template slot="sub-title">
          List all your projects in a table
        </template>
      </HomeCard>
      <HomeCard
        show-icon
        to="/pending-invoices"
        :bg-color="gradients.greenishCyan"
      >
        <template slot="icon">
          mdi-clock-fast
        </template>
        <template slot="title">
          Pending Invoices
        </template>
        <template slot="sub-title">
          List all incoming payments to be received
        </template>
      </HomeCard>
      <HomeCard
        show-icon
        to="/bulk-payment/pending-expenses"
        :bg-color="gradients.sunsetOrange"
      >
        <template slot="icon">
          mdi-clipboard-alert
        </template>
        <template slot="title">
          Pending Expenses
        </template>
        <template slot="sub-title">
          List all outgoing payments to be made
        </template>
      </HomeCard>
      <HomeCard
        show-icon
        to="/reports"
        :bg-color="gradients.purplishPink"
      >
        <template slot="icon">
          mdi-clipboard-text
        </template>
        <template slot="title">
          Reports
        </template>
        <template slot="sub-title">
          Show all clients, contractors, purchase orders, and payments
        </template>
      </HomeCard>
    </v-container>
  </StoreInjector>
</template>

<style scoped lang="scss">

</style>

<script>
import HomeCard from '@/modules/MobileHome/components/HomeCard';
import HomeTitle from '@/modules/MobileHome/components/HomeTitle';

export default {
  name: 'Dashboard',
  components: {
    HomeCard,
    HomeTitle
  },
  data() {
    return {
      stores: [],
      gradients: {
        neonPurple: ['#9357f3', '#2f9ce9'],
        greenishCyan: ['#6aa57f', '#62b0d5'],
        sunsetOrange: ['#f17878', '#c89442'],
        laserBlue: ['#667db6', '#0082c8', '#667db6'],
        purplishPink: ['#8e7ab1', '#d487d1'],
      }
    }
  }
}
</script>

