<template>
  <StoreInjector :store="stores">
    <router-view />
  </StoreInjector>
</template>

<script>
import {projectManagerList} from './stores/projectManagerList';
import {dashboardFilter} from './stores/dashboardFilter';
import {dashboardPayments} from './stores/dashboardPayments';
import {dashboardSummary} from './stores/dashboardSummary';
import {dashboardProjectList} from './stores/dashboardProjectList';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'Dashboard',
  data() {
    return {
      stores: [
        dashboardSummary,
        dashboardPayments,
        projectManagerList,
        dashboardFilter,
        dashboardProjectList,
      ],
    }
  },
}
</script>
