<template>
  <v-container>
    <PageWIP />
  </v-container>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
import {filter} from 'lodash';
import {auth} from '@/stores/auth';
import {mapValues} from 'lodash';
import DashboardFilter from './components/DashboardFilter';
import OverdueCard from './components/OverdueCard';
import OverdueInvoiceTable from './components/OverdueInvoiceTable';
import {dashboardFilter} from './stores/dashboardFilter';
import {dashboardOverdue} from './stores/dashboardOverdue';
import PageWIP from '../../views/errorPage/WIP';

export default {
  name: 'OverdueInvoices',
  components: {
    PageWIP
    /*OverdueCard,*/
    /*DashboardFilter,*/
    /*OverdueInvoiceTable*/
  },
  data() {
    return {};
  },
  computed: {
    selectedList() {
      return dashboardOverdue.selectedTableStore();
    },
    dashboardOverdueIsLoading() {
      return dashboardOverdue.isLoading.get();
    },
    showAllOverdueInvoices() {
      const payload = dashboardOverdue.overduePayload.get();

      return payload.listType === 'invoices' && !payload.overdueType;
    },
    showAllOverdueExpenses() {
      const payload = dashboardOverdue.overduePayload.get();

      return payload.listType === 'expenses' && !payload.overdueType;
    },
    filterList() {
      return dashboardOverdue.filterList.get()
    },
    invoiceOverdueList() {
      return dashboardOverdue.data.get().invoice
    },
    expensesOverdueList() {
      return dashboardOverdue.data.get().expense
    },
    invoiceOverdueValues() {
      return mapValues(this.filterList, (label, filterKey) => {
        return this.invoiceOverdueList[filterKey]
      });
    },
    expenseOverdueValues() {
      return mapValues(this.filterList, (label, filterKey) => {
        return this.expensesOverdueList[filterKey]
      });
    },
    roles() {
      return auth.userDetails.getCurrentRoles();
    },
    userIsElevated() {
      return filter(this.roles, (o) => {
        return o.id === 1 || o.id === 2 || o.id === 3
      }).length > 0;
    }
  },
  created() {
    const payload = dashboardOverdue.overduePayload.get();

    dashboardOverdue.fetchData({
      project_manager: dashboardFilter.projectManager.get(),
      ...payload,
    });
    this.selectedList.fetchData({
      status: 'overdue',
      ...this.selectedList.query.get(),
      ...payload
    });
  },
  methods: {
    handleOnFilterChange(listType, filter) {
      if (filter === 'all') {
        dashboardOverdue.overduePayload.update({
          listType,
          overdueType: undefined,
        });
      } else {
        dashboardOverdue.overduePayload.update({
          listType,
          overdueType: filter,
        });
      }

      const payload = dashboardOverdue.overduePayload.get();
      const overdueType = this.filterList[payload.overdueType];
      const selectedOverdueRange = overdueType ? overdueType.value : {};

      this.selectedList.query.update({
        status: 'overdue',
        project_manager: dashboardFilter.projectManager.get(),
        ...this.selectedList.query.get(),
        ...selectedOverdueRange
      });

      this.selectedList.fetchData();
    }
  }
}
</script>
