<template>
  <v-container>
    <PageWIP />
  </v-container>
</template>
<style lang="scss" scoped>
</style>
<script>
import {filter} from 'lodash';
import {auth} from '@/stores/auth';
import {apiErrorNotification} from '@/utils/request';
import {appStore} from '@/stores/appStore';
// import MagicQuadrant from './components/MagicQuadrant';
// import CashFlowCard from './components/CashFlowCard';
import {dashboardProjectList} from './stores/dashboardProjectList';
import {projectManagerList} from './stores/projectManagerList';
import {dashboardFilter} from './stores/dashboardFilter';
// import ProjectManagerChart from './components/ProjectManagerChart';
import {dashboardSummaryApi} from './stores/dashboardSummary';
import {thisYearOverviewQuery} from './stores/dashboardFilter';
import {dashboardSummary} from './stores/dashboardSummary';
import {projectManagerSummary} from './stores/dashboardPerformance';
import _ from 'lodash';
import {monthName, monthAndDay} from '@nixel/base/filters/datetime';
import {startOfYear, startOfMonth, endOfMonth, subMonths, addMonths} from 'date-fns';
import PageWIP from '../../views/errorPage/WIP';

export default {
  name: 'Performance',
  components: {PageWIP},
  data() {
    return {
      thisYear: {
        summary: {
          invoice: {
            total_received: 0,
            total_received_in_period: 0,
            total_invoiced: 0,
            total_receivable: 0,
            total_receivable_in_period: 0,
            total_advance_received_in_period: 0,
          },
          expense: {
            total_paid: 0,
            total_paid_in_period: 0,
            total_expenses: 0,
            total_payable: 0,
            total_payable_in_period: 0,
            total_overpay_in_period: 0,
          },
          payment: {
            cashflow_nett: 0,
            projected_cashflow_nett: 0,
          }
        },
      },
    }
  },
  computed: {
    allProjects() {
      return _.map(this.projectList, (project) => {
        return {
          name: project.name,
          value: [
            project.cashflow_margin,
            project.progress_diff,
          ],
          uuid: project.uuid,
        }
      })
    },
    thisYearRange() {
      const today = new Date();
      const start = startOfYear(today);
      const end = startOfMonth(subMonths(today, 1));
      return `(${monthAndDay(start)} till ${monthAndDay(end)})`;
    },
    thisMonthRange() {
      const today = new Date();
      const start = startOfMonth(subMonths(today, 1));
      const end = endOfMonth(today)
      return `(${monthAndDay(start)} till ${monthAndDay(end)})`;
    },
    nextMonthRange() {
      const today = new Date();
      const start = startOfMonth(subMonths(today, 1));
      const end = endOfMonth(addMonths(today, 1));
      return `(${monthAndDay(start)} till ${monthAndDay(end)})`;
    },
    sideNavIsOpen() {
      return appStore.sideNavIsOpen.get()
    },
    projectList() {
      return dashboardProjectList.data.get()
    },
    projectListIsLoading() {
      return dashboardProjectList.isLoading.get()
    },
    projectManagerList() {
      return projectManagerList.data.get()
    },
    selectedProjectManager() {
      return dashboardFilter.projectManager.get()
    },
    thisMonthSummary() {
      return dashboardSummary.thisMonthDashboardSummary.data.get()
    },
    nextMonthSummary() {
      return dashboardSummary.nextMonthDashboardSummary.data.get()
    },
    roles() {
      return auth.userDetails.getCurrentRoles();
    },
    userIsElevated() {
      return filter(this.roles, (o) => {
        return o.id === 1 || o.id === 2 || o.id === 3
      }).length > 0;
    }
  },
  mounted() {
    projectManagerList.fetchData()
  },
  async created() {
    try {
      this.isLoading = true;
      dashboardProjectList.fetchData();
      this.handleOnProjectManagerChange(undefined); // quick fix for graph error, remove this when graph is fixed

      const thisYearResponse = await dashboardSummaryApi(thisYearOverviewQuery);
      this.thisYear.summary = thisYearResponse.data.data;

      // set default date first
      dashboardFilter.setDate();
      dashboardFilter.fetchProjectedSummaryData();

      projectManagerSummary.query.set('no_of_months', 6)
      await projectManagerSummary.fetchData();

      this.isLoading = false;

    } catch (e) {
      apiErrorNotification(e)
    }
  },
  methods: {
    handleOnProjectManagerChange(newValue) {
      const filter = {
        project_manager: newValue
      };
      dashboardFilter.projectManager.assign(newValue);
      dashboardProjectList.fetchData(filter);

      const summaryQuery = {
        ...projectManagerSummary.query.get(),
        project_manager: newValue
      };
      projectManagerSummary.fetchData(summaryQuery);
    },
  }
}
</script>
