<template>
  <PageWIP />
</template>

<style lang="scss">
  .pending-invoices-search-toolbar {
    min-width: 600px;
    flex-grow: 100;
  }
  .pending-invoices-toolbar {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .pending-invoices-toolbar.top-sticky {
    box-shadow: 0 5px 11px -3px rgba(0, 0, 0, 0.2);
  }
</style>

<script>
import {debounce} from 'lodash';
// import PendingInvoicesTable from './components/PendingInvoicesTable';
// import PendingInvoicesSummaryModal from './components/PendingInvoicesSummaryModal';
import {pendingInvoices} from './stores/pendingInvoices';
import {apiErrorNotification} from '../../utils/request';
import {datetimeShort} from '@nixel/base/filters/datetime';
import PageWIP from '../../views/errorPage/WIP';

export default {
  name: 'PendingInvoicesList',
  components: {
    PageWIP,
    // PendingInvoicesSummaryModal,
    // PendingInvoicesTable,
  },
  data() {
    return {
      searchString: 'Pending Invoices',
    }
  },
  computed: {
    excelName() {
      return `pending_invoices_${datetimeShort(new Date())}.xlsx`;
    },
    pendingInvoicesList() {
      return pendingInvoices.data.get()
    },
  },
  mounted() {
    this.fetchData();
  },
  beforeRouteLeave(to, from, next) {
    const currentQuery = pendingInvoices.query.get()
    pendingInvoices.query.assign({
      ...currentQuery,
      filter: undefined,
    })
    next()
  },
  methods: {
    getExcelData() {
      return pendingInvoices.listMappedWithColumnLabel();
    },
    async fetchData() {
      try {
        await pendingInvoices.fetchData();
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    handleOnChangeFilterBy() {
      this.handleOnSearch(this.searchString)
    },
    handleOnSearch: debounce(function(value) {
      pendingInvoices.query.update({
        filter: value,
        page: 1,
      });

      this.fetchData();
    }, 300)
  },
};
</script>
