<template>
  <div>
    <TableList
      :list="expenseList"
      :columns="columns"
      :selected-columns="selectedColumns"
      :table-prop="tableProp"
      :loading="isLoading"
      :elevation="0"
      border
      item-key="uuid"
      hide-default-footer
      @change-sort="changeSort"
    >
      <template
        slot="aging"
        slot-scope="props"
      >
        <span class="text-center">{{ props.item.aging ? Math.round(props.item.aging) : '-' }}</span>
      </template>
    </TableList>

    <v-row>
      <QueryPagination
        v-if="expenseList.length > 0"
        :query="query"
        :total="pagination.total"
        @input="changePage"
      />
    </v-row>
  </div>
</template>

<style lang="scss" scoped>
  .expensesTable {
    :global(.v-table) {
      background: transparent;

      :global(thead tr):hover,
      :global(tbody tr):hover {
        background: transparent;
      }
    }
  }
</style>

<script>
import {expenseReports} from '../stores/expenseReports';

export default {
  name: 'ReportExpenseListTable',
  computed: {
    expenseList() {
      return expenseReports.filteredList()
    },
    query() {
      return expenseReports.query.get()
    },
    pagination() {
      return expenseReports.pagination()
    },
    isLoading() {
      return expenseReports.isLoading.get()
    },
    selectedColumns() {
      return expenseReports.selectedColumns.get() || []
    },
    columns() {
      const columns = expenseReports.tableColumnsObject();

      // filter selected columns
      return this.selectedColumns.map((columnName) => {
        return columns[columnName]
      })
    },
    tableProp() {
      return expenseReports.tableProp()
    },
  },
  methods: {
    hasColumn: expenseReports.hasColumn,
    handleExportExpenses(expenses) {
      console.log(expenses)
    },
    changeSort(header, query) {
      expenseReports.query.update(query);
      expenseReports.fetchData()
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        expenseReports.query.update({
          page,
          limit,
        });

        expenseReports.fetchData()
      }
    },
  }
}
</script>
