<template>
  <div>
    <TableList
      :list="paymentList"
      :columns="columns"
      :selected-columns="selectedColumns"
      :table-prop="tableProp"
      :loading="isLoading"
      :elevation="0"
      border
      hide-default-footer
      @change-sort="changeSort"
    />
    <v-row>
      <QueryPagination
        v-if="paymentList.length > 0"
        :query="query"
        :total="pagination.total"
        @input="changePage"
      />
    </v-row>
  </div>
</template>

<script>
import {paymentReports} from '../stores/paymentReports';

export default {
  name: 'ReportPaymentListTable',
  computed: {
    paymentList() {
      return paymentReports.data.get()
    },
    query() {
      return paymentReports.query.get()
    },
    pagination() {
      return paymentReports.pagination()
    },
    isLoading() {
      return paymentReports.isLoading.get()
    },
    selectedColumns() {
      return paymentReports.selectedColumns.get() || []
    },
    columns() {
      const columns = paymentReports.tableColumnsObject();

      // filter selected columns
      return this.selectedColumns.map((columnName) => {
        return columns[columnName]
      })
    },
    tableProp() {
      return paymentReports.tableProp()
    },
  },
  methods: {
    hasColumn: paymentReports.hasColumn,
    changeSort(header, query) {
      paymentReports.query.update(query);
      paymentReports.fetchData()
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        paymentReports.query.update({
          page,
          limit,
        });

        paymentReports.fetchData()
      }
    },
  }
}
</script>
