<template>
  <div>
    <TableList
      :list="purchaseOrderList"
      :columns="columns"
      :selected-columns="selectedColumns"
      :table-prop="tableProp"
      :loading="isLoading"
      :elevation="0"
      border
      hide-default-footer
      @change-sort="changeSort"
    >
      <template
        slot="tax"
        slot-scope="prop"
      >
        <template v-if="prop.item.exclude_tax === 1">
          Excluded
        </template>
        <template v-else>
          {{ prop.item.gst || prop.item.sst | toCurrencyValue }}
        </template>
      </template>
    </TableList>

    <v-row>
      <QueryPagination
        v-if="purchaseOrderList.length > 0"
        :query="query"
        :total="pagination.total"
        @input="changePage"
      />
    </v-row>
  </div>
</template>

<script>
import {purchaseOrderReports} from '../stores/purchaseOrderReports';

export default {
  name: 'ReportPurchaseOrderListTable',
  computed: {
    purchaseOrderList() {
      return purchaseOrderReports.filteredList()
    },
    query() {
      return purchaseOrderReports.query.get()
    },
    pagination() {
      return purchaseOrderReports.pagination()
    },
    isLoading() {
      return purchaseOrderReports.isLoading.get()
    },
    selectedColumns() {
      return purchaseOrderReports.selectedColumns.get() || []
    },
    columns() {
      const columns = purchaseOrderReports.tableColumnsObject();

      // filter selected columns
      return this.selectedColumns.map((columnName) => {
        return columns[columnName]
      })
    },
    tableProp() {
      return purchaseOrderReports.tableProp()
    },
  },
  methods: {
    hasColumn: purchaseOrderReports.hasColumn,
    changeSort(header, query) {
      purchaseOrderReports.query.update(query);
      purchaseOrderReports.fetchData()
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        purchaseOrderReports.query.update({
          page,
          limit,
        });

        purchaseOrderReports.fetchData()
      }
    },
  }
}
</script>
