<template>
  <v-container
    fluid
    pt-0
  >
    <RoundedCard>
      <v-row
        class="pa-4 align-center"
        no-gutters
      >
        <v-row
          class="mr-3"
          no-gutters
        >
          <SearchToolbar
            placeholder="Contractor name, project name, ref no."
            @search-input="handleOnSearch"
          />
        </v-row>
        <TableExportExcelButton
          :get-excel-data="getExcelData"
          :filename="excelName"
        />
      </v-row>
      <ReportExpenseListTable />
    </RoundedCard>
  </v-container>
</template>

<style lang="scss" scoped>
  .filterBySelect {
    flex: 0 0 220px;
  }
</style>

<script>
import {debounce} from 'lodash';
import ReportExpenseListTable from './components/ExpenseReportListTable';
import {expenseReports} from './stores/expenseReports';
import {apiErrorNotification} from '../../utils/request';
import {datetimeShort} from '@nixel/base/filters/datetime';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ExpenseReportList',
  components: {
    ReportExpenseListTable,
  },
  data() {
    return {
      filterBy: 'filter',
      searchString: '',
    }
  },
  computed: {
    selectedFilterBy() {
      return this.filterByList.find(filter => filter.value === this.filterBy)
    },
    excelName() {
      return `expense_reports_${datetimeShort(new Date())}.xlsx`;
    },
  },
  mounted() {
    this.fetchData();
  },
  beforeRouteLeave(to, from, next) {
    const currentQuery = expenseReports.query.get()
    expenseReports.query.assign({
      ...currentQuery,
      filter: undefined,
    })
    next()
  },
  methods: {
    async fetchData() {
      try {
        await expenseReports.fetchData();
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    handleOnChangeFilterBy() {
      this.handleOnSearch(this.searchString)
    },
    getExcelData() {
      return expenseReports.listMappedWithColumnLabel();
    },
    handleOnSearch: debounce(function(searchQuery) {
      this.searchString = searchQuery;
      expenseReports.query.update({
        filter: this.searchString,
        page: 1,
      });

      this.fetchData();
    }, 300)
  },
};
</script>
