<template>
  <v-container
    fluid
    pt-0
  >
    <RoundedCard>
      <v-row class="pa-4 align-center">
        <v-row
          class="mr-3"
          no-gutters
        >
          <SearchToolbar
            :value="searchFilter"
            placeholder="Project's name, Client's name, Contractor's name, Cert No., Ref No."
            class="searchInput"
            @search-input="handleOnSearch"
          >
            <DateRangePicker
              input-class="dateInput"
              label="Payment Date Filter (pick two dates)"
              background-color="transparent"
              solo
              flat
              hide-details
              allow-single-date
              set-date-on-select

              @date-picked="updateDateFilters"
              @date-cleared="clearDateFilter"
            />
          </SearchToolbar>
        </v-row>
        <TableExportExcelButton
          :get-excel-data="getExcelData"
          :filename="excelName"
        />
      </v-row>
      <ReportPaymentListTable />
    </RoundedCard>
  </v-container>
</template>

<style lang="scss" scoped>
  .searchInput {
    :global(.v-toolbar__content .v-input:first-child) {
      flex: 5 0;
    }
  }

  .dateInput {
    flex: 0 0 230px;
  }

</style>

<script>
import {debounce} from 'lodash';
import ReportPaymentListTable from './components/PaymentReportListTable';
import {paymentReports} from './stores/paymentReports';
import {apiErrorNotification} from '../../utils/request';
import {datetimeShort} from '@nixel/base/filters/datetime';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'PaymentReportList',
  components: {
    ReportPaymentListTable,
  },
  data() {
    return {
      dateFilters: ['payment_date[start]', 'payment_date[end]'],
    }
  },
  computed: {
    excelName() {
      return `payment_reports_${datetimeShort(new Date())}.xlsx`;
    },
    searchFilter() {
      return paymentReports.query.get('filter');
    },
  },
  mounted() {
    this.fetchData();
  },
  beforeRouteLeave(to, from, next) {
    const currentQuery = paymentReports.query.get()
    paymentReports.query.assign({
      ...currentQuery,
      filter: undefined,
      [this.dateFilters[0]]: undefined,
      [this.dateFilters[1]]: undefined,
    })
    next()
  },
  methods: {
    async fetchData() {
      try {
        await paymentReports.fetchData();
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    getExcelData() {
      return paymentReports.listMappedWithColumnLabel();
    },
    handleOnSearch: debounce(function(value) {
      paymentReports.query.update({
        filter: value,
        page: 1,
      });

      this.fetchData();
    }, 300),
    updateDateFilters(dateFilter) {
      paymentReports.query.update({
        [this.dateFilters[0]]: dateFilter.start,
        [this.dateFilters[1]]: dateFilter.end ? dateFilter.end : dateFilter.start, // if `end` is undefined, fallback to use `start`
      });

      this.fetchData()
    },
    clearDateFilter() {
      this.updateDateFilters({})
    }

  },
};
</script>
