<template>
  <v-container
    fluid
    pt-0
  >
    <RoundedCard>
      <v-row
        class="pa-4 align-center"
      >
        <v-row
          class="mr-3"
          no-gutters
        >
          <SearchToolbar
            placeholder="Purchase No. Contractor name, Project name, Party"
            @search-input="handleOnSearch"
          />
        </v-row>
        <TableExportExcelButton
          :get-excel-data="getExcelData"
          :filename="excelName"
        />
      </v-row>
      <ReportPurchaseOrderListTable />
    </RoundedCard>
  </v-container>
</template>

<script>
import {debounce} from 'lodash';
import ReportPurchaseOrderListTable from './components/PurchaseOrderReportListTable';
import {purchaseOrderReports} from './stores/purchaseOrderReports';
import {apiErrorNotification} from '../../utils/request';
import {datetimeShort} from '@nixel/base/filters/datetime';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'PurchaseOrderReportList',
  components: {
    ReportPurchaseOrderListTable,
  },
  data() {
    return {
      searchString: '',
    }
  },
  computed: {
    excelName() {
      return `po_reports_${datetimeShort(new Date())}.xlsx`;
    },
  },
  mounted() {
    this.fetchData();
  },
  beforeRouteLeave(to, from, next) {
    const currentQuery = purchaseOrderReports.query.get()
    purchaseOrderReports.query.assign({
      ...currentQuery,
      filter: undefined,
    })
    next()
  },
  methods: {
    async fetchData() {
      try {
        await purchaseOrderReports.fetchData();
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    handleOnChangeFilterBy() {
      this.handleOnSearch(this.searchString)
    },
    getExcelData() {
      return purchaseOrderReports.listMappedWithColumnLabel();
    },
    handleOnSearch: debounce(function(value) {
      purchaseOrderReports.query.update({
        filter: value,
        page: 1,
      });

      this.fetchData();
    }, 300)
  },
};
</script>
