<template>
  <v-autocomplete
    item-text="code"
    item-value="uuid"
    :items="accountCodeList"
    :label="label"
    :value="selectedAccountCode"
    :search-input="searchString"
    :error-messages="errorMessages"
    :loading="isLoading"
    hide-selected
    no-filter
    clearable

    autocomplete="off"
    v-bind="$attrs"
    v-on="$listeners"
    @update:search-input="handleSearchAccountCode"
  >
    <template
      slot="selection"
      slot-scope="{item}"
    >
      <span v-if="item">
        {{ item.code }} <small class="grey--text text--darken-1">({{ item.name }})</small>
      </span>
    </template>
    <template
      slot="item"
      slot-scope="{ index, item }"
    >
      <v-row>
        <span>
          {{ item.code }} <small class="grey--text text--darken-1">({{ item.name }})</small>
        </span>
      </v-row>
    </template>
  </v-autocomplete>
</template>
<script>
import {find, debounce, isEqual} from 'lodash';
import {apiErrorNotification} from '@/utils/request';
import {accountCodeList} from '@/stores/accountCodeList';

let queryHistory = {};
const fetchAccountCodes = debounce(async function(query) {
  try {
    if (!isEqual(queryHistory, query)) {
      queryHistory = query;
      // fetch account code
      await accountCodeList.fetchData(query);
    }
  } catch (error) {
    apiErrorNotification(error)
  }
}, 500);

export default {
  name: 'AccountCodeCombobox',
  props: {
    defaultApiQuery: {
      type: Object,
      default() {
        return {}
      }
    },
    errorMessages: {
      type: [String, Array],
      default() {
        return undefined;
      }
    },
    label: {
      type: String,
      default: 'Account Code'
    },
    value: {
      type: [Number, String],
      default: undefined
    }
  },
  data() {
    return {
      searchString: null,
      queryHistory: undefined,
    }
  },
  computed: {
    isLoading() {
      return accountCodeList.isLoading.get()
    },
    accountCodeList() {
      return accountCodeList.data.get()
    },
    selectedAccountCode() {
      return find(this.accountCodeList, code => {
        return code.uuid === this.value
      })
    },
  },
  async created() {
    // fetch default list
    if (this.accountCodeList.length === 0) {
      this.fetchData(this.defaultApiQuery)
    }
  },
  methods: {
    async fetchData(query) {
      await fetchAccountCodes(query)
    },
    async handleSearchAccountCode(value) {
      if (this.searchString !== value) {
        if (value) {
          this.queryHistory = {
            filter: value,
          };
          await this.fetchData(this.queryHistory);
          this.searchString = value;
        }
      }
    },
    // customFilter(item, queryText) {
    //   const name = item.name.toLowerCase();
    //   const searchText = queryText.toLowerCase();
    //
    //   return name.indexOf(searchText) > -1 ||
    //     item.code.indexOf(searchText) > -1
    // }
  }
}
</script>
