<template>
  <v-menu
    ref="menu"
    v-model="menu"
    :close-on-content-click="false"
    :nudge-right="40"
    :return-value.sync="date"
    transition="scroll-y-transition"
    offset-y
    min-width="290px"
  >
    <template v-slot:activator="{on}">
      <div v-on="on">
        <v-text-field
          v-bind="$attrs"
          :class="inputClass"
          readonly
        />
      </div>
    </template>
    <v-date-picker
      v-model="date"
      :max="max"
      no-title
      scrollable
      v-on="$listeners"
    >
      <v-spacer />
      <CoreButton
        rounded
        color="primary"
        @click="menu = false"
      >
        Cancel
      </CoreButton>
      <CoreButton
        rounded
        color="primary"
        @click="$refs.menu.save(date)"
      >
        OK
      </CoreButton>
    </v-date-picker>
  </v-menu>
</template>

<style lang="scss" scoped>
  .tableCheckbox {
    :global(label) {
      font-size: 12px;
      font-weight: 500;
    }
  }

  .receivedInput {
    :global(input) {
      min-width: 105px;
      text-align: right;
    }
  }
</style>

<script>
export default {
  name: 'DatePicker',
  // inheritAttrs: false,
  props: {
    inputClass: {
      type: String,
      default: '',
    },
    max: {
      type: String,
      default: '',
    }
  },
  data() {
    return {
      menu: false,
      date: new Date().toISOString().substr(0, 10)
    };
  },
}
</script>
