<template>
  <v-banner
    v-if="isImpersonated"
    icon="mdi-account-search"
    color="blue"
    single-line
    sticky
    dense
    dark
  >
    You are now impersonating {{ userName }}.
    <template slot="actions">
      <CoreButton
        color="error"
        text
        @click="exitImpersonation"
      >
        Exit
      </CoreButton>
    </template>
  </v-banner>
</template>

<script>
import {auth} from '../stores/auth';
import {removeImpersonationToken} from '../utils/auth';

export default {
  name: 'ImpersonationBanner',
  computed: {
    userName() {
      return auth.userDetails.getUserName() || '-';
    },
    isImpersonated() {
      return auth.isImpersonated.get();
    },
  },
  methods: {
    exitImpersonation() {
      removeImpersonationToken();
      window.location.reload();
    }
  }
};
</script>
