<template>
  <v-autocomplete
    item-text="code"
    item-value="uuid"
    :items="organisationList"
    :label="label"
    :value="selectedOrganisation"
    :search-input="searchString"
    :error-messages="errorMessages"
    :loading="isLoading"
    hide-selected
    no-filter
    clearable

    autocomplete="off"
    v-bind="$attrs"
    v-on="$listeners"
    @update:search-input="handleSearchOrganisation"
  >
    <template
      slot="selection"
      slot-scope="{item}"
    >
      <span v-if="item">
        {{ item.name }}
      </span>
    </template>
    <template
      slot="item"
      slot-scope="{ index, item }"
    >
      <v-row>
        <span>
          {{ item.name }}
        </span>
      </v-row>
    </template>
  </v-autocomplete>
</template>
<script>
import {find, debounce, isEqual} from 'lodash';
import {apiErrorNotification} from '@/utils/request';
import {organisationList} from '@/stores/organisationList';

let queryHistory = {};
const fetchOrganisationList = debounce(async function(query) {
  try {
    if (!isEqual(queryHistory, query)) {
      queryHistory = query;
      // fetch organisationList
      await organisationList.fetchData(query);
    }
  } catch (error) {
    apiErrorNotification(error)
  }
}, 500);

export default {
  name: 'OrganisationCombobox',
  props: {
    defaultApiQuery: {
      type: Object,
      default() {
        return {}
      }
    },
    errorMessages: {
      type: [String, Array],
      default() {
        return undefined;
      }
    },
    label: {
      type: String,
      default: 'Account Code'
    },
    value: {
      type: [Number, String],
      default: undefined
    }
  },
  data() {
    return {
      searchString: null,
      queryHistory: undefined,
    }
  },
  computed: {
    isLoading() {
      return organisationList.isLoading.get()
    },
    organisationList() {
      return organisationList.data.get()
    },
    selectedOrganisation() {
      return find(this.organisationList, org => {
        return org.uuid === this.value
      })
    },
  },
  async created() {
    // fetch default list
    if (this.organisationList.length === 0) {
      this.fetchData(this.defaultApiQuery)
    }
  },
  methods: {
    async fetchData(query) {
      await fetchOrganisationList(query)
    },
    async handleSearchOrganisation(value) {
      if (this.searchString !== value) {
        if (value) {
          await this.fetchData({
            filter: value,
          });

          this.searchString = value;
        } else {
          // fallback to `defaultApiQuery`
          this.fetchData(this.defaultApiQuery);
        }
      }
    },
  }
}
</script>
