<template>
  <v-container
    fluid
    pt-0
  >
    <RoundedCard>
      <v-row
        class="pt-4 pb-2 px-4"
        no-gutters
      >
        <v-row
          class="mr-3 mb-2"
          no-gutters
        >
          <SearchToolbar
            :placeholder="searchString"
            @search-input="handleOnSearch"
          />
        </v-row>
        <CreateAccountCodeForm />
      </v-row>
      <AccountCodeListTable />
    </RoundedCard>
  </v-container>
</template>

<script>
import {debounce} from 'lodash';
import CreateAccountCodeForm from './components/CreateAccountCodeForm';
import AccountCodeListTable from './components/AccountCodeListTable';
import {accountCodeTableList} from './stores/accountCodes';
import {apiErrorNotification} from '../../utils/request';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'AccountCodeList',
  components: {
    CreateAccountCodeForm,
    AccountCodeListTable,
  },
  data() {
    return {
      searchString: 'Search for AccountCodes',
    }
  },
  computed: {
    contractorList() {
      return accountCodeTableList.data.get();
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      try {
        await accountCodeTableList.fetchData();
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    handleOnSearch: debounce(function(value) {
      accountCodeTableList.query.update({
        filter: value,
      });

      this.fetchData();
    }, 300)
  },
};
</script>
