<template>
  <StoreInjector :store="stores">
    <router-view />
  </StoreInjector>
</template>

<script>
import {accountCodeList} from '@/stores/accountCodeList';
import {accountCodeTableList} from './stores/accountCodes';
import {accountCodeDelete} from './stores/accountCodeDelete';
import {createAccountCodeForm, updateAccountCodeForm} from './stores/accountCodeForm';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'AccountCodes',
  data() {
    return {
      stores: [
        accountCodeTableList,
        accountCodeList, // for combobox
        accountCodeDelete,
        createAccountCodeForm,
        updateAccountCodeForm,
      ],
    }
  },
}
</script>
