<template>
  <StoreInjector :store="forgotPasswordStore">
    <ForgotPasswordForm/>
  </StoreInjector>
</template>

<script>
import {forgotPasswordStore} from './stores/forgotPasswordStore'
import ForgotPasswordForm from './components/ForgotPasswordForm';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ForgotPassword',
  components: {ForgotPasswordForm},
  data() {
    return {
      forgotPasswordStore,
    }
  }
}
</script>
