<template>
  <div class="print-wrapper">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'PrintLayout',
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .print-wrapper {
    width: 100%
  }

  @page {
    margin: 1.5cm 0.5cm 0.5cm
  }

</style>
