<!-- eslint-disable -->
<template>
  <div class="print-root-page-wrapper">
    <div class="print-page-wrapper">
      <table style="width: 100%">
        <!--header-->
        <div class="print-header">
          <div class="print-header-inner">
            <div class="pce-logo-container">
              <!--suppress HtmlRequiredAltAttribute, RequiredAttributes -->
              <img id="pce-logo">
            </div>
            <!-- TODO: allow company to customize company logo and name, and upload logo image -->
            <div class="pce-text">
              <h1 class="text-1">PROGRESS</h1>
              <h2 class="text-2">Centre Engineering Sdn Bhd</h2>
            </div>
            <div class="reg-no">461051-A</div>
          </div>
          <div class="header-decorator"/>
        </div>
        <!--header spacing-->
        <thead><tr><td>
          <div class="print-header-space" />
        </td></tr></thead>
        <!--print content-->
        <tbody><tr><td>
          <div class="print-content">
            <h1 class="document-title">INVOICE</h1>
            <p style="font-weight: 400; margin: 0 0 0 2px;">Invoice number: {{ printData.invoice_no }}</p>
            <div class="subcontainer">
              <div class="details-box">
                <div class="details-box-content-1">
                  <strong>BILL TO: - </strong>
                  <br><strong>{{ clientData.name }}</strong>
                  <br>{{ clientData.address_1 }}
                  <span v-if="clientData.address_2"><br>{{ clientData.address_2 }}</span>
                  <br>{{ clientData.postcode }} {{ clientData.city }}{{ ', ' ? clientData.city && clientData.state : '' }}{{ clientData.state }}
                  <br>{{ 'Tel: ' ? clientData.tel_no : '' }}{{ clientData.tel_no }}{{ 'Fax: ' ? clientData.fax_no : '' }}{{ clientData.fax_no }}
                </div>
              </div>
              <div class="details-table">
                <table style="width: 100%">
                  <colgroup>
                    <col class="details-table-col-1">
                    <col class="details-table-col-2">
                  </colgroup>
                  <tbody>
                    <tr><td style="vertical-align: top;"><strong>Project Name:</strong></td><td>{{ projectData.name }}</td></tr>
                    <tr><td style="vertical-align: top;"><strong>Project Manager(s):</strong></td><td><span v-for="pm in projectData.project_managers" :key="pm.id">{{ pm.name }}</span></td></tr>
                    <tr><td style="vertical-align: top;"><strong>Cert Number:</strong></td><td>{{ printData.cert_no }}</td></tr>
                    <tr><td style="vertical-align: top;"><strong>Invoice No:</strong></td><td>{{ printData.invoice_no }}</td></tr>
                    <tr><td style="vertical-align: top;"><strong>Date:</strong></td><td>{{ new Date(printData.invoice_date).toLocaleDateString() }}</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="details-items">
              <table style="width: 100%">
                <colgroup>
                  <col class="details-items-table-col-1">
                  <col class="details-items-table-col-2">
                </colgroup>
                <tbody>
                  <tr><th class="header-1">DESCRIPTION</th><th class="header-2">AMOUNT</th></tr>
                  <!-- show cert number instead if there is no description-->
                  <tr class="item-row" style="border: none;">
                    <td style="padding-top: 20px; font-size: 1.2rem;">
                      <strong>
                        {{ projectData.name }}
                      </strong>
                    </td>
                  </tr>
                  <tr class="item-row" style="border: none;">
                    <td style="">
                      {{ printData.description ? printData.description : printData.cert_no }}
                    </td>
                  </tr>
                  <tr class="item-row">
                    <td>
                      <!-- TODO: avoid hardcoded layout for inner contents -->
                      <table class="details-innertable dotted-guidelines-container left" style="width: 100%">
                        <colgroup>
                          <col style="min-width: 300px;">
                        </colgroup>
                        <tbody>
                          <tr><td>Contract Sum: <span class="dotted-guidelines" /></td></tr>
                          <tr><td>Retention Value: <span class="dotted-guidelines" /></td></tr>
                          <tr><td><br></td></tr>
                          <tr><td>Work Done Certified: <span class="dotted-guidelines" /></td></tr>
                          <tr><td>Variation Order: <span class="dotted-guidelines" /></td></tr>
                          <tr><td>Retention Released: <span class="dotted-guidelines" /></td></tr>
                          <tr><td>Less Retention ({{ parseInt(projectData.retention_percent) }}%): <span class="dotted-guidelines" /></td></tr>
                          <tr><td>Debit Note: <span class="dotted-guidelines" /></td></tr>
                          <tr><td>Previous Certified: <span class="dotted-guidelines" /></td></tr>
                          <tr><td><br></td></tr>
                          <tr><td><strong>Nett Certified: </strong><span class="dotted-guidelines" /></td></tr>
                        </tbody>
                      </table>
                    </td>
                    <td style="text-align: right;">
                      <table class="details-innertable dotted-guidelines-container" style="width: 100%">
                        <colgroup>
                          <col style="min-width: 300px;">
                        </colgroup>
                        <tbody>
                          <tr><td><span class="dotted-guidelines" /> {{ projectData.contract_sum | toCurrencyValue }}</td></tr>
                          <tr><td><span class="dotted-guidelines" /> {{ projectData.retention | toCurrencyValue }}</td></tr>
                          <tr><td><br></td></tr>
                          <tr><td><span class="dotted-guidelines" /> {{ printData.work_done_certified | toCurrencyValue }}</td></tr>
                          <tr><td><span class="dotted-guidelines" /> {{ printData.variation_order | toCurrencyValue }}</td></tr>
                          <tr><td><span class="dotted-guidelines" /> {{ printData.retention_released | toCurrencyValue }}</td></tr>
                          <!-- LESS Retention -->
                          <tr><td><span class="dotted-guidelines" /> {{ printData.less_retention | toCurrencyValue }}</td></tr>
                          <tr><td><span class="dotted-guidelines" /> {{ printData.debit_note | toCurrencyValue }}</td></tr>
                          <tr><td><span class="dotted-guidelines" /> {{ printData.prev_certified | toCurrencyValue }}</td></tr>
                          <tr><td><br></td></tr>
                          <!-- Value of Work Done -->
                          <tr><td><span class="dotted-guidelines" /> <strong>{{ printData.nett_certified | toCurrencyValue }}</strong></td></tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td/>
                    <td style="display: flex; flex-direction: row; justify-content: flex-end;">
                      <table style="width: 300px; text-align: right; margin-right: 5px;">
                        <tbody>
                          <tr>
                            <td class="tax-row">
                              <strong>Tax ({{ printData.tax_type.toUpperCase() }}):</strong>
                            </td>
                            <td class="tax-row">
                              {{ printData.tax_amt | toCurrencyValue }}
                            </td>
                          </tr>
                          <tr class="">
                            <td class="tax-row">
                              <strong>Total Amount Due:</strong>
                            </td>
                            <td class="tax-row" style="text-align: right;">
                              <strong>
                                {{ printData.nett_total | toCurrencyValue }}
                              </strong>
                            </td>
                          </tr>
                          <tr>
                            <td/>
                            <td>
                              <div style="border-bottom: solid #222222 1px; height: 1px; width: 100%; margin-bottom: 1px;" />
                              <div style="border-bottom: solid #222222 1px; height: 1px; width: 100%; margin-bottom: 1px;" />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="content-footer">
              <div class="memo">
                <strong>Memo:</strong>
                <div>
                  Our Beneficiary Bank:<br>
                  United Overseas Bank (Malaysia) Berhad<br>
                  Acc No: 174 304 7988
                </div>
              </div>
            </div>
          </div>
        </td>
        </tr>
        </tbody>
        <!--footer space-->
        <tfoot>
          <tr>
            <td>
              <div class="print-footer-space"/>
            </td>
          </tr>
        </tfoot>
      </table>
      <!--footer-->
      <div class="print-footer">
        <div class="footer-decorator"/>
        <div class="footer-details">
          <!-- TODO: remove hardcoded company details -->
          <div class="company-details">
            No.40-1, Jalan PJS 1/50, Taman Petaling Utama Avenue, 46000 Petaling Jaya, Selangor.<br>
            Tel: 03-7783 7650  -  Fax: 03-7783 7672<br><br>
            This is document is computer generated. No signature is required.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PCELogo from '@/assets/print/PCE.svg'

export default {
  name: 'ProjectInvoicePrinting',
  data() {
    return {
      printData: undefined,
      projectData: undefined,
      clientData: undefined,
    }
  },
  created() {
    this.printData = JSON.parse(localStorage.rowData);
    this.projectData = JSON.parse(localStorage.projectData);
    this.clientData = JSON.parse(localStorage.clientData);

    console.log('printData: ', this.printData);
    console.log('projectData: ', this.projectData);
    console.log('clientData: ', this.clientData);

    // 1 sec delay, allowing the vue and the browser to populate the print data to the DOM
    setTimeout(() => {
      window.print();
      window.onfocus = function() {
        this.printData = undefined;
        localStorage.removeItem('printData')
        // window.close()
      }
    }, 1000)
  },
  mounted() {
    // apply pce logo, hide v-toolbar__content
    document.getElementById('pce-logo').src = PCELogo;
    document.getElementsByClassName('v-toolbar__content')[0].style.display = 'none';
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>

  .print-root-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .print-page-wrapper {
    width: 100%;
  }

  .print-header, .print-header-space {
    height: 0;
    width: inherit;
  }
  .print-footer, .print-footer-space {
    height: 95px;
    width: inherit;
  }

  .print-header-space,
  .print-footer-space {
    margin: 5px;
  }

  .print-header {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: white;

    .print-header-inner {
      display: flex;
      flex-direction: row;
      height: 80px;

      .pce-logo-container {
        height: 70px;
        width: 70px;
        margin: 5px 5px 5px 0;
        background-color: #000000;
      }
      .pce-text {
        display: flex;
        height: inherit;
        flex-direction: column;
        justify-content: space-between;

        .text-1 {
          font-size: 57px;
          font-weight: 600;
          letter-spacing: 0;
          margin: 0 0 -10px;
          line-height: 1;
        }
        .text-2 {
          font-size: 23.5px !important;
          font-weight: 400;
          margin: 0;
        }
      }

      .reg-no {
        margin: 2px 0 0 0;
      }
    }

    .header-decorator {
      border-bottom: 8px solid #D12621;
      margin-top: 2px;
      height: 0;
      width: 100%;
    }
  }

  .print-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;

    .document-title {
      margin: 20px 0 0 0;
      font-size: 46px;
      font-weight: 400;
    }
    .details-box {
      flex-grow: 1;
      display: flex;
      width: 50%;
      background-color: #EFEFEF;
      border: solid 1px #EFEFEF;
      padding: 10px;
      margin: 10px 0;
    }

    .subcontainer {
      display: flex;
      margin: 0 0 20px 0;
    }

    .details-table {
      display: flex;
      width: 50%;
      flex-grow: 1;
      flex-direction: row;
      margin: 10px 0;
      padding: 20px;

      .details-table-col-1 {
        width: 190px;
      }
      .details-table-col-2 {
      }
    }

    .details-items {

      .details-items-table-col-1 {
        margin-right: 5px;
      }

      .details-items-table-col-2 {
        width: 30%;
      }

      .details-innertable {
        td {
          padding: 0 !important;
        }
      }

      .dotted-guidelines-container {
        td {
          display: flex;
          align-items: center;
        }
      }

      th {
        color: white;
        height: 30px;
        padding: 5px;
      }

      .header-1 {
        background-color: #D12621;
        border-bottom: solid 1px #D12621;
        border-right: solid white 5px;
      }

      .header-2 {
        background-color: #828282;
        border-bottom: solid 1px #828282;
        border-right: solid white 5px;
      }

      .item-row {
        border-bottom: 1px solid #828282;

        td {
          padding: 10px;
        }
      }

      .last-row {
        border: none;
      }

      .tax-row {
        margin-top: 10px;
        padding: 5px;
      }

      .last-row-total {
        border-bottom: 1px black solid;
      }
    }
  }

  .content-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .memo {
    width: 50%;
    background-color: #EFEFEF;
    border: solid 1px #EFEFEF;
    padding: 10px;
    margin: 10px 0;
  }

  .total-due {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    text-align: right;
    padding: 10px;
  }

  .footer-form {
    text-align: center;
    width: 100%;
    margin-top: 15px;

    tbody, tr, th, td {
      border: 1px solid black;
    }

  }

  .dotted-guidelines {
    border-bottom: dotted #dddddd 5px;
    height: 1px;
    flex-grow: 1;
    margin: 0 0 0 10px
  }

   .left .dotted-guidelines {
    margin: 0 -30px 0 10px !important;
  }

  .print-footer {
    position: fixed;
    bottom: 0;
    background-color: white;

    .footer-decorator {
      border-top: 8px solid #D12621;
      margin-top: 2px;
      height: 0;
      width: 100%;
    }

    .footer-details {
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 14.5px;
      color: #58595B;
      line-height: 1.3;

      .company-details {
        flex-grow: 1;
        text-align: center;
        margin: 0;
      }
    }
  }

</style>
