<template>
  <v-dialog
    v-model="showModal"
    width="600"
  >
    <v-form @submit.prevent="onSubmit">
      <RoundedCard>
        <v-card-title
          class="headline"
          primary-title
        >
          Expense Write Off
        </v-card-title>

        <v-card-text>
          <p class="subheading">
            Write Off <strong>{{ expense.ref_no }}</strong> from <strong>{{ expense.project_name }}</strong>?
          </p>
          <TextField
            :field="formFields.reason"
            autofocus
            counter="50"
          />
        </v-card-text>

        <v-card-actions>
          <v-row
            class="justify-end"
            no-gutters
          >
            <CoreButton
              :disabled="!formIsValid"
              :loading="isLoading"
              color="info"
              type="submit"
            >
              Submit
            </CoreButton>
            <CoreButton
              color="neutral"
              @click="closeModal"
            >
              Cancel
            </CoreButton>
          </v-row>
        </v-card-actions>
      </RoundedCard>
    </v-form>
  </v-dialog>
</template>

<script>
import {pendingExpenses, writeOffExpensesApi} from '../stores/pendingExpenses'
import {apiErrorNotification} from '@/utils/request'

export default {
  data() {
    return {
      isLoading: false,
      showModal: false,
    }
  },
  computed: {
    expense() {
      return pendingExpenses.expenseToWriteOff.get()
    },
    formFields() {
      return pendingExpenses.fields.get()
    },
    formIsValid() {
      return pendingExpenses.isValid()
    },
    pendingExpensesPath() {
      return '/bulk-payment/pending-expenses'
    },
    expenseWriteOffPath() {
      const uuid = this.$route.params.uuid;
      return `${this.pendingExpensesPath}/${uuid}/write-off`
    },
  },
  watch: {
    showModal(bool) {
      // on Modal close
      if (!bool) {
        this.$router.push(this.pendingExpensesPath);
      }
    },
    $route(route) {
      this.toggleModalByRouterPath(route);
    },
  },
  created() {
    this.toggleModalByRouterPath()
  },
  methods: {
    toggleModalByRouterPath(route = this.$route) {
      if (route.path === this.expenseWriteOffPath) {
        this.showModal = true
      }
    },
    closeModal() {
      pendingExpenses.resetForm();
      this.showModal = false
    },
    onSubmit() {
      const valid = pendingExpenses.validateForm();
      if (valid) {
        this.writeOff();
      }
    },
    async writeOff() {
      try {
        this.isLoading = true;
        const params = {
          uuid: this.$route.params.uuid,
          write_off_reason: this.formFields.reason.value
        };
        await writeOffExpensesApi(params);
        this.$toast(`Successfully write off "${this.expense.ref_no}"`, {
          color: 'success',
          closeBtn: true,
        });
        pendingExpenses.fetchData();
        this.showModal = false;
        pendingExpenses.resetForm()
      } catch (error) {
        apiErrorNotification(error)
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style scoped>

</style>

