<template>
  <StoreInjector :store="stores">
    <router-view />
  </StoreInjector>
</template>

<script>
import {contractorTableList} from './stores/contractorTableList';
import {contractorDetails} from './stores/contractorDetails';
import {contractorDelete} from './stores/contractorDelete';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'Contractors',
  data() {
    return {
      stores: [
        contractorTableList,
        contractorDetails,
        contractorDelete,
      ],
    }
  },
}
</script>
