<template>
  <v-container
    fluid
    pt-0
  >
    <RoundedCard>
      <v-row
        class="pt-4 pb-2 px-4"
        no-gutters
      >
        <v-row
          class="mr-3 mb-2"
          no-gutters
        >
          <SearchToolbar
            :placeholder="searchString"
            @search-input="handleOnSearch"
          />
        </v-row>
        <CreateContractorForm />
        <TableExportDropdown
          class="ml-3"
          :list="contractorList"
          :excel-name="excelName()"
          :get-excel-data="getExcelData"
          :get-csv-data="getCSVData"
        />
      </v-row>
      <ContractorListTable />
    </RoundedCard>
  </v-container>
</template>

<script>
import {debounce} from 'lodash';
import {saveAs} from 'file-saver';
import CreateContractorForm from './components/CreateContractorForm';
import {contractorTableList} from './stores/contractorTableList';
import {apiErrorNotification} from '../../utils/request';
import ContractorListTable from './components/ContractorListTable';
import {datetimeShort} from '@nixel/base/filters/datetime';
import TableExportDropdown from '@/components/TableExportDropdown';
import {fetchContractorMYOBApi} from './apis';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ContractorList',
  components: {
    CreateContractorForm,
    ContractorListTable,
    TableExportDropdown,
  },
  data() {
    return {
      searchString: 'Search for Contractors',
    }
  },
  computed: {
    contractorList() {
      return contractorTableList.data.get();
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    excelName(extension = 'xlsx') {
      return `contractors_${datetimeShort(new Date())}.${extension}`;
    },
    getExcelData() {
      return contractorTableList.listMappedWithColumnLabel()
    },
    async getCSVData() {
      const filteredList = contractorTableList.filteredRows();
      const contractorIds = filteredList.map(invoice => invoice.uuid);
      const response = await fetchContractorMYOBApi({uuid: contractorIds});
      const fileBlob = new Blob([response.data], {type: 'text/plain;charset=utf-8'});
      saveAs(fileBlob, this.excelName('txt'))
    },
    async fetchData() {
      try {
        await contractorTableList.fetchData();
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    handleOnSearch: debounce(function(value) {
      contractorTableList.query.update({
        filter: value,
        page: 1,
      });

      this.fetchData();
    }, 300)
  },
};
</script>
