<template>
  <div class="px-3">
    <v-treeview
      v-if="accountCodeList.length > 0"
      class="accountCodeTree"
      :items="accountCodeList"
    >
      <template v-slot:label="{item}">
        {{ item.code }} <small class="grey--text text--darken-1">({{ item.name }})</small>

        <CoreButton
          v-permission="['finance_account_code.edit']"
          fab
          color="transparent"
          x-small
          class="editIcon ml-3"
          :title="`Edit ${item.name}`"
          @click="gotoAccountCodeDetailsPage(item)"
        >
          <v-icon class="px-0" size="14">
            mdi-pencil
          </v-icon>
        </CoreButton>

        <CoreButton
          v-permission="['finance_account_code.delete']"
          fab
          color="transparent text-danger"
          x-small
          class="deleteIcon ml-1"
          :title="`Delete ${item.name}`"
          @click="onDeleteAccountCode(item)"
        >
          <v-icon class="px-0" size="14">
            mdi-delete
          </v-icon>
        </CoreButton>
      </template>
    </v-treeview>
    <div v-else class="pt-3 pb-5 px-3 text-center">
      No Account Codes in the list.
    </div>
    <v-dialog
      v-model="isDetailsPage"
      max-width="600px"
    >
      <v-card>
        <!--Form-->
        <AccountCodeForm
          :fields="updateFormFields"
          @onsubmit="handleOnSubmit"
        >
          <v-card-title>
            <span class="headline">Edit Account Code</span>
          </v-card-title>
          <template slot="footer">
            <v-card-actions>
              <v-spacer />
              <CoreButton
                :loading="updateFormIsLoading"
                class="mr-3"
                color="info"
                type="submit"
              >
                Update
              </CoreButton>
              <CoreButton
                color="neutral"
                @click="resetForm"
              >
                Reset
              </CoreButton>
            </v-card-actions>
          </template>
        </AccountCodeForm>
      </v-card>
    </v-dialog>
  </div>
</template>

<style lang="scss" scoped>
  .accountCodeTree {
    :global(.v-treeview-node__children) {
      background: rgba(0, 0, 0, 0.025);
    }

    :global(.v-treeview-node__root) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.025);
    }
  }

  .editIcon {
    color: rgba(#0d47a1, 0.5);
  }
</style>

<script>
import {delay} from '@/utils';
import {apiErrorNotification} from '@/utils/request';
import {accountCodeTableList} from '../stores/accountCodes';
import {updateAccountCodeForm} from '../stores/accountCodeForm';
import {accountCodeDelete} from '../stores/accountCodeDelete';
import AccountCodeForm from './AccountCodeForm';
import {fetchAccountCodeDetailsApi} from '@/modules/AccountCodes/apis';
import {ACCOUNT_CODE_LIST_PAGE_PATH, accountCodeDetailsPagePath} from '@/modules/AccountCodes/routes';

export default {
  name: 'AccountCodeListTable',
  components: {AccountCodeForm},
  computed: {
    isDetailsPage: {
      get() {
        return !!this.$route.params.uuid;
      },
      set(isDetailsPage) {
        if (!isDetailsPage) {
          // go to listing page
          this.$router.push(ACCOUNT_CODE_LIST_PAGE_PATH);
        }
      },
    },
    accountCodeList() {
      return accountCodeTableList.data.get()
    },
    query() {
      return accountCodeTableList.query.get()
    },
    pagination() {
      return accountCodeTableList.pagination()
    },
    isLoading() {
      return accountCodeTableList.isLoading.get()
    },
    updateFormIsLoading() {
      return updateAccountCodeForm.isLoading.get()
    },
    deleteIsLoading() {
      // TODO: now all buttons turn into loading state, lol
      return accountCodeDelete.isLoading.get()
    },
    updateFormFields() {
      return updateAccountCodeForm.getFields()
    }
  },
  watch: {
    isDetailsPage(value) {
      // on land on details page, open dialog
      if (value) {
        this.openEditAccountCodeForm({
          uuid: this.$route.params.uuid
        });
      }
    }
  },
  created() {
    if (this.isDetailsPage) {
      this.openEditAccountCodeForm({
        uuid: this.$route.params.uuid,
      });
    }
  },
  methods: {
    gotoAccountCodeDetailsPage(accountCode) {
      this.$router.push(accountCodeDetailsPagePath(accountCode.uuid))
    },
    async openEditAccountCodeForm(accountCode) {
      try {
        const response = await fetchAccountCodeDetailsApi({
          uuid: accountCode.uuid
        });

        updateAccountCodeForm.updateInitials({
          name: response.data.data.name,
          code: response.data.data.code,
          parent_id: response.data.data.parent_id,
        });

      } catch (error) {
        apiErrorNotification(error);
      }
    },
    async onDeleteAccountCode(accountCode) {
      const isConfirm = await this.$confirmOnce(`All the nested codes will be deleted. Are you sure you want to delete "${accountCode.name}".`, {
        buttonTrueColor: 'error',
        buttonFalseColor: 'info',
      });

      if (isConfirm) {
        // noinspection JSIgnoredPromiseFromCall,ES6MissingAwait
        accountCodeDelete.deleteAccountCode(accountCode, async () => {
          await delay(300);
          accountCodeTableList.fetchData()
        })
      }
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        accountCodeTableList.query.update({
          page,
          limit,
        });

        accountCodeTableList.fetchData()
      }
    },
    resetForm() {
      updateAccountCodeForm.resetForm();
    },
    async handleOnSubmit() {
      try {
        await updateAccountCodeForm.submit({
          uuid: this.$route.params.uuid,
        });
        await delay(300);

        this.$router.push(ACCOUNT_CODE_LIST_PAGE_PATH);
        // fetch new list
        await accountCodeTableList.fetchData();
      } catch (e) {}
    },
  }
}
</script>
