
<template>
  <v-form
    ref="form"
    @submit.prevent="onSubmit"
  >
    <v-container>
      <slot />
      <v-row class="px-3">
        <v-col
          cols="12"
          md="6"
        >
          <TextField
            :field="fields.name"
            autofocus
          />
        </v-col>

        <v-col
          cols="12"
          md="6"
        >
          <TextField
            :field="fields.code"
          />
        </v-col>

        <v-col
          cols="12"
          md="6"
        >
          <AccountCodeCombobox
            :value="fields.parent_id.value"
            :label="fields.parent_id.label"
            :error-messages="fields.parent_id.errorMessages"
            @change="handleUpdateParentId"
          />
        </v-col>
      </v-row>
      <slot name="footer" />
    </v-container>
  </v-form>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
import AccountCodeCombobox from '@/components/AccountCodeCombobox';
import {accountCodeList} from '@/stores/accountCodeList';

export default {
  name: 'AccountCodeForm',
  components: {
    AccountCodeCombobox
  },
  props: {
    fields: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      countries: [],
    }
  },
  async created() {
    accountCodeList.fetchData();
  },
  async mounted() {
  },
  methods: {
    handleUpdateParentId(parentId) {
      this.fields.parent_id.setValue(parentId);
    },
    onSubmit(e) {
      console.log(e);
      this.$emit('onsubmit', e)
    },
  }
}
</script>
