<template>
  <v-list-group
    v-if="hasMoreThanOneNestedRoute"
    :to="route.path"
    class="drawerItemGroup"
    color="white"
    v-bind="$attrs"
    no-action
  >
    <template slot="activator">
      <DrawerItem
        :route="{
          name: route.name,
          meta: route.meta,
        }"
      />
    </template>

    <template v-for="(nestedRoute, index) in nestedRoutes">
      <DrawerItem
        v-if="!nestedRoute.hidden"
        :key="index"
        :route="nestedRoute"
        :prefix-path="route.path"
      />
    </template>
  </v-list-group>
  <!--suppress JSPotentiallyInvalidTargetOfIndexedPropertyAccess -->
  <DrawerItem
    v-else-if="hasOneNestedRoute"
    :route="nestedRoutes[0]"
    :prefix-path="route.path"
  />
</template>

<script>
import DrawerItem from './DrawerItem';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'DrawerItemGroup',
  components: {
    DrawerItem
  },
  props: {
    route: {
      type: Object,
      require: true,
      default() {
        return {}
      }
    }
  },
  computed: {
    nestedRoutes() {
      if (this.route && Array.isArray(this.route.children)) {
        return this.route.children.filter(nestedRoute => {
          return !nestedRoute.hidden && nestedRoute.path.indexOf('*') === -1;
        })
      }

      return []
    },
    hasOneNestedRoute() {
      return this.nestedRoutes.length === 1
    },
    hasMoreThanOneNestedRoute() {
      return this.nestedRoutes.length > 1
    }
  }
}
</script>

<style lang="scss" scoped>
  .drawerItemGroup {
    padding: 0;

    :global(.drawerItem) {
      padding: 0;
    }

    :global(.v-list-group__items .drawerItem) {
      padding-left: 66px !important;
    }

    :global(.v-list__group__header__prepend-icon) {
      padding-right: 0;
      min-width: 35px;
    }

    :global(.v-list__group__items--no-action .v-list-item__title) {
      padding-left: 30px;
    }
  }
</style>
