<template>
  <v-navigation-drawer
    v-model="sideNavIsOpen"
    class="drawer"
    app
    dark
    floating
    persistent
    mobile-break-point="991"
    width="260"
  >
    <v-list
      class="fill-height"
      tag="v-list"
      avatar
    >
      <v-list-item>
        <v-list-item-avatar
          color="white"
        >
          <v-img
            :src="logo"
            height="34"
            contain
          />
        </v-list-item-avatar>
        <v-list-item-title class="title">
          Dr. Insights
        </v-list-item-title>
      </v-list-item>
      <v-divider class="mb-0" />

      <template v-if="userDetailsIsLoading">
        <v-row
          class="fill-height"
          justify="center"
          align="center"
          no-gutters
        >
          <v-progress-circular
            slot="progress"
            color="blue"
            indeterminate
          />
        </v-row>
      </template>
      <template
        v-for="(link, i) in links"
        v-else
      >
        <DrawerItemGroup
          v-if="!link.hidden && link.children && link.children.length > 0"
          :key="i"
          :route="link"
          :to="link.path"
        />
        <DrawerItem
          v-else-if="!link.hidden"
          :key="i"
          :route="link"
          :to="link.path"
        />
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<style lang="scss" scoped>
  .drawer {
    :global(.v-list) {
      padding: 0;
    }

    :global(.v-list-item__avatar) {
      margin-right: 11px !important;
      margin-top: 15px;
      margin-bottom: 15px;
      min-width: unset;
    }

    :global(.v-list-item__title) {
      line-height: 30px;
      padding: 5px 0;
      height: unset;
      font-size: 14px !important;
      font-weight: 400;
      letter-spacing: unset !important;
    }

    :global(.v-divider) {
      margin-top: 0;
    }
  }

  .title:global(.v-list-item__title) {
    line-height: 1;
    padding: 5px 0;
    height: unset;
    font-size: 18px !important;
    font-weight: 400;
    letter-spacing: unset !important;
  }
</style>

<script>
import {auth} from '@/stores/auth'
import {appStore} from '@/stores/appStore'
import DrawerItem from './DrawerItem';
import DrawerItemGroup from './DrawerItemGroup';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'Drawer',
  components: {DrawerItem, DrawerItemGroup},
  data: () => ({
    logo: require('../../assets/images/logo.png'),
    responsive: false
  }),
  computed: {
    sideNavIsOpen: {
      get() {
        return appStore.sideNavIsOpen.get();
      },
      set(value) {
        appStore.sideNavIsOpen.assign(value);
      }
    },
    userDetailsIsLoading() {
      return auth.userDetails.isLoading.get();
    },
    links() {
      return auth.accessibleRoutes.get()
    }
  },
}
</script>
