<template>
  <v-list-item
    :to="getPath"
    class="drawerItem"
    active-class="info"
    color="white"
    v-bind="$attrs"
  >
    <v-list-item-action v-if="route.meta && route.meta.icon">
      <v-icon>{{ route.meta.icon }}</v-icon>
    </v-list-item-action>
    <v-list-item-title>
      {{ route | getRouteTitle }}
    </v-list-item-title>
  </v-list-item>
</template>

<script>
import {resolve} from 'path'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'DrawerItem',
  props: {
    route: {
      type: Object,
      require: true,
      default() {
        return {}
      }
    },
    prefixPath: {
      type: String,
      default: '',
    },
  },
  computed: {
    getPath() {
      if (!this.route.path) {
        return undefined
      }

      return resolve(this.prefixPath, this.route.path)
    }
  }
}
</script>

<style lang="scss" scoped>
  .drawerItem {
    :global(.v-list-item__action) {
      min-width: 30px;
      margin-right: 10px !important;

      :global(.v-icon) {
        font-size: 16px;
      }
    }

    :global(.v-list-item__title) {
      font-size: 14px !important;
    }
  }
</style>
