<template>
  <v-menu
    :close-on-content-click="false"
    bottom
    left
    min-width="300"
    max-width="300"
    nudge-left="12"
    offset-x
    transition="slide-y-transition"
  >
    <CoreButton
      v-slot:activator="{ on }"
      class="elevation-0"
      color="grey"
      dark
      fab
      fixed
      style="top: 96px;"
      top
      v-on="on"
    >
      <v-icon>mdi-settings</v-icon>
    </CoreButton>
  </v-menu>
</template>

<script>
export default {
  data: () => ({
  }),
  computed: {
  },
  methods: {
  }
}
</script>
