<template>
  <v-bottom-navigation
    v-if="isAuthenticated"
    v-model="bottomNav"
    class="bottomNavBar"
  >
    <v-btn
      v-for="(navRoute) in navRoutes"
      :key="navRoute.name"
      :to="navRoute.path"
      :value="navRoute.name"
    >
      <div>{{ navRoute.text }}</div>
      <v-icon>{{ navRoute.icon }}</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>

<script>
import {auth} from '@/stores/auth';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'MobileNavBar',
  components: {},
  data: () => ({
    bottomNav: 'homepage',
    navRoutes: [
      {name: 'home', path: '/', text: 'Home', icon: 'mdi-home'},
      {name: 'projects', path: '/projects/list', text: 'Projects', icon: 'mdi-format-list-checkbox'},
      {name: 'payments', path: '/bulk-payment', text: 'Payments', icon: 'mdi-cash-usd'},
      {name: 'reports', path: '/reports', text: 'Reports', icon: 'mdi-file-chart'},
    ]
  }),
  computed: {
    isAuthenticated() {
      return auth.isAuthenticated.get()
    }
  },
  watch: {
    $route(val) {
      this.title = val.meta.title
    }
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
.bottomNavBar {
  position: fixed;
  min-height: 64px;
  bottom: 0;
  left: 0;
  max-width: 100vw;
  z-index: 10;

  :global(.v-btn) {
    height: 100% !important;
  }

  :global(.v-btn__content) {
    max-width: 100%;
    min-width: 90px;
    overflow: auto;
  }

  div {
    display: flex;
    min-height: 20px;
    text-transform: uppercase;
    white-space: normal;
    font-size: 9px;
    max-width: 90px;
    align-items: center;
  }
}
</style>
