<template>
  <v-content class="mobileViewContainer">
    <v-fade-transition mode="out-in">
      <template v-if="userDetailsIsLoading">
        <div class="d-flex justify-center align-center fill-height">
          <v-progress-circular
            slot="progress"
            color="blue"
            indeterminate
          />
        </div>
      </template>
      <router-view v-else />
    </v-fade-transition>
  </v-content>
</template>

<style lang="scss" scoped>
  .mobileViewContainer {
    margin: 64px 0; // top and bottom navBar's height
  }
</style>

<script>
import {auth} from '@/stores/auth';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'MobileCoreView',
  computed: {
    userDetailsIsLoading() {
      return auth.userDetails.isLoading.get();
    },
  }
}
</script>
