<template>
  <v-app-bar
    v-if="isAuthenticated"
    class="mobileToolbar"
  >
    <v-fade-transition mode="out-in" duration="1000">
      <a
        v-if="showBackButton"
        class="backButton"
        @click="$router.go(-1)"
      >
        <div v-ripple class="rippleContainer">
          <v-img src="@/assets/icons/back.svg" />
        </div>
      </a>
    </v-fade-transition>
    <v-fade-transition mode="out-in" duration="1000">
      <div
        v-if="!showRouteTitle"
        class="appBrand"
      >
        <div class="appBrandContent">
          <v-img
            class="appBrandLogo"
            src="@/assets/images/logo.png"
          />
          <div class="appBrandText">
            DR.INSIGHTS
          </div>
        </div>
        <v-img class="gradientMargin" />
      </div>
    </v-fade-transition>
    <v-spacer />
    <v-fade-transition mode="out-in" hide-on-leave>
      <div v-if="showRouteTitle && showBackButton">
        <div class="routeTitle">
          {{ $route.name }}
        </div>
      </div>
    </v-fade-transition>
    <v-spacer />
    <div>
      <ToolbarRightMenu :show-message="!showBackButton" />
    </div>
  </v-app-bar>
</template>

<script>
import {appStore} from '@/stores/appStore'
import {auth} from '@/stores/auth';
import ToolbarRightMenu from './ToolbarRightMenu';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'MobileToolbar',
  components: {ToolbarRightMenu},
  data: () => ({
    title: null,
    showRouteTitle: false,
  }),
  computed: {
    showBackButton() {
      return this.$route.fullPath !== '/' && this.$route.fullPath !== '/dashboard';
    },
    isAuthenticated() {
      return auth.isAuthenticated.get()
    }
  },
  watch: {
    $route(val) {
      this.title = val.meta.title
    },
    showBackButton(val) {
      setTimeout(() => {
        this.showRouteTitle = val
      }, 500)
    }
  },
  methods: {
    handleToggleMenu() {
      appStore.sideNavIsOpen.toggle();
    },
  }
}
</script>

<style lang="scss" scoped>
  .mobileToolbar {
    height: 64px !important;
    max-width: 100vw !important;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    box-shadow: 0 -8px 14px 0 rgba(0, 0, 0, 0.25) !important;

    :global(.v-toolbar__content) {
      height: 100% !important;
      display: flex;
      justify-content: space-between;
    }

    .backButton {
      min-width: 32px;
      height: 32px !important;

      .rippleContainer {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
      }

      :global(.v-responsive) {
        height: 18px !important;

        :global(.v-image__image) {
          background-size: contain !important;
        }
      }
    }

    .appBrand {
      position: absolute;
      display: flex;

      .appBrandContent {
        display: flex;
        background-color: white;
        padding-right: 10px;
      }

      .appBrandLogo {
        width: 42px;
      }
      .appBrandText {
        font-size: 14px;
        font-weight: 600;
        color: #60b1f5;
        align-items: center;
        display: flex;
        margin-left: 3px;
      }

      .gradientMargin {
        width: 30px;
        background: linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,0));
      }
    }
  }
</style>
