<template>
  <v-app-bar
    v-if="showToolBar"
    class="coreToolbar"
    :class="[sideNavIsOpen ? 'sideNavIsOpen' : '']"
    color="white"
    height="70px"
    flat
    dense
  >
    <v-toolbar-title
      class="tertiary--text font-weight-light"
    >
      <v-app-bar-nav-icon @click.stop="handleToggleMenu" />
    </v-toolbar-title>
    <Breadcrumb />
    <v-spacer />
    <v-toolbar-items>
      <v-row
        align="center"
        no-gutters
      >
        <div>
          <v-chip
            v-for="role in roles"
            :key="role.id"
            color="info"
            small
            outlined
          >
            {{ role.name }}
          </v-chip>
        </div>
        <ToolbarRightMenu />
      </v-row>
    </v-toolbar-items>
  </v-app-bar>
</template>

<script>
import {appStore} from '@/stores/appStore'
import {auth} from '@/stores/auth'
import ToolbarRightMenu from './ToolbarRightMenu'
import Breadcrumb from './Breadcrumb'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'Toolbar',
  components: {Breadcrumb, ToolbarRightMenu},
  data: () => ({
    title: null
  }),

  computed: {
    sideNavIsOpen() {
      return appStore.sideNavIsOpen.get()
    },
    showToolBar() {
      return !this.$route.meta.hideToolBar || auth.hasToken()
    },
    roles() {
      return auth.roles.get()
    }
  },
  watch: {
    $route(val) {
      this.title = val.meta.title
    }
  },

  methods: {
    handleToggleMenu() {
      appStore.sideNavIsOpen.toggle();
    },
  }
}
</script>

<style lang="scss" scoped>
$toolbar-min-height: 70px !default;

.coreToolbar {
  min-height: $toolbar-min-height;
  margin-bottom: 15px;
  flex: 0 0 $toolbar-min-height;

  &:not(.v-toolbar--fixed):global(.sideNavIsOpen .v-toolbar__content) {
    @media screen and (min-width: 992px) {
      margin-left: 260px;
    }
  }

  :global(.v-toolbar__content) {
    min-height: $toolbar-min-height;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

</style>
