<template>
  <v-menu
    offset-y
    nudge-top="-20"
    absolute
    right
    close-on-content-click
  >
    <template v-slot:activator="{ on }">
      <div
        class="d-flex align-center cursor-pointer"
        v-on="on"
      >
        <div v-if="showMessage">
          <template v-if="userDetailsIsLoading">
            <v-progress-circular
              slot="progress"
              color="blue"
              indeterminate
              size="16"
              width="2"
            />
          </template>
          <template v-else>
            <v-fade-transition>
              <p class="mb-0 ml-2 welcomeMessage">
                {{ userName }}
              </p>
            </v-fade-transition>
          </template>
        </div>
        <v-btn
          class="ml-1 toolbarMenuIcon"
          icon
          small
          rounded
          v-bind="$attrs"
        >
          <v-icon size="18">
            mdi-dots-vertical
          </v-icon>
        </v-btn>
      </div>
    </template>
    <v-list>
      <v-list-item
        v-for="(item, index) in navigation"
        :key="index"
        :to="item.to"
      >
        <v-list-item-title :class="`${item.color}--text`">
          {{ item.title }}
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<style scoped lang="scss">
  .toolbarMenuIcon {
    width: 32px;
    height: 32px;

    :global(.v-btn__content) {
      color: #000000;
    }
  }
  .welcomeMessage {
    font-weight: 600;
    color: #666666;
    min-width: 50vw;
    text-align: right;
  }
</style>

<script>
import {auth} from '@/stores/auth'
export default {
  name: 'ToolbarRightMenu',
  props: {
    showMessage: {
      type: Boolean,
      required: false,
      default: true,
    }
  },
  data() {
    return {
      navigation: [
        {
          title: 'Change password',
          to: '/profile/change-password'
        },
        {
          title: 'Logout',
          color: 'error',
          to: '/logout'
        },
      ]
    }
  },
  computed: {
    userDetailsIsLoading() {
      return auth.userDetails.isLoading.get();
    },
    userName() {
      const userName = auth.userDetails.getUserName();
      if (userName) {
        return 'Welcome, ' + userName
      }

      return '';
    }
  }
};
</script>
