<template>
  <StoreInjector :store="stores">
    <router-view/>
  </StoreInjector>
</template>

<script>
import {pendingInvoices, pendingInvoicesForm} from './stores/pendingInvoices';
import {writtenOffInvoices} from './stores/writtenOffInvoices';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'PendingInvoices',
  data() {
    return {
      stores: [
        pendingInvoices,
        pendingInvoicesForm,
        writtenOffInvoices,
      ],
    }
  },
}
</script>
