<template>
  <v-container
    fluid
    pt-0
  >
    <RoundedCard>
      <v-row
        class="pa-4 align-center"
        no-gutters
      >
        <v-row
          class="mr-3"
          no-gutters
        >
          <SearchToolbar
            :value="searchFilter"
            placeholder="Project's name, Client name, Cert No."
            class="searchInput"
            @search-input="handleOnSearch"
          >
            <DateRangePicker
              input-class="dateInput"
              label="Write Off Date Filter (pick two dates)"
              background-color="transparent"
              solo
              flat
              hide-details
              allow-single-date
              set-date-on-select
              @date-picked="updateDateFilters"
              @date-cleared="clearDateFilter"
            />
          </SearchToolbar>
        </v-row>
        <TableExportExcelButton
          :disabled="invoices.length === 0"
          :get-excel-data="getExcelData"
          :filename="excelName"
        />
      </v-row>
      <WriteOffTable />
    </RoundedCard>
  </v-container>
</template>

<style lang="scss" scoped>
  .searchInput {
    :global(.v-toolbar__content .v-input:first-child) {
      flex: 5 0;
    }
  }

  .dateInput {
    flex: 0 0 230px;
  }

</style>

<script>
import {debounce} from 'lodash';
import {writtenOffInvoices} from './stores/writtenOffInvoices';
import {apiErrorNotification} from '@/utils/request';
import {datetimeShort} from '@nixel/base/filters/datetime';
import WriteOffTable from './components/WriteOffTable';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'WriteOffList',
  components: {
    WriteOffTable,
  },
  data() {
    return {
      dateFilters: ['write_off_date[start]', 'write_off_date[end]'],
    }
  },
  computed: {
    invoices() {
      return writtenOffInvoices.data.get()
    },
    excelName() {
      return `write_off_invoices_${datetimeShort(new Date())}.xlsx`;
    },
    searchFilter() {
      return writtenOffInvoices.query.get('filter');
    },
  },
  mounted() {
    this.fetchData();
  },
  beforeRouteLeave(to, from, next) {
    const currentQuery = writtenOffInvoices.query.get()
    writtenOffInvoices.query.assign({
      ...currentQuery,
      filter: undefined,
      [this.dateFilters[0]]: undefined,
      [this.dateFilters[1]]: undefined,
    })
    next()
  },
  methods: {
    async fetchData() {
      try {
        await writtenOffInvoices.fetchData();
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    getExcelData() {
      return writtenOffInvoices.listMappedWithColumnLabel();
    },
    handleOnSearch: debounce(function(value) {
      writtenOffInvoices.query.update({
        filter: value,
        page: 1,
      });

      this.fetchData();
    }, 300),
    updateDateFilters(dateFilter) {
      writtenOffInvoices.query.update({
        [this.dateFilters[0]]: dateFilter.start,
        [this.dateFilters[1]]: dateFilter.end,
      });
      this.fetchData()
    },
    clearDateFilter() {
      writtenOffInvoices.query.update({
        [this.dateFilters[0]]: undefined,
        [this.dateFilters[1]]: undefined,
      });
      this.fetchData()
    },
  }
}
</script>

