<template>
  <v-container
    fluid
    pt-0
  >
    <RoundedCard>
      <v-row
        class="pt-4 pb-2 px-4"
        no-gutters
      >
        <v-row
          class="mr-3 mb-2"
          no-gutters
        >
          <SearchToolbar
            :placeholder="searchString"
            @search-input="handleOnSearch"
          />
        </v-row>
        <CreateForm />
        <TableExportDropdown
          class="ml-3"
          :list="clientList"
          :excel-name="excelName()"
          :get-excel-data="getExcelData"
          :get-csv-data="getCSVData"
        />
      </v-row>
      <ClientListTable />
    </RoundedCard>
  </v-container>
</template>

<script>
import {debounce} from 'lodash';
import {saveAs} from 'file-saver';
import CreateForm from './components/CreateClientForm';
import ClientListTable from './components/ClientListTable';
import {clientTableList} from './stores/clients';
import {apiErrorNotification} from '../../utils/request';
import {datetimeShort} from '@nixel/base/filters/datetime';
import TableExportDropdown from '@/components/TableExportDropdown';
import {fetchClientsMYOBApi} from './apis';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ClientList',
  components: {
    CreateForm,
    ClientListTable,
    TableExportDropdown,
  },
  data() {
    return {
      searchString: 'Search for Clients',
    }
  },
  computed: {
    clientList() {
      return clientTableList.data.get();
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    excelName(extension = 'xlsx') {
      return `clients_${datetimeShort(new Date())}.${extension}`;
    },
    getExcelData() {
      return clientTableList.listMappedWithColumnLabel()
    },
    async getCSVData() {
      const filteredList = clientTableList.filteredRows();
      const clientIds = filteredList.map(invoice => invoice.uuid);

      const response = await fetchClientsMYOBApi({uuid: clientIds});
      const fileBlob = new Blob([response.data], {type: 'text/plain;charset=utf-8'});
      saveAs(fileBlob, this.excelName('txt'))
    },
    async fetchData() {
      try {
        await clientTableList.fetchData();
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    handleOnSearch: debounce(function(value) {
      clientTableList.query.update({
        filter: value,
        page: 1,
      });

      this.fetchData();
    }, 300)
  },
};
</script>
