<template>
  <div>
    <TableList
      :list="clientList"
      :columns="columns"
      :selected-columns="selectedColumns"
      :selected-rows="selectedRows"
      :table-prop="tableProp"
      :loading="isLoading"
      :action-column="{
        text: 'Actions',
        value: 'actions',
        align: 'center',
        width: '80px'
      }"
      :elevation="0"
      border
      single-expand
      item-key="uuid"
      selectable-rows
      @change-sort="changeSort"
      @row-selected="handleRowSelection"
      @expanded="onExpand"
    >
      <!-- Expand -->
      <template
        slot="expand"
        slot-scope="prop"
      >
        <div>
          <v-card flat>
            <v-card-text>
              <ClientForm
                :fields="updateFormFields"
                @onsubmit="handleOnSubmit(prop)"
              >
                <template slot="footer">
                  <v-row>
                    <v-spacer />
                    <CoreButton
                      :loading="updateFormIsLoading"
                      class="mr-3"
                      color="info"
                      type="submit"
                    >
                      Update
                    </CoreButton>
                    <CoreButton
                      color="neutral"
                      @click="resetForm"
                    >
                      Reset
                    </CoreButton>
                  </v-row>
                </template>
              </ClientForm>
            </v-card-text>
          </v-card>
        </div>
      </template>

      <!-- actions -->
      <template
        slot="actions"
        slot-scope="props"
      >
        <CoreButton
          :loading="deleteIsLoading"
          color="error"
          x-small
          fab
          dark
          @click.stop="onDeleteClient(props.item)"
        >
          <v-icon>mdi-delete</v-icon>
        </CoreButton>
      </template>
    </TableList>

    <v-row>
      <QueryPagination
        v-if="clientList.length > 0"
        :query="query"
        :total="pagination.total"
        @input="changePage"
      />
    </v-row>
  </div>
</template>

<script>
import {delay} from '@/utils';
import {clientTableList} from '../stores/clients';
import {clientDelete} from '../stores/clientDelete';
import {clientDetails} from '../stores/clientDetails';
import {apiErrorNotification} from '@/utils/request';
import ClientForm from './ClientForm';

export default {
  name: 'ClientListTable',
  components: {ClientForm},
  computed: {
    clientList() {
      return clientTableList.filteredList()
    },
    query() {
      return clientTableList.query.get()
    },
    pagination() {
      return clientTableList.pagination()
    },
    isLoading() {
      return clientTableList.isLoading.get()
    },
    updateFormIsLoading() {
      return clientDetails.updateClientForm.isLoading.get()
    },
    selectedColumns() {
      return clientTableList.selectedColumns.get() || []
    },
    selectedRows() {
      return clientTableList.selectedRows.get() || {}
    },
    columns() {
      // noinspection JSCheckFunctionSignatures
      const columns = clientTableList.tableColumnsObject();

      // filter selected columns
      return this.selectedColumns.map((columnName) => {
        return columns[columnName]
      })
    },
    tableProp() {
      return clientTableList.tableProp()
    },
    deleteIsLoading() {
      // TODO: now all buttons turn into loading state, lol
      return clientDelete.isLoading.get()
    },
    updateFormFields() {
      return clientDetails.updateClientForm.getFields()
    }
  },
  methods: {
    hasColumn: clientTableList.hasColumn,
    async onExpand(expanded, prop) {
      if (!expanded) {
        return
      }

      try {
        await clientDetails.fetchData({
          uuid: prop.item.uuid
        });

        // update update form
        clientDetails.updateClientForm.updateInitials(clientDetails.data.get());
      } catch (error) {
        console.log(error);
        apiErrorNotification(error);
      }
    },
    changeSort(header, query) {
      clientTableList.query.update(query);
      clientTableList.fetchData()
    },
    async onDeleteClient(client) {
      const isConfirm = await this.$confirmOnce(`Are you sure you want to delete "${client.name}".`, {
        buttonTrueColor: 'error',
        buttonFalseColor: 'info',
      });

      if (isConfirm) {
        // noinspection JSIgnoredPromiseFromCall
        clientDelete.deleteClient(client, async () => {
          await delay(300);
          clientTableList.fetchData()
        })
      }
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        clientTableList.query.update({
          page,
          limit,
        });

        clientTableList.fetchData()
      }
    },
    handleRowSelection(newSelectedRows) {
      clientTableList.selectedRows.assign(newSelectedRows)
    },
    resetForm() {
      clientDetails.updateClientForm.resetForm();
    },
    async handleOnSubmit(prop) {
      try {
        await clientDetails.updateClientForm.submit({
          uuid: prop.item.uuid
        });
        await delay(300);

        // fetch new list
        await clientTableList.fetchData();
      } catch (e) {}
    }
  }
}
</script>
