<template>
  <v-dialog
    v-model="showCreateForm"
    max-width="820px"
  >
    <template v-slot:activator="{ on }">
      <CoreButton
        :loading="isLoading"
        color="success"
        class="m-0"
        depressed
        v-on="on"
      >
        <v-icon>mdi-plus</v-icon>
        Add
      </CoreButton>
    </template>
    <v-card>
      <v-container>
        <v-card-title>
          <span class="headline">Create Client</span>
        </v-card-title>

        <ClientForm
          :fields="createFormFields"
          @onsubmit="handleOnSubmit"
        >
          <template slot="footer">
            <v-card-actions>
              <v-spacer />
              <CoreButton
                :loading="isLoading"
                :disabled="!formIsDirty || !formIsValid"
                color="info"
                class="mr-3"
                type="submit"
              >
                Create
              </CoreButton>
              <CoreButton
                color="neutral"
                @click="closeCreateForm"
              >
                Cancel
              </CoreButton>
            </v-card-actions>
          </template>
        </ClientForm>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<script>
import ClientForm from './ClientForm';
import {delay} from '@/utils';
import {clientDetails} from './../stores/clientDetails';
import {clientTableList} from '../stores/clients';

export default {
  name: 'CreateClientForm',
  components: {ClientForm},
  data() {
    return {
      showCreateForm: false,
    }
  },
  computed: {
    isLoading() {
      return clientDetails.createClientForm.isLoading.get()
    },
    createFormFields() {
      return clientDetails.createClientForm.getFields()
    },
    formIsValid() {
      return clientDetails.createClientForm.isValid()
    },
    formIsDirty() {
      return clientDetails.createClientForm.isDirty()
    },
  },
  methods: {
    closeCreateForm() {
      this.showCreateForm = false;
    },
    async handleOnSubmit() {
      try {
        await clientDetails.createClientForm.submit();
        await delay(300);
        this.showCreateForm = false;
        clientDetails.createClientForm.resetForm();

        // fetch new list
        await clientTableList.fetchData();
      } catch (e) {}
    }
  }
};
</script>
