<template>
  <v-dialog
    v-model="showUpdateForm"
    :persistent="formIsDirty"
    max-width="820px"
  >
    <v-card>
      <v-container>
        <v-card-title
          class="headline"
          primary-title
        >
          Update Invoice
        </v-card-title>
        <InvoiceForm
          :form-fields="updateFormFields"
          :form-is-valid="formIsValid"
          :loading="formIsLoading"
          submit-text="Update"
          @form-submit="onSubmit"
          @form-cancel="cancelForm"
        />
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import {projectInvoices, projectInvoicesTable, updateInvoiceForm} from '../../../stores/projectInvoices'
import {projectDetails} from '@/modules/Projects/stores/projectDetails';
import InvoiceForm from './ProjectDetailsInvoiceForm'

export default {
  components: {
    InvoiceForm,
  },
  computed: {
    showUpdateForm: {
      get() {
        return projectInvoices.showUpdateForm.get()
      },
      set() {
        projectInvoices.showUpdateForm.toggle()
      }
    },
    updateFormFields() {
      return updateInvoiceForm.fields.get()
    },
    formIsValid() {
      return updateInvoiceForm.isValid()
    },
    formIsLoading() {
      return updateInvoiceForm.isLoading.get()
    },
    formIsDirty() {
      return updateInvoiceForm.isDirty();
    },
  },
  methods: {
    async onSubmit() {
      try {
        await updateInvoiceForm.submit({
          uuid: updateInvoiceForm.invoiceID.get(),
          project_id: this.$route.params.uuid
        });

        projectDetails.fetchData()
        projectInvoicesTable.fetchData();
        projectInvoices.showUpdateForm.toggle();
      } catch (e) {
        console.warn(e);
      }
    },
    cancelForm() {
      if (updateInvoiceForm.isDirty()) {
        this.handleDirtyForm()
      } else {
        projectInvoices.showUpdateForm.toggle(false);
        updateInvoiceForm.resetForm(true)
      }
    },
    async handleDirtyForm() {
      const isConfirm = await this.$confirmOnce('You have pending changes. Are you sure you want to exit from the form?');

      if (isConfirm) {
        projectInvoices.showUpdateForm.toggle();
        updateInvoiceForm.resetForm(true)
      }
    },
  },
}
</script>

<style scoped>

</style>

