<template>
  <div>
    <TableList
      ref="table"
      :list="invoiceList"
      :columns="columns"
      :selected-rows="selectedRows"
      :table-prop="tableProp"
      :loading="isLoading"
      :action-column="{
        text: 'Actions',
        value: 'actions',
        align: 'center',
        width: '80px'
      }"
      :item-key="itemKey"
      :elevation="0"
      border
      hide-default-footer
      selectable-rows
      @change-sort="changeSort"
      @row-selected="handleRowSelection"
      @row-double-click="handleRowDoubleClick"
    >
      <template
        slot="actions"
        slot-scope="props"
      >
        <div class="d-flex">
          <CoreButton
            color="success"
            class="mx-1"
            x-small
            fab
            dark
            @click.stop="handleInvoicePayments(props.item)"
          >
            <v-icon>mdi-cash-multiple</v-icon>
          </CoreButton>
          <CoreButton
            v-permission="['project.invoice.edit']"
            color="info"
            class="mx-1"
            x-small
            fab
            dark
            @click.stop="handleInvoiceEdit(props.item)"
          >
            <v-icon>mdi-pencil</v-icon>
          </CoreButton>
          <CoreButton
            color="neutral"
            class="mx-1"
            x-small
            fab
            dark
            @click.stop="handleInvoicePrinting(props.item)"
          >
            <v-icon>mdi-printer</v-icon>
          </CoreButton>
          <CoreButton
            v-permission="['project.invoice.delete']"
            color="error"
            class="mx-1"
            x-small
            fab
            dark
            @click.stop="handleInvoiceDelete(props.item)"
          >
            <v-icon>mdi-delete</v-icon>
          </CoreButton>
        </div>
      </template>
      <template
        v-if="invoiceList.length > 0"
        slot="footer"
      >
        <td
          v-for="(column, index) in columns"
          :key="column.value"
          class="py-1"
        >
          <template v-if="index === 0">
            Total:
          </template>
          <template v-else-if="column.type === 'currency'">
            <strong class="text-truncate d-block text-right">
              {{ aggregator(invoiceList, column.value) | toCurrencyValue }}
            </strong>
          </template>
        </td>
      </template>
    </TableList>

    <v-row>
      <QueryPagination
        v-if="invoiceList.length > 0"
        :query="query"
        :total="pagination.total"
        @input="changePage"
      />
    </v-row>

    <PaymentForm />
    <EditInvoiceDialog />
  </div>
</template>

<script>
import {date} from '@nixel/base/filters/datetime'
import {projectDetails} from '../../../stores/projectDetails'
import {projectInvoicesTable, projectInvoices, updateInvoiceForm, projectInvoiceDelete} from '../../../stores/projectInvoices'
import {projectDataFormatter, invoiceDataFormatter, clientDataFormatter} from '../../../resources/projectInvoices'
import {invoicePaymentForm} from '../../../stores/projectInvoicePaymentForm'
import EditInvoiceDialog from './ProjectDetailsEditInvoiceDialog'
import PaymentForm from './ProjectDetailsInvoicePaymentForm'
import {aggregator} from '@/utils/math';

export default {
  name: 'ProjectDetailsInvoicesTable',
  components: {
    EditInvoiceDialog,
    PaymentForm,
  },
  computed: {
    invoiceList() {
      return projectInvoicesTable.data.get()
    },
    query() {
      return projectInvoicesTable.query.get()
    },
    pagination() {
      return projectInvoicesTable.pagination()
    },
    isLoading() {
      return projectInvoicesTable.isLoading.get()
    },
    itemKey() {
      return projectInvoicesTable.itemKey.get()
    },
    selectedRows() {
      return projectInvoicesTable.selectedRows.get() || {}
    },
    columns() {
      return projectInvoicesTable.tableColumns.get();
    },
    tableProp() {
      return projectInvoicesTable.tableProp()
    },
  },
  methods: {
    aggregator,
    changeSort(header, query) {
      projectInvoicesTable.query.update(query);
      projectInvoicesTable.fetchData()
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        projectInvoicesTable.query.update({
          page,
          limit,
        });

        projectInvoicesTable.fetchData()
      }
    },
    handleInvoicePayments(invoice) {
      invoicePaymentForm.invoice.assign(invoice);
      const formattedPayments = invoice.payment_details.map(payment => {
        const newPayment = {...payment};
        newPayment.payment_date = date(newPayment.payment_date);
        newPayment.cash_flow = 'IN';
        newPayment.invoice_id = invoice.uuid;
        newPayment.project_id = this.$route.params.uuid;
        return newPayment
      });
      invoicePaymentForm.setPayments(formattedPayments);
      projectInvoices.showPaymentForm.toggle()
    },
    handleInvoiceEdit(invoice) {
      updateInvoiceForm.invoiceID.assign(invoice.uuid);
      const formattedInvoice = {...invoice};
      formattedInvoice.invoice_date = date(formattedInvoice.invoice_date);
      formattedInvoice.client_id = {
        uuid: invoice.client_uuid,
        name: invoice.client_name,
      };

      updateInvoiceForm.resetValidation();
      updateInvoiceForm.updateInitials(formattedInvoice);
      projectInvoices.showUpdateForm.toggle()
    },
    handleInvoicePrinting(invoice) {
      const project = projectDetails.data.get();
      const projectData = projectDataFormatter(project);
      const invoiceData = invoiceDataFormatter(invoice);
      const clientData = clientDataFormatter(project);

      localStorage.setItem('projectData', JSON.stringify(projectData));
      localStorage.setItem('rowData', JSON.stringify(invoiceData));
      localStorage.setItem('clientData', JSON.stringify(clientData));

      const routeData = this.$router.resolve({name: 'ProjectInvoicePrint'});
      window.open(routeData.href, '_blank', 'resizable,scrollbars,status')
    },
    async handleInvoiceDelete(invoice) {
      const isConfirm = await this.$confirmOnce(`Are you sure you want to delete "${invoice.cert_no}".`);

      if (isConfirm) {
        // noinspection JSIgnoredPromiseFromCall
        projectInvoiceDelete.delete(invoice, () => {
          projectDetails.fetchData();
          projectInvoicesTable.fetchData()
        })
      }
    },
    handleRowSelection(newSelectedRows) {
      projectInvoicesTable.selectedRows.assign(newSelectedRows)
    },
    handleRowDoubleClick(prop) {
      // open up invoice edit form
      this.handleInvoiceEdit(prop.item);
    },
  },
}
</script>

<style scoped>

</style>

