<template>
  <v-dialog
    v-model="showPaymentForm"
    max-width="820"
  >
    <v-card>
      <v-card-title
        class="headline"
        primary-title
      >
        Payment Received
      </v-card-title>
      <v-container>
        <PaymentFields />
        <CoreButton
          v-permission="['project.invoice.edit']"
          color="info"
          rounded
          outlined
          @click="addPayment"
        >
          <v-icon>mdi-plus</v-icon>
          Add Payment
        </CoreButton>
        <v-row
          justify="end"
          no-gutters
        >
          <CoreButton
            v-permission="['project.invoice.edit']"
            class="mr-3"
            color="info"
            @click.stop="submitPayments"
          >
            Update
          </CoreButton>
          <CoreButton
            color="neutral"
            inner-color="dark"
            @click="showPaymentForm = false"
          >
            Cancel
          </CoreButton>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import {projectInvoices, projectInvoicesTable} from '../../../stores/projectInvoices'
import {projectDetails} from '../../../stores/projectDetails'
import {invoicePaymentForm} from '../../../stores/projectInvoicePaymentForm';
import {defaultPaymentPayload} from '../../../resources/projectInvoices'
import PaymentFields from './InvoicePaymentFields';

export default {
  components: {
    PaymentFields,
  },
  computed: {
    showPaymentForm: {
      get() {
        return projectInvoices.showPaymentForm.get()
      },
      set() {
        projectInvoices.showPaymentForm.toggle()
      }
    },
    invoice() {
      return invoicePaymentForm.invoice.get()
    },
  },
  methods: {
    addPayment() {
      const newPayment = {...defaultPaymentPayload};
      newPayment.invoice_id = this.invoice.uuid;
      newPayment.project_id = this.$route.params.uuid;
      invoicePaymentForm.addPayment(newPayment)
    },
    async submitPayments() {
      await invoicePaymentForm.submit();
      projectInvoicesTable.fetchData();
      projectDetails.fetchData();
      projectInvoices.showPaymentForm.toggle()
    },
  },
}
</script>

<style scoped>

</style>

