<template>
  <StoreInjector :store="stores">
    <router-view />
  </StoreInjector>
</template>

<script>
import {organisationTableList} from './stores/organisationTableList';
import {organisationDetails} from './stores/organisationDetails';
import {organisationDelete} from './stores/organisationDelete';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'Organisations',
  data() {
    return {
      stores: [
        organisationTableList,
        organisationDetails,
        organisationDelete,
      ],
    }
  },
}
</script>
