<template>
  <v-container
    fluid
    pt-0
  >
    <RoundedCard>
      <v-row
        class="pt-4 pb-2 px-4"
        no-gutters
      >
        <v-row
          class="mr-3 mb-2"
          no-gutters
        >
          <!--<SearchToolbar
            :placeholder="searchString"
            @search-input="handleOnSearch"
          />-->
        </v-row>
        <CreateOrganisationForm />
        <TableExportDropdown
          class="ml-3"
          :list="organisationList"
          :excel-name="excelName()"
          :get-excel-data="getExcelData"
        />
      </v-row>
      <OrganisationListTable />
    </RoundedCard>
  </v-container>
</template>

<script>
import {debounce} from 'lodash';
import CreateOrganisationForm from './components/CreateOrganisationForm';
import {organisationTableList} from './stores/organisationTableList';
import {apiErrorNotification} from '../../utils/request';
import OrganisationListTable from './components/OrganisationListTable';
import {datetimeShort} from '@nixel/base/filters/datetime';
import TableExportDropdown from '@/components/TableExportDropdown';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'OrganisationList',
  components: {
    CreateOrganisationForm,
    OrganisationListTable,
    TableExportDropdown,
  },
  data() {
    return {
      searchString: 'Search for Organisations',
    }
  },
  computed: {
    organisationList() {
      return organisationTableList.data.get();
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    excelName(extension = 'xlsx') {
      return `organisations_${datetimeShort(new Date())}.${extension}`;
    },
    getExcelData() {
      return organisationTableList.listMappedWithColumnLabel()
    },
    async fetchData() {
      try {
        await organisationTableList.fetchData();
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    handleOnSearch: debounce(function(value) {
      organisationTableList.query.update({
        filter: value,
        page: 1,
      });

      this.fetchData();
    }, 300)
  },
};
</script>
