<template>
  <div>
    <v-combobox
      v-if="!newContractor"
      ref="comboBox"
      v-model="selectedContractor"
      class="contractorComboBox"
      :filter="filter"
      :hide-no-data="!search"
      :items="contractorNameList"
      :search-input.sync="search"
      label="* Contractor"
      :hint="!selectedContractor ? 'Select an existing contractor to update or create new contractor' : ''"
      :persistent-hint="!selectedContractor"
      hide-selected
      clearable
      @change="handleOnChange"
    >
      <template slot="no-data">
        <v-row
          class="align-center grey--text text-darken-2 px-3"
          no-gutters
        >
          <span class="subheading mr-1">Create</span>
          <v-chip
            small
            label
          >
            {{ search }}
          </v-chip>
        </v-row>
      </template>

      <template
        slot="selection"
        slot-scope="{ item }"
      >
        <span class="selectedItemText text-truncate">
          {{ item }}
        </span>
        <v-chip
          :to="contractorDetailsPath"
          class="editLink ml-2"
          title="Edit Contractor Details"
          small
        >
          Edit
        </v-chip>
      </template>

      <template
        slot="item"
        slot-scope="{ index, item }"
      >
        <v-row
          v-if="item.create"
          class="align-center grey--text text--darken-2"
          no-gutters
        >
          <span class="subheading mr-1">Create</span>
          <v-chip
            v-if="hasSearch"
            small
            label
          >
            {{ search }}
          </v-chip>
          <span v-else>New</span>
        </v-row>
        <v-row
          v-else
          no-gutters
        >
          <span>
            {{ item }}
          </span>
        </v-row>
        <v-spacer />
      </template>
    </v-combobox>
    <TextField
      v-else
      :field="formFields.contractor"
      label="* New Contractor"
      append-icon="mdi-close"
      autofocus
      @click:append="handleOnCancelSelection"
      @input="handleOnInput"
    />

    <div class="pt-3">
      <v-autocomplete
        :value="formFields.povo_no.value"
        :label="formFields.povo_no.label"
        :items="povoNumsList"
        :hint="povoFieldHint"
        :disabled="shouldShowPovoHint"
        :persistent-hint="shouldShowPovoHint"
        clearable
        autocomplete="off"
        @change="onPOVOChange"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .contractorComboBox {
    :global(.v-select__selections) {
      width: calc(100% - 100px);
    }
  }

  .selectedItemText {
    max-width: calc(100% - 60px);
  }
</style>

<script>
import {concat, find} from 'lodash';
import {projectContractors} from '@/modules/Projects/stores/projectContractors';
import {fetchPurchaseOrderApi, fetchVariationOrderApi} from '../../../apis'
import {projectContractorDetailsPath} from '../../../routes';

export default {
  name: 'ContractorSelectField',
  components: {},
  props: {
    formFields: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      contractorPOsVOsList: [],
      povoNumsList: [],
      search: '',
    }
  },
  computed: {
    contractorList() {
      return projectContractors.data.get() || [];
    },
    contractorNameList() {
      return this.contractorList.map(contractor => contractor.name);
    },
    selectedContractor: {
      get() {
        return this.formFields.contractor.value;
      },
      set(newValue) {
        this.formFields.contractor.setValue(newValue);
      },
    },
    selectedContractorDetails() {
      return find(this.contractorList, contractor => contractor.name === this.selectedContractor);
    },
    contractorDetailsPath() {
      if (!this.selectedContractorDetails) {
        return undefined;
      }

      return projectContractorDetailsPath({
        uuid: this.$route.params.uuid,
        contractorUuid: this.selectedContractorDetails.uuid,
      })
    },
    newContractor() {
      if (this.selectedContractor) {
        const selectedContractorFromList = find(this.contractorNameList, contractorName => {
          return contractorName.trim().toLowerCase() === this.selectedContractor.toLowerCase();
        });
        return !selectedContractorFromList;
      }

      return false;
    },
    shouldShowPovoHint() {
      return !this.selectedContractor || this.povoNumsList.length === 0;
    },
    povoFieldHint() {
      if (this.newContractor) {
        return 'New contractor don\'t have PO and VO attached.';
      } else if (!this.selectedContractor) {
        return 'Please Select Contractor First';
      } else if (!!this.selectedContractor && this.povoNumsList.length === 0) {
        return 'This Contractor doesn\'t have any POs or VOs.';
      }

      return '';
    },
  },
  watch: {
    selectedContractor(newContractor) {
      // on contractor list changes, fetch new POVO list
      if (newContractor) {
        const contractor = this.getContractor(newContractor);

        if (contractor) {
          this.fetchContractorPOVO(contractor)
        }
      }
    }
  },
  async created() {
    if (this.contractorNameList.length === 0) {
      await this.fetchContractors()
    }
    const contractorName = this.selectedContractor;
    if (contractorName !== '') {
      const contractor = this.getContractor(contractorName);
      if (contractor) {
        this.fetchContractorPOVO(contractor)
      }
    }
  },
  methods: {
    async fetchContractors() {
      try {
        projectContractors.query.assign({
          uuid: this.$route.params.uuid
        });
        await projectContractors.fetchData();
      } catch (e) {
        console.error(e);
      }
    },
    getContractor(name) {
      const indexOfContractor = this.contractorNameList.indexOf(name);
      if (indexOfContractor === -1) {
        return
      }

      return projectContractors.data.get(`[${indexOfContractor}]`);
    },
    async fetchContractorPOVO(contractor) {
      if (!contractor) {

        this.povoNumsList = [];
        return;
      }

      const params = {
        project_id: this.$route.params.uuid,
        contractor_id: contractor.uuid,
      };
      const responses = await Promise.all([fetchPurchaseOrderApi(params), fetchVariationOrderApi(params)]);

      // construct po vo list with group header
      this.contractorPOsVOsList = concat(
        {
          header: 'PO',
          divider: true
        },
        responses[0].data.data,
        {
          header: 'VO',
          divider: true
        },
        responses[0].data.data,
      );

      this.povoNumsList = this.contractorPOsVOsList.map(povo => {
        const nounce = povo.po_no || povo.vo_no

        if (!nounce) {
          return povo
        }

        return nounce
      })
    },
    onPOVOChange(povoNo) {
      const povo = find(this.contractorPOsVOsList, povo => povo.po_no === povoNo || povo.vo_no === povoNo);
      const payableType = (povo.po_no) ? 'App\\Models\\PurchaseOrder' : 'App\\Models\\VariationOrder';
      this.formFields.payable_type.set('value', payableType);
      this.formFields.payable_id.set('value', povo.id);
      this.formFields.povo_no.set('value', povoNo)
    },

    // contractor field
    filter(item, queryText, itemText) {
      if (item.header) return false;

      const hasValue = val => val != null ? val : '';

      const text = hasValue(itemText);
      const query = hasValue(queryText);

      return text.toString()
        .toLowerCase()
        .indexOf(query.toString().toLowerCase()) > -1
    },
    async handleOnChange(selection) {
      if (!selection) {
        // remove contractor value
        this.formFields.povo_no.setValue(undefined);
        this.formFields.contractor_type.set('value', undefined);
        return;
      }

      // find contractor from list
      const selectedContractor = this.getContractor(selection);

      // is there's the same contractor in the list
      if (selectedContractor) {
        this.formFields.contractor_type.setValue(selectedContractor.type);
        await this.fetchContractorPOVO(selectedContractor);
      } else {
        // is create
        // this.formFields.contractor.setValue(selection);
      }
    },
    handleOnInput(value) {
      if (value === '') {
        this.formFields.contractor.setValue(undefined);

        this.$nextTick(() => {
          // focus comboBox in `ContractorName` component
          this.$refs.comboBox.$refs.input.focus()
        });
      }
    },
    handleOnCancelSelection() {
      this.formFields.contractor.setValue(undefined);
    }
  }
}
</script>
