<template>
  <div>
    <div
      v-for="(payment, index) in paymentList"
      :key="index"
    >
      <!--suppress HtmlDeprecatedAttribute -->
      <v-row
        align="center"
        no-gutters
      >
        <DatePicker
          :value="payment.payment_date"
          @input="handleInput($event, 'payment_date', index)"
        />
        <TextField
          :value="payment.cheque_no"
          class="ml-3"
          label="Cheque No"
          @input="handleInput($event, 'cheque_no', index)"
        />
        <MoneyInput
          :value="payment.payment_amt"
          class="ml-3"
          label="Payment Amount"
          @change="handleInput($event, 'payment_amt', index)"
        />
        <v-col class="d-flex justify-end">
          <CoreButton
            v-permission="['project.expense.edit']"
            color="error"
            fab
            x-small
            @click.stop="removePayment(payment, index)"
          >
            <v-icon>mdi-delete</v-icon>
          </CoreButton>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import {expensesPaymentForm} from '../../../stores/projectExpensesPaymentForm';

export default {
  components: {},
  computed: {
    paymentList() {
      return expensesPaymentForm.fields.get().payments.value
    }
  },
  methods: {
    handleInput(payload, key, index) {
      expensesPaymentForm.updatePayment(index, key, payload)
    },
    removePayment(payment, index) {
      expensesPaymentForm.removePayment(payment, index)
    },
  }
}
</script>

<style scoped>

</style>

