<template>
  <ColumnSelect
    :items="items"
    :selected-columns="selectedColumns"
    @change="updateSelectedColumnList"
  >
  </ColumnSelect>
</template>

<script>
import {isEqual} from 'lodash'
import {projectExpensesTable} from '../../../stores/projectExpenses'
import {expensesTableHeaders} from '../../../resources/projectExpenses'
import {setSelectedColumns, PROJECT_DETAILS_EXPENSES_COLUMNS} from '@/consts/selectedColumns';

export default {
  components: {},
  data() {
    return {
      items: expensesTableHeaders,
    }
  },
  computed: {
    selectedColumns() {
      return projectExpensesTable.selectedColumns.get()
    },
  },
  methods: {
    selectColumnsModeClass(columnKeys) {
      return {
        'primary white--text': isEqual(columnKeys, [...this.selectedColumns])
      }
    },
    async updateSelectedColumnList(columnKeys) {
      await projectExpensesTable.selectedColumns.assign(columnKeys);
      // update localStorage
      setSelectedColumns(PROJECT_DETAILS_EXPENSES_COLUMNS, JSON.stringify(columnKeys));
    },
  }
}
</script>
