<template>
  <v-form @submit.prevent="$emit('form-submit')">
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="6"
        >
          <DatePicker
            no-icon
            :field="formFields.invoice_date"
          />
        </v-col>
        <v-col
          cols="12"
          md="6"
        >
          <DatePicker
            no-icon
            :field="formFields.date_received"
            @change="onDateReceivedChange"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col
          cols="12"
          md="6"
        >
          <TextField :field="formFields.ref_no" />
        </v-col>
        <v-col
          cols="12"
          md="6"
        >
          <v-row
            class="pb-0"
            no-gutters
          >
            <v-col
              cols="12"
              md="4"
              class="pr-5"
            >
              <TextField
                :field="formFields.term"
                suffix="days"
                @input="onTermChange"
              />
            </v-col>
            <v-col
              cols="12"
              md="8"
            >
              <DatePicker
                :field="formFields.due_date"
                :picker-props="{
                  allowedDates,
                }"
                no-icon

                @change="onDueDateChange"
              />
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row>
        <v-col
          cols="12"
          md="6"
        >
          <ContractorSelectField
            :form-fields="formFields"
          />
        </v-col>
        <v-col pb-0>
          <Selects
            :field="formFields.contractor_type"
            :items="contractorTypes"
          />
        </v-col>
      </v-row>
      <v-row
        class="pt-0"
        no-gutters
      >
        <v-col
          cols="12"
          md="12"
        >
          <TextField :field="formFields.description" />
        </v-col>
      </v-row>
      <v-row>
        <v-col
          cols="12"
          md="6"
        >
          <MoneyInput
            :field="formFields.invoice_amt"
            @change="setAutoCalculatedTax"
          />
        </v-col>
        <v-col
          cols="12"
          md="6"
        >
          <AccountCodeCombobox
            :value="formFields.acc_code_id.value"
            :label="formFields.acc_code_id.label"
            :default-api-query="accountCodeDefaultQuery"
            :error-messages="formFields.acc_code_id.errorMessages"
            @change="handleUpdateAccountCode"
          />
        </v-col>
      </v-row>

      <v-row align="center">
        <v-col class="d-flex align-center">
          <v-checkbox
            v-model="excludeTaxCheckboxValue"
            label="Include Tax"
            class="project-expense-tax-checkbox mr-3"
            hide-details
          />
          <Selects
            class="mr-2"
            :field="formFields.tax_type"
            :items="taxList"
            item-text="text"
            item-value="value"
            disabled
          />
        </v-col>
        <v-col
          class="py-0"
        >
          <MoneyInput
            class="ml-2"
            :field="formFields.tax_amt"
            :disabled="!excludeTaxCheckboxValue"
            hint="Nett Certified * TAX RATE"
            persistent-hint
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col
          cols="12"
          md="6"
        >
          <MoneyInput
            :field="formFields.dc_note"
          />
        </v-col>
        <v-col
          cols="12"
          md="6"
        >
          <MoneyInput
            :field="formFields.credit_note"
          />
        </v-col>
      </v-row>

      <v-row class="align-center">
        <v-col md="6">
          <OrganisationCombobox
            :value="formFields.organisation_id.value"
            :label="formFields.organisation_id.label"
            :error-messages="formFields.organisation_id.errorMessages"
            @change="handleUpdateOrganisation"
          />
        </v-col>
      </v-row>

      <v-row
        justify="end"
      >
        <CoreButton
          class="mr-3"
          color="info"
          type="submit"
          :disabled="!formIsValid"
          :loading="loading"
        >
          {{ submitText }}
        </CoreButton>
        <CoreButton
          color="neutral"
          inner-color="dark"
          @click="$emit('form-cancel')"
        >
          Cancel
        </CoreButton>
      </v-row>
    </v-container>
  </v-form>
</template>

<style lang="scss" scoped>
  .project-expense-tax-checkbox {
    margin-top: 0;
    padding-top: 0;

    :global(.v-input__slot) {
      display: flex;
      flex-direction: row-reverse;
      :global(.v-label) {
        font-size: 14px;
        font-weight: 400;
      }
      :global(.v-input--selection-controls__input) {
        margin: 0 0 0 5px;
      }
    }
  }
</style>

<script>
import {isAfter, isToday, addDays, differenceInCalendarDays} from 'date-fns'
import {date} from '@nixel/base/filters/datetime';
import {getTaxTypeByDate, SST_DATE, taxRates, taxTypes} from '@/consts/tax'
import {contractorTypes} from '@/consts/contractors'
import {projectContractorsDetails} from '../../../stores/projectContractors'
import AccountCodeCombobox from '@/components/AccountCodeCombobox';
import OrganisationCombobox from '@/components/OrganisationCombobox';
import ContractorSelectField from './ContractorSelectField';
import {accountCodeDefaultQuery} from '@/modules/Projects/resources/projectExpenses'

export default {
  name: 'ProjectDetailsExpensesForm',
  components: {
    AccountCodeCombobox,
    OrganisationCombobox,
    ContractorSelectField,
  },
  props: {
    formFields: {
      type: Object,
      required: true
    },
    submitText: {
      type: String,
      default: 'Submit'
    },
    formIsValid: {
      type: Boolean,
      default: true
    },
    loading: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {
      accountCodeDefaultQuery,
      contractorTypes: contractorTypes,
      taxList: taxTypes,
      sstDate: SST_DATE,
    }
  },
  computed: {
    taxType() {
      return getTaxTypeByDate(new Date(this.formFields.invoice_date.value))
    },
    contractorDetails() {
      return projectContractorsDetails.data.get()
    },
    invoiceAmount() {
      return this.formFields.invoice_amt.value
    },
    excludeTaxCheckboxValue: {
      get: function() {
        return !this.formFields.exclude_tax.value;
      },
      set: function(newVal) {
        const excludeTax = !newVal;
        this.formFields.exclude_tax.setValue(excludeTax);
        if (!excludeTax) {
          const taxAmount = this.formFields.invoice_amt.value * taxRates[this.taxType];
          this.formFields.tax_amt.setValue(taxAmount)
        } else {
          this.formFields.tax_amt.setValue(0)
        }
      }
    },
  },
  watch: {
    taxType(value) {
      this.formFields.tax_type.set('value', value);
      this.setAutoCalculatedTax()
    },
  },
  methods: {
    allowedDates(date) {
      return isAfter(date, new Date()) || isToday(date);
    },
    setAutoCalculatedTax: function(value) {
      if (this.excludeTaxCheckboxValue) {
        const invoiceAmt = value || this.invoiceAmount;
        const taxAmount = invoiceAmt * taxRates[this.taxType];
        this.formFields.tax_amt.set('value', taxAmount)
      }
    },
    onDateReceivedChange(value) {
      const fields = {
        date_received: value,
        term: this.formFields.term.value,
      };
      this.updateDueDate(fields)
    },
    onTermChange(value) {
      const fields = {
        term: value,
        date_received: this.formFields.date_received.value,
      };
      this.updateDueDate(fields)
    },
    onDueDateChange(value) {
      const fields = {
        due_date: value,
        date_received: this.formFields.date_received.value,
      };
      this.updateTerm(fields)
    },
    updateDueDate(fields) {
      const adjustedDueDate = addDays(new Date(fields.date_received), fields.term);
      this.formFields.due_date.setValue(date(adjustedDueDate))
    },
    updateTerm(fields) {
      const term = differenceInCalendarDays(new Date(fields.due_date), new Date(fields.date_received));
      this.formFields.term.setValue(term)
    },
    handleUpdateAccountCode(value) {
      this.formFields.acc_code_id.setValue(value);
    },
    handleUpdateOrganisation(value) {
      this.formFields.organisation_id.setValue(value);
    },
  }
}
</script>

