<template>
  <div>
    <TableList
      :list="expensesList"
      :columns="columns"
      :selected-rows="selectedRows"

      has-filter-columns
      :selected-columns="selectedColumns"

      :table-prop="tableProp"
      :loading="isLoading"
      :action-column="{
        text: 'Actions',
        value: 'actions',
        align: 'center',
        width: '80px'
      }"
      :item-key="itemKey"
      :elevation="0"
      border
      hide-default-footer
      selectable-rows
      @change-sort="changeSort"
      @row-selected="handleRowSelection"
      @row-double-click="handleRowDoubleClick"
    >
      <template
        slot="contractor_type"
        slot-scope="props"
      >
        <span class="position-relative text-nowrap">
          {{ getContractorType(props.item) }}
        </span>
      </template>

      <template
        slot="actions"
        slot-scope="props"
      >
        <div class="d-flex">
          <CoreButton
            color="success"
            class="mx-1"
            x-small
            fab
            dark
            @click.stop="handleExpensesPayments(props.item)"
          >
            <v-icon>mdi-cash-multiple</v-icon>
          </CoreButton>
          <CoreButton
            v-permission="['project.expense.edit']"
            color="info"
            class="mx-1"
            x-small
            fab
            dark
            @click.stop="handleExpensesEdit(props.item)"
          >
            <v-icon>mdi-pencil</v-icon>
          </CoreButton>
          <CoreButton
            v-permission="['project.expense.delete']"
            color="error"
            class="mx-1"
            x-small
            fab
            dark
            @click.stop="handleExpensesDelete(props.item)"
          >
            <v-icon>mdi-delete</v-icon>
          </CoreButton>
        </div>
      </template>

      <template
        v-if="expensesList.length > 0"
        slot="footer"
      >
        <td
          v-for="(column, index) in columns"
          :key="column.value"
          class="py-1"
        >
          <template v-if="index === 0">
            Total:
          </template>
          <template v-else-if="column.type === 'currency'">
            <strong class="text-truncate d-block text-right">
              {{ aggregator(expensesList, column.value) | toCurrencyValue }}
            </strong>
          </template>
        </td>
      </template>
    </TableList>

    <v-row>
      <QueryPagination
        v-if="expensesList.length > 0"
        :query="query"
        :total="pagination.total"
        @input="changePage"
      />
    </v-row>

    <PaymentForm />
    <EditExpensesDialog />
  </div>
</template>

<script>
import {find} from 'lodash';
import {date} from '@nixel/base/filters/datetime';
import {contractorTypes} from '@/consts/contractors';
import {projectDetails} from '@/modules/Projects/stores/projectDetails';
import {projectExpensesTable, projectExpenses, updateExpensesForm} from '../../../stores/projectExpenses'
import {expensesPaymentForm} from '../../../stores/projectExpensesPaymentForm'
import {projectExpensesDelete} from '../../../stores/projectExpensesDelete'
import EditExpensesDialog from './ProjectDetailsEditExpensesDialog'
import PaymentForm from './ProjectDetailsExpensesPaymentForm'
import {aggregator} from '@/utils/math';

export default {
  name: 'ProjectDetailsExpensesForm',
  components: {
    EditExpensesDialog,
    PaymentForm,
  },
  computed: {
    expensesList() {
      return projectExpensesTable.data.get()
    },
    query() {
      return projectExpensesTable.query.get()
    },
    pagination() {
      return projectExpensesTable.pagination()
    },
    isLoading() {
      return projectExpensesTable.isLoading.get()
    },
    itemKey() {
      return projectExpensesTable.itemKey.get()
    },
    selectedRows() {
      return projectExpensesTable.selectedRows.get() || {}
    },
    columns() {
      return projectExpensesTable.tableColumns.get() || []
    },
    tableProp() {
      return projectExpensesTable.tableProp()
    },
    selectedColumns() {
      return projectExpensesTable.selectedColumns.get()
    },
  },
  methods: {
    aggregator,
    changeSort(header, query) {
      projectExpensesTable.query.update(query);
      projectExpensesTable.fetchData()
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        projectExpensesTable.query.update({
          page,
          limit,
        });

        projectExpensesTable.fetchData()
      }
    },
    getContractorType(expense) {
      if (expense.contractor_type) {
        const contractorType = find(contractorTypes, type => type.value === expense.contractor_type);
        return contractorType.text
      } else {
        return ''
      }
    },
    handleExpensesPayments(expenses) {
      expensesPaymentForm.expenses.assign(expenses);
      const formattedPayments = expenses.payment_details.map(payment => {
        const newPayment = {...payment};
        newPayment.payment_date = date(newPayment.payment_date);
        newPayment.cash_flow = 'OUT';
        newPayment.expenses_id = expenses.uuid;
        newPayment.project_id = this.$route.params.uuid;
        return newPayment
      });
      expensesPaymentForm.setPayments(formattedPayments);
      projectExpenses.showPaymentForm.toggle()
    },
    handleExpensesEdit(expenses) {
      updateExpensesForm.expenseID.assign(expenses.uuid);
      updateExpensesForm.updateInitials(expenses);
      projectExpenses.showUpdateForm.toggle()
    },
    async handleExpensesDelete(expense) {
      const isConfirm = await this.$confirmOnce(`Are you sure you want to delete "${expense.ref_no}".`);

      if (isConfirm) {
        // noinspection JSIgnoredPromiseFromCall
        projectExpensesDelete.delete(expense, () => {
          projectDetails.fetchData();
          projectExpensesTable.fetchData()
        })
      }
    },
    handleRowSelection(newSelectedRows) {
      projectExpensesTable.selectedRows.assign(newSelectedRows)
    },
    handleRowDoubleClick(prop) {
      this.handleExpensesEdit(prop.item);
    },
  },
}
</script>

<style scoped>

</style>

