<template>
  <v-container
    fluid
    sticky-container
  >
    <v-row
      v-sticky
      sticky-side="both"
      class="project-expenses-toolbar align-center py-2"
      no-gutters
    >
      <div class="flex-grow-1">
        <SearchToolbar
          class="project-details-expenses-search-toolbar"
          placeholder="Contractor, Ref No."
          @search-input="searchExpenses"
        >
          <DateRangePicker
            input-class="dateInput"
            label="Due Date Filter (pick two dates)"
            background-color="transparent"
            hide-details
            solo
            flat
            allow-single-date
            set-date-on-select
            @date-picked="setDateFilter"
            @date-cleared="clearDateFilter"
          />
        </SearchToolbar>
      </div>
      <v-col
        class="d-flex justify-end pl-3 py-3"
        cols="12"
        lg="auto"
      >
        <InvoiceAndExpensesListFilter :fetch-data="fetchData" />
        <v-dialog
          v-model="showCreateForm"
          max-width="820px"
        >
          <template v-slot:activator="{ on }">
            <CoreButton
              v-permission="['project.expense.add']"
              color="success"
              class="m-0 mx-3"
              depressed
              v-on="on"
            >
              <v-icon>mdi-plus</v-icon>
              Add
            </CoreButton>
          </template>
          <v-card>
            <v-container>
              <v-card-title
                class="headline"
                primary-title
              >
                Create Expenses
              </v-card-title>
              <ProjectDetailsExpensesForm
                :form-fields="createFormFields"
                :form-is-valid="formIsValid"
                :loading="formIsLoading"
                submit-text="Create"
                @form-submit="onSubmit"
                @form-cancel="resetCreateForm"
              />
            </v-container>
          </v-card>
        </v-dialog>
        <TableExportDropdown
          :list="expensesList"
          :excel-name="excelName()"
          :get-excel-data="getExcelData"
          :get-csv-data="getCSVData"
        />
        <ProjectDetailsExpensesColumnSelect />
      </v-col>
    </v-row>
    <ProjectDetailsExpensesTable />
  </v-container>
</template>

<style lang="scss">
  .dateInput {
    flex: 0 0 300px;
  }
  .project-details-expenses-search-toolbar {
    :global(.v-input__prepend-outer) {
      margin-top: 4px !important;
    }
  }
  .project-expenses-toolbar {
    background-color: white;
  }
  .project-expenses-toolbar.top-sticky {
    box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.2)
  }

  .organisation-name {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<script>
import {pull, get} from 'lodash';
import {saveAs} from 'file-saver';
import TableExportDropdown from '@/components/TableExportDropdown';
import {
  projectExpenses,
  projectExpensesTable,
  createExpensesForm
} from '../../../stores/projectExpenses'
import {apiErrorNotification} from '@/utils/request'
import {datetimeShort} from '@nixel/base/filters/datetime';
import ProjectDetailsExpensesForm from './ProjectDetailsExpensesForm';
import ProjectDetailsExpensesTable from './ProjectDetailsExpensesTable';
import {projectDetails} from '@/modules/Projects/stores/projectDetails';
import {fetchProjectExpenseMYOBApi} from '../../../apis';
import {accountCodeList} from '@/stores/accountCodeList';
import {accountCodeDefaultQuery} from '@/modules/Projects/resources/projectExpenses'
import ProjectDetailsExpensesColumnSelect from './ProjectDetailsExpensesColumnSelect';
import {organisationList} from '@/stores/organisationList';
import InvoiceAndExpensesListFilter from '../InvoiceAndExpensesListFilter';

export default {
  components: {
    ProjectDetailsExpensesColumnSelect,
    InvoiceAndExpensesListFilter,
    ProjectDetailsExpensesForm,
    ProjectDetailsExpensesTable,
    TableExportDropdown,
  },
  data() {
    return {
      dateFilters: ['due_date[start]', 'due_date[end]'],
    }
  },
  computed: {
    showCreateForm: {
      get() {
        return projectExpenses.showCreateForm.get()
      },
      set() {
        projectExpenses.showCreateForm.toggle()
      }
    },
    isPending() {
      return this.$route.query.isPending === '1'
    },
    createFormFields() {
      return createExpensesForm.fields.get()
    },
    expensesList() {
      return projectExpensesTable.data.get() || []
    },
    formIsValid() {
      return createExpensesForm.isValid()
    },
    formIsLoading() {
      return createExpensesForm.isLoading.get()
    },
    organisationFilter() {

      if (this.$route.query.organisation) {
        return (this.$route.query.organisation).split(',');
      }

      return this.organisationList.map(org => org.id);
    },
    organisationList() {
      return organisationList.data.get() || []
    },
  },
  async created() {
    await organisationList.fetchData();
    this.fetchData();

    try {
      await accountCodeList.fetchData(accountCodeDefaultQuery);
    } catch (error) {
      apiErrorNotification(error)
    }
  },
  methods: {
    excelName(extension = 'xlsx') {
      return `${projectDetails.name()}_expenses_${datetimeShort(new Date())}.${extension}`;
    },
    handleTogglePending() {
      const isPending = !this.isPending;
      this.$router.replace({
        query: {
          ...this.$route.query,
          isPending: isPending ? '1' : '0',
        }
      });

      this.fetchData();
    },
    handleOrganisationFilter(id) {
      const newOrganisationFilter = this.organisationFilter;
      if (newOrganisationFilter.indexOf(id) >= 0) {
        pull(newOrganisationFilter, id);
      } else {
        newOrganisationFilter.push(id);
      }

      this.$router.replace({
        query: {
          ...this.$route.query,
          organisation: newOrganisationFilter.join(','),
        }
      });

      this.fetchData();
    },
    organisationFilterWithUuid(idList) {
      return (idList || this.organisationFilter).map(id => (this.organisationList.find(org => org.id === id) || {}).uuid);
    },
    async fetchData(queryFrom) {
      try {
        // update API query
        projectExpensesTable.query.update({
          uuid: this.$route.params.uuid,
          status: queryFrom && queryFrom.isPending ? 'pending' : undefined,
          organisation_id: this.organisationFilterWithUuid(queryFrom ? queryFrom.organisation : undefined),
        });

        // fetch expenses list
        await projectExpensesTable.fetchData()
      } catch (error) {
        apiErrorNotification(error)
      }
    },
    setDateFilter(filter) {
      projectExpensesTable.query.update({
        [this.dateFilters[0]]: filter.start,
        [this.dateFilters[1]]: filter.end,
      });
      this.fetchData()
    },
    clearDateFilter() {
      projectExpensesTable.query.update({
        [this.dateFilters[0]]: undefined,
        [this.dateFilters[1]]: undefined,
      });
      this.fetchData()
    },
    searchExpenses(searchText) {
      projectExpensesTable.query.update({
        filter: searchText
      });
      this.fetchData()
    },
    async onSubmit(confirm = false) {
      try {
        await createExpensesForm.submit({
          confirm,
          project_id: this.$route.params.uuid,
        });
        projectDetails.fetchData();
        projectExpenses.showCreateForm.toggle();
      } catch (error) {
        console.log(error);
        const hasDuplicate = get(error, 'response.data.data.errors.has_duplicate');

        if (hasDuplicate) {
          const isConfirm = await this.$confirmOnce(`Are you sure you want to add a duplicated "${this.createFormFields.ref_no.value}".`);

          if (isConfirm) {
            this.onSubmit(true);
          }
        }
      }
      this.fetchData()
    },
    resetCreateForm() {
      projectExpenses.showCreateForm.toggle();
      createExpensesForm.resetForm()
    },
    getExcelData() {
      return projectExpensesTable.listMappedWithColumnLabel()
    },
    async getCSVData() {
      const filteredList = projectExpensesTable.filteredRows();
      const invoiceIDs = filteredList.map(invoice => invoice.uuid);
      const projectID = this.$route.params.uuid;
      const response = await fetchProjectExpenseMYOBApi(projectID, {uuid: invoiceIDs});
      const fileBlob = new Blob([response.data], {type: 'text/plain;charset=utf-8'});
      saveAs(fileBlob, this.excelName('txt'))
    },
  }
}
</script>

