<template>
  <div class="text-xs-center">
    <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <AnyTag
          v-bind="$attrs"
          :loading="isLoading"
          :tag="tag"
          :disabled="list.length === 0"
          color="neutral"
          inner-color="dark"
          depressed
          v-on="on"
        >
          <slot name="button-content">
            <v-icon>mdi-download</v-icon>
            Export
          </slot>
        </AnyTag>
      </template>
      <v-list>
        <v-list-item
          v-for="(item, index) in exportFormats"
          :key="index"
          avatar
          @click="item.handler"
        >
          <v-list-item-avatar>
            <v-icon small>
              {{ item.icon }}
            </v-icon>
          </v-list-item-avatar>

          <v-list-item-title>
            {{ item.title }}
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
export default {
  props: {
    tag: {
      type: String,
      default: 'CoreButton',
    },
    list: {
      type: Array,
      default() {
        return []
      }
    },
    getExcelData: {
      type: Function,
    },
    excelName: {
      type: String,
      default: 'excel.xlsx',
    },
    getCsvData: {
      type: Function,
    },
  },
  data() {
    return {
      isLoading: false,
      exportFormats: [
        {
          icon: 'mdi-file-excel',
          title: 'Excel',
          value: 'xlsx',
          handler: this.downloadExcel,
        },
        {
          icon: 'mdi-file-delimited',
          title: 'CSV',
          value: 'csv',
          handler: this.downloadCSV,
        },
      ]
    }
  },
  methods: {
    async downloadExcel() {
      if (!this.getExcelData) {
        return
      }
      this.isLoading = true
      const list = await this.getExcelData();
      const {exportJSONToExcel} = await import('@nixel/base/utils/exportExcel');

      await exportJSONToExcel({
        data: list,
        filename: this.excelName,
        autoWidth: true
      });
      this.isLoading = false
    },
    downloadCSV() {
      if (!this.getCsvData) {
        return
      }
      this.isLoading = true
      this.getCsvData()
      this.isLoading = false
    },
  },
}
</script>

<style scoped>

</style>

