<template>
  <v-app>
    <!-- impersonation banner-->
    <ImpersonationBanner />
    <Drawer />
    <v-fade-transition mode="out-in">
      <Toolbar />
    </v-fade-transition>
    <CoreView />
  </v-app>
</template>

<script>
import Toolbar from './components/core/Toolbar';
import Drawer from './components/core/Drawer';
import CoreView from './components/core/View';
import ImpersonationBanner from './components/ImpersonationBanner';

export default {
  name: 'App',
  components: {
    ImpersonationBanner,
    Toolbar,
    Drawer,
    CoreView
  },
}
</script>
