<template>
  <v-container>
    <PageWIP />
  </v-container>
</template>

<style lang="scss">
</style>

<script>
import {debounce} from 'lodash';
import {pendingExpenses} from './stores/pendingExpenses';
import {apiErrorNotification} from '../../utils/request';
// import PendingExpensesTable from './components/PendingExpensesTable';
// import PendingExpensesSummaryModal from './components/PendingExpensesSummaryModal';
import {datetimeShort} from '@nixel/base/filters/datetime';
import PageWIP from '../../views/errorPage/WIP';

export default {
  name: 'PendingExpensesList',
  components: {PageWIP},
  data() {
    return {
      searchString: 'Pending Expenses',
      dateFilters: ['due_date[start]', 'due_date[end]'],
    }
  },
  computed: {
    excelName() {
      return `pending_expenses_${datetimeShort(new Date())}.xlsx`;
    },
    pendingExpensesList() {
      return pendingExpenses.data.get()
    },
  },
  mounted() {
    this.fetchData();
  },
  beforeRouteLeave(to, from, next) {
    const currentQuery = pendingExpenses.query.get()
    pendingExpenses.query.assign({
      ...currentQuery,
      filter: undefined,
      [this.dateFilters[0]]: undefined,
      [this.dateFilters[1]]: undefined,
    })
    next()
  },
  methods: {
    getExcelData() {
      return pendingExpenses.listMappedWithColumnLabel();
    },
    async fetchData() {
      try {
        await pendingExpenses.fetchData();
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    handleOnChangeFilterBy() {
      this.handleOnSearch(this.searchString)
    },
    handleOnSearch: debounce(function(value) {
      pendingExpenses.query.update({
        filter: value,
        page: 1,
      });

      this.fetchData();
    }, 300),
    handleDatePicked(dateFilter) {
      pendingExpenses.query.update({
        [this.dateFilters[0]]: dateFilter.start,
        [this.dateFilters[1]]: dateFilter.end,
      });
      this.fetchData()
    },
    clearDateFilter() {
      pendingExpenses.query.update({
        [this.dateFilters[0]]: undefined,
        [this.dateFilters[1]]: undefined,
      });
      this.fetchData()
    },
  },
};
</script>
