<template>
  <StoreInjector :store="loginStore">
    <LoginForm />
  </StoreInjector>
</template>

<script>
import {loginStore} from './stores/loginStore';
import LoginForm from './components/LoginForm';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'Login',
  components: {LoginForm},
  data() {
    return {
      loginStore,
    };
  },
};
</script>
