<template>
  <StoreInjector :store="resetPasswordStore">
    <ResetPasswordForm />
  </StoreInjector>
</template>

<script>
import ResetPasswordForm from './components/ResetPasswordForm';
import {resetPasswordStore} from './stores/resetPasswordStore';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ResetPassword',
  components: {ResetPasswordForm},
  data() {
    return {
      resetPasswordStore,
    }
  },
}
</script>
