<template>
  <v-container>
    <v-form
      ref="changePasswordForm"
      class="changePasswordForm"
      @submit.prevent="onSubmit"
    >
      <TextField
        :field="formFields.password"
        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
        autofocus

        @click:append="togglePassword"
      />
      <TextField
        :field="formFields.password_confirmation"
        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
        @click:append="togglePassword"
      />

      <v-row
        class="align-center justify-space-between"
        no-gutters
      >
        <CoreButton
          color="info"
          type="submit"
          :loading="isLoading"
        >
          Save
        </CoreButton>
      </v-row>
    </v-form>
  </v-container>
</template>

<style lang="scss" scoped>
  .changePasswordForm {
    max-width: 400px;
  }
</style>

<script>
import {changePassword} from '../stores/changePassword';

export default {
  name: 'ChangePasswordForm',
  data() {
    return {
      showPassword: false,
    }
  },
  computed: {
    isLoading() {
      return changePassword.isLoading.get()
    },
    isDirty() {
      return changePassword.isDirty()
    },
    errorMessages() {
      return changePassword.getErrorMessages()
    },
    formFields() {
      return changePassword.fields.get()
    },
  },
  methods: {
    togglePassword() {
      this.showPassword = !this.showPassword;

      const fieldType = this.showPassword ? 'text' : 'password';
      changePassword.updateFields({
        password: {
          type: fieldType
        },
        password_confirmation: {
          type: fieldType
        },
      })
    },
    async onSubmit() {
      changePassword.submit()
    },
  },
};
</script>
