<template>
  <div>
    <TableList
      :columns="columns"
      :loading="isLoading"
      :list="roleList"
      :selected-columns="selectedColumns"
      :table-prop="tableProp"
      :elevation="0"
      item-key="id"
      border
      hide-default-footer
      single-expand
      @change-sort="changeSort"
      @expanded="onExpand"
    >
      <!-- Expand -->
      <template slot="expand">
        <div>
          <v-card flat>
            <v-card-text>
              <v-card-title>
                <h3>Update Role</h3>
              </v-card-title>
              <UpdateRoleForm />
            </v-card-text>
          </v-card>
        </div>
      </template>
    </TableList>

    <v-row>
      <QueryPagination
        v-if="roleList.length > 0"
        :query="query"
        :total="pagination.total"
        @input="changePage"
      />
    </v-row>
  </div>
</template>

<script>
import {delay} from '@/utils';
import {roleTableList} from '../stores/roleList';
import {roleDetails} from '../stores/roleDetails';
import UpdateRoleForm from './UpdateRoleForm';

export default {
  name: 'RoleListTable',
  components: {UpdateRoleForm},
  computed: {
    roleList() {
      return roleTableList.filteredList()
    },
    query() {
      return roleTableList.query.get()
    },
    pagination() {
      return roleTableList.pagination()
    },
    isLoading() {
      return roleTableList.isLoading.get()
    },
    selectedColumns() {
      return roleTableList.selectedColumns.get() || []
    },
    columns() {
      const columns = roleTableList.tableColumnsObject();

      // filter selected columns
      return this.selectedColumns.map((columnName) => {
        return columns[columnName]
      })
    },
    tableProp() {
      return roleTableList.tableProp()
    },
    updateFormFields() {
      return roleDetails.getFields()
    }
  },
  methods: {
    hasColumn: roleTableList.hasColumn,
    async onExpand(expanded, prop) {
      if (!expanded) {
        return
      }

      // update update form
      roleDetails.updateInitials(prop.item);
    },
    changeSort(header, query) {
      roleTableList.query.update(query);
      roleTableList.fetchData()
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        roleTableList.query.update({
          page,
          limit,
        });

        roleTableList.fetchData()
      }
    },
    resetForm() {
      roleDetails.resetForm();
    },
    async handleOnSubmit(prop) {
      try {
        await roleDetails.submit({
          uuid: prop.item.uuid
        });
        await delay(300);

        // fetch new list
        await roleTableList.fetchData();
      } catch (e) {}
    }
  }
}
</script>
