
<template>
  <v-form
    ref="form"
    @submit.prevent="onSubmit"
  >
    <v-container>
      <v-row>
        <v-col cols="12">
          <TextField
            :field="fields.name"
            autofocus
          />
        </v-col>
      </v-row>

      <v-card-actions>
        <v-spacer />
        <CoreButton
          :loading="isLoading"
          color="info"
          type="submit"
        >
          Update
        </CoreButton>
        <CoreButton
          color="neutral"
          @click="resetForm"
        >
          Reset
        </CoreButton>
      </v-card-actions>
    </v-container>
  </v-form>
</template>

<script>
import {roleDetails} from '../stores/roleDetails';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'UpdateRoleForm',
  data() {
    return {
      countries: [],
    }
  },
  computed: {
    fields() {
      return roleDetails.getFields()
    },
    isLoading() {
      return roleDetails.isLoading.get()
    },
  },
  methods: {
    onSubmit() {
      roleDetails.submit()
    },
    resetForm() {
      roleDetails.resetForm()
    },
  }
}
</script>
