<template>
  <div>
    <TableList
      :columns="columns"
      :loading="isLoading"
      :list="userList"
      :table-prop="tableProp"
      :elevation="0"
      border
      hide-default-footer
      single-expand
      expandable-handle
      item-key="id"
      class="user-list-table"
      @change-sort="changeSort"
      @expanded="onExpand"
    >
      <!-- Expand -->
      <template
        slot="expand"
        slot-scope="prop"
      >
        <div class="user-list-expand--outer">
          <v-card-text class="user-list-expand pl-5">
            <UserForm
              :fields="updateFormFields"
              @onsubmit="handleOnSubmit(prop)"
            >
              <template slot="footer">
                <v-row>
                  <v-spacer />
                  <CoreButton
                    color="info"
                    type="submit"
                    depressed
                  >
                    Update
                  </CoreButton>
                  <CoreButton
                    color="neutral"
                    @click="resetForm"
                  >
                    Reset
                  </CoreButton>
                </v-row>
              </template>
            </UserForm>
          </v-card-text>
        </div>
      </template>

      <template
        slot="roles"
        slot-scope="props"
      >
        <v-combobox
          :items="roleList"
          :value="props.item.roles"
          item-text="name"
          item-value="name"
          placeholder="Add roles here."
          class="combobox-inverted-solo ma-2"
          chips
          multiple
          solo
          dense
          flat
          small-chips
          deletable-chips
          hide-details
          @click.native.stop
          @input="handleUpdateRoles($event, props.item)"
        />
      </template>

      <template
        slot="permissions"
        slot-scope="props"
      >
        <v-combobox
          :items="projectPermissionList"
          :value="props.item.project_permissions"
          item-text="project_name"
          item-value="name"
          placeholder="Add projects here."
          class="combobox-inverted-solo ma-2"
          chips
          multiple
          solo
          dense
          flat
          small-chips
          deletable-chips
          hide-details
          depressed
          @click.native.stop
          @input="handleUpdatePermissions($event, props.item)"
        />
      </template>

      <!-- actions -->
      <template
        slot="actions"
        slot-scope="props"
      >
        <ActionMenu
          :navigation="tableActions(props)"
        />
      </template>
    </TableList>

    <v-row>
      <QueryPagination
        v-if="userList.length > 0"
        :query="query"
        :total="pagination.total"
        @input="changePage"
      />
    </v-row>
  </div>
</template>

<style lang="scss" scoped>
  .user-list-table {
    width: 100% !important;
  }

  .user-list-expand--outer {
    background-color: var(--inverted-solo-color)
  }

  .user-list-expand {
    width: 100%;
    max-width: calc(100vw - 400px);
  }

  .combobox-inverted-solo {
    :global(.v-input__slot) {
      border-radius: 5px !important;
      background-color: var(--inverted-solo-color--light) !important;

      :global(.v-chip) {
        background-color: var(--inverted-solo-color--dark) !important;
      }
    }
  }
</style>

<script>
import {map} from 'lodash';
import {delay} from '@/utils';
import {forgotPasswordApi} from '@/apis';
import {apiErrorNotification} from '@/utils/request';
import {projectPermissions, userTableList} from '../stores/userTableList';
import {userDelete} from '../stores/userDelete';
import {userDetails} from '../stores/userDetails';
import {roleList} from '../stores/roleList';
import {userImpersonation} from '../stores/userImpersonation';
import UserForm from './UserForm';

export default {
  name: 'UserListTable',
  components: {UserForm},
  data() {
    return {
      userRolesAndPermissions: [],
    }
  },
  computed: {
    userList() {
      return userTableList.filteredList()
    },
    query() {
      return userTableList.query.get()
    },
    pagination() {
      return userTableList.pagination()
    },
    isLoading() {
      return userTableList.isLoading.get()
    },
    columns() {
      return userTableList.tableColumns.get()
    },
    tableProp() {
      return userTableList.tableProp()
    },
    roleList() {
      return roleList.data.get()
    },
    projectPermissionList() {
      return projectPermissions.data.get()
    },
    deleteIsLoading() {
      // TODO: now all buttons turn into loading state, lol
      return userDelete.isLoading.get()
    },
    updateFormFields() {
      return userDetails.updateUserForm.getFields()
    },
  },
  methods: {
    hasColumn: userTableList.hasColumn,
    tableActions(props) {
      const context = this;
      const isImpersonating = userImpersonation.impersonating.get();
      return [
        {
          title: 'Impersonate User',
          disabled: isImpersonating,
          async click() {
            const email = props.item.email;
            const name = props.item.name;

            // noinspection ES6MissingAwait
            userImpersonation.impersonateUser({email, name})
          }
        },
        {
          title: 'Reset Password',
          async click() {
            try {
              const email = props.item.email;
              await forgotPasswordApi({email});
              // noinspection ES6MissingAwait
              context.$toast(`Reset Password link sent to ${email}`, {
                color: 'success',
              })

            } catch (error) {
              apiErrorNotification(error)
            }
          }
        },
      ];
    },
    getUserPermissions(userPermissions) {
      return userPermissions.map(item => item.name)
    },
    handleUpdateRoles(values, userData) {
      userTableList.batchUpdateForm.updateUsersField({
        roles: map(values, role => role.name),
      }, userData)
    },
    handleUpdatePermissions(values, userData) {
      userTableList.batchUpdateForm.updateUsersField({
        permissions: map(values, role => role.code || role.name),
      }, userData)
    },
    async onExpand(expanded, prop) {
      if (!expanded) {
        return
      }

      try {
        // update update form
        userDetails.updateUserForm.updateInitials(prop.item);
      } catch (error) {
        console.log(error);
        apiErrorNotification(error);
      }
    },
    changeSort(header, query) {
      userTableList.query.update(query);
      userTableList.fetchData()
    },
    /* async onDeleteUser(user) {
      const isConfirm = await this.$confirmOnce(`Are you sure you want to delete "${user.name}".`, {
        buttonTrueColor: 'error',
        buttonFalseColor: 'info',
      })

      if (isConfirm) {
        // noinspection JSIgnoredPromiseFromCall
        userDelete.deleteUser(user, async () => {
          await delay(300);
          userTableList.fetchData()
        })
      }
    },*/
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        userTableList.query.update({
          page,
          limit,
        });

        userTableList.fetchData()
      }
    },
    resetForm() {
      userDetails.updateUserForm.resetForm();
    },
    async handleOnSubmit(prop) {
      try {
        await userDetails.updateUserForm.submit({
          id: prop.item.id
        });
        await delay(300);

        // fetch new list
        await userTableList.fetchData();
      } catch (e) {}
    }
  }
}
</script>
