
<template>
  <v-form
    ref="form"
    @submit.prevent="onSubmit"
  >
    <div style="position: absolute; left: -10000px; opacity: 0;">
      <!--suppress HtmlFormInputWithoutLabel -->
      <input type="email">
      <!--suppress HtmlFormInputWithoutLabel -->
      <input type="password">
    </div>
    <v-row>
      <v-col
        md="6"
        cols="12"
        class="px-3"
      >
        <TextField
          :field="fields.name"
        />
      </v-col>

      <v-col
        md="6"
        cols="12"
        class="px-3"
      >
        <TextField
          :field="fields.email"
        />
      </v-col>
      <v-col
        v-if="fields.password"
        md="6"
        cols="12"
        class="px-3"
      >
        <TextField
          :field="fields.password"
        />
      </v-col>
      <!--<v-col v-if="fields.roles" md="6" xs="12" class="px-3">
        <Combobox
          :items="roles"
          :field="fields.roles"
          item-text="name"
          item-value="name"
          placeholder="Add roles here."
          chips
          multiple
          solo
          dense
          small-chips
          deletable-chips
          hide-details
          depressed
        />
      </v-col>-->
      <v-col cols="12">
        <slot name="footer" />
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
import {roleTableList} from '../stores/roleList';
import {apiErrorNotification} from '@/utils/request';

export default {
  name: 'UserForm',
  // eslint-disable-next-line
  components: {},
  props: {
    fields: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      countries: [],
    }
  },
  computed: {
    roles() {
      return roleTableList.data.get()
    }
  },
  async created() {
    try {
      roleTableList.fetchData();
    } catch (e) {
      apiErrorNotification(e);
    }
  },
  methods: {
    onSubmit(e) {
      this.$emit('onsubmit', e)
    },
  }
}
</script>
