<template>
  <div class="name-column py-2">
    <RouteLink
      :to="project.uuid"
      class="project-link"
    >
      {{ project.name | placeholder('No name') }}
    </RouteLink>
    <p class="project-manager">
      PM : {{ getProjectManagers(project.project_managers) | placeholder('Not assigned.') }}
    </p>
  </div>
</template>

<style lang="scss">
  .name-column {
  min-width: 180px;
  max-width: 140px;
  margin-top: 10px;
  }
  .project-link {
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: 500;
  }
  .project-manager {
    font-size: 13px !important;
    margin: 0;
  }
</style>

<script>
import {isObject, isArray} from 'lodash'

export default {
  name: 'NameColumn',
  components: {},
  props: {
    project: {
      type: Object,
      required: true
    },
  },
  methods: {
    getClient(clientObject) {
      if (isObject(clientObject)) {
        return clientObject.name
      }

      return clientObject
    },
    getProjectManagers(projectManagers) {
      if (isArray(projectManagers)) {
        return projectManagers.map(pm => pm.name).join(', ')
      }
      return undefined
    }
  }
}
</script>
