<template>
  <SearchToolbar
    :placeholder="searchLabel"
    @search-input="setSearchFilter"
    label="Solo"            
    solo  
  >   
  </SearchToolbar>  
</template>

<style lang="scss">
  .dateInput {
    flex: 0 0 300px;
  }
</style>

<script>
import {projectList} from '../../stores/projectList'
import {projectListDateFilters} from '../../resources/projectList'
import {apiErrorNotification} from '@/utils/request'

export default {
  name: 'ProjectListFilters',
  components: {},
  data() {
    return {
      dateFilters: projectListDateFilters,
      searchLabel: 'Project Name, Client Name, End Customer, Project Manager',
      searchFilter: '',
    }
  },
  methods: {
    setSearchFilter(value) {
      this.searchFilter = value;
      this.setFilters()
    },
    setFilters(dateFilter) {
      projectList.query.set('filter', this.searchFilter);
      this.fetchData()
    },
    async fetchData() {
      try {
        await projectList.fetchData()
      } catch (error) {
        apiErrorNotification(error)
      }
    },
  }
}
</script>
