<template>
  <AppSearchToolbar
    class="searchBar"
    :placeholder="searchLabel"
    @search-input="setSearchFilter"
    label="Solo"
    solo
  >
  </AppSearchToolbar>
</template>

<style lang="scss">
.searchBar {
margin-top: 20px;
margin-bottom: 20px;
  border-color:black;
}

</style>

<script>
import {projectList} from '../../stores/projectList'
import {projectListDateFilters} from '../../resources/projectList'
import {apiErrorNotification} from '@/utils/request'

export default {
  name: 'ProjectListSearchBar',
  components: {},
  data() {
    return {
      dateFilters: projectListDateFilters,
      searchLabel: 'Project Name, Client Name, End Customer, Project Manager',
      searchFilter: '',
    }
  },
  methods: {
    setSearchFilter(value) {
      this.searchFilter = value;
      this.setFilters()
    },
    setFilters(dateFilter) {
      projectList.query.set('filter', this.searchFilter);
      this.fetchData()
    },
    async fetchData() {
      try {
        await projectList.fetchData()
      } catch (error) {
        apiErrorNotification(error)
      }
    },
  }
}
</script>
