<template>
  <ColumnButtonSelection
    :items="items"
    :selected-column="selectedColumn"
    @change="updateSelectedColumnList"
  >
  </ColumnButtonSelection>

</template>

<style lang="scss">
.selectionButton {
border-radius: 40px;
height: 60px;
margin-top: 20px;
margin-left: 20px;
}

.valueCard {
  width: 500px;
  height: 620px;
}
#valueButton {
  margin: 10px 10px 10px 10px;
  width: 150px;
  height: 70px;
  display:inline-block;
}

</style>

<script>
import {projectList} from '../../stores/projectList'
import {projectTableHeaders} from '../../resources/projectList'
import {setProjectListSelectedColumn} from '@/consts/projectList';

export default {
  name: 'ProjectListSelection',
  components: {},
  data() {
    return {
      items: projectTableHeaders,
    }
  },
  computed: {
    selectedColumn() {
      return projectList.selectedColumn.get();
    },
  },
  methods: {
    updateSelectedColumnList(columnKey) {
      projectList.selectedColumn.assign(columnKey);
      // update localStorage
      setProjectListSelectedColumn(JSON.stringify(columnKey));
    },
  }
}
</script>
