<template>
  <div class="d-flex flex-nowrap">
    <ProjectListColumnSelect />
    <TableExportExcelButton
      :disabled="projects.length === 0"
      :get-excel-data="getExcelData"
      :filename="excelName"
      class="ml-3"
    />
  </div>
</template>

<style lang="scss">
</style>

<script>
import {projectList} from '../../stores/projectList.js'
import ProjectListColumnSelect from './ProjectListColumnSelect'
import {datetimeShort} from '@nixel/base/filters/datetime';

export default {
  name: 'ProjectListActionButtons',
  components: {
    ProjectListColumnSelect,
  },
  data() {
    return {
      excelHeaders: []
    }
  },
  computed: {
    selectedColumns() {
      return projectList.selectedColumns.get()
    },
    projects() {
      return projectList.data.get()
    },
    excelName() {
      return `projects_${datetimeShort(new Date())}.xlsx`;
    },
  },
  methods: {
    getExcelData() {
      return projectList.listMappedWithColumnLabel()
    },
  }
}
</script>
