<template>
  <v-btn
    v-scroll="onScroll"
    class="backtotop"
    :style="`${fab ? 'opacity: 1' : 'opacity: 0'}`" 
    fab
    dark
    fixed
    bottom
    right   
    @click="toTop"
  >
    <v-icon small>mdi-arrow-collapse-up</v-icon>
  </v-btn>
</template>

<style lang="scss">
.backtotop {
  margin-bottom: 150px;
  margin-right: 20px;
  box-shadow: 2em;
  max-width: 40px;
  max-height: 40px;  
  transition-delay: 0.1s;
  background: linear-gradient(to bottom left, #ff0066 0%, #ff9999 100%);
}
</style>

<script>
export default {
  name: 'TryButton',

  data() {
    return {
      fab: false
    }
  },
  methods: {
    onScroll(e) {
      if (window.scrollY > 50) {
        this.fab = true              
      } else {
        this.fab = false
      }
      // if (typeof window === 'undefined') return
      // const top = window.pageYOffset || e.target.scrollTop || 0
      // this.fab = top > 100
    },
    toTop() {
      this.$vuetify.goTo(0)
    }
  }
}
</script>
