<template>
  <v-combobox
    ref="comboBox"
    v-model="selectedContractor"
    :filter="filter"
    :hide-no-data="!search"
    :items="items"
    :search-input.sync="search"
    hide-selected
    autofocus
    :label="label"
    hint="Select an existing contractor to update or create new contractor"
    persistent-hint
    @change="handleOnChange"
    @blur="handleOnBlur"
  >
    <template slot="no-data">
      <v-row
        class="align-center grey--text text-darken-2"
        no-gutters
      >
        <span class="subheading mr-1">Create</span>
        <v-chip
          small
          label
        >
          {{ search }}
        </v-chip>
      </v-row>
    </template>

    <template
      slot="selection"
      slot-scope="{ item, selected }"
    >
      <span :class="selected ? 'selected' : ''">{{ item.text }}</span>
    </template>

    <template
      slot="item"
      slot-scope="{ index, item }"
    >
      <v-row
        v-if="item.create"
        class="align-center grey--text text--darken-2"
        no-gutters
      >
        <span class="subheading mr-1">Create</span>
        <v-chip
          v-if="hasSearch"
          small
          label
        >
          {{ search }}
        </v-chip>
        <span v-else>New</span>
      </v-row>
      <v-row
        v-else
        no-gutters
      >
        <span>
          {{ item.text }}
        </span>
      </v-row>
      <v-spacer />
    </template>
  </v-combobox>
</template>

<script>
import {isEmpty, find} from 'lodash'
import {delay} from '@/utils';
import {projectContractorForm} from '@/modules/Projects/stores/projectContractorForm';
import {autoCompleteContractorList} from '@/modules/Projects/stores/projectContractors';
import {apiErrorNotification} from '@/utils/request';

export default {
  name: 'ContractorNameField',
  props: {
    label: {
      type: String,
      default: '',
    },
  },
  data: () => ({
    selectedContractor: '',
    search: '',
  }),
  computed: {
    hasSearch() {
      return !isEmpty(this.search);
    },
    contractorList() {
      return autoCompleteContractorList.data.get().map(contractor => ({
        text: contractor.name,
        value: contractor.uuid,
      }));
    },
    items() {
      return [
        {
          create: true,
          text: `${this.search} `,
        },
        ...this.contractorList,
      ]
    }
  },
  async created() {
    try {
      autoCompleteContractorList.query.assign({
        uuid: this.$route.params.uuid,
        limit: undefined,
        page: undefined,
      });

      await autoCompleteContractorList.fetchData();
    } catch (e) {
      apiErrorNotification(e);
    }
  },
  methods: {
    projectContractorDetailsPath(uuid) {
      return `/projects/${this.$route.params.uuid}/purchase-orders/${uuid}`
    },
    filter(item, queryText, itemText) {
      if (item.header) return false;

      const hasValue = val => val != null ? val : '';

      const text = hasValue(itemText);
      const query = hasValue(queryText);

      return text.toString()
        .toLowerCase()
        .indexOf(query.toString().toLowerCase()) > -1
    },
    findContractor(selection) {
      return find(this.contractorList, item => `${item.text}`.toLowerCase() === selection.trim().toLowerCase());
    },
    setupCreateForm(search = this.search) {
      projectContractorForm.formType.assign('create');
      projectContractorForm.updateValues({
        name: search,
      });
    },
    gotoUpdateForm(contractor) {
      if (!contractor.value || !contractor.text) {
        throw new Error('Contractor param in `gotoUpdateForm` not a valid interface')
      }

      this.$router.push(this.projectContractorDetailsPath(contractor.value));
      projectContractorForm.formType.assign('update');
      projectContractorForm.updateValues({
        uuid: contractor.value,
        name: contractor.text !== 'null ' ? contractor.text : '',
      });
    },
    handleOnBlur() {
      this.$nextTick(() => {
        if (!this.selectedContractor && !isEmpty(this.search)) {
          const selectionItem = this.findContractor(this.search);

          // is update
          if (selectionItem) {
            this.gotoUpdateForm(selectionItem);
          } else {
            this.setupCreateForm();
          }
        }
      });

    },
    async handleOnChange(selection) {
      if (selection.create) {
        projectContractorForm.formType.assign('create');

        let newText = '';

        if (selection.text !== 'null ') {
          newText = selection.text;
        }

        // update form values
        projectContractorForm.updateValues({
          name: newText,
        });

        await delay(100);

        this.selectedContractor = '';
      } else if (typeof selection === 'string') {
        // if selection is string
        const selectionItem = this.findContractor(selection);

        // is update
        if (selectionItem) {
          this.gotoUpdateForm(selectionItem);
        } else {
          // is create
          this.setupCreateForm(selection);
        }
      } else if (selection.value) {
        this.gotoUpdateForm(selection);
      }
    }
  }
}
</script>

<style scoped>

</style>

