<template>
  <div>
    <p
      v-if="responseError"
      class="error--text mb-4"
    >
      {{ responseError }}
    </p>
    <div
      v-for="(po, index) in POList"
      :key="index"
    >
      <v-row
        class="flex-nowrap"
        align="center"
      >
        <TextField
          ref="poNo"
          :value="po.po_no"
          class="ml-3"
          label="PO No."
          @input="handleUpdate($event, 'po_no', index)"
        />
        <DatePicker
          :value="po.issued_date"
          class="pl-3"
          label="Issued Date"
          @input="handleUpdate($event, 'issued_date', index)"
        />
        <MoneyInput
          :value="po.total_value"
          class="ml-3"
          label="Total Value"
          @change="handleUpdate($event, 'total_value', index)"
        />
        <MoneyInput
          :value="po.budget"
          class="ml-3"
          label="Budget"
          @change="handleUpdate($event, 'budget', index)"
        />
        <v-col class="d-flex justify-end">
          <CoreButton
            color="error"
            fab
            x-small
            @click.stop="removePO(po, index)"
          >
            <v-icon>mdi-delete</v-icon>
          </CoreButton>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import {head} from 'lodash';
import {projectContractorPOForm} from '../../../stores/projectPOForm';

export default {
  components: {},
  computed: {
    POList() {
      return projectContractorPOForm.fields.get().pos.value
    },
    responseError() {
      const errors = projectContractorPOForm.responseError.get();
      const firstKeyContent = typeof errors === 'object' ? errors[Object.keys(errors)[0]] : [];

      return head(firstKeyContent)
    },
  },
  methods: {
    handleUpdate(payload, key, index) {
      projectContractorPOForm.updatePO(index, key, payload)
    },
    removePO(po, index) {
      projectContractorPOForm.removePO(po, index)
    },
  }
}
</script>

<style scoped>

</style>

