<template>
  <v-container
    fluid
    sticky-container
  >
    <v-row
      v-sticky
      sticky-side="both"
      class="project-contractors-toolbar pb-2 align-center mr-0"
    >
      <v-col>
        <SearchToolbar
          placeholder="Contractor Name"
          @search-input="searchContractors"
        />
      </v-col>
      <div>
        <CoreButton
          v-permission="['project.po.add']"
          color="success"
          class="m-0 mr-3"
          depressed
          :to="createContractorPath"
        >
          <v-icon>mdi-plus</v-icon>
          Add
        </CoreButton>
        <TableExportExcelButton
          :disabled="contractorList.length === 0"
          :get-excel-data="getExcelData"
          :filename="excelName"
        />
      </div>
    </v-row>
    <ProjectDetailsContractorFormModal />
    <ProjectDetailsContractorsTable />
  </v-container>
</template>

<style lang="scss" scoped>
  .project-contractors-toolbar {
    background-color: white;
  }
  .project-contractors-toolbar.top-sticky {
    box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.2)
  }
</style>

<script>
import {datetimeShort} from '@nixel/base/filters/datetime';
import {projectContractors} from '@/modules/Projects/stores/projectContractors'
import ProjectDetailsContractorFormModal from './ProjectDetailsContractorFormModal';
import ProjectDetailsContractorsTable from './ProjectDetailsContractorsTable';
import {projectDetails} from '@/modules/Projects/stores/projectDetails';

export default {
  components: {
    ProjectDetailsContractorFormModal,
    ProjectDetailsContractorsTable,
  },
  data() {
    return {}
  },
  computed: {
    contractorList() {
      return projectContractors.data.get() || []
    },
    projectPurchaseOrderListPath() {
      return `/projects/${this.$route.params.uuid}/purchase-orders`
    },
    createContractorPath() {
      return `${this.projectPurchaseOrderListPath}/create`
    },
    excelName() {
      return `${projectDetails.name()}_contractors_${datetimeShort(new Date())}.xlsx`;
    },
  },
  created() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      try {
        projectContractors.query.update({
          uuid: this.$route.params.uuid
        });
        await projectContractors.fetchData();

      } catch (e) {
        console.error(e);
      }
    },
    searchContractors(searchText) {
      projectContractors.query.update({
        filter: searchText
      });
      this.fetchData()
    },
    getExcelData() {
      return projectContractors.listMappedWithColumnLabel()
    },
  }
}
</script>

