<template>
  <v-form @submit.prevent="handleSubmit">
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="8"
        >
          <ContractorNameField
            v-if="!formType"
            ref="contractorName"
            :label="formFields.name.label"
          />
          <TextField
            v-else
            ref="nameField"
            :field="formFields.name"
            :error-messages="formFields.name.errorMessages"
            append-icon="mdi-close"
            autofocus
            @click:append="handleClearFormType"
            @input="handleOnNameInput"
          />
        </v-col>
        <v-col
          cols="12"
          md="4"
        >
          <TextField :field="formFields.term" />
        </v-col>
      </v-row>
      <v-row
        class="pb-4"
        no-gutters
      >
        <v-col>
          <h4>POs</h4>
          <POFields ref="poFields" />
          <CoreButton
            :disabled="!formType"
            class="mt-3"
            color="info"
            rounded
            outlined
            @click="addPO"
          >
            <v-icon>mdi-plus</v-icon>
            Add PO
          </CoreButton>
        </v-col>
      </v-row>
      <v-row class="py-4">
        <v-col>
          <h4>VOs</h4>
          <VOFields ref="voFields" />
          <CoreButton
            :disabled="!formType"
            class="mt-3"
            color="info"
            rounded
            outlined
            @click="addVO"
          >
            <v-icon>mdi-plus</v-icon>
            Add VO
          </CoreButton>
        </v-col>
      </v-row>
      <v-row
        justify="end"
        no-gutters
      >
        <CoreButton
          class="mr-3"
          color="info"
          type="submit"
          :disabled="!formIsValid"
          :loading="loading"
        >
          {{ submitText }}
        </CoreButton>
        <CoreButton
          color="neutral"
          inner-color="dark"
          :to="projectPurchaseOrderListPath"
          @click="goBackToList"
        >
          Cancel
        </CoreButton>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import {get} from 'lodash';
import {apiErrorNotification} from '@/utils/request';
import {
  createContractorDataFormatter,
  defaultPOPayload,
  defaultVOPayload
} from '@/modules/Projects/resources/projectContractors'
import {projectContractorPOForm} from '@/modules/Projects/stores/projectPOForm';
import {projectContractorVOForm} from '@/modules/Projects/stores/projectVOForm';
import {createContractor, projectContractorForm, updateContractor} from '../../../stores/projectContractorForm';
import {
  autoCompleteContractorList,
  projectContractors,
  projectContractorsPO,
  projectContractorsVO
} from '@/modules/Projects/stores/projectContractors';
import ContractorNameField from './ContractorNameField';
import POFields from './POFields'
import VOFields from './VOFields'

export default {
  name: 'ProjectDetailsContractorForm',
  components: {
    ContractorNameField,
    POFields,
    VOFields,
  },
  data() {
    return {}
  },
  computed: {
    isUpdateForm() {
      return projectContractorForm.isUpdateForm();
    },
    formType() {
      return projectContractorForm.formType.get();
    },
    submitText() {
      if (this.isUpdateForm) {
        return 'Update';
      }

      return 'Create';
    },
    formFields() {
      return projectContractorForm.fields.get();
    },
    formIsValid() {
      return projectContractorForm.isValid();
    },
    loading() {
      if (this.isUpdateForm) {
        return updateContractor.isLoading.get();
      }

      return createContractor.isLoading.get();
    },
    projectPurchaseOrderListPath() {
      return `/projects/${this.$route.params.uuid}/purchase-orders`
    },
    createContractorPath() {
      return `${this.projectPurchaseOrderListPath}/create`
    },
  },
  watch: {
    formType(newType) {
      if (newType) {
        this.$nextTick(() => {
          this.$refs.nameField.$el.querySelector('input').focus();
        });
      }
    }
  },
  methods: {
    handleOnNameInput(value) {
      this.formFields.name.set('errorMessages', undefined);
      this.formFields.name.set('error', false);
      this.formFields.name.set('valid', true);
      if (this.formType === 'create' && value === '') {
        projectContractorForm.formType.reset();

        this.$nextTick(() => {
          // focus comboBox in `ContractorName` component
          this.$refs.contractorName.$refs.comboBox.$refs.input.focus()
        });
      }
    },
    handleClearFormType() {
      this.$router.push(this.createContractorPath);
      projectContractorForm.resetForm();
      projectContractorForm.formType.reset();
    },
    goBackToList() {
      projectContractorForm.resetAll();
    },
    handleSubmit() {
      if (this.formType === 'create') {
        this.onCreateSubmit();
      } else if (this.formType === 'update') {
        this.onUpdateSubmit();
      }
    },
    addPO() {
      const newPO = {...defaultPOPayload};
      newPO.project_id = this.$route.params.uuid;
      projectContractorPOForm.addPO(newPO);

      this.$nextTick(() => {
        const poNoRefs = this.$refs.poFields.$refs.poNo;
        if (poNoRefs && poNoRefs.length > 0) {
          const poNoCount = poNoRefs.length;
          const poFieldElement = poNoRefs[poNoCount - 1].$el;

          // focus on the last po_no field
          poFieldElement && poFieldElement.querySelector('input').focus();
        }
      });
    },
    addVO() {
      const newVO = {...defaultVOPayload};
      newVO.project_id = this.$route.params.uuid;
      projectContractorVOForm.addVO(newVO);

      this.$nextTick(() => {
        const voNoRefs = this.$refs.voFields.$refs.voNo;
        if (voNoRefs && voNoRefs.length > 0) {
          const voNoCount = voNoRefs.length;
          const voFieldElement = voNoRefs[voNoCount - 1].$el;

          // focus on the last vo_no field
          voFieldElement && voFieldElement.querySelector('input').focus();
        }
      });

    },
    async onUpdateSubmit() {
      try {

        // validate form
        await projectContractorForm.submit();

        const contractorFormData = {
          ...projectContractorForm.formData(),
          project_id: this.$route.params.uuid
        };
        const params = {
          project_id: this.$route.params.uuid,
          contractor_id: contractorFormData.uuid
        };

        // update contractor details first
        await updateContractor.fetchData(contractorFormData)

        await Promise.all([
          projectContractorPOForm.submit(params),
          projectContractorVOForm.submit(params)
        ]);

        this.$toast('Contractor updated successfully.', {
          color: 'success',
          closeBtn: true,
        });

        this.resetForms();

        await Promise.all([
          projectContractorsPO.fetchLatestPOList(params),
          projectContractorsVO.fetchLatestVOList(params),
          projectContractors.fetchData(),
          autoCompleteContractorList.fetchData(),
        ])
      } catch (error) {
        this.updateServerError(error);
      }
    },
    async onCreateSubmit() {
      try {
        // validate form
        await projectContractorForm.submit();

        // submit contractor form
        const response = await createContractor.fetchData({
          ...projectContractorForm.formData(),
          project_id: this.$route.params.uuid,
        });
        const contractor = createContractorDataFormatter(response);

        // submit PO VO form
        await projectContractorPOForm.submit({
          contractor_id: contractor.uuid,
          project_id: this.$route.params.uuid
        });
        await projectContractorVOForm.submit({
          contractor_id: contractor.uuid,
          project_id: this.$route.params.uuid
        });

        this.$toast('Contractor created successfully.', {
          color: 'success',
          closeBtn: true,
        });

        this.resetForms();

        // fetch new data
        projectContractors.fetchData();
        autoCompleteContractorList.fetchData();
      } catch (error) {
        console.warn(error);
        this.updateServerError(error);
      }
    },
    updateServerError(error) {
      console.warn(error, get(error, 'response.data.data'));

      // name field error
      const nameError = get(error, 'response.data.data.errors.name[0]');
      if (nameError) {
        projectContractorForm.mapBackendErrorsToFields({
          name: nameError
        });
      }

      // show error notification
      apiErrorNotification(error)
    },
    resetForms() {
      // noinspection JSUnresolvedFunction
      projectContractorForm.resetAll();
      projectContractorPOForm.resetAll();
      projectContractorVOForm.resetAll();
    },
  }
}
</script>

<style scoped>

</style>

