<template>
  <v-app>
    <v-fade-transition mode="out-in">
      <div class="d-flex align-center justify-center">
        <v-progress-circular
          :size="50"
          color="primary"
          indeterminate
        />
      </div>
    </v-fade-transition>
  </v-app>
</template>

<script>
// used by lazyLoadView

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'PageLoading',
};
</script>
