<template>
  <v-app class="mobileApp">
    <MobileToolbar />
    <MobileCoreView />
    <MobileNavBar />
  </v-app>
</template>

<script>
import MobileToolbar from './components/core/MobileToolbar';
import MobileNavBar from './components/core/MobileNavbar';
import MobileCoreView from './components/core/MobileView';

export default {
  name: 'App',
  components: {
    MobileToolbar,
    MobileNavBar,
    MobileCoreView,
  },
}
</script>
