<template>
  <StoreInjector :store="stores">
    <router-view/>
  </StoreInjector>
</template>

<script>
import {pendingExpenses} from './stores/pendingExpenses';
import {pendingExpensesForm} from './stores/pendingExpensesForm';
import {paymentHistory} from './stores/paymentHistory';
import {writtenOffExpenses} from './stores/writtenOffExpenses';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'BulkPayment',
  data() {
    return {
      stores: [
        pendingExpenses,
        pendingExpensesForm,
        paymentHistory,
        writtenOffExpenses,
      ],
    }
  },
}
</script>
