<template>
  <v-container
    pt-0
    fluid
  >
    <RoundedCard>
      <v-row
        class="pa-3"
        no-gutters
      >
        <v-col
          xs6
          md="5"
        >
          <DateRangePicker
            label="Payment Date Filter (pick two dates)"
            inverted-solo
            hide-details
            solo
            flat
            allow-single-date
            set-date-on-select
            @date-picked="setFilters"
            @date-cleared="clearDateFilter"
          />
        </v-col>
      </v-row>
      <PaymentHistoryTable />
    </RoundedCard>
  </v-container>
</template>

<script>
import {paymentHistory} from './stores/paymentHistory';
import {apiErrorNotification} from '@/utils/request';
import PaymentHistoryTable from './components/PaymentHistoryTable';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'PaymentHistoryList',
  components: {
    PaymentHistoryTable,
  },
  data() {
    return {
      dateFilters: ['payment_date[start]', 'payment_date[end]'],
    }
  },
  mounted() {
    this.fetchData();
  },
  beforeRouteLeave(to, from, next) {
    const currentQuery = paymentHistory.query.get()
    paymentHistory.query.assign({
      ...currentQuery,
      filter: undefined,
      [this.dateFilters[0]]: undefined,
      [this.dateFilters[1]]: undefined,
    })
    next()
  },
  methods: {
    async fetchData() {
      try {
        await paymentHistory.fetchData();
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    setFilters(dateFilter) {
      paymentHistory.query.update({
        [this.dateFilters[0]]: dateFilter.start,
        [this.dateFilters[1]]: dateFilter.end,
      });
      this.fetchData()
    },
    clearDateFilter() {
      paymentHistory.query.update({
        [this.dateFilters[0]]: undefined,
        [this.dateFilters[1]]: undefined,
      });
      this.fetchData()
    },
  }
}
</script>

