<template>
  <v-container
    fluid
    pt-0
  >
    <RoundedCard sticky-container>
      <v-row
        v-sticky
        sticky-side="both"
        class="pending-expenses-toolbar px-3 py-2 mb-1"
        no-gutters
      >
        <v-row
          class="pending-expenses-search-toolbar align-center mt-2 mr-3"
          no-gutters
        >
          <SearchToolbar
            :placeholder="searchString"
            @search-input="handleOnSearch"
          >
            <!--suppress HtmlUnknownBooleanAttribute -->
            <DateRangePicker
              input-class="dateInput"
              label="Due Date Filter (pick two dates)"
              background-color="transparent"
              solo
              flat
              hide-details
              allow-single-date
              set-date-on-select
              @date-picked="handleDatePicked"
              @date-cleared="clearDateFilter"
            />
          </SearchToolbar>
        </v-row>
        <v-row
          class="mt-2 mr-3 align-center"
          no-gutters
        >
          <TableExportExcelButton
            :disabled="pendingExpensesList.length === 0"
            :get-excel-data="getExcelData"
            :filename="excelName"
            class="ma-0 mr-2"
          />
          <v-col>
            <PendingExpensesSummaryModal />
          </v-col>
        </v-row>
      </v-row>
      <PendingExpensesTable/>
    </RoundedCard>
  </v-container>
</template>

<style lang="scss">
  .dateInput {
    flex: 0 0 300px;
  }
  .pending-expenses-search-toolbar {
    min-width: 600px;
    flex-grow: 100;

    :global(.v-input__prepend-outer) {
      margin: 4px !important;
    }
  }
  .pending-expenses-toolbar {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .pending-expenses-toolbar.top-sticky {
    box-shadow: 0 5px 11px -3px rgba(0, 0, 0, 0.2);
  }
</style>

<script>
import {debounce} from 'lodash';
import {pendingExpenses} from './stores/pendingExpenses';
import {apiErrorNotification} from '../../utils/request';
import PendingExpensesTable from './components/PendingExpensesTable';
import PendingExpensesSummaryModal from './components/PendingExpensesSummaryModal';
import {datetimeShort} from '@nixel/base/filters/datetime';

export default {
  name: 'PendingExpensesList',
  components: {
    PendingExpensesSummaryModal,
    PendingExpensesTable,
  },
  data() {
    return {
      searchString: 'Pending Expenses',
      dateFilters: ['due_date[start]', 'due_date[end]'],
    }
  },
  computed: {
    excelName() {
      return `pending_expenses_${datetimeShort(new Date())}.xlsx`;
    },
    pendingExpensesList() {
      return pendingExpenses.data.get()
    },
  },
  mounted() {
    this.fetchData();
  },
  beforeRouteLeave(to, from, next) {
    const currentQuery = pendingExpenses.query.get()
    pendingExpenses.query.assign({
      ...currentQuery,
      filter: undefined,
      [this.dateFilters[0]]: undefined,
      [this.dateFilters[1]]: undefined,
    })
    next()
  },
  methods: {
    getExcelData() {
      return pendingExpenses.listMappedWithColumnLabel();
    },
    async fetchData() {
      try {
        await pendingExpenses.fetchData();
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    handleOnChangeFilterBy() {
      this.handleOnSearch(this.searchString)
    },
    handleOnSearch: debounce(function(value) {
      pendingExpenses.query.update({
        filter: value,
        page: 1,
      });

      this.fetchData();
    }, 300),
    handleDatePicked(dateFilter) {
      pendingExpenses.query.update({
        [this.dateFilters[0]]: dateFilter.start,
        [this.dateFilters[1]]: dateFilter.end,
      });
      this.fetchData()
    },
    clearDateFilter() {
      pendingExpenses.query.update({
        [this.dateFilters[0]]: undefined,
        [this.dateFilters[1]]: undefined,
      });
      this.fetchData()
    },
  },
};
</script>
