<template>
  <div>
    <TableList
      :list="pendingInvoicesList"
      :columns="columns"
      :table-prop="tableProp"
      :loading="isLoading"
      :elevation="0"
      border
      hide-default-footer
      @change-sort="changeSort"
    >
      <template
        slot="overdue"
        slot-scope="prop"
      >
        <span>
          {{ prop.item.overdue }}
          <v-icon
            v-if="prop.item.overdue > 0"
            small
            color="error"
          >mdi-thumb-down</v-icon>
          <v-icon
            v-else
            small
            color="success"
          >mdi-thumb-up</v-icon>
        </span>
      </template>
      <template
        slot="received-header"
        slot-scope="header"
      >
        <v-row
          class="align-center"
          @click="handleCheckReceivedAll"
        >
          <FakeCheckbox
            class="pr-2"
            :active="checkedAll"
          />
          {{ header.text }}
        </v-row>
      </template>
      <template
        slot="received"
        slot-scope="prop"
      >
        <!--suppress HtmlDeprecatedAttribute -->
        <v-row
          align="center"
          class="py-2 text-right flex-nowrap"
          @click="handleOnSelectInvoice(prop)"
        >
          <!--To stop click event propagate to v-row's click event, add `@click.native.stop`-->
          <!--suppress JSUnresolvedVariable -->
          <FakeCheckbox
            :active="hasSelected(prop.item.uuid)"
            class="mr-2"

            @click.native.stop
            @change="handleOnToggleInvoice($event, prop)"
          />
          <!--suppress HtmlUnknownTag, JSUnresolvedVariable -->
          <Money
            :ref="`input_${prop.item.uuid}`"
            class="receivedInput"
            :disabled="!hasSelected(prop.item.uuid)"
            :value="invoicesFieldValue(prop.item.uuid).payment_amt"
            solo
            small
            hide-details
            @input="handleOnPaymentValueChange($event, prop)"
          />
        </v-row>
      </template>

      <!--Payment date-->
      <template
        slot="payment_date"
        slot-scope="prop"
      >
        <!--suppress JSUnresolvedVariable -->
        <DatePicker
          :disabled="!hasSelected(prop.item.uuid)"
          :value="invoicesFieldValue(prop.item.uuid).payment_date || today"
          no-title
          hide-details
          solo
          @input="handleOnCustomDateChange($event, prop)"
        />
      </template>

      <!--Cheque No.-->
      <template
        slot="cheque_no"
        slot-scope="prop"
      >
        <!--suppress JSUnresolvedVariable -->
        <v-text-field
          :disabled="!hasSelected(prop.item.uuid)"
          :value="invoicesFieldValue(prop.item.uuid).cheque_no"
          hide-details
          solo
          @input="handleUpdateChequeNo($event, prop)"
        />
      </template>

      <!--Write Off-->
      <template
        slot="write_off"
        slot-scope="prop"
      >
        <v-btn
          x-small
          fab
          dark
          color="error"
          @click="handleWriteOff(prop.item)"
        >
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
      </template>
    </TableList>

    <v-row>
      <QueryPagination
        v-if="pendingInvoicesList.length > 0"
        :query="query"
        :total="pagination.total"
        @input="changePage"
      />
    </v-row>

    <WriteOffModal />
  </div>
</template>

<style lang="scss" scoped>
  .receivedInput {
    :global(input) {
      min-width: 105px;
      text-align: right;
    }

    &:global(.v-input--is-disabled .v-text-field__prefix) {
      color: rgba(black, 0.38);
    }
  }
</style>

<script>
import {filter, each, map} from 'lodash';
import DatePicker from '@/components/DatePicker';
import WriteOffModal from './WriteOffModal';
import {pendingInvoices, pendingInvoicesForm} from '../stores/pendingInvoices';
import {date} from '@nixel/base/filters/datetime';

export default {
  name: 'PendingInvoicesTable',
  components: {
    DatePicker,
    WriteOffModal,
  },
  data() {
    return {
      today: date(new Date()),
    }
  },
  computed: {
    pendingInvoicesList() {
      return pendingInvoices.data.get()
    },
    query() {
      return pendingInvoices.query.get()
    },
    pagination() {
      return pendingInvoices.pagination()
    },
    isLoading() {
      return pendingInvoices.isLoading.get()
    },
    columns() {
      return pendingInvoices.tableColumns.get()
    },
    formFields() {
      return pendingInvoicesForm.fields.get()
    },
    invoicesFieldValue() {
      const list = this.formFields.invoices.value;
      return function(uuid) {
        return list.find(item => item.invoice_id === uuid) || {};
      }
    },
    selectedInvoiceList() {
      return map(this.formFields.invoices.value, field => field.invoice_id)
    },
    tableProp() {
      return pendingInvoices.tableProp()
    },
    checkedAll() {
      const currentList = this.pendingInvoicesList.map(invoice => invoice.uuid);
      const currentListCount = currentList.length;

      // filter selected list with currentList, and check if selected list of the page same count as the current
      return this.selectedInvoiceList.filter(uuid => currentList.includes(uuid)).length >= currentListCount
    },
  },
  methods: {
    hasColumn: pendingInvoices.hasColumn,
    createInvoiceItem(invoice) {
      // noinspection JSUnresolvedVariable
      return {
        cash_flow: 'IN',
        invoice_id: invoice.uuid,
        project_name: invoice.project_name,
        project_id: invoice.project_uuid,
        invoice_date: invoice.invoice_date,
        cert_no: invoice.cert_no,
        due_date: invoice.due_date,

        // editable
        payment_amt: invoice.total_receivable,
        payment_date: this.today,
        cheque_no: '',
      }
    },
    handleWriteOff(invoice) {
      pendingInvoices.invoiceToWriteOff.assign(invoice);
      this.$router.push(`${this.$route.path}/${invoice.uuid}/write-off`);
    },
    hasSelected(uuid) {
      return this.selectedInvoiceList.includes(uuid);
    },
    changeSort(header, query) {
      pendingInvoices.query.update(query);
      pendingInvoices.fetchData()
    },
    handleCheckReceivedAll() {
      if (!this.checkedAll) {
        const newList = [...this.formFields.invoices.value];

        // checked all items from the page
        each(this.pendingInvoicesList, (invoice) => {
          const hasSelected = this.hasSelected(invoice.uuid);

          if (!hasSelected) {
            newList.push(this.createInvoiceItem(invoice));
          }
        });

        this.formFields.invoices.setValue(newList);
      } else {
        // clear selected items
        this.formFields.invoices.setValue([]);
      }
    },
    handleOnSelectInvoice(prop) {
      const selected = this.hasSelected(prop.item.uuid);

      // if not yet selected, select it
      if (!selected) {
        this.handleOnToggleInvoice(true, prop);
      }
    },
    handleOnToggleInvoice(isActive, prop) {
      let newList = [...this.formFields.invoices.value];

      // if it's going to be active
      if (isActive) {
        newList.push(this.createInvoiceItem(prop.item));

        this.formFields.invoices.setValue(newList);

        // focus on payment input
        const paymentAmountInput = this.$refs[`input_${prop.item.uuid}`];

        setTimeout(() => {
          paymentAmountInput.$refs.textfield.focus();
        }, 200);
      } else {
        // filter out selected item
        newList = filter(newList, item => item.invoice_id !== prop.item.uuid);

        this.formFields.invoices.setValue(newList);
      }
    },

    handleOnPaymentValueChange(newValue, prop) {
      const newList = this.formFields.invoices.value.map(item => {
        if (item.invoice_id === prop.item.uuid) {
          item.payment_amt = newValue;
        }

        return item;
      });

      this.formFields.invoices.setValue(newList);
    },
    handleOnCustomDateChange(newDate, prop) {
      const newList = this.formFields.invoices.value.map(item => {
        if (item.invoice_id === prop.item.uuid) {
          item.payment_date = newDate;
        }

        return item;
      });

      this.formFields.invoices.setValue(newList);
    },
    handleUpdateChequeNo(chequeNo, prop) {
      const newList = this.formFields.invoices.value.map(item => {
        if (item.invoice_id === prop.item.uuid) {
          item.cheque_no = chequeNo;
        }

        return item;
      });

      this.formFields.invoices.setValue(newList);
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        pendingInvoices.query.update({
          page,
          limit,
        });

        pendingInvoices.fetchData()
      }
    },
  }
}
</script>
