<template>
  <div>
    <v-row
      align="center"
      justify="end"
      no-gutters
    >
      <span class="pending-invoices-total-payment-text mx-3">
        Total Amount: <strong>{{ totalReceived | toCurrencyValue }}</strong>
      </span>
      <CoreButton
        :disabled="!pendingInvoicesFormIsDirty"
        class="ma-0 ml-2"
        color="info"
        @click="handleShowModal"
      >
        Submit
      </CoreButton>
    </v-row>
    <v-dialog
      v-model="showModal"
      width="1080px"
    >
      <v-card>
        <v-row
          class="pa-4"
          no-gutters
        >
          <v-card-title class="headline">
            Payment Confirmation
          </v-card-title>
          <v-card-text>
            <TableList
              :columns="invoiceListTableColumns"
              :list="list"
              :elevation="0"
              class="pb-1"
              border
              hide-default-footer
            />
            <v-row
              class="align-center mt-3"
              justify="end"
            >
              <v-col class="ma-3 text-right">
                <span class="pending-invoices-total-payment-text">
                  Total Amount: <strong>{{ totalReceived | toCurrencyValue }}</strong>
                </span>
              </v-col>
              <CoreButton
                color="info"
                class="mr-3"
                :loading="isLoading"
                @click="handleSubmit"
              >
                Submit Payment
              </CoreButton>
              <CoreButton
                color="neutral"
                inner-color="dark"
                @click="handleCloseModal"
              >
                Cancel
              </CoreButton>
            </v-row>
          </v-card-text>
        </v-row>
      </v-card>
    </v-dialog>
  </div>
</template>

<style>
  .pending-invoices-total-payment-text {
    font-size: 16px;
  }
</style>

<script>
import {each} from 'lodash';
import {apiErrorNotification} from '@/utils/request';
import {pendingInvoices, pendingInvoicesForm, createPaymentApi} from '../stores/pendingInvoices';

export default {
  name: 'PendingInvoicesSummaryModal',
  data() {
    return {
      isLoading: false,
      showModal: false,
      invoiceListTableColumns: [
        {
          text: 'Project',
          value: 'project_name',
          align: 'left',
        },
        {
          text: 'Invoice Date',
          value: 'invoice_date',
          type: 'date',
          align: 'left',
        },
        {
          text: 'Cert No.',
          value: 'cert_no',
          width: '100px',
          align: 'left',
        },
        {
          text: 'Due Date',
          value: 'due_date',
          type: 'date',
          align: 'left',
        },
        {
          text: 'Payment Amt',
          value: 'payment_amt',
          type: 'currency',
          align: 'right',
        },
        {
          text: 'Payment Date',
          value: 'payment_date',
          type: 'date',
          align: 'right',
        },
        {
          text: 'Cheque No.',
          value: 'cheque_no',
          align: 'right',
        },
      ]
    }
  },
  computed: {
    pendingInvoicesFormIsDirty() {
      return pendingInvoicesForm.isDirty();
    },
    list() {
      return pendingInvoicesForm.formData().invoices;
    },
    totalReceived() {
      return pendingInvoicesForm.totalReceived();
    },
  },
  methods: {
    handleShowModal() {
      this.showModal = true;
    },
    handleCloseModal() {
      this.showModal = false;
    },
    async handleSubmit() {
      try {
        this.isLoading = true;
        const list = [];
        each(this.list, item => {
          list.push(async function() {
            await createPaymentApi({
              invoice_id: item.invoice_id,
              project_id: item.project_id,

              // payment type
              cash_flow: item.cash_flow,

              // input values
              payment_amt: item.payment_amt,
              payment_date: item.payment_date,
              cheque_no: item.cheque_no,
            })
          })
        });

        await Promise.all(
          list.map(async (api) => await api())
        );

        // close modal
        this.showModal = false;
        this.isLoading = false;

        this.$toast('Payments created successfully.', {
          color: 'success',
          closeBtn: true,
        });

        // reset form
        pendingInvoicesForm.resetForm();

        // fetch new pending invoice list
        pendingInvoices.fetchData();
      } catch (e) {
        apiErrorNotification(e);
      }
    },
  }
}
</script>
