<template>
  <v-dialog
    v-model="showModal"
    width="600"
  >
    <v-form @submit.prevent="onSubmit">
      <RoundedCard>
        <v-card-title
          class="headline"
          primary-title
        >
          Invoice Write Off
        </v-card-title>

        <v-card-text>
          <p class="subheading">
            Write Off <strong>{{ invoice.cert_no }}</strong> from <strong>{{ invoice.project_name }}</strong>?
          </p>
          <TextField
            :field="formFields.reason"
            autofocus
            counter="50"
          />
        </v-card-text>

        <v-card-actions>
          <v-row
            justify="end"
            no-gutters
          >
            <CoreButton
              :disabled="!formIsValid"
              :loading="isLoading"
              color="info"
              type="submit"
            >
              Submit
            </CoreButton>
            <CoreButton
              color="neutral"
              @click="closeModal"
            >
              Cancel
            </CoreButton>
          </v-row>
        </v-card-actions>
      </RoundedCard>
    </v-form>
  </v-dialog>
</template>

<script>
import {pendingInvoices, writeOffInvoiceApi} from '../stores/pendingInvoices'
import {apiErrorNotification} from '@/utils/request'

export default {
  data() {
    return {
      isLoading: false,
      showModal: false,
    }
  },
  computed: {
    invoice() {
      return pendingInvoices.invoiceToWriteOff.get()
    },
    formFields() {
      return pendingInvoices.fields.get()
    },
    formIsValid() {
      return pendingInvoices.isValid()
    },
    pendingInvoicesPath() {
      return '/pending-invoices/list'
    },
    invoiceWriteOffPath() {
      const uuid = this.$route.params.uuid
      return `${this.pendingInvoicesPath}/${uuid}/write-off`
    },
  },
  watch: {
    showModal(bool) {
      // on Modal close
      if (!bool) {
        this.$router.push(this.pendingInvoicesPath);
      }
    },
    $route(route) {
      this.toggleModalByRouterPath(route);
    },
  },
  created() {
    this.toggleModalByRouterPath()
  },
  methods: {
    toggleModalByRouterPath(route = this.$route) {
      if (route.path === this.invoiceWriteOffPath) {
        this.showModal = true
      }
    },
    closeModal() {
      pendingInvoices.resetForm()
      this.showModal = false
    },
    onSubmit() {
      const valid = pendingInvoices.validateForm()
      if (valid) {
        this.writeOff()
      }
    },
    async writeOff() {
      try {
        this.isLoading = true;
        const params = {
          uuid: this.$route.params.uuid,
          write_off_reason: this.formFields.reason.value
        }
        await writeOffInvoiceApi(params)
        this.$toast(`Successfully write off "${this.invoice.cert_no}"`, {
          color: 'success',
          closeBtn: true,
        })
        pendingInvoices.fetchData()
        this.showModal = false
        pendingInvoices.resetForm()
      } catch (error) {
        apiErrorNotification(error)
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style scoped>

</style>

