<template>
  <div>
    <TableList
      :list="writtenOffInvoicesList"
      :columns="columns"
      :selected-rows="selectedRows"
      :table-prop="tableProp"
      :loading="isLoading"
      :item-key="itemKey"
      :action-column="{
        text: 'Actions',
        value: 'actions',
        align: 'center',
        width: '160px',
        class: 'text-nowrap',
      }"
      :elevation="0"
      border
      selectable-rows
      hide-default-footer
      @change-sort="changeSort"
      @row-selected="handleRowSelection"
    >
      <!-- Actions -->
      <template
        slot="actions"
        slot-scope="props"
      >
        <CoreButton
          :loading="undoIsLoading"
          color="error"
          x-small
          fab
          dark
          @click.stop="onUndoWriteOff(props.item)"
        >
          <v-icon>mdi-undo-variant</v-icon>
        </CoreButton>
      </template>

      <!-- Footer -->
      <template
        v-if="writtenOffInvoicesList.length > 0"
        slot="footer"
      >
        <td
          v-for="(column, index) in columns"
          :key="column.value"
          class="py-1"
        >
          <template v-if="index === 0">
            Total:
          </template>
          <template v-else-if="column.type === 'currency'">
            <strong class="text-truncate d-block text-right">
              {{ aggregator(writtenOffInvoicesList, column.value) | toCurrencyValue }}
            </strong>
          </template>
        </td>
      </template>
    </TableList>

    <v-row>
      <QueryPagination
        v-if="writtenOffInvoicesList.length > 0"
        :query="query"
        :total="pagination.total"
        @input="changePage"
      />
    </v-row>
  </div>
</template>

<style lang="scss" scoped>
  .tableCheckbox {
    :global(label) {
      font-size: 12px;
      font-weight: 500;
    }
  }

  .paymentInput {
    :global(input) {
      min-width: 105px;
      text-align: right;
    }
  }
</style>

<script>
import {writtenOffInvoices, undoWrittenOffInvoicesApi} from '../stores/writtenOffInvoices';
import {apiErrorNotification} from '@/utils/request';
import {aggregator} from '@/utils/math';

export default {
  name: 'WriteOffTable',
  data() {
    return {
      undoIsLoading: false,
    }
  },
  computed: {
    writtenOffInvoicesList() {
      return writtenOffInvoices.data.get()
    },
    query() {
      return writtenOffInvoices.query.get()
    },
    pagination() {
      return writtenOffInvoices.pagination()
    },
    isLoading() {
      return writtenOffInvoices.isLoading.get();
    },
    columns() {
      return writtenOffInvoices.tableColumns.get()
    },
    tableProp() {
      return writtenOffInvoices.tableProp()
    },
    itemKey() {
      return writtenOffInvoices.itemKey.get()
    },
    selectedRows() {
      return writtenOffInvoices.selectedRows.get() || {}
    },
  },
  methods: {
    aggregator,
    changeSort(header, query) {
      writtenOffInvoices.query.update(query);
      writtenOffInvoices.fetchData()
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        writtenOffInvoices.query.update({
          page,
          limit,
        });

        writtenOffInvoices.fetchData()
      }
    },
    handleRowSelection(newSelectedRows) {
      writtenOffInvoices.selectedRows.assign(newSelectedRows)
    },
    async onUndoWriteOff(invoice) {
      const isConfirm = await this.$confirmOnce(`Undo write off for ${invoice.cert_no} from ${invoice.project_name}?`, {
        buttonTrueColor: 'error',
        buttonFalseColor: 'info',
      });

      if (isConfirm) {
        try {
          this.undoIsLoading = true;
          await undoWrittenOffInvoicesApi({uuid: invoice.uuid});
          this.undoIsLoading = false;
          writtenOffInvoices.fetchData()
        } catch (error) {
          apiErrorNotification(error)
        }
      }
    }
  }
}
</script>
