<template>
  <div class="cashflow-column">
    <div class="cashflow-months-column">
      <span class="cashflow-months-text">{{ thisMonthProjection }}</span>
      <span class="cashflow-months-text">{{ nextMonthProjection }}</span>
      <span class="cashflow-months-text">{{ nextNextMonthProjection }}</span>
    </div>
    <div class="cashflow-months-column">
      <RouteLink
        class="router-link"
        :class="{'link-danger': project.cashflow_30 < 0}"
        :to="projectCashflowPath('30')"
      >
        <span
          :class="{'text-danger': project.cashflow_30 < 0}"
          class="cashflow-text"
        >
          {{ project.cashflow_30 | toCurrencyValue }}
        </span>
      </RouteLink>

      <RouteLink
        class="router-link"
        :class="{'link-danger': project.cashflow_60 < 0}"
        :to="projectCashflowPath('60')"
      >
        <span
          :class="{'text-danger': project.cashflow_60 < 0}"
          class="cashflow-text"
        >
          {{ project.cashflow_60 | toCurrencyValue }}
        </span>
      </RouteLink>

      <RouteLink
        class="router-link"
        :class="{'link-danger': project.cashflow_90 < 0}"
        :to="projectCashflowPath('90')"
      >
        <span
          :class="{'text-danger': project.cashflow_90 < 0}"
          class="cashflow-text"
        >
          {{ project.cashflow_90 | toCurrencyValue }}
        </span>
      </RouteLink>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .router-link {
    display: inline;
  }

  .link-danger {
    &:hover {
      text-decoration: none;
      border-bottom: 1px solid var(--danger-color);
    }
  }

  .cashflow-column {
    min-width: 100px;
    display: flex;
    flex-direction: row;
  }

  .cashflow-months-column {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    white-space: nowrap;
  }
  .cashflow-months-text {
  }

  .cashflow-values-column {
    display: flex;
    flex-direction: column;
  }
  .cashflow-text {
    white-space: nowrap;
    font-weight: 500;
  }

</style>

<script>
import {format, subMonths, addMonths, startOfMonth, endOfMonth} from 'date-fns';
import {monthName, monthAndDay} from '@nixel/base/filters/datetime';

export default {
  props: {
    project: {
      type: Object,
      required: true
    }
  },
  computed: {
    thisMonthProjection() {
      const today = new Date();
      return `End of ${monthName(today)}:`
    },
    nextMonthProjection() {
      const today = new Date();
      const endMonthDate = endOfMonth(addMonths(today, 1))
      return `End of ${monthName(endMonthDate)}:`
    },
    nextNextMonthProjection() {
      const today = new Date();
      const endMonthDate = endOfMonth(addMonths(today, 2))
      return `End of ${monthName(endMonthDate)}:`
    },
  },
  methods: {
    projectCashflowPath(days) {
      return `/projects/list/${this.project.uuid}/cashflow/${days}`
    }
  },
}
</script>
