<template>
  <div class="name-column py-2">
    <RouteLink
      :to="project.uuid"
      class="project-link"
    >
      {{ project.name | placeholder('No name') }}
    </RouteLink>
    <p class="client-name">
      {{ getClient(project.client) | placeholder('') }}
    </p>
    <p class="project-manager">
      PM : {{ getProjectManagers(project.project_managers) | placeholder('Not assigned.') }}
    </p>
  </div>
</template>

<style lang="scss">
  .name-column {
    min-width: 230px;
    max-width: 240px;
  }
  .project-link {
    display: block;
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: 500;
  }

  .client-name {
    text-overflow: ellipsis;
    margin: 0 !important;
    font-size: 13px !important;
  }
  .project-manager {
    font-size: 13px !important;
    margin: 0;
  }
</style>

<script>
import {isObject, isArray} from 'lodash'

export default {
  name: 'NameColumn',
  components: {},
  props: {
    project: {
      type: Object,
      required: true
    },
  },
  methods: {
    getClient(clientObject) {
      if (isObject(clientObject)) {
        return clientObject.name
      }

      return clientObject
    },
    getProjectManagers(projectManagers) {
      if (isArray(projectManagers)) {
        return projectManagers.map(pm => pm.name).join(', ')
      }

      return undefined
    }
  }
}
</script>
