<template>
  <ColumnSelect
    :items="items"
    :selected-columns="selectedColumns"
    @change="updateSelectedColumnList"
  >
    <template slot="header">
      <v-subheader>Presets</v-subheader>
      <v-list-item
        v-for="(mode, label) in selectColumnsMode"
        :key="label"
        :class="selectColumnsModeClass(mode)"
        @click="updateSelectedColumnList(mode)"
      >
        <v-list-item-content>
          <v-list-item-title>
            {{ label }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <!--divider-->
      <v-divider />
    </template>
  </ColumnSelect>
</template>

<script>
import {isEqual} from 'lodash'
import {projectList} from '../../stores/projectList'
import {
  projectAllColumns,
  projectCashflowColumns,
  projectDurationColumns,
  projectTableHeaders
} from '../../resources/projectList'
import {setProjectListSelectedColumns} from '@/consts/selectedColumns';

export default {
  components: {},
  data() {
    return {
      items: projectTableHeaders,
      selectColumnsMode: {
        'All columns': projectAllColumns,
        'Project Duration': projectDurationColumns,
        'Project Cashflow': projectCashflowColumns,
      }
    }
  },
  computed: {
    selectedColumns() {
      return projectList.selectedColumns.get()
    },
  },
  methods: {
    selectColumnsModeClass(columnKeys) {
      return {
        'primary white--text': isEqual(columnKeys, [...this.selectedColumns])
      }
    },
    updateSelectedColumnList(columnKeys) {
      projectList.selectedColumns.assign(columnKeys);

      // update localStorage
      setProjectListSelectedColumns(JSON.stringify(columnKeys));
    },
  }
}
</script>
