<template>
  <SearchToolbar
    :placeholder="searchLabel"
    @search-input="setSearchFilter"
  >
    <DateRangePicker
      input-class="dateInput"
      label="Invoice Date Filter (pick two dates)"
      background-color="transparent"
      solo
      flat
      hide-details
      allow-single-date
      set-date-on-select

      @date-picked="setFilters"
      @date-cleared="clearDateFilter"
    />
  </SearchToolbar>
</template>

<style lang="scss">
  .dateInput {
    flex: 0 0 300px;
  }
</style>

<script>
import {projectList} from '../../stores/projectList'
import {projectListDateFilters} from '../../resources/projectList'
import {apiErrorNotification} from '@/utils/request'

export default {
  name: 'ProjectListFilters',
  components: {},
  data() {
    return {
      dateFilters: projectListDateFilters,
      searchLabel: 'Project Name, Client Name, End Customer, Project Manager',
      searchFilter: '',
    }
  },
  methods: {
    setSearchFilter(value) {
      this.searchFilter = value;
      this.setFilters()
    },
    setFilters(dateFilter) {
      if (dateFilter && dateFilter.start && dateFilter.end) {
        // noinspection JSUnresolvedFunction
        projectList.query.set(this.dateFilters[0], dateFilter.start);
        // noinspection JSUnresolvedFunction
        projectList.query.set(this.dateFilters[1], dateFilter.end)
      }
      projectList.query.set('filter', this.searchFilter);
      this.fetchData()
    },
    async fetchData() {
      try {
        await projectList.fetchData()
      } catch (error) {
        apiErrorNotification(error)
      }
    },
    clearDateFilter() {
      // noinspection JSUnresolvedFunction
      projectList.query.update({
        [this.dateFilters[0]]: undefined,
        [this.dateFilters[1]]: undefined,
      });
      this.fetchData()
    }
  }
}
</script>
