<template>
  <v-dialog
    v-model="showSalesModal"
    width="850"
  >
    <v-card>
      <v-card-title
        class="headline"
        primary-title
      >
        Sales
      </v-card-title>
      <v-card-text class="text-center">
        <v-progress-circular
          v-if="isLoading"
          size="50"
          color="primary"
          indeterminate
        />
        <TableList
          v-else
          :list="sales"
          :columns="tableColumns"
          :table-prop="tableProp"
          :loading="isLoading"
          elevation="0"
          item-key="uuid"
          hide-default-footer
        />
        <!--
        <template slot="footer">
          <td
            :colspan="tableColumns.length - 1"
            class="text-left font-weight-bold title"
          >
            Total Invoiced:
          </td>
          <td class="text-right font-weight-bold title">
            {{ totalInvoiced | toCurrencyValue }}
          </td>
        </template>
        -->
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import {projectSales, projectList} from '../../stores/projectList'
import {projectListDateFilters} from '../../resources/projectList'
import {apiErrorNotification} from '@/utils/request'

export default {
  data() {
    return {
      dateFilters: projectListDateFilters,
    };
  },
  computed: {
    showSalesModal: {
      get() {
        return projectSales.showSalesModal.get()
      },
      set(newVal) {
        return projectSales.showSalesModal.toggle(newVal)
      }
    },
    projectListPath() {
      return '/projects/list'
    },
    projectSalesModalPath() {
      return `${this.projectListPath}/${this.$route.params.uuid}/sales`
    },
    sales() {
      return projectSales.data.get()
    },
    isLoading() {
      return projectSales.isLoading.get()
    },
    tableProp() {
      return projectSales.tableProp()
    },
    tableColumns() {
      return projectSales.tableColumns.get()
    },
    totalInvoiced() {
      const total = this.sales.reduce((total, invoice) => {
        const invoiceAmt = parseFloat(invoice.total_invoiced);
        return total + invoiceAmt
      }, 0);
      console.log(total);
      return total
    },
  },
  watch: {
    showSalesModal(bool) {
      // on Modal close
      if (!bool) {
        this.$router.push(this.projectListPath);
      }
    },
    $route(route) {
      this.toggleModalByRouterPath(route);
    },
  },
  created() {
    this.toggleModalByRouterPath()
  },
  methods: {
    async fetchData() {
      try {
        const projectListQuery = projectList.query.get();
        const start = this.dateFilters[0];
        const end = this.dateFilters[1];
        await projectSales.fetchData({
          uuid: this.$route.params.uuid,
          [start]: projectListQuery[start],
          [end]: projectListQuery[end],
        })
      } catch (error) {
        apiErrorNotification(error)
      }
    },
    toggleModalByRouterPath(route = this.$route) {
      if (route.path === this.projectSalesModalPath) {
        this.fetchData();
        projectSales.showSalesModal.toggle(true);
      }
    }
  }
}
</script>

<style scoped>

</style>

