<template>
  <v-dialog
    v-model="showCashflowModal"
    width="900"
  >
    <RoundedCard class="pa-3">
      <v-card-title
        class="headline"
        primary-title
      >
        Cashflow ({{ monthName }})
      </v-card-title>
      <v-card-text class="text-center pt-0">
        <h3 class="text-left mt-0">
          Expected Sales
        </h3>
        <v-progress-circular
          v-if="isLoading"
          size="50"
          color="primary"
          indeterminate
        />
        <TableList
          v-else
          border
          :list="expectedSales"
          :columns="invoiceTableColumns"
          :loading="isLoading"
          elevation="0"
          hide-default-footer
        >
          <template slot="footer">
            <td
              :colspan="invoiceTableColumns.length - 1"
              class="text-left font-weight-bold title"
            >
              Cashflow In:
            </td>
            <td class="text-right text-nowrap font-weight-bold title">
              {{ expectedCashflowIn | toCurrencyValue }}
            </td>
          </template>
        </TableList>
        <h3 class="text-left">
          Expected Purchases
        </h3>
        <v-progress-circular
          v-if="isLoading"
          size="50"
          color="primary"
          indeterminate
        />
        <TableList
          v-else
          border
          :list="expectedPurchases"
          :columns="expenseTableColumns"
          :loading="isLoading"
          elevation="0"
          hide-default-footer
        >
          <template slot="footer">
            <td
              :colspan="expenseTableColumns.length - 1"
              class="text-left font-weight-bold title"
            >
              Cashflow Out:
            </td>
            <td class="text-right text-nowrap font-weight-bold title">
              {{ expectedCashflowOut | toCurrencyValue }}
            </td>
          </template>
        </TableList>
      </v-card-text>
    </RoundedCard>
  </v-dialog>
</template>

<script>
import {projectCashflow, projectList} from '../../stores/projectList'
import {projectListDateFilters,
  projectExpectedSalesTableHeaders,
  projectExpectedPurchasesTableHeaders
} from '../../resources/projectList'
import {apiErrorNotification} from '@/utils/request'
import {format, subMonths, addMonths, endOfMonth} from 'date-fns';
import {monthName} from '@nixel/base/filters/datetime';

export default {
  components: {},
  data() {
    return {
      dateFilters: projectListDateFilters,
      invoiceTableColumns: projectExpectedSalesTableHeaders,
      expenseTableColumns: projectExpectedPurchasesTableHeaders,
    };
  },
  computed: {
    showCashflowModal: {
      get() {
        return projectCashflow.showCashflowModal.get()
      },
      set(newVal) {
        return projectCashflow.showCashflowModal.toggle(newVal)
      }
    },
    projectListPath() {
      return '/projects/list'
    },
    projectionDays() {
      return this.$route.params.days
    },
    monthName() {
      if (this.projectionDays <= 31) {
        return this.thisMonthProjection()
      } else if (this.projectionDays <= 62) {
        return this.nextMonthProjection()
      } else if (this.projectionDays <= 95) {
        return this.nextNextMonthProjection()
      }
      return ''
    },
    projectCashflowModalPath() {
      const uuid = this.$route.params.uuid;
      return `${this.projectListPath}/${uuid}/cashflow/${this.projectionDays}`
    },
    query() {
      return projectCashflow.query.get()
    },
    isLoading() {
      return projectCashflow.isLoading.get()
    },
    cashflowData() {
      return projectCashflow.data.get()
    },
    expectedSales() {
      return this.cashflowData.invoices
    },
    expectedPurchases() {
      return this.cashflowData.expenses
    },
    expectedCashflowIn() {
      return this.cashflowData.cashflow_in
    },
    expectedCashflowOut() {
      return this.cashflowData.cashflow_out
    },
  },
  watch: {
    showCashflowModal(bool) {
      // on Modal close
      if (!bool) {
        this.$router.push(this.projectListPath);
      }
    },
    $route(route) {
      this.toggleModalByRouterPath(route);
    },
  },
  created() {
    this.toggleModalByRouterPath()
  },
  methods: {
    async fetchData() {
      try {
        const projectListQuery = projectList.query.get();
        const start = this.dateFilters[0];
        const end = this.dateFilters[1];
        projectCashflow.query.update({
          uuid: this.$route.params.uuid,
          days: this.projectionDays,
          [start]: projectListQuery[start],
          [end]: projectListQuery[end],
        });
        await projectCashflow.fetchData()
      } catch (error) {
        apiErrorNotification(error)
      }
    },
    toggleModalByRouterPath(route = this.$route) {
      if (route.path === this.projectCashflowModalPath) {
        this.fetchData();
        projectCashflow.showCashflowModal.toggle(true);
      }
    },
    thisMonthProjection() {
      const today = new Date();
      return `End of ${monthName(today)}`
    },
    nextMonthProjection() {
      const today = new Date();
      const endMonthDate = endOfMonth(addMonths(today, 1))
      return `End of ${monthName(endMonthDate)}`
    },
    nextNextMonthProjection() {
      const today = new Date();
      const endMonthDate = endOfMonth(addMonths(today, 2))
      return `End of ${monthName(endMonthDate)}`
    },
  }
}
</script>

<style scoped>

</style>

