<template>
  <div class="d-flex flex-nowrap">
    <ProjectListColumnSelect />
    <v-menu
      :close-on-content-click="false"
      bottom
      offset-y
    >
      <template v-slot:activator="{ on }">
        <CoreButton
          class="ml-3"
          color="neutral" inner-color="dark"
          v-on="on"
        >
          <v-icon>mdi-filter</v-icon>
          Filters
        </CoreButton>
      </template>

      <template>
        <v-layout class="columnSelect white">
          <v-flex>
            <v-list>
              <!-- Columns -->
              <v-list-item
                ripple
                @click="handleToggleIncludeCompletedFilter()"
              >
                <v-list-item-action>
                  <FakeCheckbox
                    :active="includeCompleted"
                    hide-details
                    readonly
                  />
                </v-list-item-action>

                <v-list-item-content>
                  <v-list-item-title>
                    Show All Projects
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-flex>
        </v-layout>
      </template>
    </v-menu>

    <TableExportExcelButton
      :disabled="projects.length === 0"
      :get-excel-data="getExcelData"
      :filename="excelName"
      class="ml-3"
    />
  </div>
</template>

<style lang="scss">
</style>

<script>
import {projectList} from '../../stores/projectList.js'
import ProjectListColumnSelect from './ProjectListColumnSelect'
import {datetimeShort} from '@nixel/base/filters/datetime';
import {apiErrorNotification} from '@/utils/request';
import {inProgressProjectStatus} from '../../resources/projectStatuses';

export default {
  name: 'ProjectListActionButtons',
  components: {
    ProjectListColumnSelect,
  },
  data() {
    return {
      excelHeaders: []
    }
  },
  computed: {
    includeCompleted() {
      return this.$route.query.includeCompleted === '1'
    },
    selectedColumns() {
      return projectList.selectedColumns.get()
    },
    projects() {
      return projectList.data.get()
    },
    excelName() {
      return `projects_${datetimeShort(new Date())}.xlsx`;
    },
  },
  methods: {
    getExcelData() {
      return projectList.listMappedWithColumnLabel()
    },
    handleToggleIncludeCompletedFilter() {
      const includeCompleted = !this.includeCompleted;
      this.$router.replace({
        query: {
          ...this.$route.query,
          includeCompleted: includeCompleted ? '1' : '0',
        }
      });

      this.fetchData({
        status: includeCompleted ? '' : inProgressProjectStatus
      });
    },
    async fetchData(query) {
      try {
        await projectList.fetchData(query)
      } catch (error) {
        apiErrorNotification(error)
      }
    },
  }
}
</script>
