<template>
  <v-dialog
    v-model="showPurchasesModal"
    width="850"
  >
    <v-card>
      <v-card-title
        class="headline"
        primary-title
      >
        Purchases
      </v-card-title>
      <v-card-text class="text-center">
        <v-progress-circular
          v-if="isLoading"
          size="50"
          color="primary"
          indeterminate
        />
        <TableList
          v-else
          :list="purchases"
          :columns="tableColumns"
          :table-prop="tableProp"
          :loading="isLoading"
          elevation="0"
          item-key="uuid"
          hide-default-footer
        />
        <QueryPagination
          v-if="purchases.length > 0"
          :query="query"
          :total="pagination.total"
          @input="changePage"
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import {projectPurchases, projectList} from '../../stores/projectList'
import {projectListDateFilters} from '../../resources/projectList'
import {apiErrorNotification} from '@/utils/request'

export default {
  data() {
    return {
      dateFilters: projectListDateFilters,
    };
  },
  computed: {
    showPurchasesModal: {
      get() {
        return projectPurchases.showPurchasesModal.get()
      },
      set(newVal) {
        return projectPurchases.showPurchasesModal.toggle(newVal)
      }
    },
    projectListPath() {
      return '/projects/list'
    },
    projectPurchasesModalPath() {
      return `${this.projectListPath}/${this.$route.params.uuid}/purchases`
    },
    purchases() {
      return projectPurchases.data.get()
    },
    query() {
      return projectPurchases.query.get()
    },
    pagination() {
      return projectPurchases.pagination()
    },
    isLoading() {
      return projectPurchases.isLoading.get()
    },
    tableProp() {
      return projectPurchases.tableProp()
    },
    tableColumns() {
      return projectPurchases.tableColumns.get()
    },
  },
  watch: {
    showPurchasesModal(bool) {
      // on Modal close
      if (!bool) {
        this.$router.push(this.projectListPath);
      }
    },
    $route(route) {
      this.toggleModalByRouterPath(route);
    },
  },
  created() {
    this.toggleModalByRouterPath()
  },
  methods: {
    async fetchData() {
      try {
        const projectListQuery = projectList.query.get();
        const start = this.dateFilters[0];
        const end = this.dateFilters[1];
        projectPurchases.query.update({
          uuid: this.$route.params.uuid,
          [start]: projectListQuery[start],
          [end]: projectListQuery[end],
        });
        await projectPurchases.fetchData()
      } catch (error) {
        apiErrorNotification(error)
      }
    },
    toggleModalByRouterPath(route = this.$route) {
      if (route.path === this.projectPurchasesModalPath) {
        this.fetchData();
        projectPurchases.showPurchasesModal.toggle(true);
      }
    },
    changePage(query) {
      projectPurchases.query.update(query);
      this.fetchData();
    },
  }
}
</script>

<style scoped>

</style>

