<template>
  <v-menu
    offset-y
    :close-on-content-click="false"
  >
    <template v-slot:activator="{ on }">
      <CoreButton
        depressed
        v-on="on"
      >
        Filters
      </CoreButton>
    </template>
    <v-list>
      <v-list-item>
        <v-list-item-title>
          <label
            class="d-flex align-center mr-3 v-label theme--light cursor-pointer"
            @click="handleTogglePending"
          >
            <span class="text-nowrap mr-2">Show pending only</span>
            <FakeCheckbox
              :active="isPending"
              class="ml-auto mt-0"
              hide-details
              readonly
            />
          </label>
        </v-list-item-title>
      </v-list-item>
      <v-divider />
      <v-subheader>Filter by Organisation</v-subheader>
      <template
        v-for="(organisation) in organisationList"
      >
        <v-list-item :key="organisation.id">
          <v-list-item-title>
            <label
              class="d-flex align-center mr-3 v-label theme--light cursor-pointer"
              @click="handleOrganisationFilter(organisation.id)"
            >
              <span class="text-nowrap mr-2 organisation-name">{{ organisation.name }}</span>
              <FakeCheckbox
                :active="organisationFilter.indexOf(organisation.id) >= 0"
                class="ml-auto mt-0"
                hide-details
                readonly
              />
            </label>
          </v-list-item-title>
        </v-list-item>
      </template>
    </v-list>
  </v-menu>
</template>

<script>
import Vue from 'vue';
import {pull} from 'lodash';
import {organisationList} from '@/stores/organisationList';

export default {
  name: 'InvoiceAndExpensesListFilter',
  props: {
    fetchData: {
      type: Function,
      default() {},
    },
  },
  computed: {
    organisationList() {
      return organisationList.data.get() || []
    },
    isPending() {
      return this.$route.query.isPending === '1'
    },
    organisationFilter() {
      if (this.$route.query.organisation) {
        return (this.$route.query.organisation).split(',');
      }

      // if filter list is empty, default check all
      return this.organisationList.map(org => org.id);
    },
  },
  watch: {
    '$route.query'(newQuery) {
      console.log('newQuery: ', newQuery);
    }
  },
  methods: {
    handleOrganisationFilter(id) {
      const newOrganisationFilter = this.organisationFilter;
      if (newOrganisationFilter.indexOf(id) >= 0) {
        pull(newOrganisationFilter, id);
      } else {
        newOrganisationFilter.push(id);
      }

      const query = {
        ...this.$route.query,
        organisation: newOrganisationFilter.join(','),
      };

      this.$router.replace({query});

      Vue.nextTick().then(() => {
        this.fetchData({
          isPending: this.isPending,
          organisation: newOrganisationFilter
        });
      });
    },
    handleTogglePending() {
      const isPending = !this.isPending;
      const query = {
        ...this.$route.query,
        isPending: isPending ? '1' : '0',
      };

      this.$router.replace({query});

      Vue.nextTick().then(() => {
        console.log({isPending});
        this.fetchData({
          isPending: isPending,
          organisation: this.organisationFilter
        });
      });
    },
  }
}
</script>
