<template>
  <v-container
    pt-4
    px-9
  >
    <div class="project-details-summary-wrapper">
      <!-- Progress Bar -->
      <div
        v-if="projectIsLoading"
        class="d-flex justify-center align-center progressContainer"
      >
        <v-progress-circular
          slot="progress"
          color="blue"
          indeterminate
          height="3"
        />
      </div>
      <template v-else>
        <!-- Project Details -->
        <div class="project-details-summary-grid mb-4">
          <div class="summary-mini-grid-container">
            <SummaryMiniGrid
              :value="project.contract_sum"
              label="Contract Sum"
              is-currency
            />
            <SummaryMiniGrid
              :value="project.variation_order"
              label="Variation Order"
              is-currency
            />
            <SummaryMiniGrid
              :value="project.retention"
              label="Retention Value"
              is-currency
            />
          </div>
          <div class="summary-mini-grid-container">
            <div class="summary-grid">
              <CoreTooltip bottom>
                <template v-slot:default>
                  <SummaryMiniGrid
                    :value="project.total_received"
                    label="Received"
                    is-currency
                    value-color="success"
                  />
                </template>
                <template v-slot:content>
                  <div class="d-flex flex-column">
                    <span>Total Received - Tax</span>
                    <span>{{ project.total_received_include_tax | toCurrencyValue }} - {{ project.total_invoices_tax | toCurrencyValue }}</span>
                  </div>
                </template>
              </CoreTooltip>
            </div>
            <div class="summary-grid">
              <CoreTooltip bottom>
                <template v-slot:default>
                  <SummaryMiniGrid
                    :value="project.total_paid"
                    label="Paid"
                    is-currency
                    value-color="error"
                  />
                </template>
                <template v-slot:content>
                  <div class="d-flex flex-column">
                    <span>Total Paid - Tax</span>
                    <span>{{ project.total_paid_include_tax | toCurrencyValue }} - {{ project.total_expenses_tax | toCurrencyValue }}</span>
                  </div>
                </template>
              </CoreTooltip>
            </div>
            <div class="summary-grid">
              <CoreTooltip bottom>
                <template v-slot:default>
                  <SummaryMiniGrid
                    :value="project.cashflow_nett"
                    label="Nett Cash Flow"
                    is-currency
                    :value-color="nettCashFlowColor"
                  />
                </template>
                <template v-slot:content>
                  <div class="d-flex flex-column">
                    <span>Received - Paid</span>
                    <span>{{ project.total_received | toCurrencyValue }} - {{ project.total_paid | toCurrencyValue }}</span>
                  </div>
                </template>
              </CoreTooltip>
            </div>
          </div>
        </div>
        <div class="project-details-summary-bottom justify-center">
          <div class="summary-projection-container mr-4">
            <SummaryCashFlowProjection
              :cash-flow30="project.cashflow_30"
              :cash-flow60="project.cashflow_60"
              :cash-flow90="project.cashflow_90"
            />
          </div>
          <div class="d-flex flex-column flex-grow-1 summary-percentage-container">
            <CoreTooltip
              bottom
              allow-overflow
            >
              <template v-slot:default>
                <SummaryPercentageBar
                  :value="project.progress_diff"
                  label="Duration Variance"
                />
              </template>
              <template v-slot:content>
                <ProgressDiffTooltip :row-props="{item: project}" />
              </template>
            </CoreTooltip>

            <CoreTooltip
              bottom
              allow-overflow
            >
              <template v-slot:default>
                <SummaryPercentageBar
                  :value="project.profit_margin"
                  label="Profit Margin"
                />
              </template>
              <template v-slot:content>
                <ProfitMarginTooltip :row-props="{item: project}" />
              </template>
            </CoreTooltip>

            <CoreTooltip
              bottom
              allow-overflow
            >
              <template v-slot:default>
                <SummaryPercentageBar
                  :value="project.current_margin"
                  label="Current Margin"
                />
              </template>
              <template v-slot:content>
                <CurrentMarginTooltip :row-props="{item: project}" />
              </template>
            </CoreTooltip>

            <CoreTooltip
              bottom
              allow-overflow
            >
              <template v-slot:default>
                <SummaryPercentageBar
                  :value="project.projected_margin"
                  label="Projected Margin"
                />
              </template>
              <template v-slot:content>
                <ProjectedMarginTooltip :row-props="{item: project}" />
              </template>
            </CoreTooltip>

            <CoreTooltip
              bottom
              allow-overflow
            >
              <template v-slot:default>
                <SummaryPercentageBar
                  :value="project.work_certified_margin"
                  label="Work Certified Margin"
                />
              </template>
              <template v-slot:content>
                <WorkCertifiedMarginTooltip :row-props="{item: project}" />
              </template>
            </CoreTooltip>

            <CoreTooltip
              bottom
              allow-overflow
            >
              <template v-slot:default>
                <SummaryPercentageBar
                  :value="project.cashflow_margin"
                  label="Cash Flow Margin"
                />
              </template>
              <template v-slot:content>
                <CashflowMarginTooltip :row-props="{item: project}" />
              </template>
            </CoreTooltip>
          </div>
        </div>
      </template>
    </div>
  </v-container>
</template>

<style lang="scss" scoped>
  @import "~bootstrap/scss/functions";
  @import "~bootstrap/scss/variables";
  @import "~bootstrap/scss/mixins";

  $wrapper-height: 241px;
  $wrapper-md-height: 300px;

  .progressContainer {
    height: $wrapper-height;

    @include media-breakpoint-down(lg) {
      height: $wrapper-md-height;
    }
  }

  .project-details-summary-wrapper {
    min-height: $wrapper-height;

    @include media-breakpoint-down(lg) {
      min-height: $wrapper-md-height;
    }
  }
  .project-details-summary-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .summary-mini-grid-container {
    display: flex;
    flex-grow: 1;
    padding-bottom: 14px;
  }
  .summary-grid {
    display: flex;
    flex-flow: column;
    width: 100%;
    min-width: 160px;
  }
  .project-details-summary-bottom {
    display: flex;
    flex-wrap: wrap;
  }
  .summary-projection-container {
    min-width: 360px;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  .summary-percentage-container {
    min-width: 300px;
  }
</style>
<script>
import {projectDetails} from '../../stores/projectDetails'
import {appStore} from '@/stores/appStore';
import SummaryMiniGrid from './SummaryMiniGrid';
import SummaryPercentageBar from './SummaryPercentageBar';
import SummaryCashFlowProjection from './SummaryCashFlowProjection';
import ProgressDiffTooltip from '../../../../components/tooltips/ProgressDiffTooltip';
import ProfitMarginTooltip from '../../../../components/tooltips/ProfitMarginTooltip';
import CurrentMarginTooltip from '../../../../components/tooltips/CurrentMarginTooltip';
import ProjectedMarginTooltip from '../../../../components/tooltips/ProjectedMarginTooltip';
import WorkCertifiedMarginTooltip from '../../../../components/tooltips/WorkCertifiedMarginTooltip';
import CashflowMarginTooltip from '../../../../components/tooltips/CashflowMarginTooltip';

export default {
  name: 'ProjectDetailsSummary',
  components: {
    SummaryCashFlowProjection,
    SummaryPercentageBar,
    SummaryMiniGrid,
    ProgressDiffTooltip,
    ProfitMarginTooltip,
    CurrentMarginTooltip,
    ProjectedMarginTooltip,
    WorkCertifiedMarginTooltip,
    CashflowMarginTooltip,
  },
  props: {
    loading: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    project() {
      return projectDetails.data.get()
    },
    projectIsLoading() {
      return projectDetails.isLoading.get()
    },
    sideNavIsOpen() {
      return appStore.sideNavIsOpen.get()
    },
    nettCashFlowColor() {
      if (this.project.cashflow_nett < 0) {
        return 'error'
      } else {
        return 'info'
      }
    }
  },
}
</script>
