<template>
  <div class="cash-flow-projection-container">
    <span class="projection-main-title grey--text text--darken-3">Cashflow Projection</span>
    <span class="grey--text text--darken-1">(starting {{ startMonth }})</span>
    <div class="d-flex flex-column">
      <div class="projection-item">
        <span class="projection-label">{{ thisMonthProjection }}</span>
        <span :class="`projection-value ${colorClass(cashFlow30)}`">{{ cashFlow30 | toCurrencyValue }}</span>
      </div>
      <div class="projection-item">
        <span class="projection-label">{{ nextMonthProjection }}</span>
        <span :class="`projection-value ${colorClass(cashFlow60)}`">{{ cashFlow60 | toCurrencyValue }}</span>
      </div>
      <div class="projection-item">
        <span class="projection-label">{{ nextNextMonthProjection }}</span>
        <span :class="`projection-value ${colorClass(cashFlow90)}`">{{ cashFlow90 | toCurrencyValue }}</span>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
  .cash-flow-projection-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .projection-main-title {
    font-size: 18px;
    font-weight: 500;
  }
  .projection-item {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }
  .projection-label {
    font-weight: 500;
    font-size: 16px;
    margin-right: 20px;
  }
  .projection-value {
    font-weight: 500;
    font-size: 16px;
  }
</style>
<script>
import {format, subMonths, addMonths, endOfMonth} from 'date-fns';
import {monthName} from '@nixel/base/filters/datetime';
import {cashflowStartMonth} from '../../resources/projectList';

export default {
  name: 'SummaryCashFlowProjection',
  props: {
    cashFlow30: {
      type: [String, Number]
    },
    cashFlow60: {
      type: [String, Number]
    },
    cashFlow90: {
      type: [String, Number]
    }
  },
  data() {
    return {
      startMonth: cashflowStartMonth
    };
  },
  computed: {
    thisMonthProjection() {
      const today = new Date();
      return `End of ${monthName(today)}`
    },
    nextMonthProjection() {
      const today = new Date();
      const endMonthDate = endOfMonth(addMonths(today, 1))
      return `End of ${monthName(endMonthDate)}`
    },
    nextNextMonthProjection() {
      const today = new Date();
      const endMonthDate = endOfMonth(addMonths(today, 2))
      return `End of ${monthName(endMonthDate)}`
    },
  },
  methods: {
    colorClass(value) {
      const val = parseFloat(value);
      if (val < 0) {
        return 'error--text'
      } else if (val > 0) {
        return 'success--text'
      }
      return 'grey--text text--darken-1'
    }
  }
};
</script>
