
<template>
  <v-form
    ref="form"
    @submit.prevent="onSubmit"
  >
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="8"
        >
          <TextField
            :field="fields.name"
            autofocus
          />
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <Selects
            :field="fields.type"
            :items="contractorTypes"
          />
        </v-col>

        <v-col
          cols="12"
          md="6"
        >
          <TextField
            :field="fields.address_1"
          />
        </v-col>
        <v-col
          cols="12"
          md="6"
        >
          <TextField
            :field="fields.address_2"
          />
        </v-col>

        <v-col
          cols="12"
          md="6"
          lg="3"
        >
          <TextField
            :field="fields.postcode"
          />
        </v-col>
        <v-col
          cols="12"
          md="6"
          lg="3"
        >
          <TextField
            :field="fields.state"
          />
        </v-col>
        <v-col
          cols="12"
          md="6"
          lg="3"
        >
          <TextField
            :field="fields.city"
          />
        </v-col>
        <v-col
          cols="12"
          md="6"
          lg="3"
        >
          <Selects
            :items="countries"
            :field="fields.country"
            item-text="name"
            item-value="code"
          />
        </v-col>

        <v-col
          cols="12"
          md="6"
        >
          <TextField
            :field="fields.tel_no"
          />
        </v-col>
        <v-col
          cols="12"
          md="6"
        >
          <TextField
            :field="fields.fax_no"
          />
        </v-col>
      </v-row>
      <slot name="footer" />
    </v-container>
  </v-form>
</template>

<script>
import {contractorTypes} from '@/consts/contractors'
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ContractorForm',
  props: {
    fields: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      countries: [],
      contractorTypes: contractorTypes,
    }
  },
  async created() {
    try {
      const {countries} = await import('@/consts/countries');
      this.countries = countries;
    } catch (e) {
      console.log(e)
    }
  },
  methods: {
    onSubmit(e) {
      this.$emit('onsubmit', e)
    },
  }
}
</script>
