<template>
  <v-dialog
    v-model="showCreateForm"
    max-width="820px"
  >
    <template v-slot:activator="{ on }">
      <CoreButton
        class="m-0"
        color="success"
        depressed
        v-on="on"
      >
        <v-icon>mdi-plus</v-icon>
        Add
      </CoreButton>
    </template>
    <v-card>
      <v-container>
        <v-card-title>
          <span class="headline">Create Contractor</span>
        </v-card-title>

        <ContractorForm
          :fields="createFormFields"
          @onsubmit="handleOnSubmit"
        >
          <template slot="footer">
            <v-card-actions>
              <v-spacer />
              <CoreButton
                :loading="formIsLoading"
                :disabled="!formIsDirty || !formIsValid"
                class="mr-3"
                color="info"
                type="submit"
              >
                Create
              </CoreButton>
              <CoreButton
                color="neutral"
                rounded
                @click="closeCreateForm"
              >
                Cancel
              </CoreButton>
            </v-card-actions>
          </template>
        </ContractorForm>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<script>
import ContractorForm from './ContractorForm';
import {delay} from '@/utils';
import {contractorDetails} from '../stores/contractorDetails';
import {contractorTableList} from '../stores/contractorTableList';

export default {
  name: 'CreateContractorForm',
  components: {ContractorForm},
  data() {
    return {
      showCreateForm: false,
    }
  },
  computed: {
    createFormFields() {
      return contractorDetails.createContractorForm.getFields()
    },
    formIsLoading() {
      return contractorDetails.createContractorForm.isLoading.get()
    },
    formIsValid() {
      return contractorDetails.createContractorForm.isValid()
    },
    formIsDirty() {
      return contractorDetails.createContractorForm.isDirty()
    },
  },
  methods: {
    closeCreateForm() {
      this.showCreateForm = false;
    },
    async handleOnSubmit() {
      try {
        await contractorDetails.createContractorForm.submit();
        await delay(300);
        this.showCreateForm = false;
        contractorDetails.createContractorForm.resetForm();

        // fetch new list
        await contractorTableList.fetchData();
      } catch (e) {}
    }
  }
};
</script>
