<template>
  <StoreInjector :store="stores">
    <router-view/>
  </StoreInjector>
</template>

<script>
import {exampleForm} from '@/modules/Examples/stores/exampleForm';
import {exampleNestedForm} from '@/modules/Examples/stores/exampleNestedForm';

export default {
  name: 'ExamplePage',
  data() {
    return {
      stores: [
        exampleForm,
        exampleNestedForm,
      ]
    }
  }
}
</script>
