<template>
  <v-container fill-height>
    <v-form @submit.prevent="submit">
      <v-btn
        to="/examples/form/nested"
        class="mb-3"
      >
        Try Nested Form
      </v-btn>

      <v-row
        justify-center
        wrap
      >
        <v-col md="12">
          <v-row>
            <v-col md="2">
              Form Data:
            </v-col>
            <v-col>
              <VueJsonPretty
                :data="formData"
              />
            </v-col>
          </v-row>
        </v-col>

        <v-col
          md="12"
          layout
          wrap
        >
          <v-col md="6">
            <TextField :field="formFields.name" />
          </v-col>
          <v-col md="6">
            <Combobox
              :items="clientNames"
              :field="formFields.client"
            />
          </v-col>
          <v-col md="12">
            <TextField
              :field="formFields.status"
            />
          </v-col>
          <v-col md="12">
            <MoneyInput
              :field="formFields.contract_sum"
            />
          </v-col>
        </v-col>
      </v-row>
      <v-btn type="submit">
        Submit
      </v-btn>
    </v-form>
  </v-container>
</template>

<!--suppress JSUnusedGlobalSymbols -->
<script>
import VueJsonPretty from 'vue-json-pretty'
import {exampleForm} from './stores/exampleForm';

export default {
  components: {VueJsonPretty},
  data() {
    return {
      clientNames: ['Client A', 'Client B', 'Client C']
    }
  },
  computed: {
    formFields() {
      return exampleForm.fields.get();
    },
    formData() {
      return exampleForm.formData();
    },
  },
  methods: {
    submit() {
      exampleForm.submit();
    }
  }
}
</script>
