<template>
  <div>
    <v-breadcrumbs
      divider="/"
      :items="links"
    >
      <template v-slot:item="{item, index}">
        <v-breadcrumbs-item
          :to="item.to"
          active-class=""
          exact-active-class="v-breadcrumbs__item--disabled"
        >
          {{ titles[index] || item.text }}
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>
  </div>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
import {get, each} from 'lodash';
import {convertToTemplate} from '../../utils/router';

// page title that could be from API
const asyncTitleWatchers = {};

/**
 * over engineered, will be back.
 */
export default {
  name: 'Breadcrumb',
  data() {
    return {
      links: [],
      titles: [],
    }
  },
  watch: {
    $route() {
      // dispose all watchers
      this.disposeWatchers();

      // reset titles
      this.titles = [];

      const context = this;
      this.links = this.$route.matched.map((route, index) => {
        return context.routeFormatter(route, index)
      })
    },
  },
  methods: {
    createWatcher(stateName, index) {
      asyncTitleWatchers[stateName] = this.$store.watch(
        () => this.$store.getters[stateName],
        (newTitle) => {
          if (newTitle) {
            // dispose watcher
            asyncTitleWatchers[stateName]();

            this.titles = [
              ...this.titles,
            ];
            this.titles[index] = newTitle;
          }
        });
    },
    disposeWatchers() {
      each(asyncTitleWatchers, function(watcher) {
        watcher()
      })
    },
    routeFormatter(route, index) {
      const asyncTitle = get(route, 'meta.asyncTitle');
      let title = route.meta.title || route.name;

      // register to watch over asyncTitle changes
      if (asyncTitle) {
        const stateName = asyncTitle();
        title = this.$store.getters[stateName];
        this.createWatcher(stateName, index);
      }

      this.titles[index] = title;

      return {
        text: title,
        to: convertToTemplate(route.redirect || route.path)(this.$route.params)
      }
    },
  }
}
</script>
