<template>
  <v-menu
    offset-y
    nudge-top="-20"
    absolute
    right
    close-on-content-click
  >
    <template v-slot:activator="{ on }">
      <div
        class="d-flex align-center cursor-pointer"
        v-on="on"
      >
        <template v-if="userDetailsIsLoading">
          <v-progress-circular
            slot="progress"
            color="blue"
            indeterminate
            size="16"
            width="2"
          />
        </template>
        <template v-else>
          <p class="mb-0 ml-2">
            {{ userName }}
          </p>
        </template>
        <v-btn
          class="ml-1 toolbarMenuIcon"
          color="primary--text"
          icon
          rounded
          x-small
          v-bind="$attrs"
        >
          <v-icon size="18">
            mdi-dots-vertical
          </v-icon>
        </v-btn>
      </div>
    </template>
    <v-list>
      <v-list-item
        v-for="(item, index) in navigation"
        :key="index"
        :to="item.to"
      >
        <v-list-item-title :class="`${item.color}--text`">
          {{ item.title }}
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<style scoped lang="scss">
  .toolbarMenuIcon {
    width: 24px;
    height: 24px;
  }
</style>

<script>
import {auth} from '@/stores/auth'
export default {
  name: 'ToolbarRightMenu',
  data() {
    return {
      navigation: [
        {
          title: 'Change password',
          to: '/profile/change-password'
        },
        {
          title: 'Logout',
          color: 'error',
          to: '/logout'
        },
      ]
    }
  },
  computed: {
    userDetailsIsLoading() {
      return auth.userDetails.isLoading.get();
    },
    userName() {
      const userName = auth.userDetails.getUserName();
      if (userName) {
        return 'Welcome, ' + userName
      }

      return '';
    }
  }
};
</script>
