<template>
  <div>
    <v-row
      v-for="(value, key) in overdueValues"
      :key="key"
      align="center"
    >
      <v-col class="py-0">
        <v-chip
          class="cardChip elevation-0"
          :class="getChipClass(key)"
          pill

          @click="!overdueType(key) && $emit('click', key)"
        >
          {{ filterList[key].label }}
        </v-chip>
      </v-col>
      <v-col class="py-0 text-right">
        <h4 class="text-no-wrap">
          {{ value | toCurrencyValue }}
        </h4>
      </v-col>
    </v-row>
  </div>
</template>

<style lang="scss" scoped>
  .cardChip {
    min-width: 120px;

    :global(.v-chip__content) {
      cursor: pointer;
      text-align: center;
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
</style>

<script>
import {dashboardOverdue} from '../stores/dashboardOverdue';

export default {
  name: 'CardFilterList',
  props: {
    listType: {
      type: String,
      required: true,
    },
    isLoading: {
      type: Boolean,
      default: false,
    },
    filterList: {
      type: Object,
      default() {
        return {}
      }
    },
    overdueValues: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  computed: {
    getChipClass() {
      return function(overdueType) {
        return {
          'blue lighten-5 blue--text': this.overdueType(overdueType),
        }
      }
    }
  },
  methods: {
    overdueType(overdueType) {
      const payload = dashboardOverdue.overduePayload.get();

      return this.listType === payload.listType && payload.overdueType === overdueType;
    },
  },
}
</script>
