<template>
  <div
    v-sticky
    class="dashboard-filter-sticky mb-0 py-2"
    sticky-z-index="zIndex"
  >
    <h4 class="pt-2 m-0 mr-2">
      Welcome,
    </h4>
    <h4
      v-if="disableProjectManagerSelection"
      class="pt-2 m-0 mr-2"
    >
      {{ userName }}
    </h4>
    <span v-else>
      <v-select
        :value="selectedProjectManager"
        flat
        solo
        small
        clearable
        hide-details
        class="projectManagerSelect"
        item-text="name"
        item-value="id"
        placeholder="All project managers"
        :items="projectManagerList"
        @change="handleOnProjectManagerChange"
      />
    </span>
    <v-col
      v-if="withDateFilter"
      class="ml-auto datePickerWrapper py-0 d-flex align-center"
    >
      <span class="m-0 mr-2 text-nowrap">Due Date: </span>
      <DatePicker
        flat
        solo
        hide-details
        close-on-content-click
        prepend-inner-icon="mdi-calendar-today"
        :max="today"
        :value="dateFilterInput | date"
        @change="handleOnFilterDateChange"
      />
    </v-col>
    <v-col
      v-else
      class="ml-auto"
    />
  </div>
</template>

<style lang="scss" scoped>

  .projectManagerSelect {
    flex: 0 0 220px;

    :global(.v-input__control) {
      min-height: 36px !important;
    }
    :global(.v-select__selection) {
      margin: 5px 5px 0 0 !important;
    }
  }
  .datePickerWrapper {
    flex: 0 0 250px;

    :global(.v-input__control) {
      min-height: 36px !important;
    }
  }
  .dashboard-filter-sticky {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--global-background-color);
  }

  .dashboard-filter-sticky.top-sticky {
    box-shadow: 0 10px 10px -7px rgba(0, 0, 0, 0.1);
  }
</style>

<script>
import {filter} from 'lodash';
import DatePicker from '@/components/DatePicker';
import {date} from '@nixel/base/filters/datetime';
import {projectManagerList} from '../stores/projectManagerList';
import {dashboardFilter, defaultDate} from '../stores/dashboardFilter';
import {dashboardOverdue} from '../stores/dashboardOverdue';
import {dashboardPayments} from '../stores/dashboardPayments';
import {auth} from '@/stores/auth';

export default {
  name: 'DashboardFilter',
  components: {DatePicker},
  props: {
    withDateFilter: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      defaultDate,
      zIndex: 20,
    }
  },
  computed: {
    today() {
      return date(new Date())
    },
    roles() {
      return auth.userDetails.getCurrentRoles();
    },
    userName() {
      return auth.userDetails.getUserName();
    },
    dateFilterInput() {
      return dashboardFilter.dateFilter.get()
    },
    selectedProjectManager() {
      return dashboardFilter.projectManager.get()
    },
    projectManagerList() {
      return projectManagerList.data.get()
    },
    disableProjectManagerSelection() {
      return filter(this.roles, (o) => { return o.id === 4 }).length > 0;
    }
  },
  mounted() {
    projectManagerList.fetchData()
  },
  methods: {
    updatePaymentList() {
      if (dashboardPayments.thisMonthPayments.isRequested.get()) {
        // update this month payments
        dashboardPayments.thisMonthPayments.query.update(dashboardFilter.thisMonthQuery());
        dashboardPayments.thisMonthPayments.fetchData();
      }

      if (dashboardPayments.nextMonthPayments.isRequested.get()) {
        // update next month payments
        dashboardPayments.nextMonthPayments.query.update(dashboardFilter.nextMonthQuery());
        dashboardPayments.nextMonthPayments.fetchData();
      }
    },
    handleOnProjectManagerChange(newValue) {
      dashboardFilter.projectManager.assign(newValue);

      switch (this.$route.path) {
        case '/cashflow':
          dashboardFilter.fetchProjectList();
          dashboardFilter.fetchProjectedSummaryData();

          this.updatePaymentList();
          break;
        case '/overdue-invoices':
          const selectedList = dashboardOverdue.selectedTableStore();
          // summary
          dashboardOverdue.query.update({
            project_manager: newValue,
          });
          dashboardOverdue.fetchData();

          // invoices / expenses list
          selectedList.query.update({
            project_manager: newValue,
          });
          selectedList.fetchData();
          break;
      }
    },
    handleOnFilterDateChange(selectedDate) {
      dashboardFilter.setDate(selectedDate);

      dashboardFilter.fetchProjectList();
      dashboardFilter.fetchProjectedSummaryData();

      this.updatePaymentList();
    }
  }
};
</script>
