<template>
  <v-card
    v-bind="$attrs"
    class="projectListTable"
    flat
  >
    <TableList
      :columns="tableColumns"
      :loading="loading"
      :list="list"
      :table-prop="tableProp"
      :elevation="0"

      border
      has-filter-columns
      :selected-columns="selectedColumns"

      hide-default-footer
      expandable-handle
      item-key="uuid"

      @change-sort="handleOnSortChange"
      @expanded="handleOnExpand"
    >
      <template
        slot="name"
        slot-scope="prop"
      >
        <router-link
          :to="`/projects/${prop.item.uuid}`"
          class="text-truncate text-underline grey--text text--darken-3 d-block"
          style="max-width: 100px;"
        >
          {{ prop.item.name }}
        </router-link>
      </template>

      <template
        slot="cashflow_nett_in_period"
        slot-scope="prop"
      >
        <CoreTooltip bottom>
          <template v-slot:default>
            <span
              :class="`nettCashFlowColumn ${ prop.item.cashflow_nett_in_period >= 0 ? 'blue--text' : 'red--text' }`"
              class="text-nowrap"
            >
              {{ prop.item.cashflow_nett_in_period | toCurrencyValue }}
            </span>
          </template>
          <template v-slot:content>
            <NettCashFlowTooltip :row-props="prop" />
          </template>
        </CoreTooltip>
      </template>

      <template
        slot="progress_diff"
        slot-scope="prop"
      >
        <CoreTooltip
          bottom
          allow-overflow
        >
          <template v-slot:default>
            <span>
              <TextGlow only-hover>
                <span :class="`marginColumn ${ prop.item.progress_diff >= 0 ? 'green--text' : 'red--text' }`">
                  {{ prop.item.progress_diff | toPercent }}
                </span>
              </TextGlow>
              <span class="ml-1">
                <v-icon
                  v-if="prop.item.progress_diff >= 0"
                  small
                  color="success"
                >mdi-thumb-up</v-icon>
                <v-icon
                  v-else
                  small
                  color="error"
                >mdi-thumb-down</v-icon>
              </span>
            </span>
          </template>
          <template v-slot:content>
            <ProgressDiffTooltip :row-props="prop" />
          </template>
        </CoreTooltip>
      </template>

      <template
        slot="current_margin"
        slot-scope="prop"
      >
        <CoreTooltip
          bottom
          allow-overflow
        >
          <template v-slot:default>
            <span>
              <TextGlow only-hover>
                <span :class="`marginColumn ${ prop.item.current_margin > 0 ? 'green--text' : 'red--text' }`">
                  {{ prop.item.current_margin | toPercent }}
                </span>
              </TextGlow>
              <span class="ml-1">
                <v-icon
                  v-if="prop.item.current_margin > 0"
                  small
                  color="success"
                >mdi-thumb-up</v-icon>
                <v-icon
                  v-else
                  small
                  color="error"
                >mdi-thumb-down</v-icon>
              </span>
            </span>
          </template>
          <template v-slot:content>
            <CurrentMarginTooltip :row-props="prop" />
          </template>
        </CoreTooltip>
      </template>

      <template
        slot="cashflow_margin_in_period"
        slot-scope="prop"
      >
        <CoreTooltip
          bottom
          allow-overflow
        >
          <template v-slot:default>
            <span>
              <template v-if="prop.item.cashflow_margin_in_period === 0">
                {{ prop.item.cashflow_margin_in_period | toPercent }}
              </template>
              <template v-else>
                <TextGlow only-hover>
                  <span :class="`marginColumn ${ prop.item.cashflow_margin_in_period > 0 ? 'green--text' : 'red--text' }`">
                    {{ prop.item.cashflow_margin_in_period | toPercent }}
                  </span>
                </TextGlow>
                <span class="ml-1">
                  <v-icon
                    v-if="prop.item.cashflow_margin_in_period > 0"
                    small
                    color="success"
                  >mdi-thumb-up</v-icon>
                  <v-icon
                    v-else
                    small
                    color="error"
                  >mdi-thumb-down</v-icon>
                </span>
              </template>
            </span>
          </template>
          <template v-slot:content>
            <CashflowMarginTooltip :row-props="prop" />
          </template>
        </CoreTooltip>
      </template>

      <template
        slot="profit_margin"
        slot-scope="prop"
      >
        <CoreTooltip
          bottom
          allow-overflow
        >
          <template v-slot:default>
            <span>
              <TextGlow only-hover>
                <span :class="`marginColumn ${ prop.item.profit_margin > 0 ? 'green--text' : 'red--text' }`">
                  {{ prop.item.profit_margin | toPercent }}
                </span>
              </TextGlow>
              <span class="ml-1">
                <v-icon
                  v-if="prop.item.profit_margin > 0"
                  small
                  color="success"
                >mdi-thumb-up</v-icon>
                <v-icon
                  v-else
                  small
                  color="error"
                >mdi-thumb-down</v-icon>
              </span>
            </span>
          </template>
          <template v-slot:content>
            <ProfitMarginTooltip :row-props="prop" />
          </template>
        </CoreTooltip>
      </template>

      <template
        slot="projected_margin"
        slot-scope="prop"
      >
        <CoreTooltip
          bottom
          allow-overflow
        >
          <template v-slot:default>
            <span>
              <TextGlow only-hover>
                <span :class="`marginColumn ${ prop.item.projected_margin > 0 ? 'green--text' : 'red--text' }`">
                  {{ prop.item.projected_margin | toPercent }}
                </span>
              </TextGlow>
              <span class="ml-1">
                <v-icon
                  v-if="prop.item.projected_margin > 0"
                  small
                  color="success"
                >mdi-thumb-up</v-icon>
                <v-icon
                  v-else
                  small
                  color="error"
                >mdi-thumb-down</v-icon>
              </span>
            </span>
          </template>
          <template v-slot:content>
            <ProjectedMarginTooltip :row-props="prop" />
          </template>
        </CoreTooltip>
      </template>

      <template
        slot="work_certified_margin"
        slot-scope="prop"
      >
        <CoreTooltip
          bottom
          allow-overflow
        >
          <template v-slot:default>
            <span>
              <TextGlow only-hover>
                <span :class="`marginColumn ${ prop.item.work_certified_margin > 0 ? 'green--text' : 'red--text' }`">
                  {{ prop.item.work_certified_margin | toPercent }}
                </span>
              </TextGlow>
              <span class="ml-1">
                <v-icon
                  v-if="prop.item.work_certified_margin > 0"
                  small
                  color="success"
                >mdi-thumb-up</v-icon>
                <v-icon
                  v-else
                  small
                  color="error"
                >mdi-thumb-down</v-icon>
              </span>
            </span>
          </template>
          <template v-slot:content>
            <WorkCertifiedMarginTooltip :row-props="prop" />
          </template>
        </CoreTooltip>
      </template>

      <template
        slot="expand"
        slot-scope="prop"
      >
        <DashboardProjectDetails :project="prop.item" />
      </template>
    </TableList>
  </v-card>
</template>

<style lang="scss" scoped>
  .projectListTable {
    margin-bottom: 120px;
  }

  .marginColumn,
  .nettCashFlowColumn {
    font-weight: 500;
    font-size: 14px;
  }
</style>

<script>
import {dashboardProjectList} from '../stores/dashboardProjectList';
import {dashboardProjectDetails} from '../stores/dashboardProjectDetails';
import DashboardProjectDetails from './DashboardProjectDetails';
import {dashboardFilter} from '../stores/dashboardFilter';
import ProgressDiffTooltip from '../../../components/tooltips/ProgressDiffTooltip';
import NettCashFlowTooltip from '../../../components/tooltips/NettCashFlowTooltip';
import ProfitMarginTooltip from '../../../components/tooltips/ProfitMarginTooltip';
import CashflowMarginTooltip from '../../../components/tooltips/CashflowMarginTooltip';
import CurrentMarginTooltip from '../../../components/tooltips/CurrentMarginTooltip';
import WorkCertifiedMarginTooltip from '../../../components/tooltips/WorkCertifiedMarginTooltip';
import ProjectedMarginTooltip from '@/components/tooltips/ProjectedMarginTooltip';

export default {
  name: 'DashboardProjectListTable',
  components: {
    DashboardProjectDetails,
    ProgressDiffTooltip,
    NettCashFlowTooltip,
    ProfitMarginTooltip,
    CashflowMarginTooltip,
    CurrentMarginTooltip,
    WorkCertifiedMarginTooltip,
    ProjectedMarginTooltip,
  },
  computed: {
    tableProp() {
      return dashboardProjectList.tableProp()
    },
    list() {
      return dashboardProjectList.data.get()
    },
    tableColumns() {
      return dashboardProjectList.tableColumns.get()
    },
    selectedColumns() {
      return dashboardProjectList.selectedColumns.get()
    },
    loading() {
      return dashboardProjectList.isLoading.get()
    },
  },
  methods: {
    handleOnSortChange(header, newQuery, sortedList) {
      dashboardProjectList.query.update({
        sort: newQuery.sort,
        order: newQuery.order,
      });

      dashboardProjectList.data.assign(sortedList)
    },
    handleOnExpand(expanded, prop) {
      if (!expanded) {
        dashboardProjectDetails.invoiceList.resetAll();
        dashboardProjectDetails.expensesList.resetAll();

        return
      }

      dashboardProjectDetails.invoiceList.fetchData({
        ...dashboardFilter.paymentDateQuery(),
        uuid: prop.item.uuid
      });

      dashboardProjectDetails.expensesList.fetchData({
        ...dashboardFilter.paymentDateQuery(),
        uuid: prop.item.uuid
      });
    },
  }
};
</script>
