<template>
  <v-row>
    <div class="ml-auto">
      <TableExportExcelButton
        :disabled="projects.length === 0"
        :get-excel-data="getExcelData"
        :filename="excelName"
      />
      <DashboardColumnSelect
        class="mr-0"
      />
    </div>
  </v-row>
</template>

<script>
import {dashboardProjectList} from '../stores/dashboardProjectList';
import DashboardColumnSelect from './DashboardColumnSelect';
import {dashboardFilter} from '../stores/dashboardFilter';
import {datetimeShort} from '@nixel/base/filters/datetime';

export default {
  name: 'DashboardProjectActions',
  components: {DashboardColumnSelect},
  computed: {
    excelName() {
      return `dashboard_projects_${dashboardFilter.dateFilter.get()}_${datetimeShort(new Date())}.xlsx`;
    },
    projects() {
      return dashboardProjectList.filteredList();
    },
  },
  methods: {
    getExcelData() {
      return dashboardProjectList.listMappedWithColumnLabel();
    },
  }
}
</script>
