<template>
  <div class="d-flex flex-column graph-wrapper">
    <div class="d-flex">
      <div class="y-axis">
        <div class="inner-arrow">
          <div class="arrow-up" />
        </div>
        <div class="y-axis-label">
          <!--y Axis-->
          <span class="y-axis-label--inner">
            Duration Variance
          </span>
        </div>
      </div>
      <div class="quadrant-wrapper">
        <v-chart
          class="magic-quadrant-canvas"
          :options="magicQuadrant"
          autoresize
          @click="quadrantClick"
        />
        <div class="quadrant-text-1">
          <div>Code red</div>
        </div>
        <div class="quadrant-text-2">
          <div>Healthy</div>
        </div>
        <div class="quadrant-text-3">
          <div>Critical</div>
        </div>
        <div class="quadrant-text-4">
          <div>Requires attention</div>
        </div>
      </div>
    </div>
    <div class="x-axis">
      <span class="x-axis-label">
        <!-- x Axis-->
        <span class="x-axis-label--inner">
          Cashflow Margin
        </span>
      </span>
      <div class="inner-arrow">
        <div class="arrow-right" />
      </div>
    </div>
    <v-dialog
      v-model="showProjectModal"
      max-width="920px"
      min-height="400px"
    >
      <RoundedCard>
        <v-container>
          <v-card-title
            class="headline pb-0"
            primary-title
          >
            <span>
              Project Performance Report for {{ projectDetailsData.name }}
            </span>
          </v-card-title>
          <v-card-text>
            <v-row
              v-if="modalIsLoading"
              class="ma-5 justify-center align-center"
            >
              <v-progress-circular
                size="50"
                color="primary"
                indeterminate
              />
            </v-row>
            <v-row
              v-else
              no-gutters
            >
              <v-row
                class="align-center"
                justify="center"
                no-gutters
              >
                <div class="mini-quadrant-wrapper">
                  <div
                    class="mini-quadrant"
                    :style="`background-color: ${miniQuadrant.q1 ? variables.quad1colorb : ''}`"
                  />
                  <div
                    class="mini-quadrant"
                    :style="`background-color: ${miniQuadrant.q2 ? variables.quad2color : ''}`"
                  />
                  <div
                    class="mini-quadrant"
                    :style="`background-color: ${miniQuadrant.q3 ? variables.quad3color : ''}`"
                  />
                  <div
                    class="mini-quadrant"
                    :style="`background-color: ${miniQuadrant.q4 ? variables.quad4colorb : ''}`"
                  />
                </div>
              </v-row>
              <ProjectDetailsSummary />
              <h4>Periodic Cashflow Performance</h4>
              <TableList
                :columns="cashflowPerformanceColumns"
                :loading="false"
                :list="cashflowPerformance"
                :elevation="0"

                border
                hide-default-footer
                item-key="uuid"
              />
            </v-row>
          </v-card-text>
        </v-container>
      </RoundedCard>
    </v-dialog>
  </div>
</template>

<style lang="scss" scoped>
  $axis-length: 650px;
  $quadrant-length: 300px;
  $magic-quadrant-length: $quadrant-length * 2;
  $arrow-color: #98a2aa;
  $panel-bg-color: #9da0a3;

  .mini-quadrant-wrapper {
    border: 1px solid transparent;
    width: 100px;
    height: 100px;
    display: flex;
    flex-flow: row wrap;

    .mini-quadrant {
      width: 50%;
      height: 50%;
      background-color: lightgrey;
      border: 1px solid white;
    }
  }

  .graph-wrapper {
    padding: 10px;
    max-width: fit-content;
    flex: 0 0 auto !important;
  }
  .magic-quadrant-title {
    text-align: center;
  }

  .quadrant-wrapper {
    margin: 40px 40px 10px 10px;
    position: relative;
  }

  .quadrant-text-1,
  .quadrant-text-2,
  .quadrant-text-3,
  .quadrant-text-4 {
    position: absolute;
    width: $quadrant-length;
    font-size: 12px;
    height: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 7px 0;

    div {
      flex-shrink: 1;
      height: 20px;
      background-color: $panel-bg-color;
      border-radius: 5px;
      color: white;
      padding: 2px 10px;
    }
  }
  .quadrant-text-2,
  .quadrant-text-4 {
    right: 0;
  }
  .quadrant-text-1,
  .quadrant-text-3 {
    right: $quadrant-length;
  }
  .quadrant-text-1,
  .quadrant-text-2 {
    top: 0;
  }
  .quadrant-text-3,
  .quadrant-text-4 {
    bottom: 0;

    div {
      margin-top: -20px;
    }
  }

  .magic-quadrant-canvas {
    display: flex;
    width: $magic-quadrant-length !important;
    height: $magic-quadrant-length !important;
    border: 2px solid rgba(0,0,0,0.2)
  }

  .inner-arrow {
    background-color: $arrow-color;
  }
  .arrow-right,
  .arrow-up {
    border-color: $arrow-color;
  }

  .y-axis {
    display: flex;
    max-width: 30px;
    flex-direction: column-reverse;

    .inner-arrow {
      height: $axis-length;
      position: absolute;
      width: 5px;
      align-self: center;
      margin-top: 17px;
    }

    .arrow-up {
      width: 0;
      height: 0;
      margin-left: -5px;
      margin-top: -10px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 20px solid $arrow-color;
    }

    .y-axis-label {
      display: flex;
      height: $axis-length;
      align-items: center;
      justify-content: center;

      .y-axis-label--inner {
        transform: rotate(270deg);
        white-space: nowrap;
        background-color: $panel-bg-color;
        padding: 2px 10px;
        border-radius: 4px;
        color: white;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }

  .x-axis {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 13px;

    .inner-arrow {
      width: $axis-length;
      position: absolute;
      height: 5px;
      align-self: center;
    }

    .arrow-right {
      width: 0;
      height: 0;
      align-self: flex-end;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 20px solid $arrow-color;
      margin-top: -5px;
      margin-left: auto;
      margin-right: -10px;
    }

    .x-axis-label {
      width: $axis-length;
      text-align: center;
      z-index: 10;

      .x-axis-label--inner {
        background-color: $panel-bg-color;
        padding: 4px 10px;
        border-radius: 4px;
        color: white;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
</style>

<script>
import {forEach} from 'lodash'
import ECharts from 'vue-echarts'
import 'echarts/lib/chart/line'
import 'echarts/lib/component/polar'
import {projectDetails} from '../../Projects/stores/projectDetails'
import ProjectDetailsSummary from '../../Projects/components/projectDetails/ProjectDetailsSummary'

export default {
  name: 'MagicQuadrant',
  components: {
    'v-chart': ECharts,
    ProjectDetailsSummary
  },
  props: {
    data: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      showProjectModal: false,
      modalIsLoading: false,
      variables: {
        quad1color: 'rgba(240,242,242,1)',
        quad2color: 'rgb(216,230,209)',
        quad3color: 'rgb(250,227,227)',
        quad4color: 'rgba(240,242,242,1)',
        quad1colorb: 'rgb(226,243,194)',
        quad4colorb: 'rgb(226,243,194)',
      },
      miniQuadrant: {
        q1: false,
        q2: false,
        q3: false,
        q4: false,
      },
      magicQuadrant: {
        tooltip: {
          show: true,
          formatter: function(p) {
            return `<strong>${p.data.name}</strong></br>Duration Variance: ${p.data.value[1]}</br>Cashflow Margin: ${p.data.value[0]}`;
          },
        },
        xAxis: {
          min: -100,
          max: 100,
          axisLine: true,
          splitLine: {
            show: false,
          },
        },
        yAxis: {
          min: -100,
          max: 100,
          axisLine: true,
          splitLine: {
            show: false,
          },
        },
        series: [{
          type: 'scatter',
          data: this.data,
          label: {
            show: false,
            position: 'bottom',
            formatter: function(p) {
              return `${p.data.name}`;
            },
            fontSize: 10,
          },
          itemStyle: {
            color: '#337acd',
          },
        }],
        graphic: {
          type: 'group',
          rotation: 0,
          bounding: 'raw',
          left: 'center',
          top: 'center',
          z: 100,
          children: [
            {
              type: 'rect',
              left: -1,
              top: -500,
              z: 1,
              shape: {
                width: 2,
                height: 1000,
              },
              style: {
                fill: 'rgba(0,0,0,0.2)'
              }
            },
            {
              type: 'rect',
              left: -500,
              top: -1,
              z: 1,
              shape: {
                width: 1000,
                height: 2,
              },
              style: {
                fill: 'rgba(0,0,0,0.2)'
              }
            },
            {
              type: 'rect',
              left: -500,
              top: -500,
              z: 0,
              shape: {
                width: 1000,
                height: 1000,
              },
              style: {
                fill: 'rgba(255,255,255,0.0)'
              }
            },
            {
              type: 'rect',
              left: -500,
              top: -500,
              z: 0,
              shape: {
                width: 500,
                height: 500,
              },
              style: {
                fill: 'rgba(149,166,171,0.15)'
              }
            },
            {
              type: 'rect',
              left: 0,
              top: -500,
              z: 0,
              shape: {
                width: 500,
                height: 500,
              },
              style: {
                fill: 'rgba(149,166,171,0.15)'
              }
            },
            {
              type: 'rect',
              left: -500,
              top: 0,
              z: 0,
              shape: {
                width: 500,
                height: 500,
              },
              style: {
                fill: 'rgba(149,166,171,0.15)'
              }
            },
            {
              type: 'rect',
              left: 0,
              top: 0,
              z: 0,
              shape: {
                width: 500,
                height: 500,
              },
              style: {
                fill: 'rgba(149,166,171,0.15)'
              }
            },
          ]
        },
      }
    }
  },
  computed: {
    cashflowPerformance() {
      const cashIn = {type: 'Cashflow In'};
      const cashOut = {type: 'Cashflow Out'};
      const cashNett = {type: 'Cashflow Nett'};
      if (this.projectDetailsData.chart_data) {
        forEach(this.projectDetailsData.chart_data, (o) => {
          const monthCapitalized = o.month.charAt(0).toUpperCase() + o.month.slice(1);
          cashIn[monthCapitalized] = o.in;
          cashOut[monthCapitalized] = o.out;
          cashNett[monthCapitalized] = o.nett
        })
      }
      return [cashIn, cashOut, cashNett]
    },
    cashflowPerformanceColumns() {
      const columns = [
        {
          text: '',
          value: 'type',
          align: 'left',
          type: 'singleLine',
        },
      ];
      if (this.projectDetailsData.chart_data) {
        forEach(this.projectDetailsData.chart_data, (o) => {
          const monthCapitalized = o.month.charAt(0).toUpperCase() + o.month.slice(1);
          const monthCol = {
            text: monthCapitalized,
            value: monthCapitalized,
            type: 'currency',
            align: 'right',
          };
          columns.push(monthCol)
        })
      }
      return columns
    },
    projectDetailsData() {
      return projectDetails.data.get()
    }
  },
  watch: {
    data(newVal) {
      this.magicQuadrant.series[0].data = newVal
    },
    projectDetailsData() {
      this.computeMiniQuadrant()
    },
    cashflowPerformance() {
      console.log('cashflowperformance', this.cashflowPerformance)
    },
    cashflowPerformanceColumns() {
      console.log('cashflowperformancecolumns', this.cashflowPerformanceColumns)
    }
  },
  mounted() {
    this.magicQuadrant.graphic.children[3].style.fill = this.variables.quad1color;
    this.magicQuadrant.graphic.children[4].style.fill = this.variables.quad2color;
    this.magicQuadrant.graphic.children[5].style.fill = this.variables.quad3color;
    this.magicQuadrant.graphic.children[6].style.fill = this.variables.quad4color
  },
  methods: {
    quadrantClick(element) {
      if (element.hasOwnProperty('data') && element.data.hasOwnProperty('uuid')) {
        const no_of_months = 6;
        this.fetchProjectDetailsData(element.data.uuid, no_of_months);
        this.modalIsLoading = true;
        this.showProjectModal = true;
      }
    },
    async fetchProjectDetailsData(uuid, no_of_months) {
      try {
        projectDetails.query.set('uuid', uuid);
        projectDetails.query.set('no_of_months', no_of_months);
        await projectDetails.fetchData();
        this.modalIsLoading = false;
      } catch (e) {
        console.error(e);
        this.modalIsLoading = false;
      }
    },
    computeMiniQuadrant() {
      this.miniQuadrant.q1 = false;
      this.miniQuadrant.q2 = false;
      this.miniQuadrant.q3 = false;
      this.miniQuadrant.q4 = false;
      if (this.projectDetailsData.progress_diff < 0) {
        this.miniQuadrant.q1 = true;
        this.miniQuadrant.q3 = true
      } else {
        this.miniQuadrant.q2 = true;
        this.miniQuadrant.q4 = true
      }
      if (this.projectDetailsData.cashflow_margin < 0) {
        this.miniQuadrant.q1 = false;
        this.miniQuadrant.q2 = false
      } else {
        this.miniQuadrant.q3 = false;
        this.miniQuadrant.q4 = false
      }
    }
  },
}
</script>
