<template>
  <div v-bind="$attrs">
    <v-card
      class="header"
      :style="headerStyle"
    >
      <slot name="header">
        <v-row
          class="pt-3"
          no-gutters
        >
          <v-col>
            <v-card-title class="headerTitle py-0">
              <slot name="title" />
            </v-card-title>
          </v-col>
          <v-col>
            <slot name="header-actions" />
          </v-col>
        </v-row>
        <v-row no-gutters>
          <v-card-text class="pt-0 pb-3">
            <slot name="sub-title" />
          </v-card-text>
        </v-row>
      </slot>
    </v-card>
    <HelperOffset :offset="24">
      <v-card
        class="cardContent"
        elevation="0"
      >
        <v-card-text>
          <slot />
        </v-card-text>
      </v-card>
    </HelperOffset>
  </div>
</template>

<style lang="scss" scoped>
  .header {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
    color: white;
  }

  .headerTitle {
    font-size: 14px;
  }

  .cardContent {
    padding-top: 24px;
    border-radius: 10px;
  }
</style>

<script>
import {isArray} from 'lodash';
import tinygradient from 'tinygradient';

export default {
  name: 'OverflowHeaderCard',
  props: {
    headerBgColor: {
      type: [String, Array],
      default: '#4caf50'
    },
    titleColor: {
      type: String,
      default: ''
    },
    elevation: {
      type: [Number, String],
      default: 10
    },
  },
  computed: {
    headerStyle() {
      let color = '';
      if (isArray(this.headerBgColor)) {
        const gradient = tinygradient(this.headerBgColor);
        color = gradient.css()
      } else {
        color = this.headerBgColor;
      }

      return {
        background: color,
      };
    }
  }
}
</script>
