<template>
  <div class="overviewListContainer">
    <div class="text-center buttonContainer">
      <div class="breakDownButtonContainer">
        <CoreButton
          color="info"
          class="breakDownButton"
          @click="$emit('toggle', !showPayments)"
        >
          <v-icon v-if="!showPayments">
            mdi-chevron-right
          </v-icon>
          <v-icon v-else>
            mdi-chevron-down
          </v-icon>
          {{ !showPayments ? `Break Down` : `Hide Table` }}
        </CoreButton>
      </div>
    </div>

    <v-expand-transition>
      <v-card
        v-if="showPayments"
        elevation="0"
      >
        <v-row
          class="pr-2"
          justify="end"
        >
          <TableExportExcelButton
            :get-excel-data="getExcelData"
            :loading="downloadingList"
            :disabled="paymentListRequested && paymentListTableList.length === 0"
            class="action-item downloadButton"
            :filename="excelName"
          >
            <v-icon>mdi-download</v-icon>
            Export
          </TableExportExcelButton>
        </v-row>
        <v-card-text>
          <TableList
            :table-prop="paymentListTableProp"
            :loading="paymentListLoading"
            :columns="paymentListTableColumns"
            :list="paymentListTableList"
            :row-attrs="getPaymentsRowAttrs"
            hide-default-footer
            compact
            @change-sort="handleSortPaymentList"
          />
          <QueryPagination
            v-if="paymentListTableList.length > 0"
            :query="paymentListQuery"
            :total="paymentListPagination.total"
            @input="changePage"
          />
        </v-card-text>
      </v-card>
    </v-expand-transition>
  </div>
</template>

<style lang="scss" scoped>
  .overviewListContainer {
    width: 100%;
  }
  .buttonContainer {
    height: 55px;
  }
  .breakDownButtonContainer {
    width: 160px;
    left: calc(50% - 80px);
    position: absolute;
  }
  .downloadButton {
  }
</style>

<script>
import {isEmpty} from 'lodash';
import {getYear} from 'date-fns';
import {apiErrorNotification} from '@/utils/request';
import {datetimeShort} from '@nixel/base/filters/datetime';
import {projectManagerList} from '../stores/projectManagerList';
import {dashboardPayments} from '../stores/dashboardPayments';
import {dashboardFilter} from '../stores/dashboardFilter';

export default {
  name: 'OverviewPaymentList',
  components: {},
  props: {
    paymentList: {
      type: String,
      default: 'thisYearPayments', // thisYearPayments | thisMonthPayments | nextMonthPayments
    },
    showPayments: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      downloadingList: false,
    }
  },
  computed: {
    paymentListTableProp() {
      return dashboardPayments[this.paymentList].tableProp();
    },
    paymentListLoading() {
      return dashboardPayments[this.paymentList].isLoading.get();
    },
    paymentListRequested() {
      return dashboardPayments[this.paymentList].isRequested.get();
    },
    paymentListQuery() {
      return dashboardPayments[this.paymentList].query.get();
    },
    paymentListPagination() {
      return dashboardPayments[this.paymentList].pagination();
    },
    paymentListTableColumns() {
      return dashboardPayments[this.paymentList].tableColumns.get();
    },
    paymentListTableList() {
      return dashboardPayments[this.paymentList].data.get();
    },
    projectManager() {
      const selectedProjectManager = dashboardFilter.projectManager.get()

      return projectManagerList.data.get().find(item => item.id === selectedProjectManager);
    },
    excelName() {
      let dates;
      const projectManagerTemplate = isEmpty(this.projectManager) ? '' : `_${this.projectManager.name}`

      if (this.paymentList === 'thisYearPayments') {
        dates = getYear(new Date());
      } else if (this.paymentList === 'thisMonthPayments') {
        dates = `${dashboardFilter.dateFilter.get()}_to_${dashboardFilter.thisMonth.get().lastDayOfMonth}`;
      } else if (this.paymentList === 'nextMonthPayments') {
        dates = `${dashboardFilter.dateFilter.get()}_to_${dashboardFilter.nextMonth.get().lastDayOfMonth}`;
      }

      return `payments${projectManagerTemplate}_${dates}_${datetimeShort(new Date())}.xlsx`;
    },
  },
  methods: {
    async changePage(query) {
      dashboardPayments[this.paymentList].query.update(query);

      try {
        await dashboardPayments[this.paymentList].fetchData()
      } catch (e) {
        apiErrorNotification(e)
      }
    },
    getPaymentsRowAttrs(props) {
      let backgroundColor = '#f4ffe9';

      if (props.item.cash_flow === 'OUT') {
        backgroundColor = '#fdd9d9';
      }

      return {
        style: {
          backgroundColor
        }
      }
    },
    handleSortPaymentList(header, newQuery) {
      dashboardPayments[this.paymentList].query.update({
        sort: newQuery.sort,
        order: newQuery.order,
      });

      dashboardPayments[this.paymentList].fetchData();
    },
    async getExcelData() {
      try {
        this.downloadingList = true;
        const query = {
          ...dashboardPayments[this.paymentList].query.get(),
          page: undefined,
          limit: undefined,
        };
        const list = await dashboardPayments[this.paymentList].fetchDataWithoutUpdateStore(query);

        return dashboardPayments[this.paymentList].listMappedWithColumnLabel(list);
      } catch (e) {
        apiErrorNotification(e);
      } finally {
        this.downloadingList = false;
      }
    },
  }
}
</script>
