<template>
  <v-btn
    class="showAll"
    :class="btnClass"
    depressed
    rounded
    small
    dark
    v-bind="$attrs"
    v-on="$listeners"
  >
    Show All
  </v-btn>
</template>

<style lang="scss" scoped>
  .showAll:global(.theme--dark.v-btn.v-btn--depressed) {
    border: 1px solid transparent;
    background-color: rgba(black, 0.25);

    &:global(.showAllActive) {
      background-color: rgba(white, 0.35);
      border-color: white !important;
    }
  }
</style>

<script>
export default {
  name: 'ShowAllButton',
  props: {
    active: {
      type: Boolean,
      default: false,
    }
  },
  computed: {
    btnClass() {
      return {
        showAllActive: this.active
      }
    }
  }
}
</script>

