<template>
  <div>
    <template v-if="loading">
      <v-card-text class="summaryCardPlaceholder d-flex">
        <v-row
          align="center"
          justify="center"
          no-gutters
        >
          <v-progress-circular
            :size="50"
            color="primary"
            indeterminate
          />
        </v-row>
      </v-card-text>
    </template>
    <template v-else>
      <div
        v-sticky
        class="summaryCardStickyGradient"
        sticky-offset="offset"
        sticky-side="both"
        sticky-z-index="zIndex"
      >
        <v-row
          class="align-center pt-1 pb-3"
          no-gutters
        >
          <span class="summaryCardWrapper">
            <h3 class="my-0 mt-3">
              {{ title }}
            </h3>
            <span
              v-if="daysDifference"
              class="daysDifference ml-3 mt-1"
            >
              ({{ daysDifferenceFormatter }})
            </span>
          </span>
        </v-row>
      </div>
      <v-row>
        <v-col>
          <SummaryCardBlock
            main-title="Total Received"
            :main-value="totalReceived"
            tool-tip-title="Total Advanced Received"
            :tool-tip-value="totalAdvancedReceived"
            class="invoicesValues"
            currency-class="currencyClass"
            drill-down-currency-class="currencySmall"
            :drill-down-values="totalReceivedDrillDown"
          >
            <slot name="invoices-drillDown">
              <CoreButton
                rounded
                small
                color="info"
                @click="$emit('view-invoices')"
              >
                Details
              </CoreButton>
            </slot>
          </SummaryCardBlock>
        </v-col>
        <v-col>
          <SummaryCardBlock
            main-title="Pay Out"
            :main-value="totalPaid"
            tool-tip-title="Total Advanced Payment"
            :tool-tip-value="totalOverpaid"
            class="expensesValues"
            currency-class="currencyClass"
            drill-down-currency-class="currencySmall"
            :drill-down-values="totalPayoutDrillDown"
          >
            <slot name="expenses-drillDown">
              <CoreButton
                rounded
                small
                color="info"
                @click="$emit('view-expenses')"
              >
                Details
              </CoreButton>
            </slot>
          </SummaryCardBlock>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <SummaryCardRow
          main-title="Net Cashflow"
          :main-value="netCashflow"
          class="netCashflowValues"
          currency-class="currencyClass"
          drill-down-currency-class="currencySmall"
          :drill-down-values="netCashflowProjection"

          :payment-list-filter="paymentListFilter"
        />
      </v-row>
    </template>
    <slot />
  </div>
</template>

<style lang="scss" scoped>
  .summaryCardPlaceholder {
    min-height: 356px;
  }

  .summaryCard {
    :global(.currencyClass) {
      font-weight: bold;
    }
  }

  .summary-block-spacer {
    width: 30px;
  }

  .netCashflowValues {
    :global(.currencyClass:not(.negativeValue)) {
      color: var(--info-color);
    }
  }

  .invoicesValues {
    :global(.currencyClass:not(.negativeValue)) {
      color: var(--success-color);
    }
  }

  .expensesValues {
    :global(.currencyClass:not(.negativeValue)) {
      color: var(--danger-color);
    }
  }

  .daysDifference {
    font-size: 13px;
    color: #4b4b4b;
  }

  .summaryCardStickyGradient {
    transition: 0.1s;
    transition-timing-function: ease-in;
  }

  .summaryCardWrapper {
    display: flex;
    align-items: baseline;
    transition: 0.1s;
    transition-timing-function: ease-in;
    padding: 10px;
  }

  .summaryCardStickyGradient.top-sticky {
    .summaryCardWrapper {
      opacity: 0.875;
      background: var(--global-background-color);
      border-bottom-right-radius: 7px;
      box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.2);
    }
  }

</style>

<script>
import SummaryCardRow from './SummaryCardRow';
import SummaryCardBlock from './SummaryCardBlock';
import {monthAndDay} from '@nixel/base/filters/datetime';

export default {
  name: 'SummaryCard',
  components: {
    SummaryCardRow,
    SummaryCardBlock
  },
  props: {
    title: {
      type: String,
      default: '',
    },
    loading: {
      type: Boolean,
      default: false,
    },
    daysDifference: {
      type: String,
      default: '',
    },

    // Received
    totalReceived: {
      type: [Number, String],
      required: true,
    },
    totalInvoiced: {
      type: [Number, String],
      required: true,
    },
    totalReceivable: {
      type: [Number, String],
      required: true,
    },
    totalAdvancedReceived: {
      type: [Number, String],
      default: undefined,
    },
    // Pay Out
    totalPaid: {
      type: [Number, String],
      required: true,
    },
    totalPayable: {
      type: [Number, String],
      required: true,
    },
    totalExpenses: {
      type: [Number, String],
      required: true,
    },
    totalOverpaid: {
      type: [Number, String],
      default: undefined,
    },
    // Net cashflow
    netCashflow: {
      type: [Number, String],
      default: 0,
    },
    projectedCashflow: {
      type: [Number, String],
      default: 0,
    },

    // Payment list Filter
    paymentListFilter: {
      type: String,
      default: null,
      required: true
    },
    stickyAddOffset: {
      type: Number,
      default: 0,
      required: false,
    },
  },
  data() {
    return {
      offset: {top: this.stickyAddOffset, bottom: 0},
      zIndex: 10,
    }
  },
  computed: {
    totalPayoutDrillDown() {
      return {
        'Total Expenses': this.totalExpenses,
        'Total Payable': this.totalPayable,
      }
    },
    totalReceivedDrillDown() {
      return {
        'Total Invoiced': this.totalInvoiced,
        'Total Receivable': this.totalReceivable,
      }
    },
    netCashflowProjection() {
      return {
        'Projected Cashflow': this.projectedCashflow,
      }
    },
    daysDifferenceFormatter() {
      const days = this.daysDifference.split(' till ');
      const startDate = monthAndDay(new Date(days[0]));
      const endDate = monthAndDay(new Date(days[1]));
      console.log(startDate, endDate);
      return `${startDate} till ${endDate}`
    }
  }
};
</script>
