<template>
  <CoreTooltip
    max-width="220"
    left
  >
    <template v-slot:default>
      <v-row
        class="align-center justify-end"
      >
        <v-icon class="mr-2">
          mdi-information
        </v-icon>
        <v-spacer />
        <span class="writeOffAmount">{{ item[columnValue] | toCurrencyValue }}</span>
      </v-row>
    </template>
    <template v-slot:content>
      <v-row column>
        <v-col>
          <span><strong>Write Off Date:</strong></span>
        </v-col>
        <v-col>
          <span>{{ item.write_off_date | date }}</span>
        </v-col>
        <v-col>
          <span><strong>Write Off Reason:</strong></span>
        </v-col>
        <v-col>
          <p class="writeOffReason">
            {{ item.write_off_reason }}
          </p>
        </v-col>
      </v-row>
    </template>
  </CoreTooltip>
</template>

<script>
export default {
  name: 'WriteOffTooltip',
  props: {
    item: {
      type: Object,
      required: true,
    },
    columnValue: {
      type: String,
      required: true,
    }
  },
}
</script>

<style scoped>
  .writeOffAmount {
    text-decoration: line-through;
  }

  .writeOffReason {
    word-wrap: break-word;
  }
</style>

