<template>
  <div>
    <TableList
      :list="contractorList"
      :columns="columns"
      :selected-columns="selectedColumns"
      :selected-rows="selectedRows"
      :table-prop="tableProp"
      :loading="isLoading"
      :action-column="{
        text: 'Actions',
        value: 'actions',
        align: 'center',
        width: '80px'
      }"
      :elevation="0"
      border
      item-key="uuid"
      hide-default-footer
      single-expand
      selectable-rows
      @change-sort="changeSort"
      @row-selected="handleRowSelection"
      @expanded="onExpand"
    >
      <!-- Expand -->
      <template
        slot="expand"
        slot-scope="prop"
      >
        <div>
          <v-card flat>
            <v-card-text>
              <ContractorForm
                :fields="updateFormFields"
                @onsubmit="handleOnSubmit(prop)"
              >
                <template slot="footer">
                  <v-row>
                    <v-spacer />
                    <CoreButton
                      :loading="formIsLoading"
                      :disabled="!formIsValid"
                      class="mr-3"
                      color="info"
                      type="submit"
                    >
                      Update
                    </CoreButton>
                    <CoreButton
                      color="neutral"
                      @click="resetForm"
                    >
                      Reset
                    </CoreButton>
                  </v-row>
                </template>
              </ContractorForm>
            </v-card-text>
          </v-card>
        </div>
      </template>

      <!-- actions -->
      <template
        slot="actions"
        slot-scope="props"
      >
        <CoreButton
          :loading="deleteIsLoading"
          color="error"
          x-small
          fab
          dark
          @click.stop="onDeleteContractor(props.item)"
        >
          <v-icon>mdi-delete</v-icon>
        </CoreButton>
      </template>
    </TableList>

    <v-row>
      <QueryPagination
        v-if="contractorList.length > 0"
        :query="query"
        :total="pagination.total"
        @input="changePage"
      />
    </v-row>
  </div>
</template>

<script>
import {delay} from '@/utils';
import {contractorTableList} from '../stores/contractorTableList';
import {contractorDelete} from '../stores/contractorDelete';
import {contractorDetails} from '../stores/contractorDetails';
import {apiErrorNotification} from '@/utils/request';
import ContractorForm from './ContractorForm';

export default {
  name: 'ContractorListTable',
  components: {ContractorForm},
  computed: {
    contractorList() {
      return contractorTableList.filteredList()
    },
    query() {
      return contractorTableList.query.get()
    },
    pagination() {
      return contractorTableList.pagination()
    },
    isLoading() {
      return contractorTableList.isLoading.get()
    },
    selectedColumns() {
      return contractorTableList.selectedColumns.get() || []
    },
    selectedRows() {
      return contractorTableList.selectedRows.get() || {}
    },
    columns() {
      const columns = contractorTableList.tableColumnsObject();

      // filter selected columns
      return this.selectedColumns.map((columnName) => {
        return columns[columnName]
      })
    },
    tableProp() {
      return contractorTableList.tableProp()
    },
    deleteIsLoading() {
      // TODO: now all buttons turn into loading state, lol
      return contractorDelete.isLoading.get()
    },
    updateFormFields() {
      return contractorDetails.updateContractorForm.getFields()
    },
    formIsLoading() {
      return contractorDetails.updateContractorForm.isLoading.get()
    },
    formIsValid() {
      return contractorDetails.updateContractorForm.isValid()
    },
  },
  methods: {
    hasColumn: contractorTableList.hasColumn,
    async onExpand(expanded, prop) {
      if (!expanded) {
        return
      }

      try {
        await contractorDetails.fetchData({
          uuid: prop.item.uuid
        });

        // update update form
        contractorDetails.updateContractorForm.updateInitials(contractorDetails.data.get());
      } catch (error) {
        console.log(error);
        apiErrorNotification(error);
      }
    },
    changeSort(header, query) {
      contractorTableList.query.update(query);
      contractorTableList.fetchData()
    },
    async onDeleteContractor(contractor) {
      const isConfirm = await this.$confirmOnce(`Are you sure you want to delete "${contractor.name}".`, {
        buttonTrueColor: 'error',
        buttonFalseColor: 'info',
      });

      if (isConfirm) {
        // noinspection JSIgnoredPromiseFromCall
        contractorDelete.deleteContractor(contractor, async () => {
          await delay(300);
          contractorTableList.fetchData()
        })
      }
    },
    changePage({page, limit}) {
      if (page !== this.query.page || limit !== this.query.limit) {
        contractorTableList.query.update({
          page,
          limit,
        });

        contractorTableList.fetchData()
      }
    },
    handleRowSelection(newSelectedRows) {
      contractorTableList.selectedRows.assign(newSelectedRows)
    },
    resetForm() {
      contractorDetails.updateContractorForm.resetForm();
    },
    async handleOnSubmit(prop) {
      try {
        await contractorDetails.updateContractorForm.submit({
          uuid: prop.item.uuid
        });
        await delay(300);

        // fetch new list
        await contractorTableList.fetchData();
      } catch (e) {}
    }
  }
}
</script>
