<template>
  <v-dialog
    v-model="showCreateForm"
    max-width="820px"
  >
    <template v-slot:activator="{ on }">
      <CoreButton
        class="m-0"
        color="success"
        depressed
        v-on="on"
      >
        <v-icon>mdi-plus</v-icon>
        Add
      </CoreButton>
    </template>
    <v-card>
      <v-container>
        <v-card-title>
          <span class="headline">Create User</span>
        </v-card-title>

        <v-container>
          <UserForm
            :fields="createFormFields"
            @onsubmit="handleOnSubmit"
          >
            <template slot="footer">
              <v-card-actions>
                <v-spacer />
                <CoreButton
                  color="info"
                  type="submit"
                  :loading="formIsLoading"
                  depressed
                >
                  Create
                </CoreButton>
                <CoreButton
                  color=""
                  rounded
                  @click="closeCreateForm"
                >
                  Cancel
                </CoreButton>
              </v-card-actions>
            </template>
          </UserForm>
        </v-container>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<script>
import UserForm from './UserForm';
import {delay} from '@/utils';
import {userDetails} from '../stores/userDetails';
import {userTableList} from '../stores/userTableList';

export default {
  name: 'CreateUserForm',
  components: {UserForm},
  data() {
    return {
      showCreateForm: false,
    }
  },
  computed: {
    createFormFields() {
      return userDetails.createUserForm.getFields()
    },
    formIsLoading() {
      return userDetails.createUserForm.isLoading.get()
    },
  },
  methods: {
    closeCreateForm() {
      this.showCreateForm = false;
    },
    async handleOnSubmit() {
      try {
        // TODO: add `password_confirmation` desperate sia
        await userDetails.createUserForm.submit({
          password_confirmation: userDetails.createUserForm.formData().password,
        });
        await delay(300);
        this.showCreateForm = false;

        // fetch new list
        await userTableList.fetchData();
      } catch (e) {}
    }
  }
};
</script>
