<template>
  <div v-bind="$attrs">
    <router-link class="routerLink" :to="to">
      <v-card
        v-ripple
        class="cardContainer fill-height"
        :style="cardStyle"
      >
        <div
          v-if="showIcon"
          class="cardIcon"
        >
          <v-icon>
            <slot name="icon" />
          </v-icon>
        </div>
        <div class="cardContent">
          <v-card-title class="cardTitle">
            <span><slot name="title" /></span>
          </v-card-title>
          <div v-if="$slots['actions']">
            <slot name="actions" />
          </div>
          <v-card-text class="cardSubtitle">
            <slot name="sub-title" />
          </v-card-text>
        </div>
      </v-card>
    </router-link>
  </div>
</template>

<style lang="scss" scoped>
  .cardContainer {
    position: relative;
    z-index: 1;
    border-radius: 12px;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    padding: 26px 16px;
  }

  .cardContent {
    overflow: hidden;
  }

  .cardTitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 4px 6px 10px;

    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .cardSubtitle {
    font-size: 12px;
    line-height: 1.3;
    padding: 0 6px;
  }

  .cardIcon {
    padding: 0 8px 0 0;

    :global(.v-icon) {
      font-size: 32px;
      color: inherit;
    }
  }

  .routerLink {
    text-decoration: none !important;
  }
</style>

<script>
import {isArray} from 'lodash';
import tinygradient from 'tinygradient';

export default {
  name: 'HomeCard',
  props: {
    bgColor: {
      type: [String, Array],
      default: '#4caf50'
    },
    titleColor: {
      type: String,
      default: ''
    },
    elevation: {
      type: [Number, String],
      default: 10
    },
    to: {
      type: String,
      required: true,
    },
    showIcon: {
      type: Boolean,
      default: false,
    }
  },
  computed: {
    cardStyle() {
      let color = '';
      if (isArray(this.bgColor)) {
        const gradient = tinygradient(this.bgColor);
        color = gradient.css()
      } else {
        color = this.bgColor;
      }
      return {
        background: color,
      };
    }
  }
}
</script>
