<template>
  <div v-bind="$attrs">
    <h1 class="homeTitle">
      <slot />
    </h1>
  </div>
</template>

<style lang="scss" scoped>
  .homeTitle {
    color: #454545;
    font-weight: 600;
    font-size: 20px !important;
    padding: 14px 8px;
    margin: 0;
  }
</style>

<script>

export default {
  name: 'HomeTitle',
  props: {},
  computed: {}
}
</script>
