<template>
  <StoreInjector :store="changePassword">
    <ChangePasswordForm />
  </StoreInjector>
</template>

<script>
import {changePassword} from './stores/changePassword';
import ChangePasswordForm from './components/ChangePasswordForm';
import {projectList} from '../Projects/stores/projectList';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ChangePassword',
  components: {ChangePasswordForm},
  data() {
    return {
      changePassword,
      projectList
    }
  },
}
</script>
