<template>
  <TableList
    :list="projects"
    :columns="tableColumns"

    has-filter-columns
    :selected-columns="selectedColumns"

    :table-prop="tableProp"
    :loading="isLoading"
    :elevation="0"
    border
    item-key="uuid"
    hide-default-footer

    @change-sort="handleSortProjectList"
    @row-double-click="handleRowDoubleClick"
  >
    <!--Name-->
    <template
      slot="name"
      slot-scope="prop"
    >
      <NameColumn :project="prop.item" />
    </template>

    <template
      slot="cashflow_nett"
      slot-scope="prop"
    >
      <CoreTooltip bottom>
        <template v-slot:default>
          <TextGlow only-hover>
            <span :class="`nettCashFlowColumn ${ prop.item.cashflow_nett >= 0 ? 'blue--text' : 'red--text' }`">
              {{ prop.item.cashflow_nett | toCurrencyValue }}
            </span>
          </TextGlow>
        </template>
        <template v-slot:content>
          <NettCashFlowTooltip :row-props="prop" />
        </template>
      </CoreTooltip>
    </template>

    <!--Cashflow-->
    <template
      slot="cashflow"
      slot-scope="prop"
    >
      <CashFlowColumn :project="prop.item" />
    </template>

    <template
      slot="total_invoiced"
      slot-scope="prop"
    >
      <RouteLink :to="salesModalPath(prop.item.uuid)">
        <p class="position-relative m-0 text-nowrap">
          {{ prop.item.total_invoiced | toCurrencyValue }}
        </p>
      </RouteLink>
    </template>

    <template
      slot="total_expenses"
      slot-scope="prop"
    >
      <RouteLink :to="purchasesModalPath(prop.item.uuid)">
        <p class="position-relative m-0 text-nowrap">
          {{ prop.item.total_expenses | toCurrencyValue }}
        </p>
      </RouteLink>
    </template>

    <template
      slot="cashflow_margin"
      slot-scope="prop"
    >
      <CoreTooltip
        bottom
        allow-overflow
      >
        <template v-slot:default>
          <span>
            <TextGlow only-hover>
              <span :class="`marginColumn ${ prop.item.cashflow_margin > 0 ? 'green--text' : 'red--text' }`">
                {{ prop.item.cashflow_margin | toPercent }}
              </span>
            </TextGlow>
            <span class="ml-1">
              <v-icon
                v-if="prop.item.cashflow_margin > 0"
                small
                color="success"
              >mdi-thumb-up</v-icon>
              <v-icon
                v-else
                small
                color="error"
              >mdi-thumb-down</v-icon>
            </span>
          </span>
        </template>
        <template v-slot:content>
          <CashflowMarginTooltip :row-props="prop" />
        </template>
      </CoreTooltip>
    </template>

    <template
      slot="profit_margin"
      slot-scope="prop"
    >
      <CoreTooltip
        bottom
        allow-overflow
      >
        <template v-slot:default>
          <span>
            <TextGlow only-hover>
              <span :class="`marginColumn ${ prop.item.profit_margin > 0 ? 'green--text' : 'red--text' }`">
                {{ prop.item.profit_margin | toPercent }}
              </span>
            </TextGlow>
            <span class="ml-1">
              <v-icon
                v-if="prop.item.profit_margin > 0"
                small
                color="success"
              >mdi-thumb-up</v-icon>
              <v-icon
                v-else
                small
                color="error"
              >mdi-thumb-down</v-icon>
            </span>
          </span>
        </template>
        <template v-slot:content>
          <ProfitMarginTooltip :row-props="prop" />
        </template>
      </CoreTooltip>
    </template>

    <template
      slot="projected_margin"
      slot-scope="prop"
    >
      <CoreTooltip
        bottom
        allow-overflow
      >
        <template v-slot:default>
          <span>
            <TextGlow only-hover>
              <span :class="`marginColumn ${ prop.item.projected_margin > 0 ? 'green--text' : 'red--text' }`">
                {{ prop.item.projected_margin | toPercent }}
              </span>
            </TextGlow>
            <span class="ml-1">
              <v-icon
                v-if="prop.item.projected_margin > 0"
                small
                color="success"
              >mdi-thumb-up</v-icon>
              <v-icon
                v-else
                small
                color="error"
              >mdi-thumb-down</v-icon>
            </span>
          </span>
        </template>
        <template v-slot:content>
          <ProjectedMarginTooltip :row-props="prop" />
        </template>
      </CoreTooltip>
    </template>

    <template
      slot="progress_diff"
      slot-scope="prop"
    >
      <CoreTooltip
        bottom
        allow-overflow
      >
        <template v-slot:default>
          <span>
            <TextGlow only-hover>
              <span :class="`marginColumn ${ prop.item.progress_diff >= 0 ? 'green--text' : 'red--text' }`">
                {{ prop.item.progress_diff | toPercent }}
              </span>
            </TextGlow>
            <span class="ml-1">
              <v-icon
                v-if="prop.item.progress_diff >= 0"
                small
                color="success"
              >mdi-thumb-up</v-icon>
              <v-icon
                v-else
                small
                color="error"
              >mdi-thumb-down</v-icon>
            </span>
          </span>
        </template>
        <template v-slot:content>
          <ProgressDiffTooltip :row-props="prop" />
        </template>
      </CoreTooltip>
    </template>

    <!--Action-->
    <template
      slot="actions"
      slot-scope="prop"
    >
      <ActionMenu
        :navigation="tableActions(prop.item)"
      />
    </template>
  </TableList>
</template>

<style scoped lang="scss">
  .clickable-value:hover {
    cursor: pointer;
  }
  .project-list-table {
    td {
      min-width: 190px;
    }
    .table-action-btn {
        padding: 10px 15px;
        display: block;
    }
  }
  .marginColumn,
  .nettCashFlowColumn {
    font-weight: 500;
    font-size: 14px;
  }
  .nettCashFlowColumn {
    white-space: nowrap;
  }
</style>

<script>
import {projectList} from '../stores/projectList'
import {projectDelete} from '../stores/projectDelete';
import NameColumn from './projectList/NameColumn'
import CashFlowColumn from './projectList/CashFlowColumn'
import {projectDetailsPaths} from '../resources/projectDetails';
import {delay} from '@/utils';
import {apiErrorNotification} from '@/utils/request';
import ProgressDiffTooltip from '../../../components/tooltips/ProgressDiffTooltip';
import NettCashFlowTooltip from '../../../components/tooltips/NettCashFlowTooltip';
import ProfitMarginTooltip from '../../../components/tooltips/ProfitMarginTooltip';
import CashflowMarginTooltip from '../../../components/tooltips/CashflowMarginTooltip';
import ProjectedMarginTooltip from '@/components/tooltips/ProjectedMarginTooltip';

export default {
  components: {
    NameColumn,
    CashFlowColumn,
    ProgressDiffTooltip,
    NettCashFlowTooltip,
    ProfitMarginTooltip,
    ProjectedMarginTooltip,
    CashflowMarginTooltip,
  },
  computed: {
    projects() {
      return projectList.data.get()
    },
    isLoading() {
      return projectList.isLoading.get()
    },
    query() {
      return projectList.query.get()
    },
    tableProp() {
      return projectList.tableProp()
    },
    tableColumns() {
      return projectList.tableColumns.get()
    },
    selectedColumns() {
      return projectList.selectedColumns.get()
    },
  },
  methods: {
    handleSortProjectList(header, newQuery, sortedList) {
      projectList.query.update({
        sort: newQuery.sort,
        order: newQuery.order,
      });

      if (projectList.tableOptions.serverSitePagination) {
        projectList.fetchData()
      } else {
        projectList.data.assign(sortedList)
      }
    },
    tableActions(project) {
      const context = this;

      return [
        {
          title: 'Edit Details',
          to: projectDetailsPaths.projectDetails.path(project.uuid),
        },
        {
          title: 'Edit Invoices',
          to: projectDetailsPaths.invoicesToCustomer.path(project.uuid),
        },
        {
          title: 'Edit Purchase Orders',
          to: projectDetailsPaths.contractors.path(project.uuid),
        },
        {
          title: 'Edit Suppliers / Sub-cons',
          to: projectDetailsPaths.suppliers.path(project.uuid),
        },
        {
          title: 'Delete Project',
          color: 'error',
          async click() {
            const isConfirm = await context.$confirmOnce(`Are you sure you want to delete \n"${project.name}".`, {
              buttonTrueColor: 'error',
              buttonFalseColor: 'info',
            });

            if (isConfirm) {
              try {
                await projectDelete.fetchData(project.uuid);

                context.$toast(`Successfully deleted "${project.name}"`, {
                  color: 'success',
                  closeBtn: true,
                });

                await delay(300);

                projectList.fetchData()
              } catch (e) {
                apiErrorNotification(e);
              }
            }
          }
        },
      ];
    },
    projectDetailsPaths(uuid) {
      return `/projects/${uuid}`;
    },
    salesModalPath(uuid) {
      return `/projects/list/${uuid}/sales`
    },
    purchasesModalPath(uuid) {
      return `/projects/list/${uuid}/purchases`
    },
    handleRowDoubleClick(prop) {
      this.$router.push(this.projectDetailsPaths(prop.item.uuid))
    }
  }
}
</script>
