<template>
  <v-col mt-3>
    <ProjectForm
      :form-fields="updateFormFields"
      :form-is-valid="formIsValid"
      :loading="formIsLoading"
      submit-text="Update"
      cancel-text="Reset"
      @form-submit="onSubmit"
      @form-cancel="clearForm"
    >
      <Selects
        :field="updateFormFields.status"
        :items="projectStatuses"
      />
    </ProjectForm>
  </v-col>
</template>

<style lang="scss" scoped>
</style>

<script>
import {projectDetails, updateProjectForm} from '../stores/projectDetails';
import {apiErrorNotification} from '@/utils/request';
import ProjectForm from './ProjectForm';
import {projectStatuses} from '../resources/projectStatuses';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ProjectUpdateForm',
  components: {
    ProjectForm,
  },
  data() {
    return {
      projectStatuses,
    }
  },
  computed: {
    formIsValid() {
      return updateProjectForm.isValid()
    },
    formIsLoading() {
      return updateProjectForm.isLoading.get()
    },
    updateFormFields() {
      return updateProjectForm.fields.get()
    },
  },
  methods: {
    clearForm() {
      updateProjectForm.resetForm()
    },
    async onSubmit() {
      try {
        await updateProjectForm.submit({
          uuid: this.$router.currentRoute.params.uuid,
        });
        this.$toast('Project updated successfully.', {
          color: 'success',
          closeBtn: true,
        });
        projectDetails.fetchData();
      } catch (error) {
        apiErrorNotification(error)
      }
    }
  }
}
</script>
